{% extends '@forum/Admin/Layout.html.twig' %}

    {% block title %}
        RunCMF Admin CP &ndash; Forum Admin &ndash; {{ title }}
    {% endblock %}

{% block pagecontent %}

    {{ content|raw }}

    <script type="text/javascript" src="{{ asset_url }}/admin/jscripts/mycode_sandbox.js"></script>
    <script type="text/javascript">

    $(function(){
    //<![CDATA[
        new MyCodeSandbox("{{ bburl }}/admin/config/mycode?action=xmlhttp_test_mycode", $("#test"), $("#regex"), $("#replacement"), $("#test_value"), $("#result_html"), $("#result_actual"));
    });
    //]]>
    </script>
{% endblock pagecontent %}