{% extends '@forum/Admin/Layout.html.twig' %}

    {% block title %}
        RunCMF Admin CP &ndash; Forum Admin &ndash; {{ title }}
    {% endblock %}

{% block pagecontent %}

    {{ content|raw }}

    <script type="text/javascript" src="{{ asset_url }}/admin/jscripts/peeker.js?ver=1804"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            new Peeker($("#fieldtype"), $("#row_maxlength, #row_regex, #row_parser_options"), /text|textarea/, false);
            new Peeker($("#fieldtype"), $("#row_fieldlength"), /select|multiselect/, false);
            new Peeker($("#fieldtype"), $("#row_options"), /select|radio|checkbox/, false);
            // Add a star to the extra row since the "extra" is required if the box is shown
            add_star("row_maxlength");
            add_star("row_fieldlength");
            add_star("row_options");
        });
    </script>

{% endblock pagecontent %}