{% extends '@forum/Admin/Layout.html.twig' %}

    {% block title %}
        RunCMF Admin CP &ndash; Forum Admin &ndash; {{ title }}
    {% endblock %}

{% block pagecontent %}

    {{ content|raw }}

{% endblock pagecontent %}