{% extends '@forum/Admin/Layout.html.twig' %}

    {% block title %}
        RunCMF Admin CP &ndash; Forum Admin &ndash; {{ title }}
    {% endblock %}

{% block pagecontent %}

    {{ content|raw }}

    <script type="text/javascript" src="{{ asset_url }}/admin/jscripts/peeker.js?ver=1804"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            new Peeker($("#type"), $("#row_extra"), /^(select|radio|checkbox|php)$/, false);
        });
        // Add a star to the extra row since the "extra" is required if the box is shown
        add_star("row_extra");
    </script>
{% endblock pagecontent %}