{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('advanced_private_message_search', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/private/advanced_search" method="post" name="pmForm">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_search" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('advanced_private_message_search', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">{{ getVar('search_criteria', 'lang') }}</div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('keywords', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" class="textbox" name="keywords" id="keywords" size="35" maxlength="250" />
                            <br />
                            <small>
                                <label><input class="checkbox-inline" type="checkbox" name="subject" checked="checked" value="1" /> {{ getVar('search_in_subject', 'lang') }}</label><br />
                                <label><input class="checkbox-inline" type="checkbox" name="message" checked="checked" value="1" /> {{ getVar('search_in_message', 'lang') }}</label>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('sender', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9"><input type="text" class="textbox" name="sender" id="sender" size="35" maxlength="250" /></div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('message_status', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <small>
                                <label><input class="checkbox-inline" type="checkbox" name="status[new]" checked="checked" value="1" /> {{ getVar('message_status_new', 'lang') }}</label><br />
                                <label><input class="checkbox-inline" type="checkbox" name="status[replied]" checked="checked" value="1" /> {{ getVar('message_status_replied_to', 'lang') }}</label><br />
                                <label><input class="checkbox-inline" type="checkbox" name="status[forwarded]" checked="checked" value="1" /> {{ getVar('message_status_forwarded', 'lang') }}</label><br />
                                <label><input class="checkbox-inline" type="checkbox" name="status[read]" checked="checked" value="1" /> {{ getVar('message_status_read', 'lang') }}</label>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('folder', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <select multiple="multiple" name="folder[]" id="folder">
                                <option selected="selected">{{ getVar('all_folders', 'lang') }}</option>
                                {{ folderoplist|raw }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-info">{{ getVar('search_options', 'lang') }}</div>

                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('sort_by', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <select name="sort" id="sort">
                                <option value="subject">{{ getVar('sort_by_subject', 'lang') }}</option>
                                <option value="sender">{{ getVar('sort_by_sender', 'lang') }}</option>
                                <option value="dateline" selected="selected">{{ getVar('sort_by_date', 'lang') }}</option>
                            </select><br />
                            <small>
                                <input type="radio" class="radio-inline" name="sortordr" id="order_asc" value="asc" /> <label for="order_asc">{{ getVar('ascending_order', 'lang') }}</label><br />
                                <input type="radio" class="radio-inline" name="sortordr" id="order_desc" checked="checked" value="desc" /> <label for="order_desc">{{ getVar('descending_order', 'lang') }}</label>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" value="{{ getVar('search_private_messages', 'lang') }}" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}

    <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807" />
    <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    <script type="text/javascript">
        <!--
        if(use_xmlhttprequest == "1")
        {
            MyBB.select2();
            $("#sender").select2({
                placeholder: "{{ getVar('search_user', 'lang') }}",
                minimumInputLength: 2,
                multiple: false,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: rootpath + "/xmlhttp.php?action=get_users",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter remote JSON data
                        return {results: data};
                    }
                },
                initSelection: function(element, callback) {
                    var value = $(element).val();
                    if (value !== "") {
                        callback({
                            id: value,
                            text: value
                        });
                    }
                }
            });
        }
        // -->
    </script>
{% endblock content %}