{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('empty_folders', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/private/empty" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_empty" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('empty_folders', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-text">{{ getVar('empty_note', 'lang') }}</div>
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-11 col-sm-4 text-center">{{ getVar('export_folder', 'lang') }}</div>
                        <div class="hidden-xs col-sm-4 text-center">{{ getVar('num_messages', 'lang') }}</div>
                        <div class="hidden-xs col-sm-4">{{ getVar('empty_q', 'lang') }}</div>
                    </div>
                </div>
                {% for row in folderlist %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-11 col-sm-4">{{ row.foldername }}</div>
                        <div class="hidden-xs col-sm-4 text-center">{{ row.foldercount }}</div>
                        <div class="hidden-xs col-sm-4">
                            <input type="checkbox" class="checkbox form-inline" name="empty[{{ row.fid }}]" value="1" />
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="hidden-xs col-sm-12 text-center form-inline">
                            <input type="checkbox" class="checkbox form-control" name="keepunread" value="1" checked="checked" /> &nbsp; {{ getVar('keep_unread', 'lang') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-danger btn-sm" name="submit" value="{{ getVar('delete', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}