{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('archive_messages', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/private/export" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_export" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('archive_messages', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">{{ getVar('archive_note', 'lang') }}</div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">{{ getVar('folders', 'lang') }}</div>
                        <div class="hidden-xs col-sm-8">
                            <select name="exportfolders[]" multiple="multiple">
                                <option value="all" selected="selected">{{ getVar('all_folders', 'lang') }}</option>
                                {% for row in folderlist %}
                                    <option value="{{ row.folder_id }}">{{ row.folder_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">{{ getVar('date_limit', 'lang') }}</div>
                        <div class="hidden-xs col-sm-8">
                            <select name="dayway">
                                <option value="older">{{ getVar('date_limit_older', 'lang') }}</option>
                                <option value="newer">{{ getVar('date_limit_newer', 'lang') }}</option>
                                <option value="disregard">{{ getVar('date_limit_disregard', 'lang') }}</option>
                            </select> <input type="text" class="textbox" name="daycut" value="30" size="3" maxlength="4" /> {{ getVar('date_limit_days', 'lang') }}
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">{{ getVar('export_unread', 'lang') }}</div>
                        <div class="hidden-xs col-sm-8 form-inline">
                            <input type="radio" class="radio" name="exportunread" value="1" /> {{ getVar('yes', 'lang') }}
                            <input type="radio" class="radio" name="exportunread" value="0" checked="checked" /> {{ getVar('no', 'lang') }}
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            {{ getVar('delete_archived', 'lang') }}</strong><br /><small>{{ getVar('delete_archived_note', 'lang') }}</small>
                        </div>
                        <div class="hidden-xs col-sm-8 form-inline">
                            <input type="radio" class="radio" name="deletepms" value="1" /> {{ getVar('yes', 'lang') }}
                            <input type="radio" class="radio" name="deletepms" value="0" checked="checked" /> {{ getVar('no', 'lang') }}
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            {{ getVar('export_format', 'lang') }}</strong><br /><small>{{ getVar('export_format_note', 'lang') }}</small>
                        </div>
                        <div class="hidden-xs col-sm-8 form-inline">
                            <input type="radio" class="radio" name="exporttype" value="html" checked="checked" /> {{ getVar('export_html', 'lang') }}<br />
                            <input type="radio" class="radio" name="exporttype" value="txt" /> {{ getVar('export_txt', 'lang') }}<br />
                            <input type="radio" class="radio" name="exporttype" value="csv" /> {{ getVar('export_csv', 'lang') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary btn-sm" name="submit" value="{{ getVar('archive_messages', 'lang') }}" />
            </div>

        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}