{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('pm_folders', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/private/folders" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_folders" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('existing_folders', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">{{ getVar('edit_folder_note', 'lang') }}</div>
                {% for row in folderlist %}
                    {% if row.foldername2 is not empty %}
                    <div class="list-group-item">
                        <div class="row"> &nbsp;
                            <input type="text" class="textbox" name="folder[{{ row.fid }}]" size="25" value="{{ row.foldername }}" maxlength="30" /> <small>({{ row.foldername2 }} - {{ getVar('cannot_be_removed', 'lang') }})</small>
                        </div>
                    </div>
                    {% else %}
                    <div class="list-group-item">
                        <div class="row"> &nbsp;
                            <input type="text" class="textbox" name="folder[{{ row.fid }}]" size="25" value="{{ row.foldername }}" maxlength="30" />
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('new_folders', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">{{ getVar('add_folders_note', 'lang') }}</div>
                {% for row in newfolders %}
                    <div class="list-group-item">
                        <div class="row"> &nbsp;
                            <input type="text" class="textbox" name="folder[{{ row.fid }}]" size="25" value="{{ row.foldername }}" maxlength="30" />
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary btn-sm" name="submit" value="{{ getVar('update_folders', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}