{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('private_messaging', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if pmspacebar is not empty %}
                <div class="pull-right col-sm-3">
                    <span class="pull-left">{{ getVar('pmspaceused', 'lang') }} &nbsp;</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ pmspacebar.belowhalf }}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{ pmspacebar.belowhalf }}%">
                            {{ pmspacebar.belowhalf }}%
                        </div>
                    </div>
                </div>
                {% endif %}
                <a class="btn btn-info btn-sm" href="{{ bburl }}/private">{{ getVar('inbox', 'lang') }}</a>
                {% if getVar('cansendpms', 'group') == 1 %}
                <a class="btn btn-info btn-sm" href="{{ bburl }}/private/send">{{ getVar('compose_message2', 'lang') }}</a>
                {% endif %}
                <a class="btn btn-info btn-sm" href="{{ bburl }}/private/folders">{{ getVar('manage_folders', 'lang') }}</a>
                {% if getVar('totalpms', 'user') > 0 %}
                <a class="btn btn-info btn-sm" href="{{ bburl }}/private/empty">{{ getVar('empty_folders2', 'lang') }}</a>
                <a class="btn btn-info btn-sm" href="{{ bburl }}/private/export">{{ getVar('export_messages2', 'lang') }}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/private/dostuff" method="post" name="pmForm">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_stuff" />
            <input type="hidden" value="{{ getVar('fid', 'input') }}" name="fromfid" />


            {% if getVar('showLimitWarning', 'var') == true %}
            <div class="alert alert-danger text-center">
                <strong>{{ getVar('reached_warning', 'lang') }}</strong><br />
                {{ getVar('reached_warning2', 'lang') }}
            </div>
            {% endif %}


            <div class="panel-heading">
                <div class="pull-right">
                    <input type="text" name="keywords" value="{{ getVar('enter_keywords', 'lang') }}" onfocus="if(this.value == '{{ getVar('enter_keywords', 'lang') }}') { this.value = ''; }" onblur="if(this.value=='') { this.value='{{ getVar('enter_keywords', 'lang') }}'; }" class="textbox" size="25" />
                    <input type="submit" class="btn btn-default btn-xs" name="quick_search" value="{{ getVar('search_pms', 'lang') }}" />
                    <a class="btn btn-default btn-xs" href="{{ bburl }}/private/advanced_search">{{ getVar('advanced_search', 'lang') }}</a>
                </div>
                <h3 class="panel-title">{{ foldername }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <input name="allbox" title="{{ getVar('check_all', 'lang') }}" type="checkbox" class="checkall" value="{{ getVar('check_all', 'lang') }}" style="position: absolute; right: 15px; z-index: 1"/>
                    <div class="row">
                        <div class="col-xs-11 col-sm-5"><a href="{{ bburl }}/private?fid={{ folder }}&sortby=subject&order=asc">{{ getVar('message_title', 'lang') }}</a> {{ orderarrow.subject|raw }}</div>
                        <div class="hidden-xs col-sm-4 text-center"><a href="{{ bburl }}/private?fid={{ folder }}&sortby=username&order=asc">{{  sender|raw }}</a> {{ orderarrow.username|raw }}</div>
                        <div class="hidden-xs col-sm-3 text-nowrap"><a href="{{ bburl }}/private?fid={{ folder }}&sortby=dateline&order=desc">{{ getVar('date_sent', 'lang') }}</a> {{ orderarrow.dateline|raw }}</div>
                    </div>
                </div>

                {% if messagelist is not empty %}
                    {% for row in messagelist %}
                    <div class="list-group-item {{ row.alt_trow }}">
                        <input type="checkbox" class="checkbox" name="check[{{ row.pmid }}]" value="1" style="position: absolute; right: 15px; z-index: 1"/>
                        <div class="row">
                            <div class="col-xs-11 col-sm-5">
                                <div class="media">
                                    <div class="media-left" style="padding-right: 15px;">
                                        <img src="{{ getVar('imgdir', 'theme') }}/{{ row.msgfolder }}" alt="{{ row.msgalt }}" title="{{ row.msgalt }}" />
                                    </div>
                                    <div class="media-body">
                                        {{ row.icon|raw }} &nbsp;
                                        {{ row.msgprefix|raw }}<a href="{{ bburl }}/private/read?pmid={{ row.pmid }}">{{ row.subject|raw }}</a>{{ row.msgsuffix|raw }}{{ row.denyreceipt|raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-xs col-sm-4 text-center">{{ row.tofromusername|raw }}</div>
                            <div class="hidden-xs col-sm-3 text-nowrap">{{ row.senddate }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">{{ getVar('nomessages', 'lang') }}</div>
                {% endif %}
            </div>

            <div class="list-group-item trow2">
                <div class="form-inline text-right">
                    <div class="input-group input-group-sm">
                        <button type="submit" class="btn btn-default btn-xs" name="moveto" value="1">{{ getVar('move_to', 'lang') }}</button>
                        <select name="fid">
                            {{ folderoplist|raw }}
                        </select>
                        {{ getVar('or', 'lang') }}
                        <button type="submit" class="btn btn-default btn-xs" name="delete" value="1">{{ getVar('delete', 'lang') }}</button>
                        {{ getVar('selected_messages', 'lang') }}
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="form-inline text-left">
                    {{ multipage|raw }}
                </div>
                <div class="form-inline text-right">
                    <small>
                        <strong>{{ getVar('jump_folder', 'lang') }}
                            <select name="jumpto">
                                {{ folderoplist|raw }}
                            </select>
                            <button type="submit" class="btn btn-default btn-xs" name="hop" value="1">{{ getVar('go', 'lang') }}</button>
                        </strong>
                    </small>
                </div>
            </div>
        </form>

    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}