{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('viewing_pm', 'lang') }} {{ data.pm.subject }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ data.pm.subject }}</h3>
            </div>
            <div class="list-group">
                {% if getVar('showActionTime', 'var') == true %}
                <div class="list-group-item list-group-item-info">{{ actioned_on|raw }}</div>
                {% endif %}
                <div class="list-group-item">
                    <div class="row">
                        {{ message|raw }}
                    </div>
                </div>
            </div>
        </div>

        {% if getVar('showQuickReply', 'var') == true %}
        <br />
        <form class="panel panel-primary" action="{{ bburl }}/private/send" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="to" value="{{ data.to }}" />
            <input type="hidden" name="bcc" value="{{ data.bcc_form_val }}" />
            <input type="hidden" name="subject" value="Re: {{ data.subject }}" />
            <input type="hidden" name="action" value="do_send" />
            <input type="hidden" name="pmid" value="{{ data.pmid }}" />
            <input type="hidden" name="do" value="reply" />

            <div class="panel-heading">
                <div class="expcolimage">
                    <span id="quickreply_img" class="expander collapse" alt="[-]" title="[-]" /></span>
                </div>
                <h3 class="panel-title">{{ getVar('quick_reply', 'lang') }}</h3>
            </div>
            <ul id="quickreply_e" class="list-group" style="{{ collapsed.quickreply_e|raw }}">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            <strong>{{ getVar('message', 'lang') }}</strong><br />
                            <small>{{ getVar('message_note', 'lang') }}<br /><br />
                                <label><input type="checkbox" class="checkbox-inline" name="options[signature]" value="1"{{ data.optionschecked.signature|raw }} />&nbsp;<strong>{{ getVar('quickreply_signature', 'lang') }}</strong></label><br />
                                <label><input type="checkbox" class="checkbox-inline" name="options[disablesmilies]" value="1"{{ data.optionschecked.disablesmilies|raw }} />&nbsp;<strong>{{ getVar('quickreply_disable_smilies', 'lang') }}</strong></label><br />
                                <label><input type="checkbox" class="checkbox-inline" name="options[savecopy]" value="1"{{ data.optionschecked.savecopy|raw }} />&nbsp;<strong>{{ getVar('quickreply_save_copy', 'lang') }}</strong></label>
                                {% if getVar('cantrackpms', 'group') %}
                                <br /><label><input type="checkbox" class="checkbox-inline" name="options[readreceipt]" value="1" tabindex="8" {{ data.optionschecked.readreceipt|raw }} /> {{ getVar('options_read_receipt', 'lang') }}</label>
                                {% endif %}
                            </small>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <textarea style="width: 100%; padding: 4px; margin: 0;" rows="8" cols="80" name="message" id="message" tabindex="1">{{ quoted_message|raw }}</textarea>
                        </div>
                    </div>
                </li>
                <li class="list-group-item text-center">
                    <input type="submit" class="btn btn-info" value="{{ getVar('send_message', 'lang') }}" tabindex="2" accesskey="s" />
                    <input type="submit" class="btn btn-info" name="preview" value="{{ getVar('preview', 'lang') }}" tabindex="3" />
                </li>
            </ul>
        </form>
        {% endif %}
    </div>

    {% include '@forum/footer.html.twig' %}

    <script type="text/javascript">
        $(".author_avatar img").on("error", function () {
            $(this).unbind("error").closest('.author_avatar').remove();
        });
    </script>
{% endblock content %}