{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('private_messaging', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}

    <div class="container">

        <form class="panel panel-primary" action="{{ bburl }}private/dostuff" method="post" name="pmForm">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_stuff" />

            <div class="panel-heading">
                <div class="pull-right">
                    <input type="text" name="keywords" value="{{ getVar('enter_keywords', 'lang') }}" onfocus="if(this.value == '{{ getVar('enter_keywords', 'lang') }}') { this.value = ''; }" onblur="if(this.value=='') { this.value='{{ getVar('enter_keywords', 'lang') }}'; }" class="textbox" size="25" />
                    <input type="submit" class="btn btn-default btn-xs" name="quick_search" value="{{ getVar('search_pms', 'lang') }}" />
                    <a class="btn btn-default btn-xs" href="{{ bburl }}/private/advanced_search">{{ getVar('advanced_search', 'lang') }}</a>
                </div>
                <h3 class="panel-title">{{ getVar('pm_search_results', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <input name="allbox" title="{{ getVar('check_all', 'lang') }}" type="checkbox" class="checkall" value="{{ getVar('check_all', 'lang') }}" style="position: absolute; right: 15px; z-index: 1"/>
                    <div class="row">
                        <div class="col-xs-11 col-sm-5">{{ getVar('message', 'lang') }}</div>
                        <div class="hidden-xs col-sm-2 text-center">{{ getVar('sender', 'lang') }}</div>
                        <div class="hidden-xs col-sm-2 text-center">{{ getVar('folder', 'lang') }}</div>
                        <div class="hidden-xs col-sm-3 text-nowrap">{{ getVar('date_sent', 'lang') }}</div>
                    </div>
                </div>
                {% if messagelist is not empty %}
                    {% for row in messagelist %}
                <div class="list-group-item">
                    <input type="checkbox" class="checkbox" name="check[{{ row.message.pmid }}]" value="1" style="position: absolute; right: 15px; z-index: 1" />
                    <div class="row">
                        <div class="col-xs-11 col-sm-5">
                            <div class="media">
                                <div class="media-left" style="padding-right: 15px;">
                                    <img src="{{ getVar('imgdir', 'theme') }}/{{ row.msgfolder }}" alt="{{ row.msgalt }}" title="{{ row.msgalt }}" />
                                </div>
                                <div class="media-body">
                                    {{ row.icon|raw }} &nbsp;
                                    {{ row.msgprefix }}<a href="{{ bburl }}/private/read?pmid={{ row.message.pmid }}">{{ row.message.subject|raw }}</a>{{ row.msgsuffix }}{{ row.denyreceipt }}
                                    <br />{{ row.message.message|raw }}
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-2 text-center">{{ row.tofromusername|raw }}</div>
                        <div class="hidden-xs col-sm-2 text-center"><a href="{{ bburl }}/private?fid={{ row.message.folder }}">{{ row.foldername|raw }}</a></div>
                        <div class="hidden-xs col-sm-3 text-nowrap">{{ row.senddate }}</div>
                    </div>
                </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">{{ getVar('nomessages', 'lang') }}</div>
                {% endif %}
            </div>
            <div class="panel-footer">
                <div class="form-inline text-right">
                    <div class="input-group input-group-sm">
                        <button type="submit" class="btn btn-primary btn-xs" name="moveto" value="1">{{ getVar('move_to', 'lang') }}</button>
                        <select name="jumpto">
                            {{ folderoplist|raw }}
                        </select>
                        {{ getVar('or', 'lang') }}
                        <button type="submit" class="btn btn-danger btn-xs" name="delete" value="1">{{ getVar('delete', 'lang') }}</button>
                        {{ getVar('selected_messages', 'lang') }}
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <div class="form-inline text-left">
                    {{ multipage|raw }}
                </div>
                <div class="form-inline text-right">
                    <small>
                        <strong>{{ getVar('jump_folder', 'lang') }}
                            <select name="jumpto">
                                {{ folderoplist|raw }}
                            </select>
                            <button type="submit" class="btn btn-default btn-xs" name="hop" value="1">{{ getVar('go', 'lang') }}</button>
                        </strong>
                    </small>
                </div>
            </div>

        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}