{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('compose_pm', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript" src="{{ asset_url }}/jscripts/usercp.js?ver=1804"></script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form action="{{ bburl }}/private/send" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_send" />
            <input type="hidden" name="pmid" value="{{ pmid }}" />
            <input type="hidden" name="do" value="{{ do }}" />

            {% if postbit is not empty %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('post_preview', 'lang') }}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ postbit|raw }}
                    </li>
                </ul>
            </div>
            <br />
            {% endif %}

            {{ send_errors|raw }}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('compose_pm', 'lang') }}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('compose_to', 'lang') }}
                                <script type="text/javascript">
                                    <!--
                                    document.write('(<a href="#" onclick="showBcc(); return false;" title="{{ getVar('compose_bcc_show_title', 'lang') }}">{{ getVar('compose_bcc_show', 'lang') }}</a>)');
                                    // -->
                                </script>
                                <br />
                                <span class="smalltext">{{ getVar('separate_names', 'lang') }}
                                {% if getVar('buddylist', 'user') is not empty and getVar('use_xmlhttprequest', 'set') == 1 %}
                                <script type="text/javascript"><!--
                                    document.write('<br /><span class="smalltext"><a href="#" onclick="UserCP.openBuddySelect(\'to\');"><img src="{{ getVar('imgdir', 'theme') }}/buddies.png" alt="" style="vertical-align: middle;" alt="" title="{{ getVar('select_from_buddies', 'lang') }}" /> {{ getVar('select_from_buddies', 'lang') }}</a></span>');
                                    // --></script>
                                {% endif %}
                                </span>
                            </div>
                            <div class="col-xs-10 col-sm-10"><textarea name="to" id="to" rows="2" cols="38" tabindex="1" style="width: 450px;">{{ to|raw }}</textarea>{{ max_recipients|raw }}</div>
                        </div>
                    </li>

                    <li class="list-group-item" id="bcc_area">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('compose_bcc', 'lang') }}
                                {% if getVar('buddylist', 'user') is not empty and getVar('use_xmlhttprequest', 'set') == 1 %}
                                    <script type="text/javascript"><!--
                                        document.write('<br /><span class="smalltext"><a href="#" onclick="UserCP.openBuddySelect(\'bcc\');"><img src="{{ getVar('imgdir', 'theme') }}/buddies.png" alt="" style="vertical-align: middle;" alt="" title="{{ getVar('select_from_buddies', 'lang') }}" /> {{ getVar('select_from_buddies', 'lang') }}</a></span>');
                                        // --></script>
                                {% endif %}
                            </div>
                            <div class="col-xs-10 col-sm-10"><textarea name="bcc" id="bcc" rows="2" cols="38" tabindex="1" style="width: 450px;">{{ bcc|raw }}</textarea></div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('compose_subject', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="textbox" name="subject" size="40" maxlength="85" value="{{ subject|raw }}" tabindex="3" /></div>
                        </div>
                    </li>

                    <li class="list-group-item"><!-- post icons -->
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                {{ getVar('post_icon', 'lang') }}
                                <small>
                                    <input type="radio" class="radio" name="icon" value="-1" {{ posticons.no_icons_checked|raw }} /> {{ getVar('no_post_icon', 'lang') }}
                                </small>
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                {% for row in posticons.iconlist %}
                                    <input type="radio" name="icon" value="{{ row.dbicon.iid }}" {{ row.checked|raw }} /><img src="{{ row.dbicon.path }}" alt="{{ row.dbicon.name }}" title="{{ row.dbicon.name }}" />
                                {% endfor %}
                            </div>
                        </div>
                    </li><!-- /.post icons -->

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('compose_message', 'lang') }}
                                {% if getVar('smilieinserter', 'var') == true %}
                                    {% include '@forum/Misc/clickablesmilies.html.twig' %}
                                {% endif %}
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <textarea name="message" id="message" rows="20" cols="70" tabindex="4">{{ message|raw }}</textarea>
                                {% if getVar('codebuttons', 'var') == true %}
                                    {% include '@forum/Misc/codebuttons.html.twig' %}
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('compose_options', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10">
                                <small class="form-inline">
                                    <label><input type="checkbox" class="checkbox" name="options[signature]" value="1" tabindex="5" {{ optionschecked.signature|raw }} />{{ getVar('options_sig', 'lang') }}</label><br />
                                    <label><input type="checkbox" class="checkbox" name="options[disablesmilies]" value="1" tabindex="6" {{ optionschecked.disablesmilies|raw }} />{{ getVar('options_disable_smilies', 'lang') }}</label><br />
                                    <label><input type="checkbox" class="checkbox" name="options[savecopy]" value="1" tabindex="7" {{ optionschecked.savecopy|raw }} />{{ getVar('options_save_copy', 'lang') }}</label>
                                    {% if getVar('cantrackpms', 'group') %}
                                    <br /><label><input type="checkbox" class="checkbox" name="options[readreceipt]" value="1" tabindex="8" {{ optionschecked.readreceipt|raw }} /> {{ getVar('options_read_receipt', 'lang') }}</label>
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </li>
                    <div class="panel-footer text-center">
                        <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('send_message', 'lang') }}" tabindex="9" accesskey="s" />
                        <input type="submit" class="btn btn-primary" name="saveasdraft" value="{{ getVar('save_draft', 'lang') }}" tabindex="10" />
                        <input type="submit" class="btn btn-primary" name="preview" value="{{ getVar('preview', 'lang') }}" tabindex="11" />
                    </div>
                </ul>
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}

    <script type="text/javascript">
        <!--
        if($("#bcc_area").length > 0 && $("#bcc").val() == "")
        {
            $("#bcc_area").css("display", "none");
        }

        function showBcc()
        {
            if($("#bcc_area").css("display") == 'none')
            {
                $("#bcc_area").css("display", "");
            }
            else
            {
                $("#bcc_area").css("display", "none");
            }
        }
        // -->
    </script>
    <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
    <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    <script type="text/javascript">
        <!--
        if(use_xmlhttprequest == "1")
        {
            MyBB.select2();
            $("#to").select2({
                placeholder: "{{ getVar('search_user', 'lang') }}",
                minimumInputLength: 2,
                maximumSelectionSize: {{ getVar('maxpmrecipients', 'group') }},
                multiple: true,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: rootpath + "/xmlhttp?action=get_users",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter remote JSON data
                        return {results: data};
                    }
                },
                initSelection: function(element, callback) {
                    var query = $(element).val();
                    if (query !== "") {
                        var newqueries = [];
                        exp_queries = query.split(",");
                        $.each(exp_queries, function(index, value ){
                            if(value.replace(/\s/g, '') != "")
                            {
                                var newquery = {
                                    id: value.replace(/,\s?/g, ", "),
                                    text: value.replace(/,\s?/g, ", ")
                                };
                                newqueries.push(newquery);
                            }
                        });
                        callback(newqueries);
                    }
                }
            });

            $("#bcc").select2({
                placeholder: "{{ getVar('search_user', 'lang') }}",
                minimumInputLength: 2,
                maximumSelectionSize: {{ getVar('maxpmrecipients', 'group') }},
                multiple: true,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: rootpath + "/xmlhttp?action=get_users",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter remote JSON data
                        return {results: data};
                    }
                },
                initSelection: function(element, callback) {
                    var query = $(element).val();
                    if (query !== "") {
                        var newqueries = [];
                        exp_queries = query.split(",");
                        $.each(exp_queries, function(index, value ){
                            if(value.replace(/\s/g, '') != "")
                            {
                                var newquery = {
                                    id: value.replace(/,\s?/g, ", "),
                                    text: value.replace(/,\s?/g, ", ")
                                };
                                newqueries.push(newquery);
                            }
                        });
                        callback(newqueries);
                    }
                }
            });
        }
        // -->
    </script>
    <script type="text/javascript">
        $(".author_avatar img").on("error", function () {
            $(this).unbind("error").closest('.author_avatar').remove();
        });
    </script>
{% endblock content %}