{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('pm_tracking', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">

        {{ read_multipage|raw }}
        <form class="panel panel-primary" action="{{ bburl }}/private/tracking" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_tracking" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('read_messages', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <input type="checkbox" class="checkall" name="allbox" style="position: absolute; right: 15px; z-index: 1"/>
                    <div class="row">
                        <div class="col-xs-11 col-sm-5">{{ getVar('message_title', 'lang') }}</div>
                        <div class="hidden-xs col-sm-4">{{ getVar('sentto', 'lang') }}</div>
                        <div class="hidden-xs col-sm-3">{{ getVar('dateread', 'lang') }}</div>
                    </div>
                </div>
            </div>
            {% if readmessages is not empty %}
                {% for row in readmessages %}
                <div class="list-group-item {{ row.bgcolor }}">
                    <div class="row">
                        <input style="position: absolute; right: 15px; z-index: 1;" type="checkbox" class="checkbox" name="readcheck[{{ row.pmid }}]" value="1" />
                        <div class="col-xs-11 col-sm-5">
                            <div class="media">
                                <div class="media-left" style="padding-right: 10;">
                                    <img src="{{ getVar('imgdir', 'theme') }}/old_pm.png" alt="" />
                                </div>
                                <div class="media-body">{{ row.subject }}</div>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-4">
                            {{ row.profilelink|raw }}
                        </div>
                        <div class="hidden-xs col-sm-3">
                            <small>{{ row.readdate }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="panel-footer text-right">
                    {{ getVar('selected_messages', 'lang') }}:
                    <input type="submit" class="btn btn-default btn-sm" name="stoptracking" value="{{ getVar('stop_tracking', 'lang') }}" />
                    <a class="btn btn-default btn-sm" href="{{ bburl }}/private/stopalltracking?my_post_key={{ getVar('post_code', 'var') }}">{{ getVar('stop_tracking_all', 'lang') }}</a>
                </div>
            {% else %}
            <div class="list-group-item">{{ getVar('no_readmessages', 'lang') }}</div>
            {% endif %}
        </form>
        <br />
        {{ unread_multipage|raw }}

        <form class="panel panel-primary" action="{{ bburl }}/private/tracking" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_tracking" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('unread_messages', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <input type="checkbox" class="checkall" name="allbox" style="position: absolute; right: 15px; z-index: 1"/>
                    <div class="row">
                        <div class="col-xs-11 col-sm-5">{{ getVar('message_title', 'lang') }}</div>
                        <div class="hidden-xs col-sm-4 text-center text-nowrap">{{ getVar('sentto', 'lang') }}</div>
                        <div class="hidden-xs col-sm-3 text-center text-nowrap">{{ getVar('datesent', 'lang') }}</div>
                    </div>
                </div>
            </div>
            {% if unreadmessages is not empty %}
                {% for row in unreadmessages %}
            <div class="list-group-item {{ row.bgcolor }}">
                <div class="row">
                    <input style="position: absolute; right: 15px; z-index: 1;" type="checkbox" class="checkbox" name="unreadcheck[{{ row.pmid }}]" value="1" />
                    <div class="col-xs-11 col-sm-5">
                        <div class="media">
                            <div class="media-left" style="padding-right: 10;">
                                <img src="{{ getVar('imgdir', 'theme') }}/new_pm.png" alt="" />
                            </div>
                            <div class="media-body">{{ row.subject }}</div>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-4">
                        {{ row.profilelink|raw }}
                    </div>
                    <div class="hidden-xs col-sm-3">
                        <small>{{ row.senddate }}</small>
                    </div>
                </div>
            </div>
                {% endfor %}
            <div class="panel-footer text-right">
                {{ getVar('selected_messages', 'lang') }}:
                <input type="submit" class="btn btn-default btn-sm" name="stoptrackingunread" value="{{ getVar('stop_tracking', 'lang') }}" />
                <input type="submit" class="btn btn-default btn-sm" name="cancel" value="{{ getVar('delete', 'lang') }}" />
            </div>
            {% else %}
            <div class="list-group-item">{{ getVar('no_readmessages', 'lang') }}</div>
            {% endif %}
        </form>

    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}