{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('warning_log', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {{ multipage|raw }}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">{{ getVar('current_warning_level', 'lang') }}</div>
                <h3 class="panel-title">{{ getVar('warning_log', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-sm-4">{{ getVar('warning', 'lang') }}</div>
                        <div class="col-sm-2">{{ getVar('date_issued', 'lang') }}</div>
                        <div class="col-sm-2">{{ getVar('expiry_date', 'lang') }}</div>
                        <div class="col-sm-2">{{ getVar('issued_by', 'lang') }}</div>
                        <div class="col-sm-2">{{ getVar('details', 'lang') }}</div>
                    </div>
                </div>
                {% if warnings is not empty %}
                    {% for row in warnings %}
                    <div class="list-group-item list-group-item-warning">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if row.expired %}
                                    {{ getVar('expired_warnings', 'lang') }}
                                {% else %}
                                    {{ getVar('active_warnings', 'lang') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item list-group-item-info {{ row.alt_bg }}">
                        <div class="row">
                            <div class="col-sm-4">{{ row.warning_type|raw }} {{ row.points }}{{ row.post_link|raw }}</div>
                            <div class="col-sm-2">{{ row.date_issued }}</div>
                            <div class="col-sm-2">{{ row.expires }}</div>
                            <div class="col-sm-2">{{ row.issuedby|raw }}</div>
                            <div class="col-sm-2"><a href="{{ bburl }}/warnings/view?wid={{ row.wid }}">{{ getVar('view', 'lang') }}</a></div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12">{{ getVar('no_warnings', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        {{ multipage|raw }}
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}