{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('warning_log', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">{{ status }}</div>
                <h3 class="panel-title">{{ getVar('warning_details', 'lang') }}</h3>
            </div>
            <div class="list-group">
                {% if getVar('warningPost', 'var') == true %}
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-8 col-sm-8">{{ getVar('post', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ warn.user_link|raw }}</div>
                        <div class="col-xs-8 col-sm-8"><a href="{{ warn.post_link|raw }}">{{ warn.post_subject|raw }}</a></div>
                    </div>
                </div>
                {% else %}
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('details_username', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ warn.user_link|raw }}</div>
                    </div>
                </div>
                {% endif %}
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('warning', 'lang') }}</div>
                        <div class="col-xs-8 col-sm-8">{{ getVar('date_issued', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ warning_type|raw }} {{ points }}</div>
                        <div class="col-xs-8 col-sm-8">{{ date_issued }}</div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('issued_by', 'lang') }}</div>
                        <div class="col-xs-8 col-sm-8">{{ getVar('expiry_date', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ issuedby|raw }}</div>
                        <div class="col-xs-8 col-sm-8">{{ expires }} {{ revoked_date }}</div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('details_warning_note', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ notes|raw }}</div>
                    </div>
                </div>
            </div>
        </div>

        {% if getVar('isRevoked', 'var') == false %}

        {{ warn_errors|raw }}

        <form class="panel panel-primary" action="{{ bburl }}/warnings/revoke" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_revoke" />
            <input type="hidden" name="wid" value="{{ wid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('revoke_warning', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('revoke_warning_desc', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('reason', 'lang') }}</div>
                        <div class="col-xs-8 col-sm-8"><textarea class="form-control" name="reason" cols="60" rows="4"></textarea></div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('revoke_warning', 'lang') }}" />
            </div>
        </form>
        {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('warning_is_revoked', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('revoked_by', 'lang') }}</div>
                        <div class="col-xs-8 col-sm-8">{{ getVar('date_revoked', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ warning.revoked_by|raw }}</div>
                        <div class="col-xs-8 col-sm-8">{{ warning.date_revoked }}</div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('details_reason', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ warning.revoke_reason }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}