{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('warn_user', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {% if warnings is not empty %}
        <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder">
            <thead>
            <tr>
                <td class="thead" colspan="5">
                    <div><strong>{{ getVar('existing_post_warnings', 'lang') }}</strong></div>
                </td>
            </tr>
            <tr>
                <td class="tcat"><span class="smalltext"><strong>{{ getVar('warning', 'lang') }}</strong></span></td>
                <td class="tcat" width="20%" align="center"><span class="smalltext"><strong>{{ getVar('date_issued', 'lang') }}</strong></span></td>
                <td class="tcat" width="20%" align="center"><span class="smalltext"><strong>{{ getVar('expiry_date', 'lang') }}</strong></span></td>
                <td class="tcat" width="20%" align="center"><span class="smalltext"><strong>{{ getVar('issued_by', 'lang') }}</strong></span></td>
                <td class="tcat" width="1" align="center"><span class="smalltext"><strong>{{ getVar('details', 'lang') }}</strong></span></td>
            </tr>
            </thead>
            <tbody>
            {% for row in warnings %}
            <tr>
                <td class="trow_sep" colspan="5">
                    {% if row.warn_active == true %}
                        {{ getVar('active_warnings', 'lang') }}
                    {% else %}
                        {{ getVar('expired_warnings', 'lang') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="{{ row.alt_bg }}">{{ row.warning_type }} {{ row.points }}{{ row.post_link|raw }}</td>
                <td class="{{ row.alt_bg }}" style="text-align: center;">{{ row.date_issued }}</td>
                <td class="{{ row.alt_bg }}" style="text-align: center;">{{ row.expires }}</td>
                <td class="{{ row.alt_bg }}" style="text-align: center;">{{ row.issuedby }}</td>
                <td class="{{ row.alt_bg }}" style="text-align: center;"><a href="{{ bburl }}/warnings/view?wid={{ row.wid }}">{{ getVar('view', 'lang') }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br />
        {% endif %}

        {{ warn_errors|raw }}

        <form action="{{ bburl }}/warnings/warn" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_warn" />
            <input type="hidden" name="uid" value="{{ uid }}" />

            <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder clear">
                <tr>
                    <td class="thead" colspan="2"><strong>{{ getVar('warn_user', 'lang') }}</strong></td>
                </tr>
                <tr>
                    <td class="tcat" colspan="2"><span class="smalltext"><strong>{{ getVar('warn_user_desc', 'lang') }}</strong></span></td>
                </tr>
                <tr>
                    <td class="trow1" style="width: 20%;"><strong>{{ getVar('username', 'lang') }}</strong></td>
                    <td class="trow1">{{ user_link|raw }}</td>
                </tr>
                {% if getVar('showWarnings', 'var') == true %}
                <tr>
                    <td width="20%" class="trow2"><strong>{{ getVar('post', 'lang') }}</strong></td>
                    <td class="trow2"><input type="hidden" name="pid" value="{{ post.pid }}" /><a href="{{ post.link|raw }}">{{ post.subject }}</a></td>
                </tr>
                {% endif %}
                <tr>
                    <td class="trow1" style="width: 20%; vertical-align: top;"><strong>{{ getVar('warning_note', 'lang') }}</strong></td>
                    <td class="trow1"><textarea name="notes" cols="60" rows="4">{{ notes|raw }}</textarea></td>
                </tr>
                <tr>
                    <td class="trow2" style="width: 20%; vertical-align: top;"><strong>{{ getVar('warning_type', 'lang') }}</strong></td>
                    <td class="trow2">
                        <script type="text/javascript">
                            // <!--
                            function checkType(id)
                            {
                                var checked = '';

                                $('.types_check').each(function(e, val)
                                {
                                    if($(this).prop('checked') == true)
                                    {
                                        checked = $(this).val();
                                    }
                                });
                                $('.types').each(function(e)
                                {
                                    $(this).hide();
                                });
                                if($('#type_'+checked))
                                {
                                    $('#type_'+checked).show();
                                }
                            }
                            // -->
                        </script>
                        <dl style="margin-top: 0; margin-bottom: 0; width: 100%;">
                            {% for row in types %}
                            <dt><label style="display: block;"><input type="radio" name="type" value="{{ row.type.tid }}" {{ row.checked|raw }} class="types_check" onclick="checkType();" style="vertical-align: middle;" /> <strong>{{ row.type.title }}</strong> {{ row.points }}</label></dt>
                            <dd style="margin-top: 4px;" id="type_{{ row.type.tid }}" class="types">
                                <div class="smalltext">{{ getVar('new_warning_level', 'lang') }}</div>
                                <div class="tborder float_left" style="width: 150px; margin: 0; padding: 1px;">
                                    <div class="trow1 float_left" style="width: {{ row.current_level }}%;">&nbsp;</div>
                                    <div class="trow2 float_left" style="width: {{ row.level_diff }}%;">&nbsp;</div>
                                </div>
                                <div class="float_left" style="padding-left: 10px; font-weight: bold;">{{ row.new_warning_level }}%</div><br style="clear: left;" />
                                {% if row.friendly_action is not empty %}
                                <div class="smalltext" style="clear: left; padding-top: 4px;">{{ getVar('result', 'lang') }}<br />{{ row.friendly_action|raw }}</div>
                                {% endif %}
                            </dd>
                            {% endfor %}

                            {% if getVar('allowcustomwarnings', 'set') !=0 %}
                            <dt><label style="display: block;"><input type="radio" name="type" value="custom" {{ type_checked_custom|raw }} class="types_check" onclick="checkType();" style="vertical-align: middle;" /> <strong>{{ getVar('custom', 'lang') }}</strong></label></dt>
                            <dd style="margin-top: 4px;" id="type_custom" class="types">
                                <table>
                                    <tr>
                                        <td class="smalltext">{{ getVar('reason', 'lang') }}</td>
                                        <td class="smalltext">{{ getVar('points', 'lang') }}</td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="textbox" name="custom_reason" size="50" maxlength="120" value="{{ custom_reason|raw }}" /></td>
                                        <td><input type="text" class="textbox" name="custom_points" size="2" value="{{ custom_points|raw }}" /></td>
                                    </tr>
                                    <tr>
                                        <td class="smalltext" colspan="2" style="padding-top: 4px;">{{ getVar('expires', 'lang') }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input type="text" class="textbox" name="expires" size="2" value="{{ expires }}" />
                                            <select name="expires_period">
                                                <option value="hours" {{ expires_period.hours|raw }}>{{ getVar('hour_or_hours', 'lang') }}</option>
                                                <option value="days" {{ expires_period.days|raw }}>{{ getVar('day_or_days', 'lang') }}</option>
                                                <option value="weeks" {{ expires_period.weeks|raw }}>{{ getVar('week_or_weeks', 'lang') }}</option>
                                                <option value="months" {{ expires_period.months|raw }}>{{ getVar('month_or_months', 'lang') }}</option>
                                                <option value="never" {{ expires_period.never|raw }}>{{ getVar('never', 'lang') }}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </dd>
                            {% endif %}
                        </dl>
                        <script type="text/javascript">
                            // <!--
                            checkType();
                            // -->
                        </script>
                    </td>
                </tr>
                {% if getVar('showPMNotify', 'var') == true %}
                <tr>
                    <td width="20%" class="trow1" valign="top">
                        <strong>{{ getVar('send_pm', 'lang') }}</strong>
                    </td>
                    <td class="trow1">
                        <script type="text/javascript">
                            // <!--
                            function togglePM()
                            {
                                if($('#send_pm').prop('checked') == true)
                                {
                                    $('#pm_input').show();
                                    $('#pm_smilie_insert').show();
                                }
                                else
                                {
                                    $('#pm_input').hide();
                                }
                            }
                            // -->
                        </script>
                        <label style="display: block;"><input type="checkbox" class="checkbox" value="1" name="send_pm" id="send_pm" onclick="togglePM();" style="vertical-align: middle;" {{ send_pm_checked|raw }} /> {{ getVar('send_user_warning_pm', 'lang') }}</label>
                        <table id="pm_input" cellpadding="{{ getVar('tablespace', 'theme') }}">
                            <tr>
                                <td><strong>{{ getVar('send_pm_subject', 'lang') }}</strong></td>
                                <td><input type="text" class="textbox" name="pm_subject" size="40" maxlength="85" value="{{ pm_subject|raw }}" /></td>
                            </tr>
                            <tr>
                                <td valign="top"><strong>{{ getVar('send_pm_message', 'lang') }}</strong></td>
                                <td><textarea name="pm_message" id="message" rows="20" cols="70">{{ message|raw }}</textarea>
                                    {% if getVar('codebuttons', 'var') == true %}
                                        {% include '@forum/Misc/codebuttons.html.twig' %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% if getVar('allowanonwarningpms', 'set') == 1 %}
                            <tr>
                                <td><strong>{{ getVar('send_pm_options', 'lang') }}</strong></td>
                                <td><label><input type="checkbox" class="checkbox" name="pm_anonymous" value="1"{{ anon_checked|raw }} />&nbsp;{{ getVar('send_pm_options_anonymous', 'lang') }}</label></td>
                            </tr>
                            {% endif %}
                        </table>
                        <script type="text/javascript">
                            <!--
                            $(document).ready(function() {
                                togglePM();
                            });
                            // -->
                        </script>
                    </td>
                </tr>
                {% endif %}
            </table>
            <br />
            <div style="text-align: center;"><input type="submit" class="button" value="{{ getVar('warn_user', 'lang') }}" /></div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}