/* MyBB Admin CP
 *
 * Login CSS
 */

body {
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
	background: #fff;
	color: #000000;
	margin: 0;
}

a {
	color: #0072BC;
	text-decoration: none;
}

a:hover {
	color: #0072BC;
	text-decoration: underline;
}

.invisible {
	display: none;
}

#container {
	width: 410px;
	margin: 100px auto;
}

#logo h1 {
	height: 82px;
	/*background: transparent url(images/login_logo.png) bottom left no-repeat;*/
	background: transparent url(/assets/img/logo.png) bottom left no-repeat;
	background-size: contain;
	margin: 10px;
	padding: 0;
}

#header h1 a {
	float: left;
	height: 82px;
	width: 410px;
}

#content {
	border: 1px solid #ccc;
	background: #fff;
	padding: 1px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

p, form {
	padding: 0 10px 10px 10px;
}

form {
	padding-bottom: 0;
}

p {
	margin-bottom: 0;
}

form p {
	padding: 0 0 10px 0;
}

h2 {
	background: #02426c url(images/thead.png) repeat-x top left;
	border-bottom: 1px solid #263c30;
	color:#fff;
	margin: 0;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

input.text_input {
	border: 1px solid #aaa;
	width: 255px;
	padding: 4px;
	font-size: 13px;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	outline: 0;
}

input.text_input:focus {
	border: 1px solid #777;
}

#message {
	margin: 10px 10px 0 10px;
	padding: 10px;
	font-weight: bold;
	background: #efefef;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#message.error {
	border: 1px solid #FC6;
	background: #FFC;
	color: #C00;
}

#message.success {
	border: #080 1px solid;
	background-color: #E8FCDC;
	color: #080;
}

form .label {
	margin-bottom: 3px;
	width: 112px;
	clear: left;
	float: left;
	padding: 15px 0 0 8px;
	border-top: 1px solid #ddd;
}

form label {
	font-weight: bold;
}

.form_container .field {
	float: left;
	padding: 8px 0;
	border-top: 1px solid #ddd;
}

p.submit {
	clear: both;
	background: #efefef;
	border-top: 1px solid #ddd;
	padding: 8px 10px;
	margin: 8px -10px 0;
	text-align: right;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

p.submit input {
	border: 1px solid #999;
	padding: 4px 7px;
	background: #e3e3e3 url(images/submit_bg.png) repeat-x top;
	color: #444;
	font-weight: bold;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	margin-right: 3px;
	font-size: 1.1em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

p.submit input:hover {
	border: 1px solid #666;
	cursor: pointer;
}

.forgot_password {
	float: left;
	padding-top: 8px;
	font-size: 11px;
}

.forgot_password a {
	color: #555;
}

.alert {
	padding: 5px 10px;
	border: #FC6 1px solid;
	background-color: #ffc;
	color: #900;
	font-style: normal;
	font-weight: bold;
	padding-left: 10px;
	display: block;
}