{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('confirm_execute_tool', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form action="{{ bburl }}/moderation" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="{$mybb->input['action']}" />
            <input type="hidden" name="modtype" value="{$modtype}" />
            <input type="hidden" name="tid" value="{$tid}" />
            <input type="hidden" name="pid" value="{$pid}" />
            <input type="hidden" name="fid" value="{$fid}" />
            <input type="hidden" name="pmid" value="{$pmid}" />
            <input type="hidden" name="confirm" value="1" />
            <input type="hidden" name="inlinetype" value="{$inlinetype}" />
            <input type="hidden" name="searchid" value="{$searchid}" />
            <input type="hidden" name="url" value="{$url}" />
            <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder">
                <tr>
                    <td class="thead" colspan="2"><strong>{$thread['subject']} - {{ getVar('confirm_execute_tool', 'lang') }}</strong></td>
                </tr>
                <tr>
                    <td class="trow1" colspan="2" align="center">{{ getVar('confirm_execute_tool_desc', 'lang') }}</td>
                </tr>
                <tr>
                    <td class="trow2"><strong>{$lang->username}</strong></td>
                    <td class="trow2"><input type="text" class="textbox" name="username" size="30" value="{$username}" /></td>
                </tr>
            </table>
            <br />
            <div align="center"><input type="submit" class="button" name="submit" value="{{ getVar('confirm_execute_tool', 'lang') }}" /></div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}