{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('get_post_ip', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="panel-heading">
            <h3 class="panel-title">{{ getVar('get_post_ip', 'lang') }}</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item trow1">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">{{ getVar('username', 'lang') }}</div>
                    <div class="col-xs-9 col-sm-9">{{ username|raw }}</div>
                </div>
            </div>
            <div class="list-group-item trow2">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">{{ getVar('ip_address', 'lang') }}</div>
                    <div class="col-xs-9 col-sm-9">{{ ipaddress }}</div>
                </div>
            </div>
            <div class="list-group-item trow1">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        {{ getVar('hostname', 'lang') }}<br /><small>{{ getVar('if_resolvable', 'lang') }}</small>
                    </div>
                    <div class="col-xs-9 col-sm-9">{{ hostname|raw }}</div>
                </div>
            </div>
            {% if getVar('showModoptions', 'var') == true %}
            <div class="list-group-item trow2">
                <div class="row">
                    <div class="col-xs-3 col-sm-3">{{ getVar('mod_options', 'lang') }}</div>
                    <div class="col-xs-9 col-sm-9">
                        <a href="{{ bburl }}/modcp/ipsearch?ipaddress={{ ipaddress }}&search_users=1">{{ getVar('search_ip_users', 'lang') }}</a><br />
                        <a href="{{ bburl }}/modcp/ipsearch?ipaddress={{ ipaddress }}&search_posts=1">{{ getVar('search_ip_posts', 'lang') }}</a><br />
                        <a href="{{ bburl }}/modcp/iplookup?ipaddress={{ ipaddress }}" onclick="MyBB.popupWindow('{{ bburl }}/modcp/iplookup?ipaddress={{ ipaddress }}&modal=1'); return false;">{{ getVar('info_on_ip', 'lang') }}</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}