{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('delete_posts', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/moderation" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_multideleteposts" />
            <input type="hidden" name="tid" value="{{ tid }}" />
            <input type="hidden" name="posts" value="{{ inlineids }}" />
            <input type="hidden" name="url" value="{{ return_url }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('delete_posts', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('confirm_delete_posts', 'lang') }}</div>
                    </div>
                </div>

                <div class="list-group-item trow">
                    <div class="row">
                        {$loginbox}
                    </div>
                </div>
            </div>


            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('delete_posts', 'lang') }}" />
            </div>
        </form>
    </div>
    {% include '@forum/footer.html.twig' %}

{% endblock content %}