{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('purgespammer', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form method="post" action="{{ bburl }}/moderation/purgespammer">
            <input type="hidden" name="action" value="do_purgespammer" />
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="uid" value="{$mybb->input['uid']}" />
            <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder">
                <tr>
                    <td class="thead">
                        <strong>{{ getVar('purgespammer_purge', 'lang') }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="trow1">{{ getVar('purgespammer_purge_desc', 'lang') }}</td>
                </tr>
                <tr>
                    <td class="tfoot" align="center">
                        <input class="button" type="submit" value="{{ getVar('purgespammer_submit', 'lang') }}" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}