{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('thread_notes_editor', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/moderation" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_threadnotes" />
            <input type="hidden" name="tid" value="{{ tid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('thread_notes_editor', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            {{ getVar('username', 'user') }} <small>[<strong><a href="{{ bburl }}/logout?logoutkey={{ getVar('logoutkey', 'user') }}">{{ getVar('change_user', 'lang') }}</a></strong>]</small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('below_notes', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <textarea class="form-control" name="threadnotes" cols="80" rows="10" tabindex="1">{{ notes|raw }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('update_notes', 'lang') }}" tabindex="2" />
            </div>
        </form>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('mod_logs', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('mod_username', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('mod_date', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('mod_actions', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('mod_information', 'lang') }}</div>
                    </div>
                </div>
                {% if modactions is not empty %}
                    {% for row in modactions %}
                    <div class="list-group-item {{ row.trow }}">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ row.modaction.profilelink|raw }}</div>
                            <div class="col-xs-2 col-sm-2">{{ row.modaction.dateline }}</div>
                            <div class="col-xs-4 col-sm-4">{{ row.modaction.action }}</div>
                            <div class="col-xs-4 col-sm-4">{{ row.info|raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item trow2">
                    <div class="row text-center">
                        <div class="col-xs-12 col-sm-12">{{ getVar('no_mod_options', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('delayed_mod_queue', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('mod_username', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('days_to_perform_action', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('mod_actions', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('mod_information', 'lang') }}</div>
                    </div>
                </div>
                {% if delayedmods is not empty %}
                    {% for row in delayedmods %}
                    <div class="list-group-item {{ row.trow }}">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ row.delayedmod.profilelink|raw }}</div>
                            <div class="col-xs-2 col-sm-2">{{ row.delayedmod.dateline }}</div>
                            <div class="col-xs-4 col-sm-4">{{ row.delayedmod.action }}</div>
                            <div class="col-xs-4 col-sm-4">{{ row.info|raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item trow2">
                    <div class="row text-center">
                        <div class="col-xs-12 col-sm-12">{{ getVar('no_delayed_mods', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include '@forum/footer.html.twig' %}

{% endblock content %}