{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ title|raw }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title|raw }}</h3>
            </div>

            <div class="list-group-item list-group-item-danger">
                <div class="row">
                    <div class="col-sm-12">
                        {{ error|raw }}
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}