<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4>{{ getVar('error_nopermission_user_1', 'lang') }}</h4>
        <ol>
            <li>{{ getVar('error_nopermission_user_2', 'lang') }}</li>
            <li>{{ getVar('error_nopermission_user_3', 'lang') }}</li>
            <li>{{ getVar('error_nopermission_user_4', 'lang') }} (<a href="{{ bburl }}/resendactivation">{{ getVar('error_nopermission_user_resendactivation', 'lang') }}</a>)</li>
            <li>{{ getVar('error_nopermission_user_5', 'lang') }}</li>
        </ol>
        <br />
        {{ getVar('error_nopermission_user_username', 'lang') }}
    </div>
</div>