<div class="container">
    {{ getVar('error_nopermission_guest_1', 'lang') }}
    <ol>
        <li>{{ getVar('error_nopermission_guest_2', 'lang') }}</li>
        <li>{{ getVar('error_nopermission_guest_3', 'lang') }}</li>
        <li>{{ getVar('error_nopermission_guest_4', 'lang') }}</li>
        <li>{{ getVar('error_nopermission_guest_5', 'lang') }}</li>
    </ol>
    <form action="{{ bburl }}/login" method="post">
        <input type="hidden" name="action" value="do_login" />
        <input type="hidden" name="url" value="{{ redirect_url|raw }}" />

        <h4>{{ getVar('login', 'lang') }}</h4>
        <div class="form-group form-inline">
            <label class="sr-only">{{ lang_username|raw }}</label>
            <input type="text" class="form-control" name="username" placeholder="Email:" tabindex="1" />
            <label class="sr-only">{{ getVar('password', 'lang') }}</label>
            <input type="password" class="form-control" name="password" placeholder="Password:" tabindex="2" />
            <button type="submit" class="btn btn-primary" value="1" tabindex="3">{{ getVar('login', 'lang') }}</button>
        </div>

        <div class="form-group">
            <a class="btn btn-default btn-xs" href="{{ bburl }}/register">{{ getVar('need_reg', 'lang') }}</a>
            <a class="btn btn-default btn-xs" href="{{ bburl }}/lostpw">{{ getVar('forgot_password', 'lang') }}</a>
        </div>
    </form>
    <br />
</div>