{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('forum_announcement', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript">
            var announcement_quickdelete_confirm = "{{ getVar('announcement_quickdelete_confirm', 'lang') }}";
        </script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('forum_announcement', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        {{ announcement|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
    <script type="text/javascript">
        $(".author_avatar img").on("error", function () {
            $(this).unbind("error").closest('.author_avatar').remove();
        });
    </script>
{% endblock content %}