{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('contact', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form action="{{ bburl }}/contact" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            {{ errors|raw }}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('contact', 'lang') }}</h3>
                </div>

                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>{{ getVar('contact_subject', 'lang') }}:</strong>
                            <br />
                            <small>{{ getVar('contact_subject_desc', 'lang') }}</small>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="subject" class="form-control" size="49" value="{{ getVar('subject', 'input') }}" />
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>{{ getVar('contact_message', 'lang') }}:</strong>
                            <br />
                            <small>{{ getVar('contact_message_desc', 'lang') }}</small>
                        </div>
                        <div class="col-sm-9">
                            <textarea rows="5" name="message" class="form-control" >{{ getVar('message', 'input') }}</textarea>
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>{{ getVar('contact_email', 'lang') }}:</strong>
                            <br />
                            <small>{{ getVar('contact_email_desc', 'lang') }}</small>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="email" class="form-control" size="49" value="{{ getVar('email', 'input') }}" />
                        </div>
                    </div>
                </div>

                {{ captcha|raw }}

                <div class="panel-footer text-center">
                    <input class="btn btn-primary" type="submit" name="submit" value="{{ getVar('contact_send', 'lang') }}" />
                </div>
            </div>
            <br />
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}