{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('edit_post', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript" src="{{ asset_url }}/jscripts/post.js?ver=1800"></script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {% if postbit is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('post_preview', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    {{ postbit|raw }}
                </div>
            </div>
        </div>
        {% endif %}

        {{ post_errors|raw }}

        {% if attachedfile.error is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('error_attach_file', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    {{ attachedfile.error|raw }}
                </div>
            </div>
        </div>
        {% endif %}

        {% if moderation_text is not empty %}
        <div class="pm_alert">{{ moderation_text|raw }}</div>
        {% endif %}

        {% if getVar('showDeleteBox', 'var') == true %}
        <form class="panel panel-primary" action="{{ bburl }}/editpost" method="post" name="editpost">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="deletepost" />
            <input type="hidden" name="pid" value="{{ pid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('delete_post', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1">
                            <label class="checkbox-inline text-nowrap">
                                <input type="checkbox" class="checkbox" name="delete" value="1" tabindex="9" /> <small>{{ getVar('delete_q', 'lang') }}</small>
                            </label>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            {{ getVar('delete_1', 'lang') }}<br /><small>{{ getVar('delete_2', 'lang') }}</small>
                        </div>
                        <div class="col-xs-1 col-sm-1">
                            <input type="submit" class="btn btn-primary btn-xs" name="submit" value="{{ getVar('delete_now', 'lang') }}" tabindex="10" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}

        <form id="editpost" action="{{ bburl }}/editpost?pid={{ pid }}&processed=1" method="post" enctype="multipart/form-data" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_editpost" />
            <input type="hidden" name="attachmentaid" value="" />
            <input type="hidden" name="attachmentact" value="" />

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('edit_post', 'lang') }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item trow1">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10">
                                {{ getVar('username', 'user') }} &nbsp; <small><a class="btn btn-info btn-xs" href="{{ bburl }}/member/logout?logoutkey={{ getVar('logoutkey', 'user') }}">{{ getVar('change_user', 'lang') }}</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('subject', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10 form-inline">
                                {{ prefixselect|raw }}<input type="text" class="form-control" name="subject" maxlength="85" value="{{ subject|raw }}" tabindex="1" />
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item trow1"><!-- post icons -->
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                {{ getVar('post_icon', 'lang') }}
                                <small>
                                    <input type="radio" class="radio" name="icon" value="-1" {{ posticons.no_icons_checked|raw }} /> {{ getVar('no_post_icon', 'lang') }}
                                </small>
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                {% for row in posticons.iconlist %}
                                    <label class="posticons_label">
                                        <input type="radio" name="icon" value="{{ row.dbicon.iid }}" {{ row.checked|raw }} /><img src="{{ row.dbicon.path }}" alt="{{ row.dbicon.name }}" title="{{ row.dbicon.name }}" />
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- /.post icons -->
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                {{ getVar('your_message', 'lang') }}:<br />
                                {% if getVar('smilieinserter', 'var') == true %}
                                    {% include '@forum/Misc/clickablesmilies.html.twig' %}
                                {% endif %}
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <textarea name="message" id="message" rows="15" tabindex="3">{{ message|raw }}</textarea>
                                {% if getVar('codebuttons', 'var') == true %}
                                    {% include '@forum/Misc/codebuttons.html.twig' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if getVar('alloweditreason', 'set') == 1 %}
                        <div class="list-group-item trow1">
                            <div class="row">
                                <div class="col-xs-2 col-sm-2">{{ getVar('editreason', 'lang') }}</div>
                                <div class="col-xs-10 col-sm-10">
                                    <input type="text" class="form-control" name="editreason" maxlength="150" value="{{ reason|raw }}" tabindex="5" />
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('post_options', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10">
                                <small class="form-inline">
                                    <input type="checkbox" class="checkbox" name="postoptions[signature]" value="1" tabindex="6"{{ postoptionschecked.signature|raw }} /> {{ getVar('options_sig', 'lang') }}
                                    {% if getVar('showDisableSmilies', 'var') == true %}
                                    <br />
                                    <input type="checkbox" class="checkbox" name="postoptions[disablesmilies]" value="1" tabindex="9"{{ postoptionschecked.disablesmilies|raw }} /> {{ getVar('options_disablesmilies', 'lang') }}
                                    {% else %}
                                    <input type="hidden" name="postoptions[disablesmilies]" value="no" />
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item trow1">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                {{ getVar('thread_subscription_method', 'lang') }}
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <small class="form-inline">
                                    {{ getVar('thread_subscription_method_desc', 'lang') }}<br />
                                    <input type="radio" name="postoptions[subscriptionmethod]" {{ postoptions.dont|raw }} value="" style="vertical-align: middle;" /> {{ getVar('no_subscribe', 'lang') }}<br />
                                    <input type="radio" name="postoptions[subscriptionmethod]" {{ postoptions.none|raw }} value="none" style="vertical-align: middle;" /> {{ getVar('no_subscribe_notification', 'lang') }}<br />
                                    <input type="radio" name="postoptions[subscriptionmethod]" {{ postoptions.email|raw }} value="email" style="vertical-align: middle;" /> {{ getVar('instant_email_subscribe', 'lang') }}<br />
                                    <input type="radio" name="postoptions[subscriptionmethod]" {{ postoptions.pm|raw }} value="pm" style="vertical-align: middle;" /> {{ getVar('instant_pm_subscribe', 'lang') }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if getVar('showPollBox', 'var') == true %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('poll', 'lang') }}<br /><small>{{ getVar('poll_desc', 'lang') }}</small></h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item trow1">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <small class="form-inline">
                                    <input type="checkbox" class="checkbox" name="postpoll" value="1" {{ postpollchecked|raw }} />{{ getVar('poll_check', 'lang') }}<br />
                                    {{ getVar('num_options', 'lang') }} <input type="text" class="form-control" name="numpolloptions" value="{{ numpolloptions }}" size="10" /> {{ getVar('max_options', 'lang') }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if getVar('showAttachBox', 'var') == true %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('attachments', 'lang') }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        {{ getVar('attach_quota', 'lang') }} <a class="btn btn-info btn-xs" href="{{ bburl }}/usercp/attachments">{{ getVar('view_attachments', 'lang') }}</a>
                    </div>
                    {% if (getVar('attach_add', 'var') == true) or (getVar('attach_update', 'var') == true) %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-7 col-sm-7">
                                <img src="{{ getVar('imgdir', 'theme') }}/paperclip.png" alt="" />
                                <label class="btn btn-info" for="my-file-selector">
                                    <input id="my-file-selector" style="display:none;" type="file" name="attachment" onchange="$('#upload-file-info').html($(this).val());" />
                                    {{ getVar('new_attachment', 'lang') }}
                                </label>
                                <span class='label label-info' id="upload-file-info"></span>
                            </div>
                            <div class="col-xs-5 col-sm-5">
                                {% if getVar('attach_update', 'var') == true %}
                                    <input type="submit" class="btn btn-info" name="updateattachment" value="{{ getVar('update_attachment', 'lang') }}" tabindex="12" />
                                {% endif %}

                                {% if getVar('attach_add', 'var') == true %}
                                    <input type="submit" class="btn btn-info" name="newattachment" value="{{ getVar('add_attachment', 'lang') }}" tabindex="13" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% include '@forum/Misc/attachments.html.twig' %}
                </div>
            </div>
            {% endif %}
            <div class="list-group-item text-center">
                <input type="submit" class="btn btn-primary" name="submitbutton" value="{{ getVar('update_post', 'lang') }}" tabindex="3" accesskey="s" />
                <input type="submit" class="btn btn-primary" name="previewpost" value="{{ getVar('preview_post', 'lang') }}" tabindex="4" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
    <script type="text/javascript">
        $(".author_avatar img").on("error", function () {
            $(this).unbind("error").closest('.author_avatar').remove();
        });
    </script>
{% endblock content %}