    <div class="container">
        {{ debugstuff|raw }}
    </div>

    <div class="container">
        <div id="footer">
            <div class="upper">
                <div class="wrapper">
                    {% if getVar('showLangSelect', 'var') == true %}
                    <div class="language">
                        <form method="{{ lang_redirect_url.form_method|raw }}" action="{{ lang_redirect_url.location|raw }}" id="lang_select">
                            {{ lang_redirect_url.form_html|raw }}
                            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                            <select name="language" onchange="MyBB.changeLanguage();">
                                <optgroup label="{{ getVar('select_language', 'lang') }}">
                                {% for row in lang_options %}
                                <option value="{{ row.key }}"{{ row.selected|raw }}>&nbsp;{{ row.language }}</option>
                                {% endfor %}
                                </optgroup>
                            </select>
                            <input type="submit" class="button" value="{{ getVar('go', 'lang') }}" />
                        </form>
                    </div>
                    {% endif %}

                    {% if getVar('showThemeSelect', 'var') == true %}
                    <div class="theme">
                        <form method="{{ theme_redirect_url.form_method|raw }}" action="{{ theme_redirect_url.location|raw }}" id="theme_select">
                            {{ theme_redirect_url.form_html|raw }}
                            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                            {{ theme_options|raw }}
                            <input type="submit" class="button" value="{{ getVar('go', 'lang') }}" />
                        </form>
                    </div>
                    {% endif %}

                    <ul class="menu bottom_links">
                        {{ contact_us|raw }}
                        <li><a href="{{ getVar('homeurl', 'set') }}">{{ getVar('homename', 'set') }}</a></li>
                        <li><a href="#top">{{ getVar('bottomlinks_returntop', 'lang') }}</a></li>
                        <li><a href="{{ archive_url|raw }}">{{ getVar('bottomlinks_litemode', 'lang') }}</a></li>
                        <li><a href="{{ bburl }}/misc/syndication">{{ getVar('bottomlinks_syndication', 'lang') }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="lower">
                <div class="wrapper">
                    <span id="current_time">{{ getVar('welcome_current_time', 'lang') }}</span>
                    <span id="copyright">
                        <!-- MyBB is free software developed and maintained by a volunteer community.
                            It would be much appreciated by the MyBB Group if you left the full copyright and "powered by" notice intact,
                            to show your support for MyBB.  If you choose to remove or modify the copyright below,
                            you may be refused support on the MyBB Community Forums.

                            This is free software, support us and we'll support you. -->
                        {{ getVar('powered_by', 'lang') }} <a href="http://www.runcmf.ru" target="_blank">RunBB{{ bbversion }}</a>, &copy; 2016-{{ copy_year }} Based on <a href="http://www.mybb.com" target="_blank">MyBB</a>.
                        <!-- End powered by -->
                    </span>
                </div>
            </div>
        </div>
        <!-- The following piece of code allows MyBB to run scheduled tasks. DO NOT REMOVE -->{{ task_image|raw }}<!-- End task image code -->
        {{ auto_dst_detection|raw }}
    </div>
