{% extends 'Layout.html.twig' %}

    {% block title %}{{ getVar('bbname', 'set') }} - {{ foruminfo.name }}{% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        {% if getVar('showThreads', 'var') == true %}
        <link rel="alternate" type="application/rss+xml" title="{{ getVar('rss_discovery_forum', 'lang') }} (RSS 2.0)" href="{{ bburl }}/syndication?fid={{ fid }}" />
        <link rel="alternate" type="application/atom+xml" title="{{ getVar('rss_discovery_forum', 'lang') }} (Atom 1.0)" href="{{ bburl }}/syndication?type=atom1.0&fid={{ fid }}" />
        {% endif %}
        <script type="text/javascript">
            <!--
            lang.no_new_posts = "{{ getVar('no_new_posts', 'lang') }}";
            lang.click_mark_read = "{{ getVar('click_mark_read', 'lang') }}";
            lang.inline_edit_description = "{{ getVar('inline_edit_description', 'lang') }}";
            lang.post_fetch_error = "{{ getVar('post_fetch_error', 'lang') }}";
            // -->
        </script>
        <!-- jeditable (jquery) -->
        <script type="text/javascript" src="{{ asset_url }}/jscripts/jeditable/jeditable.min.js"></script>
        <script type="text/javascript" src="{{ asset_url }}/jscripts/inline_edit.js?ver=1804"></script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {% if moderators is not empty %}
        <span class="smalltext">{{ getVar('moderated_by', 'lang') }} <strong>{{ moderators|raw }}</strong></span><br />
        {% endif %}

        {{ usersbrowsing|raw }}

        {{ rules|raw }}

        {% if forums is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="expcolimage">
                    <span id="cat_{{ forumsvars.forum.fid }}_img" class="expander collapse" alt="[-]" title="[-]" /></span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <h3 class="panel-title">
                            {{ getVar('sub_forums_in', 'lang') }}
                            <div class="smalltext">{{ forumsvars.description }}</div>
                        </h3>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        <span class="hidden-xs hidden-sm">{{ getVar('forumbit_threads', 'lang') }}</span>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        <span class="hidden-xs hidden-sm">{{ getVar('forumbit_posts', 'lang') }}</span>
                    </div>
                    <div class="hidden-xs col-sm-2 text-center text-nowrap">
                        <span class="hidden-xs hidden-sm">{{ getVar('forumbit_lastpost', 'lang') }}</span>
                    </div>
                </div>
            </div>

            <div class="list-group" style="{{ cat.expdisplay }}" id="cat_{{ cat.forum.fid }}_e">
                {% for row in forums %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-7">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="forum_status forum_{{ row.lightbulb.folder }} ajax_mark_read" title="{{ row.lightbulb.altonoff }}" id="mark_read_{{ row.forum.fid }}"></span>
                                    </div>
                                    <div class="media-body">
                                        <strong><a href="{{ row.forum_url }}">{{ row.forum.name }}</a></strong>
                                        {{ row.forum_viewers_text }}<div class="hidden-xs small">{{ row.forum.description|raw }}{{ row.modlist|raw }}{{ row.subforums|raw }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-xs col-sm-1 text-center text-nowrap">
                                {{ row.threads }}{{ row.unapproved.unapproved_threads }}
                            </div>
                            <div class="hidden-xs col-sm-1 text-center text-nowrap">
                                {{ row.posts }}{{ row.unapproved.unapproved_posts }}
                            </div>
                            <div class="hidden-xs col-sm-2">
                                {{ row.lastpost|raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if getVar('showThreads', 'var') == true %}
        <div class="panel panel-group">
            <div class="btn-group pull-left">
                <div class="float_left">
                    {{ multipage|raw }}
                </div>
            </div>
            <div class="btn-group pull-right">
                {{ newthread|raw }}
            </div>
        </div>

        <br />

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="{{ bburl }}/misc/markread?fid={{ fid }}{{ post_code_string|raw }}" title="{{ getVar('markforum_read', 'lang') }}">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="hidden-xs">{{ getVar('markforum_read', 'lang') }}</span>
                    </a>
                    <a class="btn btn-default btn-xs" href="{{ bburl }}/usercp/{{ add_remove_subscription }}subscription?type=forum&fid={{ fid }}&my_post_key={{ getVar('post_code', 'var') }}">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs">{{ add_remove_subscription_text }}</span>
                    </a>
                    {% if foruminfo.password is not empty %}
                    <a class="btn btn-default btn-xs" href="{{ bburl }}/misc/clearpass?fid={{ fid }}&my_post_key={{ getVar('post_code', 'var') }}">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span class="hidden-xs">{{ getVar('clear_stored_password', 'lang') }}</span>
                    </a>
                    {% endif %}
                </div>
                <h3 class="panel-title">{{ foruminfo.name }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-11 col-sm-5">
                        <a href="{{ sorturl|raw }}&sortby=subject&order=asc">{{ getVar('thread', 'lang') }}</a> {{ orderarrow.subject|raw }} / <a href="{{ sorturl|raw }}&sortby=starter&order=asc">{{ getVar('author', 'lang') }}</a> {{ orderarrow.starter|raw }}
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        <a href="{{ sorturl|raw }}&sortby=replies&order=desc">{{ getVar('replies', 'lang') }}</a> {{ orderarrow.replies|raw }}
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        <a href="{{ sorturl|raw }}&sortby=views&order=desc">{{ getVar('views', 'lang') }}</a> {{ orderarrow.views|raw }}
                    </div>
                    <div class="hidden-xs col-sm-2 text-center text-nowrap">
                        <a href="{{ sorturl|raw }}&sortby=rating&order=desc">{{ getVar('rating', 'lang') }}</a> {{ orderarrow.rating|raw }}
                        <script type="text/javascript" src="{{ asset_url }}/jscripts/rating.js?ver=1804"></script>
                        <script type="text/javascript">
                          <!--
                            lang.stars = new Array();
                            lang.stars[1] = "{{ getVar('one_star', 'lang') }}";
                            lang.stars[2] = "{{ getVar('two_stars', 'lang') }}";
                            lang.stars[3] = "{{ getVar('three_stars', 'lang') }}";
                            lang.stars[4] = "{{ getVar('four_stars', 'lang') }}";
                            lang.stars[5] = "{{ getVar('five_stars', 'lang') }}";
                            lang.ratings_update_error = "{{ getVar('ratings_update_error', 'lang') }}";
                          // -->
                        </script>
                    </div>
                    <div class="hidden-xs col-sm-2 text-nowrap">
                        <a href="{{ sorturl|raw }}&sortby=lastpost&order=desc">{{ getVar('lastpost', 'lang') }}</a> {{ orderarrow.lastpost|raw }}
                    </div>
                    {% if ismod == true %}
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        <input type="checkbox" name="allbox" onclick="inlineModeration.checkAll(this)" />
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if getVar('showSelectall', 'var') == true %}
            <div class="hidden">
                {{ getVar('page_selected', 'lang') }} <a href="#" onclick='inlineModeration.selectAll();'>{{ getVar('select_all', 'lang') }}</a>
            </div>
            <div class="hidden">
                {{ getVar('all_selected', 'lang') }} <a href="#" onclick='inlineModeration.clearChecked();'>{{ getVar('clear_selection', 'lang') }}</a>
            </div>
            {% endif %}

            {% if announcements is not empty %}
            <div class="list-group">
                <div class="list-group-item list-group-item-success">
                    {{ getVar('forum_announcements', 'lang') }}
                </div>
                {% for row in announcements %}
                <div class="list-group-item inline_row {{ row.lpbackground }}">
                    <div class="row">
                        <div class="col-xs-11 col-sm-5">
                            <div class="media">
                                <div class="media-left" style="padding-right: 1em;">
                                    <span class="thread_status {{ row.folder }}">&nbsp;</span>
                                </div>
                                <div class="media-body">
                                    <a href="{{ row.announcementlink|raw }}"{{ row.new_class }}>{{ row.subject }}</a>
                                    <div class="small">{{ row.profilelink|raw }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-offset-4 col-sm-2 hidden-xs">
                            <span class="small">{{ row.postdate }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {{ threads|raw }}

            <tr>
                <div class="panel-footer">
                    <form action="{{ bburl }}/forumdisplay" method="get">
                        <input type="hidden" name="fid" value="{{ fid }}" />
                        <select name="sortby">
                            <option value="subject"{{ sortsel.subject|raw }}>{{ getVar('sort_by_subject', 'lang') }}</option>
                            <option value="lastpost"{{ sortsel.lastpost|raw }}>{{ getVar('sort_by_lastpost', 'lang') }}</option>
                            <option value="starter"{{ sortsel.starter|raw }}>{{ getVar('sort_by_starter', 'lang') }}</option>
                            <option value="started"{{ sortsel.started|raw }}>{{ getVar('sort_by_started', 'lang') }}</option>
                            {{ ratingsort|raw }}
                            <option value="replies"{{ sortsel.replies|raw }}>{{ getVar('sort_by_replies', 'lang') }}</option>
                            <option value="views"{{ sortsel.views|raw }}>{{ getVar('sort_by_views', 'lang') }}</option>
                        </select>
                        <select name="order">
                            <option value="asc"{{ ordersel.asc|raw }}>{{ getVar('sort_order_asc', 'lang') }}</option>
                            <option value="desc"{{ ordersel.desc|raw }}>{{ getVar('sort_order_desc', 'lang') }}</option>
                        </select>
                        <select name="datecut">
                            <option value="1"{{ datecutsel.1|raw }}>{{ getVar('datelimit_1day', 'lang') }}</option>
                            <option value="5"{{ datecutsel.5|raw }}>{{ getVar('datelimit_5days', 'lang') }}</option>
                            <option value="10"{{ datecutsel.10|raw }}>{{ getVar('datelimit_10days', 'lang') }}</option>
                            <option value="20"{{ datecutsel.20|raw }}>{{ getVar('datelimit_20days', 'lang') }}</option>
                            <option value="50"{{ datecutsel.50|raw }}>{{ getVar('datelimit_50days', 'lang') }}</option>
                            <option value="75"{{ datecutsel.75|raw }}>{{ getVar('datelimit_75days', 'lang') }}</option>
                            <option value="100"{{ datecutsel.100|raw }}>{{ getVar('datelimit_100days', 'lang') }}</option>
                            <option value="365"{{ datecutsel.365|raw }}>{{ getVar('datelimit_lastyear', 'lang') }}</option>
                            <option value="9999"{{ datecutsel.9999|raw }}>{{ getVar('datelimit_beginning', 'lang') }}</option>
                        </select>
                        {{ prefixselect|raw }}
                        <input type="submit" class="button" value="{{ getVar('go', 'lang') }}" />
                    </form>
                </div>
            </tr>
        </div>

        <div class="panel panel-group">
            <div class="btn-group pull-left">
                <div class="float_left">
                    {{ multipage|raw }}
                </div>
            </div>
            <div class="btn-group pull-right">
                {{ newthread|raw }}
            </div>
        </div>

        <br class="clear" />
        <br />
        <div class="float_left">
            <div class="float_left">
                <dl class="thread_legend smalltext">
                    <dd><span class="thread_status newfolder" title="{{ getVar('new_thread', 'lang') }}">&nbsp;</span> {{ getVar('new_thread', 'lang') }}</dd>
                    <dd><span class="thread_status newhotfolder" title="{{ getVar('new_hot_thread', 'lang') }}">&nbsp;</span> {{ getVar('new_hot_thread', 'lang') }}</dd>
                    <dd><span class="thread_status hotfolder" title="{{ getVar('hot_thread', 'lang') }}">&nbsp;</span> {{ getVar('hot_thread', 'lang') }}</dd>
                </dl>
            </div>
            <div class="float_left">
                <dl class="thread_legend smalltext">
                    <dd><span class="thread_status folder" title="{{ getVar('no_new_thread', 'lang') }}">&nbsp;</span> {{ getVar('no_new_thread', 'lang') }}</dd>
                    <dd><span class="thread_status dot_folder" title="{{ getVar('posts_by_you', 'lang') }}">&nbsp;</span> {{ getVar('posts_by_you', 'lang') }}</dd>
                    <dd><span class="thread_status lockfolder" title="{{ getVar('locked_thread', 'lang') }}">&nbsp;</span> {{ getVar('locked_thread', 'lang') }}</dd>
                </dl>
            </div>
            <br class="clear" />
        </div>
        <div class="float_right" style="text-align: right;">
            {% if getVar('showInlineModeration', 'var') == true %}
                <script type="text/javascript" src="{{ asset_url }}/jscripts/inline_moderation.js?ver=1807"></script>
                <form action="{{ bburl }}/moderation" method="post">
                    <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                    <input type="hidden" name="fid" value="{{ fid }}" />
                    <input type="hidden" name="modtype" value="inlinethread" />
                    <span class="smalltext"><strong>{{ getVar('inline_thread_moderation', 'lang') }}</strong></span>
                    <select name="action">
                        <option value="delayedmoderation">{{ getVar('delayed_moderation', 'lang') }}</option>
                        {% if getVar('showStandardthreadtools', 'var') == true %}
                            <optgroup label="{{ getVar('standard_mod_tools', 'lang') }}">
                                {{ inlinemodopenclose|raw }}
                                {{ inlinemodstickunstick|raw }}
                                {{ inlinemodsoftdelete|raw }}
                                {{ inlinemodrestore|raw }}
                                {{ inlinemoddelete|raw }}
                                {{ inlinemodmanage|raw }}
                                {{ inlinemodapproveunapprove|raw }}
                            </optgroup>
                        {% endif %}
                        {% if customthreadtools is not empty %}
                        <optgroup label="{{ getVar('custom_mod_tools', 'lang') }}">{{ customthreadtools|raw }}</optgroup>
                        {% endif %}
                    </select>
                    <input type="submit" class="button" name="go" value="{{ getVar('inline_go', 'lang') }} ({{ inlinecount }})" id="inline_go" />&nbsp;
                    <input type="button" onclick="javascript:inlineModeration.clearChecked();" value="{{ getVar('clear', 'lang') }}" class="button" />
                </form>
                <script type="text/javascript">
                    <!--
                    var go_text = "{{ getVar('inline_go', 'lang') }}";
                    var all_text = "{{ threadcount }}";
                    var inlineType = "forum";
                    var inlineId = {{ fid }};
                    // -->
                </script>
                <br />
            {% endif %}

            {% if getVar('showSearchForm', 'var') == true %}
            <form action="{{ bburl }}/search" method="post">
                <span class="smalltext"><strong>{{ getVar('search_forum', 'lang') }}</strong></span>
                <input type="text" class="textbox" name="keywords" /> <input type="submit" class="button" value="{{ getVar('go', 'lang') }}" />
                <input type="hidden" name="action" value="do_search" />
                <input type="hidden" name="forums" value="{{ fid }}" />
                <input type="hidden" name="postthread" value="1" />
            </form>
            <br />
            {% endif %}
            {{ forumjump|raw }}
        </div>
        <br class="clear" />
        {% endif %}
    </div>

    {% include '@forum/footer.html.twig' %}

{% endblock content %}