
    <link rel="alternate" type="application/rss+xml" title="{{ getVar('latest_threads', 'lang') }} (RSS 2.0)" href="{{ bburl }}/syndication" />
    <link rel="alternate" type="application/atom+xml" title="{{ getVar('latest_threads', 'lang') }} (Atom 1.0)" href="{{ bburl }}/syndication?type=atom1.0" />


    <script type="text/javascript" src="{{ base_url() }}/assets/js/jquery.jgrowl.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/jquery-impromptu.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/js.cookie.js"></script>

    <link rel="stylesheet" href="{{ base_url() }}/assets/css/jquery.jgrowl.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/jquery-impromptu.min.css">

    {{ stylesheets|raw }}

    <script type="text/javascript">
        <!--
        lang.unknown_error = "{{ getVar('unknown_error', 'lang') }}";

        lang.select2_match = "{{ getVar('select2_match', 'lang') }}";
        lang.select2_matches = "{{ getVar('select2_matches', 'lang') }}";
        lang.select2_nomatches = "{{ getVar('select2_nomatches', 'lang') }}";
        lang.select2_inputtooshort_single = "{{ getVar('select2_inputtooshort_single', 'lang') }}";
        lang.select2_inputtooshort_plural = "{{ getVar('select2_inputtooshort_plural', 'lang') }}";
        lang.select2_inputtoolong_single = "{{ getVar('select2_inputtoolong_single', 'lang') }}";
        lang.select2_inputtoolong_plural = "{{ getVar('select2_inputtoolong_plural', 'lang') }}";
        lang.select2_selectiontoobig_single = "{{ getVar('select2_selectiontoobig_single', 'lang') }}";
        lang.select2_selectiontoobig_plural = "{{ getVar('select2_selectiontoobig_plural', 'lang') }}";
        lang.select2_loadmore = "{{ getVar('select2_loadmore', 'lang') }}";
        lang.select2_searching = "{{ getVar('select2_searching', 'lang') }}";

        var cookieDomain = "{{ getVar('cookiedomain', 'set') }}";
        var cookiePath = "{{ getVar('cookiepath', 'set') }}";
        var cookiePrefix = "{{ getVar('cookieprefix', 'set') }}";
        var deleteevent_confirm = "{{ getVar('deleteevent_confirm', 'lang') }}";
        var removeattach_confirm = "{{ getVar('removeattach_confirm', 'lang') }}";
        var loading_text = '{{ getVar('ajax_loading', 'lang') }}';
        var saving_changes = '{{ getVar('saving_changes', 'lang') }}';
        var use_xmlhttprequest = "{{ getVar('use_xmlhttprequest', 'set') }}";
        var my_post_key = "{{ getVar('post_code', 'var') }}";
        var rootpath = "{{ bburl }}";
        var imagepath = "{{ getVar('imgdir', 'theme') }}";
        var yes_confirm = "{{ getVar('yes', 'lang') }}";
        var no_confirm = "{{ getVar('no', 'lang') }}";
        var BBEditor = null;
        var spinner_image = "{{ getVar('imgdir', 'theme') }}/spinner.gif";
        var spinner = "<img src='" + spinner_image +"' alt='' />";
        var modal_zindex = 9999;
        // -->
    </script>