
    <!-- forum container -->
    <div class="container">
        <a name="top" id="top"></a>
        {{ error_handler_warnings|raw }}
        <!-- header -->
        <div id="header">
            <div id="panel">
            {% if getVar('uid', 'user') > 0 %}
                <br />
                <div class="lower">
                    <div class="wrapper">
                        <ul class="menu user_links">
                            <li><a href="#" onclick="MyBB.popupWindow('/misc/buddypopup?modal=1'); return false;">{{ getVar('welcome_open_buddy_list', 'lang') }}</a></li>
                            <li><a href="{{ bburl }}/search?action=getnew">{{ getVar('welcome_newposts', 'lang') }}</a></li>
                            <li><a href="{{ bburl }}/search?action=getdaily">{{ getVar('welcome_todaysposts', 'lang') }}</a></li>
                            <li><a href="{{ bburl }}/private">{{ getVar('welcome_pms', 'lang') }}</a> {{ getVar('welcome_pms_usage', 'lang') }}</li>
                        </ul>
                    </div>
                    <br class="clear" />
                </div>
            {% endif %}
            </div>
        </div><!-- /.header -->

        <br />

        <div id="container">
            {% if getVar('showPMnotice', 'var') == true %}
            <div class="pm_alert" id="pm_notice">
                <div class="float_right"><a href="{{ bburl }}/private/dismiss_notice&my_post_key={{ getVar('post_code', 'var') }}" title="{{ getVar('dismiss_notice', 'lang') }}" onclick="return MyBB.dismissPMNotice('{{ getVar('bburl', 'set') }}')"><img src="{{ getVar('imgdir', 'theme') }}/dismiss_notice.png" alt="{{ getVar('dismiss_notice', 'lang') }}" title="{{ getVar('dismiss_notice', 'lang') }}" /></a></div>
                <div>{{ getVar('privatemessage_text', 'var') }}</div>
            </div>
            {% endif %}

            {% if getVar('isbannedgroup', 'group') == 1 %}
            <div class="alert alert-danger text-center">
                <strong>{{ getVar('banned_warning', 'lang') }}</strong>
                {{ getVar('banned_warning2', 'lang') }}: {{ reason|raw }}<br />
                {{ getVar('banned_warning3', 'lang') }}: {{ banlift|raw }}<br />
            </div>
            <br />
            {% endif %}

            {% if getVar('boardclosed', 'set') == 1 and getVar('canviewboardclosed', 'group') == 1 %}
            <div class="alert alert-danger text-center"><strong>{{ getVar('bbclosed_warning', 'lang') }}</strong></div>
            {% endif %}

            {% if getVar('showUnreadReports', 'var') == true %}
            <div class="alert alert-danger text-center"><a href="{{ bburl }}/modcp/reports">{{ getVar('unread_reports', 'lang') }}</a></div>
            {% endif %}

            {% if getVar('showPendingJoinRequests', 'var') == true %}
            <div class="alert alert-danger text-center"><a href="{{ bburl }}/usercp/usergroups">{{ getVar('pending_joinrequests', 'lang') }}</a></div>
            {% endif %}

            {% if getVar('showAwaitingUsers', 'var') == true %}
            <div class="alert alert-danger text-center">{{ getVar('awaiting_message', 'var')|raw }}</div>
            {% endif %}

            {{ navigation|raw }}
        </div>
    </div><!-- /.forum container -->