{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}

        <script type="text/javascript">
            <!--
            lang.no_new_posts = "{{ getVar('no_new_posts', 'lang') }}";
            lang.click_mark_read = "{{ getVar('click_mark_read', 'lang') }}";
            // -->
        </script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% for cat in forums %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="expcolimage">
                    <span id="cat_{{ cat.forum.fid }}_img" class="expander collapse{{ cat.expcolimage }}" alt="[-]" title="[-]" /></span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <h3 class="panel-title">
                            <a href="{{ cat.forum_url|raw }}">{{ cat.forum.name }}</a>
                            <small>{{ cat.forum.description }}</small>
                        </h3>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        <span class="hidden-xs hidden-sm">{{ getVar('forumbit_threads', 'lang') }}</span>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">
                        <span class="hidden-xs hidden-sm">{{ getVar('forumbit_posts', 'lang') }}</span>
                    </div>
                    <div class="hidden-xs col-sm-2 text-center text-nowrap">
                        <span class="hidden-xs hidden-sm">{{ getVar('forumbit_lastpost', 'lang') }}</span>
                    </div>
                </div>
            </div>
            <div class="list-group" style="{{ cat.expdisplay }}" id="cat_{{ cat.forum.fid }}_e">
            {% for row in cat.forum_forums %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7">
                            <div class="media">
                                <div class="media-left">
                                    <span class="forum_status forum_{{ row.lightbulb.folder }} ajax_mark_read" title="{{ row.lightbulb.altonoff }}" id="mark_read_{{ row.forum.fid }}"></span>
                                </div>
                                <div class="media-body">
                                    <strong><a href="{{ row.forum_url }}">{{ row.forum.name }}</a></strong>
                                    {{ row.forum_viewers_text }}<div class="hidden-xs small">{{ row.forum.description|raw }}{{ row.modlist|raw }}{{ row.subforums|raw }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap">
                            {{ row.threads }}{{ row.unapproved.unapproved_threads }}
                        </div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap">
                            {{ row.posts }}{{ row.unapproved.unapproved_posts }}
                        </div>
                        <div class="hidden-xs col-sm-2">
                        {{ row.lastpost|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <br />
    {% endfor %}

    {% if getVar('showBoardStats', 'var') == true %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="expcolimage">
                    <span id="boardstats_img" class="expander collapse{{ collapsedimg.boardstats }}" alt="[-]" title="[-]" /></span>
                </div>
                <h3 class="panel-title">{{ getVar('boardstats', 'lang') }}</h3>
            </div>

            <div class="panel-body row" style="{{ collapsed.boardstats_e|raw }}" id="boardstats_e">
                {% if getVar('showWhosOnline', 'var') == true %}
                <div class="col-xs-12 col-md-12">
                    <h4>{{ getVar('whos_online', 'lang') }}
                    <span class="smalltext"> [<a href="{{ bburl }}/online">{{ getVar('complete_list', 'lang') }}</a>]</span>
                    </h4>
                    <span class="smalltext">{{ getVar('online_note', 'lang') }}<br />{{ onlinemembers|raw }}</span>
                </div>
                {% endif %}

                {% if getVar('showBirthDays', 'var') == true %}
                <div class="col-xs-12 col-md-12">
                    <h4>{{ getVar('todays_birthdays', 'lang') }}
                        <span class="smalltext">{{ bdays|raw }}</span>
                    </h4>
                </div>
                {% endif %}

                {% if getVar('showindexstats', 'set') != 0 %}
                <div class="col-xs-12 col-md-12">
                    <h4>{{ getVar('boardstats', 'lang') }}</h4>
                    <span class="smalltext">
                        {{ getVar('stats_posts_threads', 'lang') }}<br />
                        {{ getVar('stats_numusers', 'lang') }}<br />
                        {{ getVar('stats_newestuser', 'lang') }}<br />
                        {{ getVar('stats_mostonline', 'lang') }}
                    </span>
                </div>
                {% endif %}
            </div>
            <div class="panel-footer small">
                <ul class="list-inline text-right">
                    {% if getVar('uid', 'user') > 0 %}
                    <li><a href="{{ bburl }}/logout?logoutkey={{ getVar('logoutkey', 'user') }}">{{ getVar('index_logout', 'lang') }}</a></li> |
                    {% endif %}
                    <li><a href="{{ bburl }}/misc/markread?{{ post_code_string|raw }}">{{ getVar('markread', 'lang') }}</a></li> |
                    <li><a href="{{ bburl }}/showteam">{{ getVar('forumteam', 'lang') }}</a></li>
                    {% if getVar('statsenabled', 'set') != 0 %}
                     |	<li><a href="{{ bburl }}/stats">{{ getVar('forumstats', 'lang') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <br />
    {% endif %}

    <div class="container">
        <dl class="forum_legend smalltext">
            <dt><span class="forum_status forum_on" title="{{ getVar('new_posts', 'lang') }}"></span></dt>
            <dd>{{ getVar('new_posts', 'lang') }}</dd>

            <dt><span class="forum_status forum_off" title="{{ getVar('no_new_posts', 'lang') }}"></span></dt>
            <dd>{{ getVar('no_new_posts', 'lang') }}</dd>

            <dt><span class="forum_status forum_offlock" title="{{ getVar('forum_locked', 'lang') }}"></span></dt>
            <dd>{{ getVar('forum_locked', 'lang') }}</dd>

            <dt><span class="forum_status forum_offlink" title="{{ getVar('forum_redirect', 'lang') }}"></span></dt>
            <dd>{{ getVar('forum_redirect', 'lang') }}</dd>
        </dl>
    </div>
    <br class="clear" />

    {% include '@forum/footer.html.twig' %}

{% endblock content %}
