{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('members_of', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {% if getVar('showJoinRequests', 'var') == true %}
        <p>
            <strong><a href="{{ bburl }}/managegroup?action=joinrequests&gid={{ gid }}">{{ getVar('pending_requests', 'lang') }}</a></strong><br />
            {{ getVar('num_requests_pending', 'lang') }}
        </p>
        {% endif %}
        <p>{{ usergrouptype|raw }}</p>

        {% if leaders is not empty %}
        <p>{{ getVar('group_leaders', 'lang') }}: {{ leaders|raw }}</p>
        {% endif %}

        <form class="panel panel-primary" method="post" action="{{ bburl }}/managegroup">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_manageusers" />
            <input type="hidden" name="gid" value="{{ gid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('members_of', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-5 col-sm-5">{{ getVar('user_name', 'lang') }}</div>
                        <div class="col-xs-3 col-sm-3">{{ getVar('contact', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('reg_date', 'lang') }}</div>
                        <div class="col-xs-1 col-sm-1">{{ getVar('post_count', 'lang') }}</div>
                        <div class="col-xs-1 col-sm-1"></div>
                    </div>
                </div>
                {% if users is not empty %}
                    {% for row in users %}
                    <div class="list-group-item {{ row.altbg }}">
                        <div class="row">
                            <div class="col-xs-5 col-sm-5">{{ row.profilelink|raw }} {{ row.leader }}</div>
                            <div class="col-xs-3 col-sm-3">
                                <span class="postbit_buttons">{{ row.email|raw }}</span>
                                <span class="postbit_buttons">{{ row.sendpm|raw }}</span>
                            </div>
                            <div class="col-xs-2 col-sm-2">{{ row.regdate|raw }}</div>
                            <div class="col-xs-1 col-sm-1">{{ row.postnum|raw  }}</div>
                            <div class="col-xs-1 col-sm-1">{{ row.checkbox|raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 text-center">{{ getVar('no_users', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>

            {{ multipage|raw }}

            {% if getVar('showMangeUsers', 'var') == true %}
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('remove_selected', 'lang') }}" />
            </div>
            {% endif %}
        </form>

        {% if getVar('showMangeUsers', 'var') == true %}
        <form class="panel panel-primary" method="post" action="{{ bburl }}/managegroup">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_add" />
            <input type="hidden" name="gid" value="{{ gid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('add_member', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <input type="text" id="username" class="textbox" name="username" size="40" maxlength="{{ getVar('maxnamelength', 'set') }}" style="width: 210px" />
                        </div>
                    </div>
                </div>
            </div>

            <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
            <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
            <script type="text/javascript">
                <!--
                if(use_xmlhttprequest == "1")
                {
                    MyBB.select2();
                    $("#username").select2({
                        placeholder: "{{ getVar('search_user', 'lang') }}",
                        minimumInputLength: 2,
                        multiple: false,
                        ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                            url: rootpath + "/xmlhttp?action=get_users",
                            dataType: 'json',
                            data: function (term, page) {
                                return {
                                    query: term, // search term
                                };
                            },
                            results: function (data, page) { // parse the results into the format expected by Select2.
                                // since we are using custom formatting functions we do not need to alter remote JSON data
                                return {results: data};
                            }
                        },
                        initSelection: function(element, callback) {
                            var value = $(element).val();
                            if (value !== "") {
                                callback({
                                    id: value,
                                    text: value
                                });
                            }
                        },
                    });
                }
                // -->
            </script>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('add_member_submit', 'lang') }}" />
            </div>
        </form>
        {% endif %}

        {% if getVar('showInvite', 'var') == true %}
        <form class="panel panel-primary" method="post" action="{{ bburl }}/managegroup">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_invite" />
            <input type="hidden" name="gid" value="{{ gid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('invite_member', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <input type="text" id="inviteusername" class="form-control" name="inviteusername" size="40" maxlength="{{ getVar('maxnamelength', 'set') }}" style="width: 210px" />
                        </div>
                    </div>
                </div>
            </div>

            <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
            <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
            <script type="text/javascript">
                <!--
                if(use_xmlhttprequest == "1")
                {
                    MyBB.select2();
                    $("#inviteusername").select2({
                        placeholder: "{{ getVar('search_user', 'lang') }}",
                        minimumInputLength: 2,
                        multiple: false,
                        ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                            url: rootpath + "/xmlhttp?action=get_users",
                            dataType: 'json',
                            data: function (term, page) {
                                return {
                                    query: term, // search term
                                };
                            },
                            results: function (data, page) { // parse the results into the format expected by Select2.
                                // since we are using custom formatting functions we do not need to alter remote JSON data
                                return {results: data};
                            }
                        },
                        initSelection: function(element, callback) {
                            var value = $(element).val();
                            if (value !== "") {
                                callback({
                                    id: value,
                                    text: value
                                });
                            }
                        },
                    });
                }
                // -->
            </script>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('invite_member_submit', 'lang') }}" />
            </div>
        </form>
        {% endif %}
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}