{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('join_requests', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form class="panel panel-primary" method="post" action="{{ bburl }}/managegroup">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_joinrequests" />
            <input type="hidden" name="gid" value="{{ gid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('join_requests', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('user_name', 'lang') }}</div>
                        <div class="col-xs-5 col-sm-5">{{ getVar('reason', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('accept', 'lang') }}</div>
                        <div class="col-xs-1 col-sm-1">{{ getVar('ignore', 'lang') }}</div>
                        <div class="col-xs-1 col-sm-1">{{ getVar('decline', 'lang') }}</div>
                    </div>
                </div>
                {% for row in users %}
                <div class="list-group-item {{ row.altbg }}">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ row.profilelink|raw }}</div>
                        <div class="col-xs-5 col-sm-5">{{ row.reason }}</div>
                        <div class="col-xs-2 col-sm-2"><input type="radio" class="radio" name="request[{{ row.uid }}]" value="accept" /></div>
                        <div class="col-xs-1 col-sm-1"><input type="radio" class="radio" name="request[{{ row.uid }}]" value="ignore" checked="checked" /></div>
                        <div class="col-xs-1 col-sm-1"><input type="radio" class="radio" name="request[{{ row.uid }}]" value="decline" /></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('action_requests', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}