{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('member_list', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% set usereferrals = getVar('usereferrals', 'set') %}

    <div class="container">
        {{ multipage|raw }}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="overflow: hidden">{{ getVar('member_list', 'lang') }}</h3>
                <small class="pull-right">
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('a', 'lang') }}" style="padding: 5px;">{{ getVar('a', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('b', 'lang') }}" style="padding: 5px;">{{ getVar('b', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('c', 'lang') }}" style="padding: 5px;">{{ getVar('c', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('d', 'lang') }}" style="padding: 5px;">{{ getVar('d', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('e', 'lang') }}" style="padding: 5px;">{{ getVar('e', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('f', 'lang') }}" style="padding: 5px;">{{ getVar('f', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('g', 'lang') }}" style="padding: 5px;">{{ getVar('g', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('h', 'lang') }}" style="padding: 5px;">{{ getVar('h', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('i', 'lang') }}" style="padding: 5px;">{{ getVar('i', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('j', 'lang') }}" style="padding: 5px;">{{ getVar('j', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('k', 'lang') }}" style="padding: 5px;">{{ getVar('k', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('l', 'lang') }}" style="padding: 5px;">{{ getVar('l', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('m', 'lang') }}" style="padding: 5px;">{{ getVar('m', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('n', 'lang') }}" style="padding: 5px;">{{ getVar('n', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('o', 'lang') }}" style="padding: 5px;">{{ getVar('o', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('p', 'lang') }}" style="padding: 5px;">{{ getVar('p', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('q', 'lang') }}" style="padding: 5px;">{{ getVar('q', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('r', 'lang') }}" style="padding: 5px;">{{ getVar('r', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('s', 'lang') }}" style="padding: 5px;">{{ getVar('s', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('t', 'lang') }}" style="padding: 5px;">{{ getVar('t', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('u', 'lang') }}" style="padding: 5px;">{{ getVar('u', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('v', 'lang') }}" style="padding: 5px;">{{ getVar('v', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('w', 'lang') }}" style="padding: 5px;">{{ getVar('w', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('x', 'lang') }}" style="padding: 5px;">{{ getVar('x', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('y', 'lang') }}" style="padding: 5px;">{{ getVar('y', 'lang') }}</a>
                    <a href="{{ bburl }}/memberlist?username_match=begins&username={{ getVar('z', 'lang') }}" style="padding: 5px;">{{ getVar('z', 'lang') }}</a>
                </small>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-9 col-sm-5"><a href="{{ sorturl|raw }}&sort=username&order=ascending">{{ getVar('username', 'lang') }}</a> {{ orderarrow.username|raw }}</div>
                        <div class="hidden-xs col-sm-2"><a href="{{ sorturl|raw }}&sort=regdate&order=ascending">{{ getVar('joined', 'lang') }}</a> {{ orderarrow.regdate|raw }}</div>
                        <div class="hidden-xs col-sm-2"><a href="{{ sorturl|raw }}&sort=lastvisit&order=descending">{{ getVar('lastvisit', 'lang') }}</a> {{ orderarrow.lastvisit|raw }}</div>
                        <div class="hidden-xs col-sm-3 text-center text-nowrap">
                            <a href="{{ sorturl|raw }}&sort=postnum&order=descending"><i class="fa fa-comment"></i><span class="sr-only">{{ getVar('posts', 'lang') }}</span></a> {{ orderarrow.postnum|raw }} &nbsp;/&nbsp;
                            <a href="{{ sorturl|raw }}&sort=threadnum&order=descending"><i class="fa fa-comments"></i><span class="sr-only">{{ getVar('threads', 'lang') }}</span></a> {{ orderarrow.threadnum|raw }}
                        {% if usereferrals == 1 %}
                            &nbsp;/&nbsp; <a href="{{ sorturl|raw }}&sort=referrals&order=descending"><i class="fa fa-user-plus"></i><span class="sr-only">{{ getVar('referrals', 'lang') }}</span></a> {{ orderarrow.referrals|raw }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if users is not empty %}
                    {% for row in users %}
                <div class="list-group-item {{ row.alt_bg }}">
                    <div class="row">
                        <div class="col-xs-9 col-sm-5">
                            <div class="media">
                                <div class="media-left">
                                    <div class="img-circle hidden-xs" style="width:70px; height:70px; background:url({{ row.user.avatar|raw }}) no-repeat center center; background-size:cover;"></div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ row.user.profilelink|raw }}</h4>
                                    <small>
                                        {{ row.user.usertitle }}<br />
                                        {{ row.groupimage|raw }}
                                        {{ row.user.userstars|raw }}
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="hidden-xs col-sm-2">{{ row.user.regdate }}</div>
                        <div class="hidden-xs col-sm-2">{{ row.user.lastvisit }}</div>
                        <div class="hidden-xs col-sm-3 text-nowrap">
                            <a href="{{ bburl }}/search?action=finduser&uid={{ row.user.uid }}"> <i class="fa fa-comment"></i> {{ getVar('posts', 'lang') }} <strong>{{ row.user.postnum }}</strong></a><br />
                            <a href="{{ bburl }}/search?action=finduserthreads&uid={{ row.user.uid }}"><i class="fa fa-comments"></i> {{ getVar('threads', 'lang') }} <strong>{{ row.user.threadnum }}</strong></a>
                    {% if usereferrals == 1 %}
                            <br /><i class="fa fa-user-plus"></i> {{ getVar('referrals', 'lang') }} <strong>{{ row.user.referrals|raw }}</strong>
                    {% endif %}
                        </div>
                    </div>
                </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item text-center">{{ getVar('error_no_members', 'lang') }}</div>
                {% endif %}
            </div>
            <div class="panel-footer small">
                <form class="form-inline" method="post" action="{{ bburl }}/memberlist">
                    <div class="form-group">
                        <label class="sr-only">{{ getVar('contains', 'lang') }}</label>
                        <input type="text" class="textbox" name="username" id="username" value="{{ search_username }}" />
                        <label class="sr-only">{{ getVar('contains', 'lang') }}</label>
                        <input type="text" class="form-control input-sm" name="website" id="website" value="{{ search_website }}" />
                        <label class="sr-only">{{ getVar('sort_by', 'lang') }}</label>
                        <select class="form-control input-sm" name="sort" id="sort">
                            <option value="username" {{ sort_selected.username|raw }}>{{ getVar('sort_by_username', 'lang') }}</option>
                            <option value="regdate" {{ sort_selected.regdate|raw }}>{{ getVar('sort_by_regdate', 'lang') }}</option>
                            <option value="lastvisit" {{ sort_selected.lastvisit|raw }}>{{ getVar('sort_by_lastvisit', 'lang') }}</option>
                            <option value="postnum" {{ sort_selected.postnum|raw }}>{{ getVar('sort_by_posts', 'lang') }}</option>
                            <option value="threadnum" {{ sort_selected.threadnum|raw }}>{{ getVar('sort_by_threads', 'lang') }}</option>
                            <option value="referrals" {{ sort_selected.referrals|raw }}>{{ getVar('sort_by_referrals', 'lang') }}</option>
                        </select>
                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                            <label class="btn btn-default"><input type="radio" name="order" id="order_asc" value="ascending" {{ order_check.ascending|raw }} /><i class="fa fa-sort-amount-asc"></i>&nbsp;<span class="sr-only">{{ getVar('order_asc', 'lang') }}</span></label>&nbsp;
                            <label class="btn btn-default"><input type="radio" name="order" id="order_desc" value="descending" {{ order_check.descending|raw }} /><i class="fa fa-sort-amount-desc"></i>&nbsp;<span class="sr-only">{{ getVar('order_desc', 'lang') }}</span></label>&nbsp;
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button type="submit" class="btn btn-primary" name="submit" value="1"><i class="fa fa-search"></i> {{ getVar('search', 'lang') }}</button>
                            <a href="{{ bburl }}/memberlist?action=search" class="btn btn-default"><i class="fa fa-sliders"></i>&nbsp;<span class="sr-only">{{ getVar('advanced_search', 'lang') }}</span></a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div id="container">
            <a class="btn btn-primary pull-right" href="{{ bburl }}/showteam">{{ getVar('forumteam', 'lang') }}</a>
        </div>

        {{ multipage|raw }}
    </div>

    <br class="clear" />
    <br />

    {% include '@forum/footer.html.twig' %}

    <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
    <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    <script type="text/javascript">
        <!--
        if(use_xmlhttprequest == "1")
        {
            MyBB.select2();
            $("#username").select2({
                placeholder: "{{ getVar('search_user', 'lang') }}",
                minimumInputLength: 2,
                multiple: false,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: rootpath + "/xmlhttp?action=get_users",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter remote JSON data
                        return {results: data};
                    }
                },
                initSelection: function(element, callback) {
                    var value = $(element).val();
                    if (value !== "") {
                        callback({
                            id: value,
                            text: value
                        });
                    }
                },
                // Allow the user entered text to be selected as well
                createSearchChoice:function(term, data) {
                    if ( $(data).filter( function() {
                                return this.text.localeCompare(term)===0;
                            }).length===0) {
                        return {id:term, text:term};
                    }
                },
            });

            $('[for=username]').click(function(){
                $("#username").select2('open');
                return false;
            });
        }
        // -->
    </script>
{% endblock content %}