{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('search_member_list', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form method="post" action="{{ bburl }}/memberlist">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('search_member_list', 'lang') }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">{{ getVar('search_criteria', 'lang') }}</div>
                        </div>
                    </div>
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10 form-inline">
                                <select class="form-control" name="username_match">
                                    <option value="begins">{{ getVar('begins_with', 'lang') }}</option>
                                    <option value="contains">{{ getVar('username_contains', 'lang') }}</option>
                                </select>
                                &nbsp;
                                <input type="text" class="textbox" name="username" id="username" />
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item trow1">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('search_website', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="form-control" name="website" id="website" /></div>
                        </div>
                    </div>
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('search_aim', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="form-control" name="aim" id="aim" /></div>
                        </div>
                    </div>
                    <div class="list-group-item trow1">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('search_skype', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="form-control" name="skype" id="skype" /></div>
                        </div>
                    </div>
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('search_google', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="form-control" name="google" id="google" /></div>
                        </div>
                    </div>
                    <div class="list-group-item trow1">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('search_yahoo', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="form-control" name="yahoo" id="yahoo" /></div>
                        </div>
                    </div>
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('search_icq', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="form-control" name="icq" id="icq" /></div>
                        </div>
                    </div>
                    <div class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">{{ getVar('search_options', 'lang') }}</div>
                        </div>
                    </div>
                    <div class="list-group-item trow1">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('sort_by', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10 form-inline">
                                <select class="form-control" name="sort" id="sort">
                                    <option value="username">{{ getVar('sort_by_username', 'lang') }}</option>
                                    <option value="regdate">{{ getVar('sort_by_regdate', 'lang') }}</option>
                                    <option value="lastvisit">{{ getVar('sort_by_lastvisit', 'lang') }}</option>
                                    <option value="postnum">{{ getVar('sort_by_posts', 'lang') }}</option>
                                    <option value="threadnum">{{ getVar('sort_by_threads', 'lang') }}</option>
                                    <option value="referrals">{{ getVar('sort_by_referrals', 'lang') }}</option>
                                </select><br />
                                <input type="radio" class="radio" name="order" id="order_asc" value="asc" /> {{ getVar('order_asc', 'lang') }}<br />
                                <input type="radio" class="radio" name="order" id="order_desc" value="desc" checked="checked" /> {{ getVar('order_desc', 'lang') }}
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('per_page', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="number" class="form-control" size="4" name="perpage" id="perpage" value="15" /></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('search', 'lang') }}" />
                </div>
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}

    <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
    <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    <script type="text/javascript">
        <!--
        if(use_xmlhttprequest == "1")
        {
            MyBB.select2();
            $("#username").select2({
                placeholder: "{{ getVar('search_user', 'lang') }}",
                minimumInputLength: 2,
                multiple: false,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: rootpath + "/xmlhttp?action=get_users",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter remote JSON data
                        return {results: data};
                    }
                },
                initSelection: function(element, callback) {
                    var value = $(element).val();
                    if (value !== "") {
                        callback({
                            id: value,
                            text: value
                        });
                    }
                },
                // Allow the user entered text to be selected as well
                createSearchChoice:function(term, data) {
                    if ( $(data).filter( function() {
                                return this.text.localeCompare(term)===0;
                            }).length===0) {
                        return {id:term, text:term};
                    }
                },
            });

            $('[for=username]').click(function(){
                $("#username").select2('open');
                return false;
            });
        }
        // -->
    </script>
{% endblock content %}