<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-fw fa-comments"></i>
        Forum
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ bburl }}"><i class="fa fa-home fa-fw"></i> &nbsp; {{ getVar('forumjump_home', 'lang') }}</a></li>
        {% if getVar('portal', 'set') == 1 %}
        <li><a href="{{ bburl }}/portal"><i class="fa fa-bell fa-fw"></i> &nbsp; {{ getVar('toplinks_portal', 'lang') }}</a></li>
        {% endif %}
        {% if getVar('cansearch', 'group') == 1 %}
        <li><a href="{{ bburl }}/search"><i class="fa fa-search fa-fw"></i> &nbsp; {{ getVar('toplinks_search', 'lang') }}</a></li>
        {% endif %}
        {% if getVar('enablememberlist', 'set') == 1 and getVar('canviewmemberlist', 'group') == 1 %}
        <li><a href="{{ bburl }}/memberlist"><i class="fa fa-group fa-fw"></i> &nbsp; {{ getVar('toplinks_memberlist', 'lang') }}</a></li>
        {% endif %}
        {% if getVar('enablecalendar', 'set') == 1 and getVar('canviewcalendar', 'group') == 1 %}
        <li><a href="{{ bburl }}/calendar"><i class="fa fa-calendar fa-fw"></i> &nbsp; {{ getVar('toplinks_calendar', 'lang') }}</a></li>
        {% endif %}
        <li><a href="{{ bburl }}/misc/help"><i class="fa fa-question-circle-o fa-fw"></i> &nbsp; {{ getVar('toplinks_help', 'lang') }}</a></li>
    </ul>
</li>
