<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ header|raw }}</h3>
            </div>
            <div class="panel-body trow1" style="padding: 20px">
                <blockquote>{{ message|raw }}</blockquote>
            </div>
        </div>
    </div>
</div>