{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('post_reply_to', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript" src="{{ asset_url }}/jscripts/post.js?ver=1800"></script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {% if postbit is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('post_preview', 'lang') }}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    {{ postbit|raw }}
                </li>
            </ul>
        </div>
        <br />
        {% endif %}

        {{ reply_errors|raw }}

        {% if moderation_text is not empty %}
        <div class="pm_alert">{{ moderation_text|raw }}</div>
        {% endif %}
        <form action="{{ bburl }}/newreply?tid={{ tid }}&processed=1" method="post" enctype="multipart/form-data" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('post_new_reply', 'lang') }}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info"><h4 class="panel-title">{{ getVar('reply_to', 'lang') }}</h4></li>
                </ul>
                <ul class="list-group">
                    {% if getVar('uid', 'user') != 0 %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10">{{ getVar('username', 'user') }} <span class="smalltext">[<strong><a href="{{ bburl }}/member/logout?logoutkey={{ getVar('logoutkey', 'user') }}">{{ getVar('change_user', 'lang') }}</a></strong>]</div>
                        </div>
                    </li>
                    {% else %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="textbox" name="username" size="30" value="{{ getVar('username', 'user') }}" /></div>
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('post_subject', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="textbox" name="subject" size="40" maxlength="85" value="{{ subject|raw }}" tabindex="1" /></div>
                        </div>
                    </li>
                    <li class="list-group-item"><!-- post icons -->
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                {{ getVar('post_icon', 'lang') }}
                                <small>
                                    <input type="radio" class="radio" name="icon" value="-1" {{ posticons.no_icons_checked|raw }} /> {{ getVar('no_post_icon', 'lang') }}
                                </small>
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                {% for row in posticons.iconlist %}
                                    <label class="posticons_label">
                                        <input type="radio" name="icon" value="{{ row.dbicon.iid }}" {{ row.checked|raw }} /><img src="{{ row.dbicon.path }}" alt="{{ row.dbicon.name }}" title="{{ row.dbicon.name }}" /></label>
                                {% endfor %}
                            </div>
                        </div>
                    </li><!-- /.post icons -->
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                <strong>{{ getVar('your_message', 'lang') }}</strong>
                                <br />
                                {% if getVar('smilieinserter', 'var') == true %}
                                    {% include '@forum/Misc/clickablesmilies.html.twig' %}
                                {% endif %}
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <textarea id="message" name="message" rows="20" cols="70" tabindex="2" >{{ message|raw }}</textarea>
                                {% if getVar('codebuttons', 'var') == true %}
                                    {% include '@forum/Misc/codebuttons.html.twig' %}
                                {% endif %}
                                {% if multiquote is not empty %}
                                    <div id="multiquote_unloaded"><span class="smalltext">{{ multiquote.text }} <a href="{{ bburl }}/newreply?tid={{ tid }}" onclick="return Post.loadMultiQuoted();">{{ multiquote.quote }}</a>, <a href="javascript:Post.clearMultiQuoted();">{{ multiquote.deselect }}</a></span></div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                <strong>{{ getVar('post_options', 'lang') }}</strong>
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <small class="form-inline">
                                    <label><input type="checkbox" class="checkbox" name="postoptions[signature]" value="1" tabindex="6"{{ postoptionschecked.signature|raw }} /> {{ getVar('options_sig', 'lang') }}</label>
                                    {% if getVar('showDisableSmilies', 'var') == true %}
                                    <br />
                                    <label><input type="checkbox" class="checkbox" name="postoptions[disablesmilies]" value="1" tabindex="9"{{ postoptionschecked.disablesmilies|raw }} /> {{ getVar('options_disablesmilies', 'lang') }}</label>
                                    {% else %}
                                    <input type="hidden" name="postoptions[disablesmilies]" value="no" />
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </li>
                    {% if getVar('showModOptions', 'var') == true %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                <strong>{{ getVar('mod_options', 'lang') }}</strong>
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <small class="form-inline">
                                    <label><input type="checkbox" class="checkbox" name="modoptions[closethread]" value="1"{{ closecheck|raw }} />&nbsp;{{ getVar('close_thread', 'lang') }}</label><br />
                                    <label><input type="checkbox" class="checkbox" name="modoptions[stickthread]" value="1"{{ stickycheck|raw }} />&nbsp;{{ getVar('stick_thread', 'lang') }}</label>
                                </small>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                <strong>{{ getVar('thread_subscription_method', 'lang') }}</strong>
                                <br />
                                <span class="smalltext">{{ getVar('thread_subscription_method_desc', 'lang') }}</span>
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <label><input type="radio" name="postoptions[subscriptionmethod]" {{ postoptions.dont|raw }} value="" style="vertical-align: middle;" /> {{ getVar('no_subscribe', 'lang') }}</label><br />
                                <label><input type="radio" name="postoptions[subscriptionmethod]" {{ postoptions.none|raw }} value="none" style="vertical-align: middle;" /> {{ getVar('no_subscribe_notification', 'lang') }}</label><br />
                                <label><input type="radio" name="postoptions[subscriptionmethod]" {{ postoptions.email|raw }} value="email" style="vertical-align: middle;" /> {{ getVar('instant_email_subscribe', 'lang') }}</label><br />
                                <label><input type="radio" name="postoptions[subscriptionmethod]" {{ postoptions.pm|raw }} value="pm" style="vertical-align: middle;" /> {{ getVar('instant_pm_subscribe', 'lang') }}</label><br />
                            </div>
                        </div>
                    </li>
                    {{ captcha|raw }}
                </ul>
            </div>
            {% if getVar('showAttachBox', 'var') == true %}
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('attachments', 'lang') }}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        {{ getVar('attach_quota', 'lang') }} <a class="btn btn-info btn-xs" href="{{ bburl }}/usercp/attachments">{{ getVar('view_attachments', 'lang') }}</a>
                    </li>
                    {% if (getVar('attach_add', 'var') == true) or (getVar('attach_update', 'var') == true) %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-7 col-sm-7">
                                <img src="{{ getVar('imgdir', 'theme') }}/paperclip.png" alt="" /> &nbsp;
                                <label class="btn btn-info" for="my-file-selector">
                                    <input name="attachment" id="my-file-selector" type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
                                    {{ getVar('new_attachment', 'lang') }}
                                </label>
                                <span class='label label-info' id="upload-file-info"></span>
                            </div>
                            <div class="col-xs-5 col-sm-5">
                                {% if getVar('attach_update', 'var') == true %}
                                <input type="submit" class="btn btn-info" name="updateattachment" value="{{ getVar('update_attachment', 'lang') }}" tabindex="12" />
                                {% endif %}

                                {% if getVar('attach_add', 'var') == true %}
                                <input type="submit" class="btn btn-info" name="newattachment" value="{{ getVar('add_attachment', 'lang') }}" tabindex="13" />
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endif %}

                    {% include '@forum/Misc/attachments.html.twig' %}

                </ul>
            </div>
            {% endif %}
            <br />
            <div align="center">
                <input type="submit" class="btn btn-info" name="submit" value="{{ getVar('post_reply', 'lang') }}" tabindex="3" accesskey="s" />
                <input type="submit" class="btn btn-info" name="previewpost" value="{{ getVar('preview_post', 'lang') }}" tabindex="4" />
                {% if getVar('uid', 'user') > 0 %}
                &nbsp;<input type="submit" class="btn btn-info" name="savedraft" value="{{ getVar('save_draft', 'lang') }}" />
                {% endif %}
            </div>
            <input type="hidden" name="action" value="do_newreply" />
            <input type="hidden" name="replyto" value="{{ replyto }}" />
            <input type="hidden" name="posthash" value="{{ posthash }}" />
            <input type="hidden" name="attachmentaid" value="" />
            <input type="hidden" name="attachmentact" value="" />
            <input type="hidden" name="quoted_ids" value="{{ quoted_ids }}" />
            <input type="hidden" name="tid" value="{{ tid }}" />
            {{ editdraftpid|raw }}
        </form>

        {% if getVar('rulesType', 'var') == 3 %}
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ foruminfo.rulestitle }}</h3>
            </div>
            <div class="panel-body">
                <small>{{ foruminfo.rules }}</small>
            </div>
        </div>
        <br />
        {% elseif getVar('rulesType', 'var') == 2 %}
        <br />
        <div class="panel panel-default">
            <div class="panel-body"><strong><a href="{{ bburl }}/misc/rules?fid={{ fid }}">{{ foruminfo.rulestitle }}</a></strong></div>
        </div>
        <br />
        {% endif %}

        {% if getVar('threadreview', 'set') !=0 %}
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="expcolimage">
                    <span id="quickreply_img" class="expander collapse" alt="[-]" title="[-]" /></span>
                </div>
                <h3 class="panel-title">{{ getVar('thread_review', 'lang') }}</h3>
            </div>
            <div id="quickreply_e" class="list-group" style="">
            {% for row in reviewbits %}
                <div class="list-group-item list-group-item-info">
                    <small><strong>{{ getVar('posted_by', 'lang') }} {{ row.username }} - {{ row.reviewpostdate }}</strong></small>
                </div>
                <div class="list-group-item {{ row.altbg }} scaleimages">
                    {{ row.message|raw }}
                </div>
            {% endfor %}

            {% if getVar('showReviewMore', 'var') == true %}
                <div class="list-group-item active text-center">
                    <span class="label label-info">{{ getVar('thread_review_more', 'lang') }}</span>
                </div>
            {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

    {% include '@forum/footer.html.twig' %}

    <script type="text/javascript">
        $(".author_avatar img").on("error", function () {
            $(this).unbind("error").closest('.author_avatar').remove();
        });
    </script>
{% endblock content %}