{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('users_online', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        {{ refresh|raw }}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">

        {{ multipage|raw }}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('users_online', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-11 col-sm-5">
                            <a href="{{ bburl }}/online?sortby=username">{{ getVar('on_username', 'lang') }}</a>
                        </div>
                        <div class="hidden-xs col-sm-2 text-nowrap">
                            <a href="{{ bburl }}/online?sortby=time">{{ getVar('time', 'lang') }}</a>
                        </div>
                        <div class="hidden-xs col-sm-5 text-nowrap">
                            <a href="{{ bburl }}/online?sortby=location">{{ getVar('location', 'lang') }}</a>
                        </div>
                    </div>
                </div>
                {% for row in online_rows %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-11 col-sm-5">{{ row.online_name|raw }}{{ row.user_ip|raw }}</div>
                        <div class="hidden-xs col-sm-2 text-nowrap">{{ row.online_time }}</div>
                        <div class="hidden-xs col-sm-5 text-nowrap">{{ row.location|raw }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="panel-footer text-right">
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-info btn-xs" href="{{ bburl }}/online?action=today">{{ getVar('online_today', 'lang') }}</a>
                    </li>
                    <li>
                        <a class="btn btn-info btn-xs" href="{{ bburl }}/online">{{ getVar('refresh_page', 'lang') }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <br />
        {{ multipage|raw }}
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}