{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('online_today', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">

        {{ multipage|raw }}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('users_online', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-11 col-sm-6">
                            {{ getVar('on_username', 'lang') }}
                        </div>
                        <div class="hidden-xs col-sm-6">
                            {{ getVar('time', 'lang') }}
                        </div>
                    </div>
                </div>
                {% for row in todayrows %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-11 col-sm-6">{{ row.profilelink|raw }}{{ row.invisiblemark|raw }}</div>
                        <div class="hidden-xs col-sm-6">{{ row.onlinetime|raw }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="panel-footer text-right">
                <ul class="list-inline">
                    <li>
                        {{ onlinetoday|raw }}
                    </li>
                </ul>
            </div>
        </div>

        <br />
        {{ multipage|raw }}
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}