{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }}
    {% endblock title %}

    {% block head %}
        <link rel="alternate" type="application/rss+xml" title="{{ getVar('latest_announcements', 'lang') }} (RSS 2.0)" href="{{ bburl }}/syndication?portal=1" />
        <link rel="alternate" type="application/atom+xml" title="{{ getVar('latest_announcements', 'lang') }} (Atom 1.0)" href="{{ bburl }}/syndication?portal=1&type=atom1.0" />
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                {% if getVar('portal_showwelcome', 'set') != 0 %}
                <div class="hidden-xs">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ getVar('welcome', 'lang') }}</h3>
                        </div>
                        {% if getVar('uid', 'user') > 0 %}
                        <div class="panel-body small">
                            <em>{{ getVar('member_welcome_lastvisit', 'lang') }}</em> {{ lastvisit }}<br />
                            {{ getVar('since_then', 'lang') }}<br />
                            <strong>&raquo;</strong> {{ getVar('new_announcements', 'lang') }}<br />
                            <strong>&raquo;</strong> {{ getVar('new_threads', 'lang') }}<br />
                            <strong>&raquo;</strong> {{ getVar('new_posts', 'lang') }}<br /><br />
                        </div>
                        <div class="panel-footer">
                            <a href="{{ bburl }}/search?action=getnew" class="btn btn-primary btn-xs">{{ getVar('view_new', 'lang') }}</a>
                            <a href="{{ bburl }}/search?action=getdaily" class="btn btn-primary btn-xs">{{ getVar('view_todays', 'lang') }}</a>
                        </div>
                        {% else %}
                        <div class="panel-body small">
                            {{ getVar('guest_welcome_registration', 'lang') }}<br />
                            <br />
                            <form method="post" action="{{ bburl }}/member">
                                <input type="hidden" name="action" value="do_login" />
                                <input type="hidden" name="url" value="{{ portal_url|raw }}" />
                                {{ username }}<br />&nbsp;&nbsp;<input type="text" class="textbox" name="username" value="" /><br /><br />
                                {{ getVar('password', 'lang') }}<br />&nbsp;&nbsp;<input type="password" class="textbox" name="password" value="" /><br /><br />
                                <label title="{{ getVar('remember_me_desc', 'lang') }}"><input type="checkbox" class="checkbox" name="remember" value="yes" /> {{ getVar('remember_me', 'lang') }}</label><br /><br />
                                <br />
                                <input type="submit" class="button" name="loginsubmit" value="{{ getVar('login', 'lang') }}" />
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <br />
                {% endif %}

                {% if getVar('portal_showpms', 'set') != 0 %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="{{ bburl }}/private">{{ getVar('private_messages', 'lang') }}</a></h3>
                    </div>
                    <div class="panel-body small">
                        {{ getVar('pms_received_new', 'lang') }}<br /><br />
                        <strong>&raquo; </strong> <strong>{{ messages.pms_unread }}</strong> {{ getVar('pms_unread', 'lang') }}<br />
                        <strong>&raquo; </strong> <strong>{{ messages.pms_total }}</strong> {{ getVar('pms_total', 'lang') }}
                    </div>
                </div>
                <br />
                {% endif %}

                {% if getVar('portal_showsearch', 'set') != 0 %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('search_forums', 'lang') }}</h3>
                    </div>
                    <div class="panel-body small">
                        <form class="form-inline" method="post" action="{{ bburl }}/search">
                            <input type="hidden" name="action" value="do_search" />
                            <input type="hidden" name="postthread" value="1" />
                            <input type="hidden" name="forums" value="all" />
                            <input type="hidden" name="showresults" value="threads" />
                            <div class="form-group">
                                <input type="text" class="form-control input-sm" name="keywords" value="" />
                                <button class="btn btn-primary btn-sm" type="submit" value="1">
                                    <i class="fa fa-search"></i>
                                    {{ getVar('go', 'lang') }}
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ bburl }}/search" class="btn btn-primary btn-xs">{{ getVar('advanced_search', 'lang') }}</a>
                    </div>
                </div>
                <br />
                {% endif %}

                {% if getVar('portal_showstats', 'set') != 0 %}
                <div class="panel panel-primary">
                    <div class="panel-heading" role="button" data-toggle="collapse" href="#portal_stats" aria-expanded="false" aria-controls="portal_stats">
                        <h3 class="panel-title"><i class="fa toggle pull-right"></i>{{ getVar('forum_stats', 'lang') }}</h3>
                    </div>
                    <div id="portal_stats" class="collapse in">
                        <div class="panel-body small">
                            <strong>&raquo; </strong>{{ getVar('num_members', 'lang') }} {{ stats.numusers }}<br />
                            <strong>&raquo; </strong>{{ getVar('latest_member', 'lang') }} {{ newestmember|raw }}<br />
                            <strong>&raquo; </strong>{{ getVar('num_threads', 'lang') }} {{ stats.numthreads }}<br />
                            <strong>&raquo; </strong>{{ getVar('num_posts', 'lang') }} {{ stats.numposts }}<br /><br />
                        </div>
                        <div class="panel-footer">
                            <a href="{{ bburl }}/stats" class="btn btn-primary btn-xs">{{ getVar('full_stats', 'lang') }}</a>
                        </div>
                    </div>
                </div>
                <br />
                {% endif %}

                {% if getVar('portal_showwol', 'set') != 0 and getVar('canviewonline', 'group') != 0 %}
                <div class="panel panel-primary">
                    <div class="panel-heading" role="button" data-toggle="collapse" href="#portal_whosonline" aria-expanded="false" aria-controls="portal_whosonline">
                        <h3 class="panel-title">
                            <i class="fa toggle pull-right"></i>
                            {{ getVar('online', 'lang') }}
                        </h3>
                    </div>
                    <div id="portal_whosonline" class="panel-body collapse in small">
                        {{ getVar('online_users', 'lang') }}<br />
                        <strong>&raquo;</strong> {{ getVar('online_counts', 'lang') }}<br />
                        {{ onlinemembers|raw }}
                    </div>
                </div>
                <br />
                {% endif %}

                {% if threadlist is not empty %}
                <div class="panel panel-primary">
                    <div class="panel-heading" role="button" data-toggle="collapse" href="#portal_latestthreads" aria-expanded="false" aria-controls="portal_latestthreads">
                        <h3 class="panel-title">
                            <i class="fa toggle pull-right"></i>
                            {{ getVar('latest_threads', 'lang') }}
                        </h3>
                    </div>
                    <div id="portal_latestthreads" class="list-group collapse in small">
                    {% for row in threadlist %}
                        <div class="list-group-item {{ row.altbg }}">
                            <strong><a href="{{ row.threadlink|raw }}">{{ row.subject }}</a></strong><br />
                            {{ getVar('forum', 'lang') }} <a href="{{ row.forumlink|raw }}">{{ row.forumname }}</a><br />
                            <a href="{{ row.lastpostlink|raw }}">{{ getVar('latest_threads_lastpost', 'lang') }}</a> {{ row.lastposterlink|raw }}<br />
                            {{ row.lastpostdate }}
                            <i class="fa fa-bar-chart pull-right" data-toggle="tooltip" data-placement="left" data-html="true" title="" data-original-title="{{ getVar('latest_threads_replies', 'lang') }} {{ row.replies }} / {{ getVar('latest_threads_views', 'lang') }} {{ row.views }}"></i>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <br />
                {% endif %}
            </div>

            <div class="col-xs-12 col-sm-9">
                {% if getVar('portal_announcementsfid', 'set') is not empty %}
                    {% for row in announcements %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ row.icon|raw }} &nbsp; <a href="{{ row.threadlink|raw }}">{{ row.subject }}</a></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row small text-right">
                            {{ getVar('posted_by', 'lang') }} {{ row.profilelink|raw }}  - {{ row.anndate }} - {{ getVar('forum', 'lang') }} <a href="{{ row.forumlink|raw }}">{{ row.forumname }}</a> {{ row.numcomments|raw }} &nbsp;
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="img-circle" style="width:100px; height:100px; background: url({{ row.useravatar.image }}) no-repeat center center; background-size: cover;"></div>
                            </div>
                            <div class="media-body scaleimages">
                                <p>
                                    {{ row.message|raw }}
                                </p>
                                {{ row.attachments| raw }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer small text-right">
                        <a href="{{ bburl }}/printthread?tid={{ row.tid }}"><img src="{{ getVar('imgdir', 'theme') }}/printable.png" alt="{{ getVar('print_this_item', 'lang') }}" title="{{ getVar('print_this_item', 'lang') }}" /></a> &nbsp; {{ row.senditem|raw }}
                    </div>
                </div>
                <br />
                    {% endfor %}
                {% endif %}

                {{ multipage|raw }}
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}