<html>
<head>
    <title>{{ thread.threadprefix }} {{ thread.subject }} - {{ getVar('printable_version', 'lang') }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        body { font-family: Verdana, Arial, sans-serif; font-size: 13px; }
        .largetext { font-family: Verdana, Arial, sans-serif; font-size: medium; font-weight: bold; }
    </style>
</head>
<body>
<table width="98%" align="center">
    <tr>
        <td valign="top">
            <a href="{{ bburl }}">
                <img src="{{ getVar('logo', 'theme') }}" alt="{{ getVar('bbname', 'set') }}" title="{{ getVar('bbname', 'set') }}" border="0" />
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <span class="largetext">{{ thread.displaystyle }} <a href="{{ thread.threadlink|raw }}">{{ thread.subject }}</a> - {{ getVar('printable_version', 'lang') }}</span><br />
            <br />
            +- {{ getVar('bbname', 'set') }} (<em>{{ bburl }}</em>)<br />
            {{ breadcrumb|raw }}
            +{{ tdepth }} {{ getVar('thread', 'lang') }} {{ thread.displaystyle }} {{ thread.subject }} (<em>/{{ thread.threadlink|raw }}</em>)<br />
            <br />
            {{ multipage|raw }}
        </td>
    </tr>
    <tr>
        <td>
            <br /><hr size="1" />
            {% for row in postrows %}
            <strong>{{ row.subject }}</strong> - {{ row.profilelink|raw }} -  <strong>{{ row.date }}</strong>
            <br />
            <br />
            {{ row.message|raw }}
            <br />
            <br />
            <hr size="1" />
            {% endfor %}
        </td>
    </tr>
</table>
</body>
</html>