<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
    </div>
    <div class="list-group">
        <div class="list-group-item trow2">
            <div class="row">
                <div class="col-xs-12 col-sm-12">{{ getVar('report_to_mod', 'lang') }}</div>
            </div>
        </div>
        <div class="list-group-item trow1">
            <div class="row">
                <div class="col-xs-12 col-sm-12">{{ getVar('success_report_voted', 'lang') }}</div>
            </div>
        </div>
    </div>
</div>
