<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;" class="modal_{{ data.id }}">
        <form class="panel panel-primary" action="{{ bburl }}/report" method="post" class="reportData_{{ data.id }}" onsubmit="javascript: return Report.submitReport({{ data.id }});">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_report" />
            <input type="hidden" name="type" value="{{ data.report_type }}" />
            <input type="hidden" name="pid" value="{{ data.id }}" />
            <input type="hidden" name="no_modal" value="1" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ data.report_title }}</h3>
            </div>
            <div class="panel-body">
                {{ getVar('report_to_mod', 'lang') }}
            </div>
            {{ data.report_reasons|raw }}
        </form>

        <script type="text/javascript">
            <!--
            if($("#report_reason option:selected").val() != 'other')
            {
                $("#reason").hide();
            }

            $("#report_reason").change(function()
            {
                if($(this).find("option:selected").val() == 'other')
                {
                    $("#reason").show();
                    return;
                }

                $("#reason").hide();
            });
            // -->
        </script>
    </div>
</div>