{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('search_results', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">

        {{ multipage|raw }}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('search_results', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    {% if getVar('showInlineModCol', 'var') == true %}
                    <input type="checkbox" name="allbox" onclick="inlineModeration.checkAll(this)" style="position: absolute; right: 15px; z-index: 1"/>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-11 col-sm-8">
                            <small>
                                <a href="{{ sorturl|raw }}&sortby=subject&order=asc">{{ getVar('post', 'lang') }}</a> {{ orderarrow.subject|raw }} /
                                <a href="{{ sorturl|raw }}&sortby=starter&order=asc">{{ getVar('author', 'lang') }}</a> {{ orderarrow.starter|raw }} /
                                <a href="{{ sorturl|raw }}&sortby=forum&order=asc">{{ getVar('forum', 'lang') }}</a> {{ orderarrow.forum|raw }}
                            </small>
                        </div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap"><small><a href="{{ sorturl|raw }}&sortby=replies&order=desc">{{ getVar('replies', 'lang') }}</a> {{ orderarrow.replies|raw }}</small></div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap"><small><a href="{{ sorturl|raw }}&sortby=views&order=desc">{{ getVar('views', 'lang') }}</a> {{ orderarrow.views|raw }}</small></div>
                        <div class="hidden-xs col-sm-2 text-nowrap"><small><a href="{{ sorturl|raw }}&sortby=dateline&order=desc">{{ getVar('posted', 'lang') }}</a> {{ orderarrow.dateline|raw }}</small></div>
                    </div>
                </div>
                {% if getVar('showInlineMod', 'var') == true %}
                <div id="selectAllrow" class="list-group-item hiddenrow">
                    {{ getVar('page_selected', 'lang') }} <a href="#" onclick='inlineModeration.selectAll();'>{{ getVar('select_all', 'lang') }}</a>
                </div>
                <div id="allSelectedrow" class="list-group-item hiddenrow">
                    {{ getVar('all_selected', 'lang') }} <a href="#" onclick='inlineModeration.clearChecked();'>{{ getVar('clear_selection', 'lang') }}</a>
                </div>
                {% endif %}

                {% for row in results %}
                <div class="list-group-item inline_row">
                    {% if row.inline_mod_checkbox == true %}
                    <input type="checkbox" class="checkbox" name="inlinemod_{{ row.tid }}" id="inlinemod_{{ row.tid }}" value="1" {{ row.inlinecheck|raw }}  style="position: absolute; right: 15px; z-index: 1" />
                    {% endif %}
                    <div class="row img-hover">
                        <div class="col-xs-11 col-sm-8">
                            <div class="media">
                                <div class="media-left" style="padding-right: 0">
                                    <div class="thread-icons" style="top: 3px; padding-right: 10px">
                                        <span class="thread_status {{ row.folder }}" title="{{ row.folder_label }}">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="media-body" style="overflow: visible">
                                    <i class="fa fa-bar-chart pull-right visible-xs" data-orginal-title="{{ row.thread_replies }} / {{ row.thread_views }}" style="top: 3px" data-toggle="tooltip" data-placement="left" title=""></i>
                                    {{ row.icon|raw }} &nbsp;
                                    {{ getVar('forum', 'lang') }} {{ row.forumlink|raw }},
                                    {{ getVar('post_thread', 'lang') }} <a href="{{ row.thread_url|raw }}{{ row.highlight|raw }}">{{ row.thread_subject }}</a>,
                                    <small>{{ getVar('post_subject', 'lang') }} <a href="{{ row.post_url|raw }}{{ row.highlight|raw }}#pid{{ row.pid }}">{{ row.post_subject }}</a></small>
                                    <blockquote class="small">
                                        {{ row.prev }}
                                        <footer>{{ row.profilelink|raw }}</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-1 text-center"><a href="javascript:MyBB.whoPosted({{ row.tid }});">{{ row.thread_replies }}</a></div>
                        <div class="hidden-xs col-sm-1 text-center">{{ row.thread_views }}</div>
                        <div class="hidden-xs col-sm-2 text-nowrap"><small>{{ row.posted }}</small></div>
                    </div>
                </div>
                {%  endfor %}
            </div>

            <div class="panel-footer" style="overflow: hidden">
                <div class="pull-left">
                    {{ multipage|raw }}
                </div>
                <div class="pull-right">
                    {% if getVar('showInlineMod', 'var') == true %}
                    <script type="text/javascript" src="{{ asset_url }}/jscripts/inline_moderation.js?ver=1807"></script>
                    <form action="{{ bburl }}/moderation" method="post" style="margin-top: 0; margin-bottom: 0;">
                        <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                        <input type="hidden" name="tid" value="0" />
                        <input type="hidden" name="searchid" value="{{ sid }}" />
                        <input type="hidden" name="modtype" value="inlinepost" />
                        <small>{{ getVar('inline_post_moderation', 'lang') }}</small>
                        <select name="action">
                            <optgroup label="{{ getVar('standard_mod_tools', 'lang') }}">
                                <option value="multisoftdeleteposts">{{ getVar('inline_soft_delete_posts', 'lang') }}</option>
                                <option value="multirestoreposts">{{ getVar('inline_restore_posts', 'lang') }}</option>
                                <option value="multideleteposts">{{ getVar('inline_delete_posts', 'lang') }}</option>
                                <option value="multimergeposts">{{ getVar('inline_merge_posts', 'lang') }}</option>
                                <option value="multisplitposts">{{ getVar('inline_split_posts', 'lang') }}</option>
                                <option value="multimoveposts">{{ getVar('inline_move_posts', 'lang') }}</option>
                                <option value="multiapproveposts">{{ getVar('inline_approve_posts', 'lang') }}</option>
                                <option value="multiunapproveposts">{{ getVar('inline_unapprove_posts', 'lang') }}</option>
                            </optgroup>
                            {{ customposttools|raw }}
                        </select>
                        <input type="submit" class="btn btn-primary btn-xs" name="go" value="{{ getVar('go', 'lang') }} ({{ inlinecount }})" id="inline_go" />&nbsp;
                        <input type="button" class="btn btn-primary btn-xs" onclick="javascript:inlineModeration.clearChecked();" value="{{ getVar('clear', 'lang') }}" />
                        <input type="hidden" name="url" value="{{ return_url|raw }}" />
                        <input type="hidden" name="inlinetype" value="search" />
                    </form>
                    <script type="text/javascript">
                        <!--
                        var go_text = "{{ getVar('inline_go', 'lang') }}";
                        var all_text = "{{ postcount }}";
                        var inlineType = "search";
                        var inlineId = "{{ sid }}";
                        // -->
                    </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}