{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('search_results', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">

        {{ multipage|raw }}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('search_results', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    {% if getVar('showInlineModCol', 'var') == true %}
                        <input type="checkbox" name="allbox" onclick="inlineModeration.checkAll(this)" style="position: absolute; right: 15px; z-index: 1"/>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-11 col-sm-7">
                            <small>
                                <a href="{{ sorturl|raw }}&sortby=forum&order=asc">{{ getVar('forum', 'lang') }}</a> {{ orderarrow.forum|raw }} /
                                <a href="{{ sorturl|raw }}&sortby=subject&order=asc">{{ getVar('thread', 'lang') }}</a> {{ orderarrow.subject|raw }} /
                                <a href="{{ sorturl|raw }}&sortby=starter&order=asc">{{ getVar('author', 'lang') }}</a> {{ orderarrow.starter|raw }}
                            </small>
                        </div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap"><small><a href="{{ sorturl }}&sortby=replies&order=desc">{{ getVar('replies', 'lang') }}</a> {{ orderarrow.replies|raw }}</small></div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap"><small><a href="{{ sorturl }}&sortby=views&order=desc">{{ getVar('views', 'lang') }}</a> {{ orderarrow.views|raw }}</small></div>
                        <div class="hidden-xs col-sm-3 text-nowrap"><small><a href="{{ sorturl }}&sortby=lastpost&order=desc">{{ getVar('lastpost', 'lang') }}</a> {{ orderarrow.lastpost|raw }}</small></div>
                    </div>
                </div>
                {% if getVar('showInlineMod', 'var') == true %}
                <div id="selectAllrow" class="list-group-item hiddenrow">
                    {{ getVar('page_selected', 'lang') }} <a href="#" onclick='inlineModeration.selectAll();'>{{ getVar('select_all', 'lang') }}</a>
                </div>
                <div id="allSelectedrow" class="list-group-item hiddenrow">
                    {{ getVar('all_selected', 'lang') }} <a href="#" onclick='inlineModeration.clearChecked();'>{{ getVar('clear_selection', 'lang') }}</a>
                </div>
                {% endif %}

                {% for row in results %}
                <div class="list-group-item inline_row">
                    {% if row.inline_mod_checkbox == true %}
                    <input type="checkbox" class="checkbox" name="inlinemod_{{ row.tid }}" id="inlinemod_{{ row.tid }}" value="1" {{ row.inlinecheck|raw }}  style="position: absolute; right: 15px; z-index: 1" />
                    {% endif %}
                    <div class="row img-hover">
                        <div class="col-xs-11 col-sm-7">
                            <div class="media">
                                <div class="media-left" style="padding-right: 0">
                                    <div class="thread-icons" style="padding-right: 20px">
                                        <span class="thread_status {{ row.folder }}" title="{{ row.folder_label }}">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="media-body" style="overflow: visible">
                                    <i class="fa fa-bar-chart pull-right visible-xs" data-orginal-title="{{ row.replies }} / {{ row.views }}" style="top: 3px" data-toggle="tooltip" data-placement="left" title=""></i>
                                    {% if row.attachment_count is not empty %}
                                    <div class="pull-right">
                                        <img src="{{ getVar('imgdir', 'theme') }}/paperclip.png" alt="" title="{{ row.attachment_count|raw }}" />
                                    </div>
                                    {% endif %}
                                    {{ row.icon|raw }} &nbsp;
                                    {{ getVar('forum', 'lang') }} {{ row.forumlink|raw }},
                                    <small>{{ getVar('post_thread', 'lang') }} {{ row.prefix }} {{ row.gotounread|raw }}{{row.threadprefix }}<a href="{{ row.thread_link|raw }}{{ row.highlight|raw }}" class="{{ row.inline_edit_class }} {{ row.new_class }}" id="tid_{{ row.inline_edit_tid }}">{{ row.subject }}</a>{{ row.multipage|raw }}</small>
                                    <div class="small" style="padding-left: 30px">{{ row.profilelink|raw }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-1 text-center"><a href="javascript:MyBB.whoPosted({{ row.tid }});">{{ row.replies }}</a></div>
                        <div class="hidden-xs col-sm-1 text-center">{{ row.views }}</div>
                        <div class="hidden-xs col-sm-3 text-nowrap">
                            <small>
                                {{ row.lastpostdate }}<br />
                                <a href="{{ row.lastpostlink|raw }}">{{ getVar('lastpost', 'lang') }}</a>: {{ row.lastposterlink|raw }}
                            </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="panel-footer" style="overflow: hidden">
                <div class="pull-left">
                    {{ multipage|raw }}
                </div>
                <div class="pull-right">
                    {% if getVar('showInlineMod', 'var') == true %}
                    <script type="text/javascript" src="{{ asset_url }}/jscripts/inline_moderation.js?ver=1807"></script>
                    <form action="{{ bburl }}/moderation" method="post">
                        <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                        <input type="hidden" name="fid" value="0" />
                        <input type="hidden" name="searchid" value="{{ sid }}" />
                        <input type="hidden" name="modtype" value="inlinethread" />
                        <small>{{ getVar('inline_thread_moderation', 'lang') }}</small>
                        <select name="action">
                            <optgroup label="{{ getVar('standard_mod_tools', 'lang') }}">
                                <option value="multiclosethreads">{{ getVar('close_threads', 'lang') }}</option>
                                <option value="multiopenthreads">{{ getVar('open_threads', 'lang') }}</option>
                                <option value="multistickthreads">{{ getVar('stick_threads', 'lang') }}</option>
                                <option value="multiunstickthreads">{{ getVar('unstick_threads', 'lang') }}</option>
                                <option value="multisoftdeletethreads">{{ getVar('soft_delete_threads', 'lang') }}</option>
                                <option value="multirestorethreads">{{ getVar('restore_threads', 'lang') }}</option>
                                <option value="multideletethreads">{{ getVar('delete_threads', 'lang') }}</option>
                                <option value="multimovethreads">{{ getVar('move_threads', 'lang') }}</option>
                                <option value="multiapprovethreads">{{ getVar('approve_threads', 'lang') }}</option>
                                <option value="multiunapprovethreads">{{ getVar('unapprove_threads', 'lang') }}</option>
                            </optgroup>
                            {{ customthreadtools|raw }}
                        </select>
                        <input type="submit" class="button" name="go" value="{{ getVar('inline_go', 'lang') }} ({{ inlinecount }})" id="inline_go" />&nbsp;
                        <input type="button" onclick="javascript:inlineModeration.clearChecked();" value="{{ getVar('clear', 'lang') }}" class="button" />
                        <input type="hidden" name="url" value="{{ return_url|raw }}" />
                        <input type="hidden" name="inlinetype" value="search" />
                    </form>
                    <script type="text/javascript">
                        <!--
                        var go_text = "{{ getVar('inline_go', 'lang') }}";
                        var all_text = "{{ threadcount }}";
                        var inlineType = "search";
                        var inlineId = '{{ sid }}';
                        // -->
                    </script>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}