{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('search', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form class="panel panel-primary" method="post" action="{{ bburl }}/search">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_search" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('search', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group form-inline col-xs-12 col-sm-6">
                        <label>{{ getVar('search_keyword', 'lang') }}</label><br />
                        <input type="text" class="form-control" name="keywords"maxlength="250" />
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active" style="border-radius: 3px 0px 0px 3px;">
                                <input type="radio" name="postthread" value="1" checked="" />{{ getVar('search_entire_post', 'lang') }}
                            </label>
                            <label class="btn btn-default" style="border-radius: 3px 0px 0px 3px;">
                                <input type="radio" name="postthread" value="2" />{{ getVar('search_titles_only', 'lang') }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-inline col-xs-12 col-sm-6">
                        <label>{{ getVar('search_username', 'lang') }}</label><br />
                        <input type="text" class="textbox" id="author" name="author" size="35" maxlength="{{ getVar('maxnamelength', 'set') }}" />
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active" style="border-radius: 3px;">
                                <input type="checkbox" name="matchusername" value="1" checked="checked" /> {{ getVar('match_username', 'lang') }}
                            </label>
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>{{ getVar('search_forums', 'lang') }}</label><br />
                        {{ srchlist|raw }}
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <div class="form-group form-inline">
                            <label>{{ getVar('search_options', 'lang') }}</label><br />
                            <select class="form-control" name="findthreadst">
                                <option value="1">{{ getVar('threads_at_least', 'lang') }}</option>
                                <option value="2">{{ getVar('threads_at_most', 'lang') }}</option>
                            </select>
                            <div class="input-group">
                                <input type="number" class="form-control" name="numreplies" size="2" maxlength="4" />
                                <span class="input-group-addon">{{ getVar('replies2', 'lang') }}</span>
                            </div>
                            <br />
                        </div>
                        <div class="form-group form-inline">
                            <div class="form-group form-inline">
                                <select class="form-control" name="postdate">
                                    <option value="0">{{ getVar('find_anydate', 'lang') }}</option>
                                    <option value="1">{{ getVar('find_yesterday', 'lang') }}</option>
                                    <option value="7">{{ getVar('find_lastweek', 'lang') }}</option>
                                    <option value="14">{{ getVar('find_2weeks', 'lang') }}</option>
                                    <option value="30">{{ getVar('find_month', 'lang') }}</option>
                                    <option value="90">{{ getVar('find_3months', 'lang') }}</option>
                                    <option value="180">{{ getVar('find_6months', 'lang') }}</option>
                                    <option value="365">{{ getVar('find_year', 'lang') }}</option>
                                </select>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active" style="border-radius: 3px 0px 0px 3px;">
                                        <input type="radio" name="pddir" value="1" checked="" />{{ getVar('and_newer', 'lang') }}
                                    </label>
                                    <label class="btn btn-default" style="border-radius: 0px 3px 3px; 0px">
                                        <input type="radio" name="pddir" value="0" />{{ getVar('and_older', 'lang') }}
                                    </label>
                                </div>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        {{ prefixselect|raw }}
                    </div>
                    <div class="form-group form-inline col-xs-12 col-sm-6">
                        <label>{{ getVar('sorting_options', 'lang') }}</label><br />
                        <select class="form-control" name="sortby">
                            <option value="lastpost">{{ getVar('sort_lastpost', 'lang') }}</option>
                            <option value="starter">{{ getVar('sort_author', 'lang') }}</option>
                            <option value="forum">{{ getVar('sort_forum', 'lang') }}</option>
                        </select>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" style="border-radius: 3px 0px 0px 3px;">
                                <input type="radio" name="sortordr" value="asc" />
                                <i class="fa fa-sort-amount-asc"></i>
                                <span class="sr-only">{{ getVar('sort_asc', 'lang') }}</span>
                            </label>
                            <label class="btn btn-default active" style="border-radius: 0px 3px 3px 0px;">
                                <input type="radio" name="sortordr" value="desc" checked="" />
                                <i class="fa fa-sort-amount-desc"></i>
                                <span class="sr-only">{{ getVar('sort_desc', 'lang') }}</span>
                            </label>
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>{{ getVar('display_options', 'lang') }}</label><br />
                        {{ getVar('show_results_as', 'lang') }}
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default active" style="border-radius: 3px 0px 0px 3px;">
                                <input type="radio" name="showresults" value="threads" checked="" />{{ getVar('show_results_threads', 'lang') }}
                            </label>
                            <label class="btn btn-default" style="border-radius: 0px 3px 3px 0px;">
                                <input type="radio" name="showresults" value="posts" />{{ getVar('show_results_posts', 'lang') }}
                            </label>
                        </div>
                    </div>
                    {% if getVar('showModeratorOptions', 'var') == true %}
                    <div class="form-group col-xs-12 col-sm-6">
                        <label>{{ getVar('mod_options', 'lang') }}</label><br />
                        <select name="visible">
                            <option value="">{{ getVar('display_all', 'lang') }}</option>
                            <option value="1">{{ getVar('display_only_approved', 'lang') }}</option>
                            <option value="0">{{ getVar('display_only_unapproved', 'lang') }}</option>
                            <option value="-1">{{ getVar('display_only_softdeleted', 'lang') }}</option>
                        </select> {{ getVar('results', 'lang') }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('search', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}

    <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
    <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    <script type="text/javascript">
        <!--
        if(use_xmlhttprequest == "1")
        {
            MyBB.select2();
            $("#author").select2({
                placeholder: "{{ getVar('search_user', 'lang') }}",
                minimumInputLength: 2,
                multiple: false,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: rootpath + "/xmlhttp?action=get_users",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter remote JSON data
                        return {results: data};
                    }
                },
                initSelection: function(element, callback) {
                    var value = $(element).val();
                    if (value !== "") {
                        callback({
                            id: value,
                            text: value
                        });
                    }
                },
            });
        }
        // -->
    </script>
{% endblock content %}