{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ threadprefixprefix }} - {{ threadsubject }} - {{ getVar('send_thread', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {{ errors|raw }}
        <form class="panel panel-primary" action="{{ bburl }}/sendthread" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_sendtofriend" />
            <input type="hidden" name="tid" value="{{ tid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('send_thread', 'lang') }}</h3>
            </div>
            <div class="list-group">
                {% if getVar('uid', 'user') == 0 %}
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            {{ getVar('your_name', 'lang') }}<br /><small>{{ getVar('name_note', 'lang') }}</small>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" class="textbox" size="50" name="fromname" value="{{ fromname }}" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            {{ getVar('your_email', 'lang') }}<br /><small>{{ getVar('email_note', 'lang') }}</small>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" class="textbox" size="50" name="fromemail" value="{{ fromemail }}" />
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            {{ getVar('recipient', 'lang') }}<br /><small>{{ getVar('recipient_note', 'lang') }}</small>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" class="textbox" size="50" name="email" value="{{ email }}" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            {{ getVar('subject', 'lang') }}
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" class="textbox" size="50" name="subject" value="{{ subject }}" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            {{ getVar('message', 'lang') }}
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <textarea cols="50" rows="10" name="message">{{ message }}</textarea>
                        </div>
                    </div>
                </div>

                {{ captcha|raw }}
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('send_thread', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}