{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ thread.subject }}
    {% endblock title %}

    {% block head %}
        <link rel="stylesheet" href="/assets/css/slimbox2.css" type="text/css" />
        <script type="text/javascript" src="/assets/js/slimbox2.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                /*
                 ---------------------------
                 Call the slimbox() function
                 ---------------------------
                 */
                $("a[rel^='lightbox']").slimbox({/* Put custom options here */},
                    function(el) {
                        return [el.href, el.title];
                    },
                    function(el) {
                        return (this == el) || ((this.rel.length > 8) && (this.rel == el.rel));
                    }
                );
            })
        </script>

        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript">
            <!--
            var quickdelete_confirm = "{{ getVar('quickdelete_confirm', 'lang') }}";
            var quickrestore_confirm = "{{ getVar('quickrestore_confirm', 'lang') }}";
            var allowEditReason = "{{ getVar('alloweditreason', 'set') }}";
            lang.save_changes = "{{ getVar('save_changes', 'lang') }}";
            lang.cancel_edit = "{{ getVar('cancel_edit', 'lang') }}";
            lang.quick_edit_update_error = "{{ getVar('quick_edit_update_error', 'lang') }}";
            lang.quick_reply_post_error = "{{ getVar('quick_reply_post_error', 'lang') }}";
            lang.quick_delete_error = "{{ getVar('quick_delete_error', 'lang') }}";
            lang.quick_delete_success = "{{ getVar('quick_delete_success', 'lang') }}";
            lang.quick_delete_thread_success = "{{ getVar('quick_delete_thread_success', 'lang') }}";
            lang.quick_restore_error = "{{ getVar('quick_restore_error', 'lang') }}";
            lang.quick_restore_success = "{{ getVar('quick_restore_success', 'lang') }}";
            lang.editreason = "{{ getVar('postbit_editreason', 'lang') }}";
            // -->
        </script>
        <!-- jeditable (jquery) -->
        <script type="text/javascript" src="{{ asset_url }}/jscripts/report.js?ver=1804"></script>
        <script type="text/javascript" src="{{ asset_url }}/jscripts/jeditable/jeditable.min.js"></script>
        <script type="text/javascript" src="{{ asset_url }}/jscripts/thread.js?ver=1804"></script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {% if getVar('showThreadNotesBox', 'var') == true %}
        <div class="panel panel-primary">
            <div class="panel-heading thead_collapse{{ collapsedimg.threadnotes }}">
                <div class="expcolimage">
                    <span id="threadnotes_img" class="expander collapse" alt="[-]" title="[-]" /></span>
                </div>
                <h3 class="panel-title">{{ getVar('view_thread_notes', 'lang') }}</h3>
            </div>
            <div class="list-group" style="{{ collapsed.threadnotes_e }}" id="threadnotes_e">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ thread.notes }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if getVar('showPollBox', 'var') == true %}
            {% if getVar('showPollBoxResults', 'var') == true %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">
                    <small>{{ pollstatus|raw }}</small>
                </div>
                <h3 class="panel-title">
                    {{ getVar('poll', 'lang') }} {{ poll.question }}
                </h3>
            </div>
            <div class="list-group">
                {% for row in polloptions %}
                    {% if row.imagewidth is defined %}
                        <div class="list-group-item {{ row.optionbg }}">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 text-nowrap">{{ row.option }}{{ row.votestar }}</div>
                                <div class="col-xs-6 col-sm-6">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                             aria-valuenow="{{ row.percent }}" aria-valuemin="0" aria-valuemax="100"
                                             style="width:{{ row.percent }}%">
                                            {{ row.percent }}%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1 col-sm-1">{{ row.votes }}</div>
                                <div class="col-xs-1 col-sm-1">{{ row.percent }}%</div>
                            </div>
                        </div>
                    {% else %}
                        {% if row.multiple == 1 %}
                            <div class="list-group-item {{ row.optionbg }}">
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1">
                                        <input type="checkbox" class="checkbox" name="option[{{ row.number }}]" id="option_{{ row.number }}" value="1" />
                                    </div>
                                    <div class="col-xs-11 col-sm-11">
                                        {{ row.option }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="list-group-item {{ row.optionbg }}">
                                <div class="row">
                                    <div class="col-xs-1 col-sm-1">
                                        <input type="radio" class="radio" name="option" id="option_{{ row.number }}" value="{{ row.number }}" />
                                    </div>
                                    <div class="col-xs-11 col-sm-11">
                                        {{ row.option }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 text-right">{{ getVar('total', 'lang') }}</div>
                        <div class="col-xs-1 col-sm-1 text-nowrap">{{ getVar('total_votes', 'lang') }}</div>
                        <div class="col-xs-1 col-sm-1">{{ totpercent }}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <div class="row">
                    <!--<small>{{ getVar('you_voted', 'lang') }}</small> &nbsp;-->
                    <a class="btn btn-primary" href="{{ bburl }}/polls/showresults?pid={{ poll.pid }}">{{ getVar('show_results', 'lang') }}</a>
                    {{ edit_poll|raw }}
                </div>
            </div>
        </div>
            {% else %}
            <form class="panel panel-primary" action="{{ bburl }}/polls/vote" method="post">
                <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                <input type="hidden" name="action" value="vote" />
                <input type="hidden" name="pid" value="{{ poll.pid }}" />

                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('poll', 'lang') }} {{ poll.question }}</h3>
                </div>
                <div class="list-group">
                    {% for row in polloptions %}
                        {% if row.imagewidth is defined %}
                            <div class="list-group-item {{ row.optionbg }}">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 text-nowrap">{{ row.option }}{{ row.votestar }}</div>
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                                 aria-valuenow="{{ row.percent }}" aria-valuemin="0" aria-valuemax="100"
                                                 style="width:{{ row.percent }}%">
                                                {{ row.percent }}%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1 col-sm-1">{{ row.votes }}</div>
                                    <div class="col-xs-1 col-sm-1">{{ row.percent }}%</div>
                                </div>
                            </div>
                        {% else %}
                            {% if row.multiple == 1 %}
                                <div class="list-group-item {{ row.optionbg }}">
                                    <div class="row">
                                        <div class="col-xs-1 col-sm-1">
                                            <input type="checkbox" class="checkbox" name="option[{{ row.number }}]" id="option_{{ row.number }}" value="1" />
                                        </div>
                                        <div class="col-xs-11 col-sm-11">
                                            {{ row.option }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="list-group-item {{ row.optionbg }}">
                                    <div class="row">
                                        <div class="col-xs-1 col-sm-1">
                                            <input type="radio" class="radio" name="option" id="option_{{ row.number }}" value="{{ row.number }}" />
                                        </div>
                                        <div class="col-xs-11 col-sm-11">
                                            {{ row.option }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="list-group-item text-center">
                        <input type="submit" class="btn btn-primary" value="{{ getVar('vote', 'lang') }}" />
                        <a class="btn btn-primary" href="{{ bburl }}/polls/showresults?pid={{ poll.pid }}">{{ getVar('show_results', 'lang') }}</a>
                        {{ edit_poll|raw }}
                    </div>
                    <div class="list-group-item text-center">
                        {{ publicnote|raw }}
                    </div>
                    {% if closeon is not empty %}
                        <div class="list-group-item">
                            {{ closeon|raw }}
                        </div>
                    {% endif %}
                </div>
            </form>
            {% endif %}
        {% endif %}

        <div class="panel panel-group">
            <div class="btn-group pull-left" style="margin-bottom: 10px">
                <div class="float_left">
                    {{ multipage|raw }}
                </div>
            </div>

            <div class="btn-group pull-right" style="margin-bottom: 10px">
                {% if ratingvotesav is not empty %}
                <script type="text/javascript">
                    <!--
                    lang.ratings_update_error = "{{ getVar('ratings_update_error', 'lang') }}";
                    // -->
                </script>
                <script type="text/javascript" src="{{ asset_url }}/jscripts/rating.js?ver=1804"></script>
                <div class="pull-left" style="margin: 7px;">{{ getVar('thread_rating', 'lang') }}</div>
                <div class="btn btn-default" style="border-radius: 3px">
                    <ul class="star_rating{{ not_rated }}" id="rating_thread_{{ thread.tid }}">
                        <li style="width: {{ thread.width }}%" class="current_rating" id="current_rating_{{ thread.tid }}">{{ ratingvotesav|raw }}</li>
                        <li><a class="one_star" title="{{ getVar('one_star', 'lang') }}" href="{{ bburl }}/ratethread?tid={{ thread.tid }}&rating=1&my_post_key={{ getVar('post_code', 'var') }}">1</a></li>
                        <li><a class="two_stars" title="{{ getVar('two_stars', 'lang') }}" href="{{ bburl }}/ratethread?tid={{ thread.tid }}&rating=2&my_post_key={{ getVar('post_code', 'var') }}">2</a></li>
                        <li><a class="three_stars" title="{{ getVar('three_stars', 'lang') }}" href="{{ bburl }}/ratethread?tid={{ thread.tid }}&rating=3&my_post_key={{ getVar('post_code', 'var') }}">3</a></li>
                        <li><a class="four_stars" title="{{ getVar('four_stars', 'lang') }}" href="{{ bburl }}/ratethread?tid={{ thread.tid }}&rating=4&my_post_key={{ getVar('post_code', 'var') }}">4</a></li>
                        <li><a class="five_stars" title="{{ getVar('five_stars', 'lang') }}" href="{{ bburl }}/ratethread?tid={{ thread.tid }}&rating=5&my_post_key={{ getVar('post_code', 'var') }}">5</a></li>
                    </ul>
                </div>
                {% endif %}
                {{ newreply|raw }}
            </div>
        </div>

        <br>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="hidden-xs pull-right">
                    <span class="hidden-xs hidden-sm">
                        <a class="btn btn-default btn-xs" href="javascript:;" id="thread_modes">{{ getVar('thread_modes', 'lang') }}</a>
                        {{ threadnoteslink|raw }}
                    </span>
                </div>
                <h3 class="panel-title">{{ thread.threadprefix }}{{ thread.subject }}</h3>
            </div>
            <div class="list-group">
                <div id="posts">
                    {{ posts|raw }}
                </div>
            </div>
            <div class="panel-footer">
                    {% if getVar('showSearchThread', 'var') == true %}
                    <div class="float_right">
                        <form action="{{ bburl }}/search" method="post">
                            <input type="hidden" name="action" value="thread" />
                            <input type="hidden" name="tid" value="{{ thread.tid }}" />
                            <input type="text" name="keywords" value="{{ getVar('enter_keywords', 'lang') }}" onfocus="if(this.value == '{{ getVar('enter_keywords', 'lang') }}') { this.value = ''; }" onblur="if(this.value=='') { this.value='{{ getVar('enter_keywords', 'lang') }}'; }" class="textbox" size="25" />
                            <input type="submit" class="button" value="{{ getVar('search_thread', 'lang') }}" />
                        </form>
                    </div>
                    {% endif %}
                    <div>
                        <strong>&laquo; <a href="{{ next_oldest_link|raw }}">{{ getVar('next_oldest', 'lang') }}</a> | <a href="{{ next_newest_link|raw }}">{{ getVar('next_newest', 'lang') }}</a> &raquo;</strong>
                    </div>
            </div>
        </div>

        <div class="panel panel-group" style="margin-top: 5px">
            <div class="btn-group pull-left">
                <div class="float_left">
                    {{ multipage|raw }}
                </div>
            </div>
            <div class="btn-group pull-right">
                    {{ newreply|raw }}
            </div>
        </div>
        <br class="clear" />
        {% if getVar('showQuickReply', 'var') == true %}
            <div id="quickreply_spinner" class="showthread_spinner" style="display: none"><img src="{{ getVar('imgdir', 'theme') }}/spinner.gif" /></div>
            <br />
            {{ moderation_notice|raw }}
            <form method="post" action="{{ bburl }}/newreply?tid={{ tid }}&amp;processed=1" name="quick_reply_form" id="quick_reply_form">
                <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                <input type="hidden" name="subject" value="RE: {{ reply_subject|raw }}" />
                <input type="hidden" name="action" value="do_newreply" />
                <input type="hidden" name="posthash" value="{{ posthash }}" id="posthash" />
                <input type="hidden" name="quoted_ids" value="" id="quoted_ids" />
                <input type="hidden" name="lastpid" id="lastpid" value="{{ last_pid }}" />
                <input type="hidden" name="from_page" value="{{ page }}" />
                <input type="hidden" name="tid" value="{{ tid }}" />
                <input type="hidden" name="method" value="quickreply" />

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="expcolimage">
                            <span id="quickreply_img" class="expander collapse" alt="[-]" title="[-]" /></span>
                        </div>
                        <h3 class="panel-title">{{ getVar('quick_reply', 'lang') }}</h3>
                    </div>
                    <ul id="quickreply_e" class="list-group" style="">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3">
                                    <strong>{{ getVar('message', 'lang') }}</strong>
                                    <br />
                                    <span class="smalltext">{{ getVar('message_note', 'lang') }}
                                        <br /><br />
                                        {% if getVar('canusesig', 'group') and not getVar('suspendsignature', 'user') %}
                                        <label><input type="checkbox" class="checkbox-inline" name="postoptions[signature]" value="1" {{ postoptionschecked.signature }} />&nbsp;<strong>{{ getVar('signature', 'lang') }}</strong></label>
                                        <br />
                                        {% endif %}
                                        <label><input type="checkbox" class="checkbox-inline" name="postoptions[disablesmilies]" value="1" />&nbsp;<strong>{{ getVar('disable_smilies', 'lang') }}</strong></label>
                                        {{ closeoption|raw }}
                                    </span>
                                </div>
                                <div class="col-xs-9 col-sm-9">
                                    <textarea style="width: 100%; padding: 4px; margin: 0;" rows="8" cols="80" name="message" id="message" tabindex="1"></textarea>
                                    <div class="editor_control_bar" style="width: 95%; padding: 4px; margin-top: 3px; display: none;" id="quickreply_multiquote">
                                        <span class="smalltext">
                                            {{ getVar('quickreply_multiquote_selected', 'lang') }} <a href="{{ bburl }}/newreply?tid={{ tid }}&load_all_quotes=1" onclick="return Thread.loadMultiQuoted();">{{ getVar('quickreply_multiquote_now', 'lang') }}</a> {{ getVar('or', 'lang') }} <a href="javascript:Thread.clearMultiQuoted();">{{ getVar('quickreply_multiquote_deselect', 'lang') }}</a>.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{ captcha|raw }}
                        <li class="list-group-item text-center">
                            <input type="submit" class="btn btn-info" value="{{ getVar('post_reply', 'lang') }}" tabindex="2" accesskey="s" id="quick_reply_submit" />
                            <input type="submit" class="btn btn-info" name="previewpost" value="{{ getVar('preview_post', 'lang') }}" tabindex="3" />
                        </li>
                    </ul>
                </div>
            </form>
        {% endif %}

        {% if threadedbits is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('messages_in_thread', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        {{ threadedbits|raw }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if similarthreadbits is not empty %}
        <br />
        <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder">
            <tr>
                <td class="thead" align="center" colspan="6"><strong>{{ getVar('similar_threads', 'lang') }}</strong></td>
            </tr>
            <tr>
                <td class="tcat" align="center" colspan="2"><span class="smalltext"><strong>{{ getVar('thread', 'lang') }}</strong></span></td>
                <td class="tcat" align="center"><span class="smalltext"><strong>{{ getVar('author', 'lang') }}</strong></span></td>
                <td class="tcat" align="center"><span class="smalltext"><strong>{{ getVar('replies', 'lang') }}</strong></span></td>
                <td class="tcat" align="center"><span class="smalltext"><strong>{{ getVar('views', 'lang') }}</strong></span></td>
                <td class="tcat" align="center"><span class="smalltext"><strong>{{ getVar('lastpost', 'lang') }}</strong></span></td>
            </tr>
            {% for row in similarthreadbits %}
            <tr>
                <td align="center" class="{{ row.trow }}" width="2%">{{ row.icon|raw }}</td>
                <td class="{{ row.trow }}">{{ row.similar_thread.threadprefix }}<a href="{{ row.similar_thread.threadlink|raw }}">{{ row.similar_thread.subject|raw }}</a></td>
                <td align="center" class="{{ row.trow }}">{{ row.similar_thread.profilelink|raw }}</td>
                <td align="center" class="{{ row.trow }}"><a href="javascript:MyBB.whoPosted({{ row.similar_thread.tid }});">{{ row.similar_thread.replies }}</a></td>
                <td align="center" class="{{ row.trow }}">{{ row.similar_thread.views }}</td>
                <td class="{{ row.trow }}" style="white-space: nowrap">
                    <span class="smalltext">{{ row.lastpostdate }}
                        <br />
                        <a href="{{ row.similar_thread.lastpostlink|raw }}">{{ getVar('lastpost', 'lang') }}</a>: {{ row.lastposterlink|raw }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <br />
        <div class="float_left">
            <ul class="thread_tools">
                <li class="printable"><a href="{{ bburl }}/printthread?tid={{ tid }}">{{ getVar('view_printable', 'lang') }}</a></li>
                {% if getVar('cansendemail', 'group') %}
                <li class="sendthread"><a href="{{ bburl }}/sendthread?tid={{ tid }}">{{ getVar('send_thread', 'lang') }}</a></li>
                {% endif %}
                <li class="subscription_{{ add_remove_subscription|raw }}"><a href="{{ bburl }}/usercp/{{ add_remove_subscription|raw }}subscription?tid={{ tid }}&my_post_key={{ getVar('post_code', 'var') }}">{{ add_remove_subscription_text|raw }}</a></li>
                {% if getVar('showAddPoll', 'var') == true %}
                <li class="poll"><a href="{{ bburl }}/polls/newpoll?tid={{ tid }}">{{ getVar('add_poll_to_thread', 'lang') }}</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="float_right" style="text-align: right;">
            {% if getVar('showModMenu', 'var') == true %}
                {% if getVar('showInlineMod', 'var') == true %}
                <script type="text/javascript" src="{{ asset_url }}/jscripts/inline_moderation.js?ver=1807"></script>
                <form action="{{ bburl }}/moderation" method="post" style="margin-top: 0; margin-bottom: 0;">
                    <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                    <input type="hidden" name="tid" value="{{ tid }}" />
                    <input type="hidden" name="modtype" value="inlinepost" />
                    <span class="smalltext"><strong>{{ getVar('inline_post_moderation', 'lang') }}</strong></span>
                    <select name="action">
                        {% if getVar('showStandardPostTools', 'var') == true %}
                        <optgroup label="{{ getVar('standard_mod_tools', 'lang') }}">
                            {{ inlinemodsoftdelete|raw }}
                            {{ inlinemodrestore|raw }}
                            {{ inlinemoddelete|raw }}
                            {{ inlinemodmanage|raw }}
                            {{ inlinemodapprove|raw }}
                        </optgroup>
                        {% endif %}
                        {{ customposttools|raw }}
                    </select>
                    <input type="submit" class="button" name="go" value="{{ getVar('go', 'lang') }} (0)" id="inline_go" />&nbsp;
                    <input type="button" class="button" onclick="javascript:inlineModeration.clearChecked();" value="{{ getVar('clear', 'lang') }}" />
                </form>
                <script type="text/javascript">
                    <!--
                    var go_text = "{{ getVar('inline_go', 'lang') }}";
                    var all_text = "{{ threadcount }}";
                    var inlineType = "thread";
                    var inlineId = {{ tid }};
                    // -->
                </script>
            <br />
                {% endif %}
            <form action="{{ bburl }}/moderation" method="post" style="margin-top: 0; margin-bottom: 0;" id="moderator_options">
                <input type="hidden" name="modtype" value="thread" />
                <input type="hidden" name="tid" value="{{ tid }}" />
                <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                <span class="smalltext">
                    <strong>{{ getVar('moderation_options', 'lang') }}</strong>
                </span>
                <select name="action" id="moderator_options_selector">
                    <option value="delayedmoderation">{{ getVar('delayed_moderation', 'lang') }}</option>
                    {% if getVar('showStandardThreadTools', 'var') == true %}
                    <optgroup label="{{ getVar('standard_mod_tools', 'lang') }}">
                        {{ threadnotes|raw }}
                        {{ openclosethread|raw }}
                        {{ softdeletethread|raw }}
                        {{ deletethread|raw }}
                        {{ adminpolloptions|raw }}
                        {{ stickunstickthread|raw }}
                        {{ managethread|raw }}
                        {{ approveunapprovethread|raw }}
                    </optgroup>
                    {% endif %}
                    {{ customthreadtools|raw }}
                </select>
                <input type="submit" class="button" value="{{ getVar('go', 'lang') }}" />
            </form>
            <br />
            <script type="text/javascript">
                <!--
                $("#moderator_options_selector").change(function() {
                    $("#moderator_options").submit();
                })
                //-->
            </script>
            {% endif %}
            {{ forumjump|raw }}
        </div>
        <br class="clear" />
        {% if getVar('browsingthisthread', 'set') !=0 %}
        <br />
        <span class="smalltext">{{ getVar('users_browsing_thread', 'lang') }} {{ usersbrowsing.onlinemembers|raw }}{{ usersbrowsing.onlinesep|raw }}{{ usersbrowsing.invisonline|raw }}{{ usersbrowsing.onlinesep2|raw }}{{ usersbrowsing.guestsonline|raw }}</span>
        <br />
        {% endif %}
    </div>

    {% include '@forum/footer.html.twig' %}

    <div id="thread_modes_popup" class="popup_menu" style="display: none;">
        <div class="popup_item_container">
            <a href="{{ bburl }}/showthread?mode=linear&tid={{ tid }}&pid={{ pid }}#pid{{ pid }}" class="popup_item">{{ getVar('linear', 'lang') }}</a>
        </div>
        <div class="popup_item_container">
            <a href="{{ bburl }}/showthread?mode=threaded&tid={{ tid }}&pid={{ pid }}#pid{{ pid }}" class="popup_item">{{ getVar('threaded', 'lang') }}</a>
        </div>
    </div>
    <script type="text/javascript">
        // <!--
        if(use_xmlhttprequest == "1")
        {
            $("#thread_modes").popupMenu();
        }
        // -->
    </script>
    <script type="text/javascript">
        $(".author_avatar img").on("error", function () {
            $(this).unbind("error").closest('.author_avatar').remove();
        });
    </script>
{% endblock content %}