{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('forum_team', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {% for row in grouplist %}
            {% if row.modrows is not empty %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('moderators', 'lang') }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-xs-4">{{ getVar('username', 'lang') }}</div>
                            <div class="col-xs-4">{{ getVar('mod_forums', 'lang') }}</div>
                            <div class="col-xs-2">{{ getVar('lastvisit', 'lang') }}</div>
                            <div class="col-xs-1">{{ getVar('email', 'lang') }}</div>
                            <div class="col-xs-1">{{ getVar('pm', 'lang') }}</div>
                        </div>
                    </div>
                {% for modrow in row.modrows %}
                <div class="list-group-item {{ modrow.bgcolor }}">
                    <div class="row">
                        <div class="col-xs-4"><img src="{{ getVar('imgdir', 'theme') }}/buddy_{{ modrow.status }}.png" title="{{ modrow.lang_status }}" alt="{{ modrow.lang_status }}" style="vertical-align: middle;" /><a href="{{ modrow.user.profilelink|raw }}"><strong>{{ modrow.user.username|raw }}</strong></a></div>
                        <div class="col-xs-4"><small>{{ modrow.forumslist|raw }}</small></div>
                        <div class="col-xs-2">{{ modrow.user.lastvisit }}</div>
                        <div class="col-xs-1"><div class="postbit_buttons">{{ modrow.emailcode|raw }}</div></div>
                        <div class="col-xs-1"><div class="postbit_buttons">{{ modrow.pmcode|raw }}</div></div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <br/>
            {% elseif row.usergrouprows is not empty %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ row.title }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-xs-6">{{ getVar('username', 'lang') }}</div>
                            <div class="col-xs-4">{{ getVar('lastvisit', 'lang') }}</div>
                            <div class="col-xs-1">{{ getVar('email', 'lang') }}</div>
                            <div class="col-xs-1">{{ getVar('pm', 'lang') }}</div>
                        </div>
                    </div>
                    {% for userrow in row.usergrouprows %}
                    <div class="list-group-item {{ userrow.bgcolor }}">
                        <div class="row">
                            <div class="col-xs-6"><img src="{{ getVar('imgdir', 'theme') }}/buddy_{{ userrow.status }}.png" title="{{ userrow.lang_status }}" alt="{{ userrow.lang_status }}" style="vertical-align: middle;" /><a href="{{ userrow.user.profilelink|raw }}"><strong>{{ userrow.user.username|raw }}</strong></a></div>
                            <div class="col-xs-4">{{ userrow.user.lastvisit }}</div>
                            <div class="col-xs-1"><div class="postbit_buttons">{{ userrow.emailcode|raw }}</div></div>
                            <div class="col-xs-1"><div class="postbit_buttons">{{ userrow.pmcode|raw }}</div></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br />
            {% endif %}
        {% endfor %}
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}