{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('board_stats', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('board_stats', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <h4>{{ getVar('general', 'lang') }}</h4>
                        {{ getVar('newest_member', 'lang') }} {{ stats.newest_user|raw }}<br />
                        {{ getVar('members_posted', 'lang') }} <strong>{{ stats.havepostedpercent }}</strong><br />
                        {{ getVar('todays_top_poster', 'lang') }}<br />
                        {{ getVar('popular_forum', 'lang') }}<br />
                        {{ top_referrer|raw }}
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h4>{{ getVar('totals', 'lang') }}</h4>
                        {{ getVar('posts', 'lang') }} <strong>{{ stats.numposts }}</strong><br />
                        {{ getVar('threads', 'lang') }} <strong>{{ stats.numthreads }}</strong><br />
                        {{ getVar('members', 'lang') }} <strong>{{ stats.numusers }}</strong>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h4>{{ getVar('averages', 'lang') }}</h4>
                        {{ getVar('ppd', 'lang') }} <strong>{{ stats.postsperday }}</strong><br />
                        {{ getVar('tpd', 'lang') }} <strong>{{ stats.threadsperday }}</strong><br />
                        {{ getVar('mpd', 'lang') }} <strong>{{ stats.membersperday }}</strong><br />
                        {{ getVar('ppm', 'lang') }} <strong>{{ stats.postspermember }}</strong><br />
                        {{ getVar('tpm', 'lang') }} <strong>{{ stats.threadspermember }}</strong><br />
                        {{ getVar('rpt', 'lang') }} <strong>{{ stats.repliesperthread }}</strong>
                    </div>
                </div>
            </div>
        </div>


        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('most_popular', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h4>{{ getVar('most_replied_threads', 'lang') }}</h4>
                        {% for row in mostreplies %}
                            <a href="{{ row.threadlink|raw }}"> <strong>{{ row.subject }}</strong></a> ({{ row.numberbit }} {{ getVar('replies', 'lang') }})<br />
                        {% endfor %}
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h4>{{ getVar('most_viewed_threads', 'lang') }}</h4>
                        {% for row in mostviews %}
                            <a href="{{ row.threadlink|raw }}"> <strong>{{ row.subject }}</strong></a> ({{ row.numberbit }} {{ getVar('views', 'lang') }})<br />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}