{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('calendar', 'lang') }} - {{ getVar('edit_event', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}


{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {{ event_errors|raw }}
        <form class="panel panel-primary" action="{{ bburl }}/calendar/deleteevent" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="deleteevent" />
            <input type="hidden" name="eid" value="{{ event.eid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('delete_event', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="media">
                        <div class="media-left">
                            <label class="checkbox-inline"><input type="checkbox" class="checkbox" name="delete" value="1" tabindex="9" /> {{ getVar('delete_q', 'lang') }}</label>
                        </div>
                        <div class="media-body">
                            {{ getVar('delete_1', 'lang') }}<br /><small>{{ getVar('delete_2', 'lang') }}</small>
                            <div class="pull-right">
                                <input type="submit" class="btn btn-danger btn-xs" name="submit" value="{{ getVar('delete_now', 'lang') }}" tabindex="10" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br />

        <form class="panel panel-primary" action="{{ bburl }}/calendar/editevent" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_editevent" />
            <input type="hidden" name="eid" value="{{ event.eid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('edit_event', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('event_name', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <input type="text" class="textbox" size="50" name="name" maxlength="120" value="{{ name }}"/>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('event_date', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <script type="text/javascript">
                                <!--
                                function toggleType()
                                {
                                    if($("#type_single").prop("checked"))
                                    {
                                        $("#ranged_selects").hide();
                                        $("#single_selects").show();
                                    }
                                    else
                                    {
                                        $("#single_selects").hide();
                                        $("#ranged_selects").show();
                                        toggleRepeats();
                                    }
                                }

                                function toggleRepeats()
                                {
                                    var repeats = $("#repeats").get(0).selectedIndex;
                                    $(".repeats_type").each(function()
                                    {
                                        $(this).hide();
                                    });
                                    if($("#repeats_type_"+repeats).length > 0)
                                    {
                                        $("#repeats_type_"+repeats).show();
                                    }
                                }
                                // -->
                            </script>
                            <dl style="margin-top: 0; margin-bottom: 0; width: 100%;">
                                <dt><input type="radio" name="type" value="single" {{ type_single|raw }} id="type_single" onclick="toggleType();" /> <label for="type_single"><strong>{{ getVar('type_single', 'lang') }}</strong></label></dt>
                                <dd style="margin-top: 4px;" id="single_selects">
                                    <select name="single_day">
                                        {{ single_days|raw }}
                                    </select>
                                    &nbsp;
                                    <select name="single_month">
                                        <option value="1"{{ single_month.1|raw }}>{{ getVar('month_1', 'lang') }}</option>
                                        <option value="2"{{ single_month.2|raw }}>{{ getVar('month_2', 'lang') }}</option>
                                        <option value="3"{{ single_month.3|raw }}>{{ getVar('month_3', 'lang') }}</option>
                                        <option value="4"{{ single_month.4|raw }}>{{ getVar('month_4', 'lang') }}</option>
                                        <option value="5"{{ single_month.5|raw }}>{{ getVar('month_5', 'lang') }}</option>
                                        <option value="6"{{ single_month.6|raw }}>{{ getVar('month_6', 'lang') }}</option>
                                        <option value="7"{{ single_month.7|raw }}>{{ getVar('month_7', 'lang') }}</option>
                                        <option value="8"{{ single_month.8|raw }}>{{ getVar('month_8', 'lang') }}</option>
                                        <option value="9"{{ single_month.9|raw }}>{{ getVar('month_9', 'lang') }}</option>
                                        <option value="10"{{ single_month.10|raw }}>{{ getVar('month_10', 'lang') }}</option>
                                        <option value="11"{{ single_month.11|raw }}>{{ getVar('month_11', 'lang') }}</option>
                                        <option value="12"{{ single_month.12|raw }}>{{ getVar('month_12', 'lang') }}</option>
                                    </select>
                                    &nbsp;
                                    <select name="single_year">
                                        {{ single_years|raw }}
                                    </select>
                                </dd>
                                <dt><input type="radio" name="type" value="ranged" {{ type_ranged|raw }} id="type_ranged" onclick="toggleType();" /> <label for="type_ranged"><strong>{{ getVar('type_ranged', 'lang') }}</strong></label></dt>
                                <dd style="margin-top: 4px; width: 100%;" id="ranged_selects">
                                    <table width="100%">
                                        <tr>
                                            <td class="smalltext" style="padding: 4px; text-align: right;">{{ getVar('start_time', 'lang') }}</td>
                                            <td style="padding: 4px;">
                                                <select name="start_day">
                                                    {{ start_days|raw }}
                                                </select>
                                                <select name="start_month">
                                                    <option value="1"{{ start_month.1|raw }}>{{ getVar('month_1', 'lang') }}</option>
                                                    <option value="2"{{ start_month.2|raw }}>{{ getVar('month_2', 'lang') }}</option>
                                                    <option value="3"{{ start_month.3|raw }}>{{ getVar('month_3', 'lang') }}</option>
                                                    <option value="4"{{ start_month.4|raw }}>{{ getVar('month_4', 'lang') }}</option>
                                                    <option value="5"{{ start_month.5|raw }}>{{ getVar('month_5', 'lang') }}</option>
                                                    <option value="6"{{ start_month.6|raw }}>{{ getVar('month_6', 'lang') }}</option>
                                                    <option value="7"{{ start_month.7|raw }}>{{ getVar('month_7', 'lang') }}</option>
                                                    <option value="8"{{ start_month.8|raw }}>{{ getVar('month_8', 'lang') }}</option>
                                                    <option value="9"{{ start_month.9|raw }}>{{ getVar('month_9', 'lang') }}</option>
                                                    <option value="10"{{ start_month.10|raw }}>{{ getVar('month_10', 'lang') }}</option>
                                                    <option value="11"{{ start_month.11|raw }}>{{ getVar('month_11', 'lang') }}</option>
                                                    <option value="12"{{ start_month.12|raw }}>{{ getVar('month_12', 'lang') }}</option>
                                                </select>
                                                <select name="start_year">
                                                    {{ start_years|raw }}
                                                </select>
                                                <span class="smalltext">&nbsp;&nbsp;&nbsp;{{ getVar('enter_time', 'lang') }}</span>
                                                <input type="text" class="textbox" name="start_time" value="{{ start_time }}" size="7" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="smalltext" style="padding: 4px; text-align: right;">{{ getVar('end_time', 'lang') }}</td>
                                            <td style="padding: 4px;">
                                                <select name="end_day">
                                                    {{ end_days|raw }}
                                                </select>
                                                <select name="end_month">
                                                    <option value="1"{{ end_month.1|raw }}>{{ getVar('month_1', 'lang') }}</option>
                                                    <option value="2"{{ end_month.2|raw }}>{{ getVar('month_2', 'lang') }}</option>
                                                    <option value="3"{{ end_month.3|raw }}>{{ getVar('month_3', 'lang') }}</option>
                                                    <option value="4"{{ end_month.4|raw }}>{{ getVar('month_4', 'lang') }}</option>
                                                    <option value="5"{{ end_month.5|raw }}>{{ getVar('month_5', 'lang') }}</option>
                                                    <option value="6"{{ end_month.6|raw }}>{{ getVar('month_6', 'lang') }}</option>
                                                    <option value="7"{{ end_month.7|raw }}>{{ getVar('month_7', 'lang') }}</option>
                                                    <option value="8"{{ end_month.8|raw }}>{{ getVar('month_8', 'lang') }}</option>
                                                    <option value="9"{{ end_month.9|raw }}>{{ getVar('month_9', 'lang') }}</option>
                                                    <option value="10"{{ end_month.10|raw }}>{{ getVar('month_10', 'lang') }}</option>
                                                    <option value="11"{{ end_month.11|raw }}>{{ getVar('month_11', 'lang') }}</option>
                                                    <option value="12"{{ end_month.12|raw }}>{{ getVar('month_12', 'lang') }}</option>
                                                </select>
                                                <select name="end_year">
                                                    {{ end_years|raw }}
                                                </select>
                                                <span class="smalltext">&nbsp;&nbsp;&nbsp;{{ getVar('enter_time', 'lang') }}</span>
                                                <input type="text" class="textbox" name="end_time" value="{{ end_time }}" size="7" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="smalltext" style="padding: 4px; text-align: right; vertical-align: top;">{{ getVar('timezone', 'lang') }}</td>
                                            <td style="padding: 4px;">
                                                {{ timezones|raw }}<br />
                                                <label class="smalltext" style="display: block; padding-top: 4px;"><input type="checkbox" name="ignoretimezone" value="1" {{ ignore_timezone|raw }} style="vertical-align: middle;" /> {{ getVar('ignore_timezone', 'lang') }}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="smalltext" style="padding: 4px; text-align: right; vertical-align:top;">{{ getVar('repeats', 'lang') }}</td>
                                            <td class="smalltext" style="padding: 4px;">
                                                <select name="repeats" id="repeats" onchange="toggleRepeats();">
                                                    <option value="0">{{ getVar('does_not_repeat', 'lang') }}</option>
                                                    <option value="1"{{ repeats_sel.1|raw }}>{{ getVar('repeats_daily', 'lang') }}</option>
                                                    <option value="2"{{ repeats_sel.2|raw }}>{{ getVar('repeats_weekdays', 'lang') }}</option>
                                                    <option value="3"{{ repeats_sel.3|raw }}>{{ getVar('repeats_weekly', 'lang') }}</option>
                                                    <option value="4"{{ repeats_sel.4|raw }}>{{ getVar('repeats_monthly', 'lang') }}</option>
                                                    <option value="5"{{ repeats_sel.5|raw }}>{{ getVar('repeats_yearly', 'lang') }}</option>
                                                </select>
                                                <div class="repeats_type" id="repeats_type_1" style="padding: 4px;">
                                                    {{ getVar('repeats_every', 'lang') }}
                                                    <input type="text" class="textbox" name="repeats_1_days" value="{{ repeats_1_days }}" size="2" /> {{ getVar('day_or_days', 'lang') }}
                                                </div>
                                                <div class="repeats_type" id="repeats_type_3" style="padding: 4px;">
                                                    {{ getVar('repeats_every', 'lang') }}
                                                    <input type="text" class="textbox" name="repeats_3_weeks" value="{{ repeats_3_weeks }}" size="2" /> {{ getVar('week_or_weeks_on', 'lang') }}
                                                    <br />
                                                    <table style="padding: 4px;">
                                                        <tr>
                                                            <td style="padding: 2px;" class="smalltext"><label><input type="checkbox" name="repeats_3_days[0]" value="1" {{ repeats_3_days.0|raw }} style="vertical-align: middle;" /> {{ getVar('sunday', 'lang') }}</label></td>
                                                            <td style="padding: 2px;" class="smalltext"><label><input type="checkbox" name="repeats_3_days[1]" value="1" {{ repeats_3_days.1|raw }} style="vertical-align: middle;" /> {{ getVar('monday', 'lang') }}</label></td>
                                                            <td style="padding: 2px;" class="smalltext"><label><input type="checkbox" name="repeats_3_days[2]" value="1" {{ repeats_3_days.2|raw }} style="vertical-align: middle;" /> {{ getVar('tuesday', 'lang') }}</label></td>
                                                            <td style="padding: 2px;" class="smalltext"><label><input type="checkbox" name="repeats_3_days[3]" value="1" {{ repeats_3_days.3|raw }} style="vertical-align: middle;" /> {{ getVar('wednesday', 'lang') }}</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 2px;" class="smalltext"><label><input type="checkbox" name="repeats_3_days[4]" value="1" {{ repeats_3_days.4|raw }} style="vertical-align: middle;" /> {{ getVar('thursday', 'lang') }}</label></td>
                                                            <td style="padding: 2px;" class="smalltext"><label><input type="checkbox" name="repeats_3_days[5]" value="1" {{ repeats_3_days.5|raw }} style="vertical-align: middle;" /> {{ getVar('friday', 'lang') }}</label></td>
                                                            <td style="padding: 2px;" class="smalltext" colspan="2"><label><input type="checkbox" name="repeats_3_days[6]" value="1" {{ repeats_3_days.6|raw }} style="vertical-align: middle;" /> {{ getVar('saturday', 'lang') }}</label></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="repeats_type" id="repeats_type_4" style="padding: 4px;">
                                                    <div class="smalltext"><label>
                                                            <input type="radio" name="repeats_4_type" id="repeats_4_type_1" value="1" style="vertical-align: middle;" {{ repeats_4_type.1|raw }} />
                                                            {{ getVar('repeats_on_day', 'lang') }}</label>
                                                        <input type="text" class="textbox" name="repeats_4_day" value="{{ repeats_4_day }}" onfocus="$('repeats_4_type_1').checked=true;" size="2" /> {{ getVar('of_every', 'lang') }} <input type="text" class="textbox" name="repeats_4_months" value="{{ repeats_4_months }}" size="2" onfocus="$('repeats_4_type_1').checked=true;" /> {{ getVar('month_or_months', 'lang') }}
                                                    </div>
                                                    <div class="smalltext" style="margin-top: 5px;"><label>
                                                            <input type="radio" name="repeats_4_type" id="repeats_4_type_2" value="2" style="vertical-align: middle;" {{ repeats_4_type.2|raw }} />
                                                            {{ getVar('repeats_on_the', 'lang') }}</label>
                                                        <select name="repeats_4_occurance" onfocus="$('repeats_4_type_2').checked=true;">
                                                            <option value="1"{{ repeats_4_occurance.1|raw }}>{{ getVar('first', 'lang') }}</option>
                                                            <option value="2"{{ repeats_4_occurance.2|raw }}>{{ getVar('second', 'lang') }}</option>
                                                            <option value="3"{{ repeats_4_occurance.3|raw }}>{{ getVar('third', 'lang') }}</option>
                                                            <option value="4"{{ repeats_4_occurance.4|raw }}>{{ getVar('fourth', 'lang') }}</option>
                                                            <option value="last"{{ repeats_4_occurance.last|raw }}>{{ getVar('last', 'lang') }}</option>
                                                        </select>
                                                        <select name="repeats_4_weekday" onfocus="$('repeats_4_type_2').checked=true;">
                                                            <option value="0"{{ repeats_4_weekday.0|raw }}>{{ getVar('sunday', 'lang') }}</option>
                                                            <option value="1"{{ repeats_4_weekday.1|raw }}>{{ getVar('monday', 'lang') }}</option>
                                                            <option value="2"{{ repeats_4_weekday.2|raw }}>{{ getVar('tuesday', 'lang') }}</option>
                                                            <option value="3"{{ repeats_4_weekday.3|raw }}>{{ getVar('wednesday', 'lang') }}</option>
                                                            <option value="4"{{ repeats_4_weekday.4|raw }}>{{ getVar('thursday', 'lang') }}</option>
                                                            <option value="5"{{ repeats_4_weekday.5|raw }}>{{ getVar('friday', 'lang') }}</option>
                                                            <option value="6"{{ repeats_4_weekday.6|raw }}>{{ getVar('saturday', 'lang') }}</option>
                                                        </select>
                                                        {{ getVar('of_every', 'lang') }}
                                                        <input type="text" class="textbox" name="repeats_4_months2" value="{{ repeats_4_months2 }}" size="2" onfocus="$('repeats_4_type_2').checked=true;" /> {{ getVar('month_or_months', 'lang') }}
                                                    </div>
                                                </div>
                                                <div class="repeats_type" id="repeats_type_5" style="padding: 4px;">
                                                    <div class="smalltext"><label>
                                                            <input type="radio" name="repeats_5_type" value="1" id="repeats_5_type_1" style="vertical-align: middle;" {{ repeats_5_type.1|raw }} />
                                                            {{ getVar('repeats_on', 'lang') }}</label>
                                                        <input type="text" class="textbox" name="repeats_5_day" onfocus="$('repeats_5_type_1').checked=true;" value="{{ repeats_5_day }}" size="2" />
                                                        <select name="repeats_5_month" onfocus="$('repeats_5_type_1').checked=true;" >
                                                            <option value="1"{{ repeats_5_month.1|raw }}>{{ getVar('month_1', 'lang') }}</option>
                                                            <option value="2"{{ repeats_5_month.2|raw }}>{{ getVar('month_2', 'lang') }}</option>
                                                            <option value="3"{{ repeats_5_month.3|raw }}>{{ getVar('month_3', 'lang') }}</option>
                                                            <option value="4"{{ repeats_5_month.4|raw }}>{{ getVar('month_4', 'lang') }}</option>
                                                            <option value="5"{{ repeats_5_month.5|raw }}>{{ getVar('month_5', 'lang') }}</option>
                                                            <option value="6"{{ repeats_5_month.6|raw }}>{{ getVar('month_6', 'lang') }}</option>
                                                            <option value="7"{{ repeats_5_month.7|raw }}>{{ getVar('month_7', 'lang') }}</option>
                                                            <option value="8"{{ repeats_5_month.8|raw }}>{{ getVar('month_8', 'lang') }}</option>
                                                            <option value="9"{{ repeats_5_month.9|raw }}>{{ getVar('month_9', 'lang') }}</option>
                                                            <option value="10"{{ repeats_5_month.10|raw }}>{{ getVar('month_10', 'lang') }}</option>
                                                            <option value="11"{{ repeats_5_month.11|raw }}>{{ getVar('month_11', 'lang') }}</option>
                                                            <option value="12"{{ repeats_5_month.12|raw }}>{{ getVar('month_12', 'lang') }}</option>
                                                        </select>
                                                        {{ getVar('every', 'lang') }}
                                                        <input type="text" class="textbox" name="repeats_5_years" value="{{ repeats_5_years }}" onfocus="$('repeats_5_type_1').checked=true;" size="2" /> {{ getVar('year_or_years', 'lang') }}
                                                    </div>
                                                    <div class="smalltext" style="margin-top: 5px;"><label>
                                                            <input type="radio" name="repeats_5_type" value="2" id="repeats_5_type_2" style="vertical-align: middle;" {{ repeats_5_type.2|raw }} />
                                                            {{ getVar('repeats_on_the', 'lang') }}</label>
                                                        <select name="repeats_5_occurance" onfocus="$('repeats_5_type_2').checked=true;" >
                                                            <option value="1"{{ repeats_5_occurance.1|raw }}>{{ getVar('first', 'lang') }}</option>
                                                            <option value="2"{{ repeats_5_occurance.2|raw }}>{{ getVar('second', 'lang') }}</option>
                                                            <option value="3"{{ repeats_5_occurance.3|raw }}>{{ getVar('third', 'lang') }}</option>
                                                            <option value="4"{{ repeats_5_occurance.4|raw }}>{{ getVar('fourth', 'lang') }}</option>
                                                            <option value="last"{{ repeats_5_occurance.last|raw }}>{{ getVar('last', 'lang') }}</option>
                                                        </select>
                                                        <select name="repeats_5_weekday" onfocus="$('repeats_5_type_2').checked=true;" >
                                                            <option value="0"{{ repeats_5_weekday.0|raw }}>{{ getVar('sunday', 'lang') }}</option>
                                                            <option value="1"{{ repeats_5_weekday.1|raw }}>{{ getVar('monday', 'lang') }}</option>
                                                            <option value="2"{{ repeats_5_weekday.2|raw }}>{{ getVar('tuesday', 'lang') }}</option>
                                                            <option value="3"{{ repeats_5_weekday.3|raw }}>{{ getVar('wednesday', 'lang') }}</option>
                                                            <option value="4"{{ repeats_5_weekday.4|raw }}>{{ getVar('thursday', 'lang') }}</option>
                                                            <option value="5"{{ repeats_5_weekday.5|raw }}>{{ getVar('friday', 'lang') }}</option>
                                                            <option value="6"{{ repeats_5_weekday.6|raw }}>{{ getVar('saturday', 'lang') }}</option>
                                                        </select>
                                                        {{ getVar('of', 'lang') }}
                                                        <select name="repeats_5_month2" onfocus="$('repeats_5_type_2').checked=true;" >
                                                            <option value="1"{{ repeats_5_month2.1|raw }}>{{ getVar('month_1', 'lang') }}</option>
                                                            <option value="2"{{ repeats_5_month2.2|raw }}>{{ getVar('month_2', 'lang') }}</option>
                                                            <option value="3"{{ repeats_5_month2.3|raw }}>{{ getVar('month_3', 'lang') }}</option>
                                                            <option value="4"{{ repeats_5_month2.4|raw }}>{{ getVar('month_4', 'lang') }}</option>
                                                            <option value="5"{{ repeats_5_month2.5|raw }}>{{ getVar('month_5', 'lang') }}</option>
                                                            <option value="6"{{ repeats_5_month2.6|raw }}>{{ getVar('month_6', 'lang') }}</option>
                                                            <option value="7"{{ repeats_5_month2.7|raw }}>{{ getVar('month_7', 'lang') }}</option>
                                                            <option value="8"{{ repeats_5_month2.8|raw }}>{{ getVar('month_8', 'lang') }}</option>
                                                            <option value="9"{{ repeats_5_month2.9|raw }}>{{ getVar('month_9', 'lang') }}</option>
                                                            <option value="10"{{ repeats_5_month2.10|raw }}>{{ getVar('month_10', 'lang') }}</option>
                                                            <option value="11"{{ repeats_5_month2.11|raw }}>{{ getVar('month_11', 'lang') }}</option>
                                                            <option value="12"{{ repeats_5_month2.12|raw }}>{{ getVar('month_12', 'lang') }}</option>
                                                        </select>
                                                        {{ getVar('every', 'lang') }}
                                                        <input type="text" class="textbox" name="repeats_5_years2" value="{{ repeats_5_years2 }}" size="2" onfocus="$('repeats_5_type_2').checked=true;" /> {{ getVar('year_or_years', 'lang') }}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </dd>
                            </dl>
                            <script type="text/javascript">
                                <!--
                                toggleType();
                                toggleRepeats();
                                // -->
                            </script>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">
                            {{ getVar('event_details', 'lang') }}
                            {% if getVar('smilieinserter', 'var') == true %}
                                {% include '@forum/Misc/clickablesmilies.html.twig' %}
                            {% endif %}
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <textarea name="description" id="message" rows="20" cols="70">{{ description|raw }}</textarea>
                            {% if getVar('codebuttons', 'var') == true %}
                                {% include '@forum/Misc/codebuttons.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('event_options', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <input type="checkbox" class="checkbox" name="private" value="1"{{ privatecheck|raw }} /><small>{{ getVar('private_option', 'lang') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('edit_event', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}