{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('calendar', 'lang') }} - {{ event.name }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ event.name }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row" style="padding-left: 15px">
                        {{ time_period }}
                    </div>
                </div>
                <div class="list-group-item trow1{{ event_class }}">
                    <div class="row" style="padding-left: 15px">
                        <div class="pull-left">
                            <strong><span class="largetext">{{ event.profilelink|raw }}</span></strong><br />
                            <small>{{ event.usertitle }}<br />
                                {{ event.userstars|raw }}
                            </small>
                        </div>
                        <div class="pull-right">
                            {% if getVar('showModOptions', 'var') == true %}
                                <form method="post" action="{{ bburl }}/calendar/event">
                                    <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
                                    <input type="hidden" name="eid" value="{{ event.eid }}">
                                    <select name="action" onchange="if(this.options[this.selectedIndex].value != '') { window.location=('{{ bburl }}/calendar/'+this.options[this.selectedIndex].value+'?eid={{ event.eid }}&amp;my_post_key={{ getVar('post_code', 'var') }}') }">
                                        <option value="" style="font-weight: bold;">{{ getVar('moderator_options', 'lang') }}</option>
                                        <option value="{{ approve_value }}">{{ approve }}</option>
                                        <option value="move">{{ getVar('move_event', 'lang') }}</option>
                                    </select>
                                    <input type="submit" class="button" value="{{ getVar('go', 'lang') }}" />
                                </form>
                                <br />
                            {% endif %}
                            {% if repeats is not empty %}
                                <span class="smalltext"><strong>{{ getVar('repeats', 'lang') }}</strong><br />{{ repeats|raw }}</span>
                            {% endif %}
                        </div>
                        <br class="clear" />
                    </div>
                </div>
                <div class="list-group-item trow2 scaleimages{{ row.event_class }}">
                    <div class="row" style="padding-left: 15px">
                        <p>{{ event.description|raw }}</p>
                        {% if getVar('showEditButton', 'var') == true %}
                            <div style="text-align: right; vertical-align: bottom;" class="postbit_buttons">
                                <a href="{{ bburl }}/calendar/editevent?eid={{ event.eid }}" class="postbit_edit"><span>{{ getVar('postbit_button_edit', 'lang') }}</span></a>
                                <a href="javascript:MyBB.deleteEvent({{ event.eid }});" class="postbit_qdelete"><span>{{ getVar('postbit_button_qdelete', 'lang') }}</span></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="overflow: hidden">
                <form action="{{ bburl }}/calendar" method="post">
                    <div class="pull-left">
                        {% if getVar('canaddevents', 'group') == 1 %}
                        <a class="btn btn-primary btn-xs" href="{{ bburl }}/calendar/addevent?calendar={{ calendar.cid }}">{{ getVar('add_public_event', 'lang') }}</a>
                        <a class="btn btn-primary btn-xs" href="{{ bburl }}/calendar/addevent?calendar={{ calendar.cid }}&private=1">{{ getVar('add_private_event', 'lang') }}</a>
                        {% endif %}
                    </div>
                    <div class="pull-right">
                        <small>{{ getVar('jump_month', 'lang') }}</small>
                        <select name="month">
                            <option value="{{ month }}">{{ curr_month }}</option>
                            <option value="{{ month }}">----------</option>
                            <option value="1">{{ getVar('alt_month_1', 'lang') }}</option>
                            <option value="2">{{ getVar('alt_month_2', 'lang') }}</option>
                            <option value="3">{{ getVar('alt_month_3', 'lang') }}</option>
                            <option value="4">{{ getVar('alt_month_4', 'lang') }}</option>
                            <option value="5">{{ getVar('alt_month_5', 'lang') }}</option>
                            <option value="6">{{ getVar('alt_month_6', 'lang') }}</option>
                            <option value="7">{{ getVar('alt_month_7', 'lang') }}</option>
                            <option value="8">{{ getVar('alt_month_8', 'lang') }}</option>
                            <option value="9">{{ getVar('alt_month_9', 'lang') }}</option>
                            <option value="10">{{ getVar('alt_month_10', 'lang') }}</option>
                            <option value="11">{{ getVar('alt_month_11', 'lang') }}</option>
                            <option value="12">{{ getVar('alt_month_12', 'lang') }}</option>
                        </select>
                        <select name="year">
                            {% for row in yearsel %}
                                <option value="{{ row.year_sel }}">{{ row.year_sel }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary btn-xs" value="{{ getVar('go', 'lang') }}" />
                        <br />
                        {% if jump_options is not empty %}
                            <br />
                            <small>{{ getVar('jump_to_calendar', 'lang') }}</small>
                            <select name="calendar">
                                {% for row in jump_options %}
                                    <option value="{{ row.calendar.cid }}" {{ row.sel|raw }}>{{ row.calendar.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn btn-primary btn-xs" value="{{ getVar('go', 'lang') }}" />
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

        <br />
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}