{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('calendar', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}


{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="overflow: hidden">
                <div class="btn-group pull-right">
                    <a class="btn btn-info btn-xs" href="{{ prev_link|raw }}">&laquo; {{ prev_month.name }} {{ prev_month.year }}</a>
                    <a class="btn btn-info btn-xs" href="{{ next_link|raw }}">{{ next_month.name }} {{ next_month.year }} &raquo;</a>
                </div>
                <h3 class="panel-title">{{ curr_month }} {{ year }}</h3>
            </div>
            <table class="table table-striped calendar">
                <thead>
                    <tr class="info">
                        <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                        {% for row in weekday_headers %}
                        <th class="text-center" width="14%"><strong>{{ row.weekday_name }}</strong></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for row in calendar_rows %}
                <tr>
                    <th><a href="{{ row.week_link|raw }}"><i class="fa fa-hand-o-right" aria-hidden="true"></i></a></th>
                    {% for day in row.day_bits %}
                        <th class="{{ day.class }}" style="vertical-align: top; height: 100px;">
                            <div class="float_right smalltext"><a href="{{ day.link|raw }}">{{ day.day }}</a></div>
                            <div class="clear">
                                <div style="margin-bottom: 4px;"><a href="{{ row.calendarlink|raw }}" class="smalltext">{{ day.bday_count }} {{ day.birthday_lang }}</a></div>
                                {{ day.events|raw }}
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="panel-footer" style="overflow: hidden">
                <form action="{{ bburl }}/calendar" method="post">
                    <div class="pull-left">
                        {% if getVar('canaddevents', 'group') == 1 %}
                        <a class="btn btn-primary btn-xs" href="{{ bburl }}/calendar/addevent?calendar={{ calendar.cid }}">{{ getVar('add_public_event', 'lang') }}</a>
                        <a class="btn btn-primary btn-xs" href="{{ bburl }}/calendar/addevent?calendar={{ calendar.cid }}&private=1">{{ getVar('add_private_event', 'lang') }}</a>
                        {% endif %}
                    </div>
                    <div class="pull-right">
                        <span class="smalltext"><strong>{{ getVar('jump_month', 'lang') }}</strong></span>
                        <select name="month">
                            <option value="{{ month }}">{{ curr_month }}</option>
                            <option value="{{ month }}">----------</option>
                            <option value="1">{{ getVar('alt_month_1', 'lang') }}</option>
                            <option value="2">{{ getVar('alt_month_2', 'lang') }}</option>
                            <option value="3">{{ getVar('alt_month_3', 'lang') }}</option>
                            <option value="4">{{ getVar('alt_month_4', 'lang') }}</option>
                            <option value="5">{{ getVar('alt_month_5', 'lang') }}</option>
                            <option value="6">{{ getVar('alt_month_6', 'lang') }}</option>
                            <option value="7">{{ getVar('alt_month_7', 'lang') }}</option>
                            <option value="8">{{ getVar('alt_month_8', 'lang') }}</option>
                            <option value="9">{{ getVar('alt_month_9', 'lang') }}</option>
                            <option value="10">{{ getVar('alt_month_10', 'lang') }}</option>
                            <option value="11">{{ getVar('alt_month_11', 'lang') }}</option>
                            <option value="12">{{ getVar('alt_month_12', 'lang') }}</option>
                        </select>
                        <select name="year">
                            <option value="{{ year }}">{{ year }}</option>
                            <option value="{{ year }}">----------</option>
                            {% for row in yearsel %}
                            <option value="{{ row.year_sel }}">{{ row.year_sel }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary btn-xs" value="{{ getVar('go', 'lang') }}" />
                        <br />
                        {% if jump_options is not empty %}
                        <br />
                        <small>{{ getVar('jump_to_calendar', 'lang') }}</small>
                        <select name="calendar">
                            {% for row in jump_options %}
                            <option value="{{ row.calendar.cid }}" {{ row.sel|raw }}>{{ row.calendar.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary btn-xs" value="{{ getVar('go', 'lang') }}" />
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}