{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('calendar', 'lang') }} - {{ getVar('move_event', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/calendar/move" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_move" />
            <input type="hidden" name="eid" value="{{ event.eid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('move_event', 'lang') }}: {{ event.name }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('move_to_calendar', 'lang') }}</div>
                        <div class="col-xs-3 col-sm-9">
                            <select name="new_calendar">
                                {{ calendar_select|raw }}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('move_event', 'lang') }}" />
            </div>

        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}