{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('calendar', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="overflow: hidden">
                        <div class="btn-group btn-group-xs pull-right">
                            <a class="btn btn-info" href="{{ prev_link|raw }}">&laquo; {{ getVar('previous_week', 'lang') }}</a>
                            <a class="btn btn-info" href="{{ next_link|raw }}">{{ getVar('next_week', 'lang') }} &raquo;</a>
                        </div>
                        <h3 class="panel-title">
                            {{ getVar('weekly_overview', 'lang') }} ({{ friendly_week_from }} - {{ friendly_week_to }})
                        </h3>
                    </div>
                    <div class="list-group">
                        {% for row in weekday_bits %}
                            <div class="list-group-item list-group-item-info">
                                <h4 class="panel-title">{{ row.weekday_month }} {{ row.weekday_year }}</h4>
                            </div>
                            {% for day in row.days %}
                            <div class="list-group-item list-group-item-success">
                                <h5 class="list-group-item-heading">{{ day.weekday_name }}</h5>
                            </div>
                            <div class="list-group-item">
                                <div class="media">
                                    <div class="media-left {{ day.day_shaded }}">
                                        <h2 class="media-heading" style="text-align: center; padding: 8px;">{{ day.weekday_day }}</h2>
                                    </div>
                                    <div class="media-body" style="padding-left: 15px">
                                        {% if day.day_birthdays is not empty or day.day_events is not empty %}
                                        <div class="media-bottom small">{{ day.day_birthdays|raw }}{{ day.day_events|raw }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <div class="panel-footer text-right" style="overflow: hidden;">
                        <form action="{{ bburl }}/calendar" method="post">
                            {% if getVar('canaddevents', 'group') == 1 %}
                            <div class="btn-group btn-group-xs pull-left clearfix">
                                <a class="btn btn-info" href="{{ bburl }}/calendar/addevent?calendar={{ calendar.cid }}">{{ getVar('add_public_event', 'lang') }}</a>
                                <a class="btn btn-info" href="{{ bburl }}/calendar/addevent?calendar={{ calendar.cid }}&private=1">{{ getVar('add_private_event', 'lang') }}</a>
                            </div>
                            {% endif %}
                            <div class="pull-right">
                                <label class="sr-only">{{ getVar('jump_month', 'lang') }}</label>
                                <div class="form-inline force-inline">
                                    <select name="month">
                                        <option value="{{ week_from.1 }}">{{ week_from_one }}</option>
                                        <option value="{{ week_from.1 }}">----------</option>
                                        <option value="1">{{ getVar('alt_month_1', 'lang') }}</option>
                                        <option value="2">{{ getVar('alt_month_2', 'lang') }}</option>
                                        <option value="3">{{ getVar('alt_month_3', 'lang') }}</option>
                                        <option value="4">{{ getVar('alt_month_4', 'lang') }}</option>
                                        <option value="5">{{ getVar('alt_month_5', 'lang') }}</option>
                                        <option value="6">{{ getVar('alt_month_6', 'lang') }}</option>
                                        <option value="7">{{ getVar('alt_month_7', 'lang') }}</option>
                                        <option value="8">{{ getVar('alt_month_8', 'lang') }}</option>
                                        <option value="9">{{ getVar('alt_month_9', 'lang') }}</option>
                                        <option value="10">{{ getVar('alt_month_10', 'lang') }}</option>
                                        <option value="11">{{ getVar('alt_month_11', 'lang') }}</option>
                                        <option value="12">{{ getVar('alt_month_12', 'lang') }}</option>
                                    </select>
                                    <select name="year">
                                        <option value="{{ week_from.2 }}">{{ week_from.2 }}</option>
                                        <option value="{{ week_from.2 }}">----------</option>
                                        {% for row in yearsel %}
                                            <option value="{{ row.year_sel }}">{{ row.year_sel }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="btn btn-info btn-xs" value="{{ getVar('go', 'lang') }}" />
                                    <br />
                                    {% if jump_options is not empty %}
                                        <br />
                                        <span class="smalltext"><strong>{{ getVar('jump_to_calendar', 'lang') }}</strong></span>
                                        <select name="calendar">
                                            {% for row in jump_options %}
                                                <option value="{{ row.calendar.cid }}" {{ row.sel|raw }}>{{ row.calendar.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="submit" class="btn btn-info btn-xs" value="{{ getVar('go', 'lang') }}" />
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                {% for row in mini_calendars %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="{{ row.month_link }}">{{ row.month }} {{ row.year }}</a></h3>
                        </div>

                        <table class="table table-striped table-hover calendar">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                                    {% for head in row.weekday_headers %}
                                    <th style="width: 14%; text-align: center">{{ head.weekday_name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for calrow in row.calendar_rows %}
                                <tr>
                                    <th><a href="{{ calrow.week_link|raw }}">
                                            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                        </a>
                                    </th>
                                    {% for day in calrow.day_bits %}
                                    <th class="{{ day.day_class }}" style="text-align: center;">{{ day.day_link }}</th>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <br />
                {% endfor %}
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}