{% for row in attachments %}
    {% if row.attachment.visible != 1 %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-7 col-sm-7">
                    {{ row.attachment.icon|raw }} &nbsp;
                    <em><a href="{{ bburl }}/attachment?aid={{ row.attachment.aid }}" target="_blank">{{ row.attachment.filename }}</a> ({{ row.attachment.size }})</em>
                </div>
                <div class="col-xs-5 col-sm-5">
                    {% if row.attach_mod_options == true %}
                        {% if row.attachment.visible == 1 %}
                    <input type="submit" class="btn btn-warning" name="unapproveattach" value="{{ getVar('unapprove_attachment', 'lang') }}" onclick="return Post.attachmentAction({{ row.attachment.aid }},'unapprove');" />
                        {% else %}
                    <input type="submit" class="btn btn-info" name="approveattach" value="{{ getVar('approve_attachment', 'lang') }}" onclick="return Post.attachmentAction({{ row.attachment.aid }},'approve');" />
                        {% endif %}
                    {% endif %}
                    <input type="submit" class="button" name="rem" value="{{ getVar('remove_attachment', 'lang') }}" onclick="return Post.removeAttachment({{ row.attachment.aid }});" />
                    {% if row.postinsert == true %}
                    <input type="button" class="btn btn-success" name="insert" value="{{ getVar('insert_attachment_post', 'lang') }}" onclick="$('#message').sceditor('instance').insertText('[attachment={{ row.attachment.aid }}]');" />
                    {% endif %}
                </div>
            </div>
        </li>
    {% else %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-7 col-sm-7">
                    {{ row.attachment.icon|raw }} &nbsp; {{ row.attachment.filename }} ({{ row.attachment.size }})
                </div>
                <div class="col-xs-5 col-sm-5">
                    {% if row.attach_mod_options == true %}
                        {% if row.attachment.visible == 1 %}
                    <input type="submit" class="btn btn-warning" name="unapproveattach" value="{{ getVar('unapprove_attachment', 'lang') }}" onclick="return Post.attachmentAction({{ row.attachment.aid }},'unapprove');" />
                        {% else %}
                    <input type="submit" class="btn btn-info" name="approveattach" value="{{ getVar('approve_attachment', 'lang') }}" onclick="return Post.attachmentAction({{ row.attachment.aid }},'approve');" />
                        {% endif %}
                    {% endif %}
                    <input type="submit" class="btn btn-danger" name="rem" value="{{ getVar('remove_attachment', 'lang') }}" onclick="return Post.removeAttachment({{ row.attachment.aid }});" />
                    {% if row.postinsert == true %}
                    <input type="button" class="btn btn-success" name="insert" value="{{ getVar('insert_attachment_post', 'lang') }}" onclick="$('#message').sceditor('instance').insertText('[attachment={{ row.attachment.aid }}]');" />
                    {% endif %}
                </div>
            </div>
        </li>
    {% endif %}
{% endfor %}