<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="#" onclick="UserCP.closeBuddySelect(true); return false;"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
                <h3 class="panel-title">{{ getVar('select_buddies', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    {{ getVar('select_buddies_desc', 'lang') }}
                </div>
                {% for row in online %}
                <div class="list-group-item">
                    <input type="checkbox" style="vertical-align: middle;" id="checkbox_{{ row.uid }}" onclick="UserCP.selectBuddy('{{ row.uid }}', '{{ row.username|raw }}');" /> <img src="{{ getVar('imgdir', 'theme') }}/buddy_online.png" alt="({{ getVar('online', 'lang') }})" title="{{ getVar('online', 'lang') }}" style="vertical-align: middle;" /> {{ row.buddy_name|raw }}
                </div>
                {% endfor %}

                {% for row in offline %}
                <div class="list-group-item">
                    <input type="checkbox" style="vertical-align: middle;" id="checkbox_{{ row.uid }}" onclick="UserCP.selectBuddy('{{ row.uid }}', '{{ row.username|raw }}');" /> <img src="{{ getVar('imgdir', 'theme') }}/buddy_offline.png" alt="({{ getVar('offline', 'lang') }})" title="{{ getVar('offline', 'lang') }}" style="vertical-align: middle;" /> {{ row.buddy_name|raw }}
                </div>
                {% endfor %}
            </div>

            <div class="list-group-item list-group-item-success">
                <small><strong>{{ getVar('selected_recipients', 'lang') }}</strong></small>
                <div id="buddyselect_buddies" class="smalltext" style="padding-left: 10px; height: 50px; overflow: auto;"></div>
            </div>
            <div class="panel-footer text-right">
                <input type="submit" class="btn btn-primary btn-xs" value="{{ getVar('ok', 'lang') }}" onclick="UserCP.closeBuddySelect();" />
                <input type="submit" class="btn btn-primary btn-xs" value="{{ getVar('cancel', 'lang') }}" onclick="UserCP.closeBuddySelect(true);" />
            </div>
        </div>
    </div>
</div>