<div class="modal">
    <div style="overflow-y: auto; max-height: 600px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('buddy_list', 'lang') }}</h3>
            </div>
            <div class="list-group">
                {% if buddys is not empty %}
                    <div class="list-group-item list-group-item-info">
                        <h3 class="panel-title">{{ getVar('online', 'lang') }}</h3>
                    </div>
                    {% if buddys.online is iterable %}
                        {% for row in buddys.online %}
                            <div class="list-group-item {{ row.boffline_alt }}">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="{{ row.buddy.avatar.image|raw }}" alt="" {{ row.buddy.avatar.width_height|raw }} style="margin-top: 3px;" />
                                    </div>

                                    <div class="col-xs-10">
                                        <small>{{ row.profile_link|raw }}<br />
                                            {{ row.last_active|raw }}<br />{{ row.send_pm|raw }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="list-group-item">
                            {{ buddys.online|raw }}
                        </div>
                    {% endif %}


                    <div class="list-group-item list-group-item-info">
                        <h3 class="panel-title">{{ getVar('offline', 'lang') }}</h3>
                    </div>
                    {% if buddys.offline is iterable %}
                        {% for row in buddys.offline %}
                            <div class="list-group-item {{ row.boffline_alt }}">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="{{ row.buddy.avatar.image|raw }}" alt="" {{ row.buddy.avatar.width_height|raw }} style="margin-top: 3px;" />
                                    </div>

                                    <div class="col-xs-10">
                                        <small>{{ row.profile_link|raw }}<br />
                                        {{ row.last_active|raw }}<br />{{ row.send_pm|raw }}</small>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="list-group-item">
                            {{ buddys.offline|raw }}
                        </div>
                    {% endif %}
                {% else %}
                <div class="list-group-item">
                    <h3 class="panel-title">{{ buddys.error|raw }}</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>