<div style="margin:auto; width: 170px; margin-top: 20px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ getVar('smilieinsert', 'lang') }}</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">

                {% set smilieinsertercols = getVar('smilieinsertercols', 'set') %}
                <div class="row">
                    {% for key, row in smiliesArray %}
                    {% if key and key % smilieinsertercols == 0 %}
                </div><!-- /.row -->
                <div class="row">
                    {% endif %}
                    <div class="col-sm-{{ 12 / smilieinsertercols }}">
                        <img src="{{ row.image }}" alt="{{ row.name }}" title="{{ row.name }}" class="smilie smilie_{{ row.sid }} smilie_pointer" onclick="BBEditor.insertText(' {{ row.find }} ');" />
                    </div>
                    {% endfor %}
                </div><!-- /.row -->

            </li>
            {% if getmore == true %}
            <li class="list-group-item text-center">
                <a class="btn btn-primary btn-xs" href="javascript:MyBB.popupWindow('/misc/smilies?popup=true&editor=BBEditor&modal=1')">{{ getVar('smilieinsert_getmore', 'lang') }}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>