<link rel="stylesheet" href="{{ asset_url }}/jscripts/sceditor/editor_themes/{{ getVar('editortheme', 'theme') }}" type="text/css" media="all" />
<script type="text/javascript" src="{{ asset_url }}/jscripts/sceditor/jquery.sceditor.bbcode.min.js?ver=1805"></script>
<script type="text/javascript" src="{{ asset_url }}/jscripts/bbcodes_sceditor.js?ver=1804"></script>
<script type="text/javascript" src="{{ asset_url }}/jscripts/sceditor/editor_plugins/undo.js?ver=1805"></script>
<script type="text/javascript">
var partialmode = {{ getVar('partialmode', 'set') }},
opt_editor = {
    plugins: "bbcode,undo",
    style: "{{ asset_url }}/jscripts/sceditor/textarea_styles/jquery.sceditor.{{ getVar('editortheme', 'theme') }}",
    rtl: {{ edvar.rtl }},
    locale: "mybblang",
    enablePasteFiltering: true,
    autoUpdate: true,
    emoticonsEnabled: {{ edvar.emoticons_enabled }},
    emoticons: {
        // Emoticons to be included in the dropdown
        dropdown: {
            {{ edvar.dropdownsmilies|raw }}
        },
        // Emoticons to be included in the more section
        more: {
            {{ edvar.moresmilies|raw }}
        },
        // Emoticons that are not shown in the dropdown but will still be converted. Can be used for things like aliases
        hidden: {
            {{ edvar.hiddensmilies|raw }}
        }
    },
    emoticonsCompat: true,
    toolbar: "{{ edvar.basic1 }}{{ edvar.align }}{{ edvar.font }}{{ edvar.size }}{{ edvar.color }}{{ edvar.removeformat }}{{ edvar.basic2 }}image,{{ edvar.email }}{{ edvar.link }}|video{{ edvar.emoticon }}|{{ edvar.list }}{{ edvar.code }}quote|maximize,source",
    };
{{ editor_language|raw }}
$(function() {
    $("#{{ edvar.bind }}").sceditor(opt_editor);

    BBEditor = $("#{{ edvar.bind }}").sceditor("instance");
    {% if getVar('sourceeditor', 'user') == 1 %}
        BBEditor.sourceMode(true);
    {% endif %}
});
</script>