{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('help_doc_results', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="expcolimage">
                    <span id="sid_{{ row.section.sid }}_img" class="expander collapse" alt="[-]" title="[-]" /></span>
                </div>
                <h3 class="panel-title">{{ getVar('help_doc_results', 'lang') }}</h3>
            </div>
            <div class="list-group" style="{{ row.expdisplay }}" id="sid_{{ row.section.sid }}_e">
                <div class="list-group-item list-group-item-info">{{ getVar('document', 'lang') }}</div>
                {% if helpdoclist is not empty %}
                    {% for row in helpdoclist %}
                <div class="list-group-item">
                    <a href="{{ bburl }}/misc/help?hid={{ row.helpdoc.hid }}{{ row.highlight }}">{{ row.helpdoc.name }}</a>
                    <br />
                    <small><em>{{ row.prev|raw }}</em></small>
                </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    {{ getVar('no_help_results', 'lang') }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}