{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('help_docs', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ helpdoc.name }}</h3>
            </div>
            <div class="panel-body scaleimages">
                {{ helpdoc.document|raw }}
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}