{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('help_docs', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {% for row in sections %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="expcolimage">
                    <span id="sid_{{ row.section.sid }}_img" class="expander collapse" alt="[-]" title="[-]" /></span>
                </div>
                <h3 class="panel-title">{{ row.section.name }}</h3>
            </div>
            <div class="list-group" style="{{ row.expdisplay }}" id="sid_{{ row.section.sid }}_e">
                <div class="list-group-item list-group-item-info">{{ row.section.description }}</div>
                {% for bit in row.helpbits %}
                <div class="list-group-item {{ bit.altbg }}">
                    <a href="{{ bburl }}/misc/help?hid={{ bit.helpdoc.hid }}">{{ bit.helpdoc.name }}</a>
                    <br />
                    <small>{{ bit.helpdoc.description }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
        <br />
        {% endfor %}

        {% if getVar('helpsearch', 'set') == 1 %}
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('search', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ bburl }}/misc/help" method="post">
                    <div class="float_left" style="padding-top: 5px;">
                        <input type="text" name="keywords" value="{{ getVar('enter_keywords', 'lang') }}" onfocus="if(this.value == '{{ getVar('enter_keywords', 'lang') }}') { this.value = ''; }" onblur="if(this.value=='') { this.value='{{ getVar('enter_keywords', 'lang') }}'; }" class="textbox" size="25" />
                    </div>
                    <div class="float_left" style="padding-left: 20px;">
                        <span class="smalltext">
                            <label><input name="name" checked="checked" value="1" type="checkbox"> {{ getVar('search_by_name', 'lang') }}</label><br />
                            <label><input name="document" checked="checked" value="1" type="checkbox"> {{ getVar('search_by_document', 'lang') }}</label>
                        </span>
                    </div>
                    <div class="float_left" style="padding-left: 20px; padding-top: 5px;">
                        <input type="hidden" name="action" value="do_helpsearch" />
                        <input type="submit" class="button" name="submit" value="{{ getVar('search_help_documents', 'lang') }}" />
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}