<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ user.username }} - {{ getVar('aim_center', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <small>
                                - <a href="javascript:;" onclick="MyBB.popupWindow('/misc/imcenter?imtype=aim&uid={{ user.uid }}&modal=1'); return false;">{{ getVar('aol_im', 'lang') }}</a>
                            </small>
                        </div>
                    </div>
                </div>
                <!-- Begin AIM Remote -->
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tr class="text-center">
                                        <td style="border: none; padding: 0px">
                                            <a href="http://www.aim.com/"><img src="http://info.aol.co.uk/aim/remote/gr/aimver_man.gif" width="44" height="55" alt="{{ getVar('download_aim', 'lang') }}" title="{{ getVar('download_aim', 'lang') }}" /></a><img src="http://info.aol.co.uk/aim/remote/gr/aimver_topsm.gif" width="73" height="55" alt="{{ getVar('aim_remote', 'lang') }}" title="{{ getVar('aim_remote', 'lang') }}" />
                                        </td>
                                    </tr>
                                    <tr class="text-center">
                                        <td style="border: none; padding: 0px">
                                            <a href="aim:goim?screenname={{ user.aim }}&message=Hi.+Are+you+there?"><img src="http://info.aol.co.uk/aim/remote/gr/aimver_im.gif" width="117" height="39" alt="{{ getVar('send_me_instant', 'lang') }}" title="{{ getVar('send_me_instant', 'lang') }}" /></a>
                                        </td>
                                    </tr>
                                    <tr class="text-center">
                                        <td style="border: none; padding: 0px">
                                            <a href="aim:addbuddy?screenname={{ user.aim }}"><img src="http://info.aol.co.uk/aim/remote/gr/aimver_bud.gif" width="117" height="39" alt="{{ getVar('add_me_buddy_list', 'lang') }}" title="{{ getVar('add_me_buddy_list', 'lang') }}" /></a>
                                        </td>
                                    </tr>
                                    <tr class="text-center">
                                        <td style="border: none; padding: 0px">
                                            <a href="http://www.aim.com/"><img src="http://info.aol.co.uk/aim/remote/gr/aimver_botdow.gif" width="117" height="29" alt="{{ getVar('download_aol_im', 'lang') }}" title="{{ getVar('download_aol_im', 'lang') }}" /></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End AIM Remote -->
            </div>
        </div>
    </div>
</div>