<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ user.username }} - {{ getVar('skype_center', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            - <a href="javascript:;" onclick="MyBB.popupWindow('/misc/imcenter?imtype=skype&uid={{ user.uid }}&modal=1'); return false;">{{ getVar('skype', 'lang') }}</a>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ user.skype }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12"><a href="skype:{{ user.skype }}?chat">{{ getVar('chat_on_skype', 'lang') }}</a>  -  <a href="skype:{{ user.skype }}?call">{{ getVar('call_on_skype', 'lang') }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>