<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ user.username }} - {{ getVar('yahoo_center', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            - <a href="javascript:;" onclick="MyBB.popupWindow('/misc/imcenter?imtype=yahoo&uid={{ user.uid }}&modal=1'); return false;">{{ getVar('yahoo_im', 'lang') }}</a>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ user.yahoo }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12"><img src="http://opi.yahoo.com/online?u={{ user.yahoo }}&m=g&t=2" /></div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <a href="http://edit.yahoo.com/config/send_webmesg?.target={{ user.yahoo }}&.src=pg">{{ getVar('send_y_message', 'lang') }}</a>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <a href="http://members.yahoo.com/interests?.oc=t&.kw={{ user.yahoo }}&.sb=1">{{ getVar('view_y_profile', 'lang') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>