<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head profile="http://gmpg.org/xfn/1">
    <title>{{ title }}</title>
    <meta name="author" content="MyBB Group" />
    <meta name="copyright" content="Copyright {{ copy_year }} MyBB Group." />
    <link rel="stylesheet" href="{{ bbasset_url }}/admin/styles/{{ cp_style }}/login.css" type="text/css" />
    <script type="text/javascript" src="{{ base_url() }}/assets/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/jscripts/general.js?ver=1807"></script>
    <script type="text/javascript" src="{{ bbasset_url }}/admin/jscripts/admincp.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        loading_text = '{{ loading_text|raw }}';
        //]]>
    </script>
</head>
<body>
<div id="container"{{ login_container_width }}>
    <div id="header">
        <div id="logo">
            <h1><a href="{{ bburl }}" title="{{ return }}"><span class="invisible">{{ bbacp }}</span></a></h1>
        </div>
    </div>
    <div id="content">
        <h2>{{ please_login }}</h2>
        {% if flash_message is not empty %}
        <p id="message" class="{{ flash_class }}"><span class="text">{{ flash_message|raw }}</span></p>
        {% endif %}
        <p>{{ login_lang_string }}</p>
        <form method="post" action="/admin{{ query_string }}">
            <div class="form_container">

                <div class="label"{{ login_label_width }}><label for="username">{{ lang_username }}</label></div>

                <div class="field"><input type="text" name="username" id="username" class="text_input initial_focus" /></div>

                <div class="label"{{ login_label_width }}><label for="password">{{ lang_password }}</label></div>
                <div class="field"><input type="password" name="password" id="password" class="text_input" /></div>
                {{ secret_pin }}
            </div>
            <p class="submit">
			<span class="forgot_password">
				<a href="{{ bburl }}/lostpw">{{ lang_lost_password }}</a>
			</span>

                <input type="submit" value="{{ lang_login }}" />
                <input type="hidden" name="do" value="login" />
            </p>
        </form>
    </div>
</div>
</body>
</html>