{% if getVar('showIgnoreBit', 'var') == true %}
    <div class="ignored_post" id="ignored_post_{{ post.pid }}">
        <div class="ignored_post_author"><strong><span class="largetext">{{ post.profilelink|raw }}</span></strong></div>
        <div class="ignored_post_message">
            <div class="show_ignored_post float_right" style="vertical-align: top;" id="show_ignored_link_{{ post.pid }}">
            <a href="#" onclick="Thread.showIgnoredPost({{ post.pid }}); return false;" class="button small_button">
            <span>{{ getVar('postbit_show_ignored_post', 'lang') }}</span></a></div>
        <script type="text/javascript">
              <!--
                $('#show_ignored_link_{{ post.pid }}').show();
              // -->
              </script>
        {{ post.ignored_message|raw }}
    </div>
    </div>
{% endif %}

<a name="pid{{ post.pid }}" id="pid{{ post.pid }}"></a>
<div class="post {{ post.is_classic_tpl }} {{ post.unapproved_shade }}" style="{{ post.post_visibility }}" id="post_{{ post.pid }}">
    <div class="post_author scaleimages">
        {{ post.useravatar|raw }}
        <div class="author_information">
            <strong><span class="largetext">{{ post.profilelink|raw }}</span></strong> {{ post.onlinestatus|raw }}<br />
            <span class="smalltext">
				{{ post.usertitle }}<br />
				{{ post.userstars|raw }}
				{{ post.groupimage|raw }}
			</span>
        </div>
        <div class="author_statistics">
            {{ post.user_details|raw }}
        </div>
    </div>
    <div class="post_content">
        <div class="post_head">
            <div class="float_right" style="vertical-align: top">
                <strong><a href="{{ post.postlink|raw }}#pid{{ post.pid }}" title="{{ post.subject_title }}">#{{ post.post_number }}</a></strong>
                {{ post.inlinecheck|raw }}
            </div>
            {{ post.icon|raw }}
            <span class="post_date">{{ post.postdate }} <span class="post_edit" id="edited_by_{{ post.pid }}">{{ post.editedmsg|raw }}</span></span>
            {{ post.subject_extra|raw }}
        </div>
        <div class="post_body scaleimages" id="pid_{{ post.pid }}">
            {{ post.message|raw }}
        </div>
        {{ post.attachments|raw }}
        {{ post.signature|raw }}
        <div class="post_meta" id="post_meta_{{ post.pid }}">
            {{ post.iplogged|raw }}
        </div>
    </div>
    <div class="post_controls">
        <div class="postbit_buttons author_buttons float_left">
            {{ post.button_email|raw }}{{ post.button_pm|raw }}{{ post.button_www|raw }}{{ post.button_find|raw }}{{ post.button_rep|raw }}
        </div>
        <div class="postbit_buttons post_management_buttons float_right">
            {{ post.button_edit|raw }}{{ post.button_quickdelete|raw }}{{ post.button_quickrestore|raw }}{{ post.button_quote|raw }}{{ post.button_multiquote|raw }}{{ post.button_report|raw }}{{ post.button_warn|raw }}{{ post.button_purgespammer|raw }}{{ post.button_reply_pm|raw }}{{ post.button_replyall_pm|raw }}{{ post.button_forward_pm|raw }}{{ post.button_delete_pm|raw }}
        </div>
    </div>
</div>