<div class="list-group-item">
    <div class="row">
        <div class="col-sm-3">
            <strong>{{ getVar('image_verification', 'lang') }}:</strong>
            <br />
            <small>{{ getVar('verification_note', 'lang') }}</small>
        </div>
        <div class="col-sm-9">
            <script type="text/javascript">
                <!--
                lang.captcha_fetch_failure = "{{ getVar('captcha_fetch_failure', 'lang') }}";
                // -->
            </script>
            <script type="text/javascript" src="{{ asset_url }}/jscripts/captcha.js?ver=1804"></script>


            <img src="{{ bburl }}/captcha?imagehash={{ imagehash }}" alt="{{ getVar('image_verification', 'lang') }}" title="{{ getVar('image_verification', 'lang') }}" id="captcha_img" />
            <br />
            <span style="color: red;" class="smalltext">{{ getVar('verification_subnote', 'lang') }}</span>

            <br />

            <input type="text" class="form-control" name="imagestring" value="" id="imagestring" size="16" />
            <input type="hidden" name="imagehash" value="{{ imagehash }}" id="imagehash" />
            <script type="text/javascript">
                <!--
                if(use_xmlhttprequest == "1")
                {
                    document.write('<input type="button" class="button" name="refresh" value="{{ getVar('refresh', 'lang') }}" onclick="return captcha.refresh();" \/>');
                }
                // -->
            </script>

        </div>
    </div>
</div>
