{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ title|raw }}
    {% endblock title %}

    {% block head %}
        <meta http-equiv="refresh" content="2;URL={{ url|raw }}" />

        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}

    <div class="modal" style="width: 100%; display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title">{{ title|raw }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ message|raw }}</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ url|raw }}" class="btn btn-primary pull-right">{{ getVar('click_no_wait', 'lang') }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}