<div class="modal">
    <div style="overflow: hidden; max-height: 600px;" class="modal_">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('smilies_listing', 'lang') }}</h3>
            </div>
            <div class="list-group list-group-item-info">
                <small>{{ getVar('click_to_add', 'lang') }}</small>
            </div>

            <div class="panel-body">
                <div class="row">
                {% for key, row in smilies %}
                    {% if key and key % 2 == 0 %}
                </div><!-- /.row -->
                <div class="row">
                    {% endif %}
                    <div class="col-sm-6" style="padding: 5px">
                        <div class="col-sm-4">
                            <img src="{{ row.smilie.image }}" alt="{{ row.smilie.name }}" title="{{ row.smilie.name }}" class="smilie smilie_{{ row.smilie.sid }} smilie_pointer" onclick="BBEditor.insertText('{{ row.smilie_insert }}');" />
                        </div>
                        <div class="col-sm-8 {{ row.class }}">
                            {{ row.smilie.find }}
                        </div>
                    </div>
                {% endfor %}
                </div><!-- /.row -->
            </div>
        </div>
    </div>
</div>