{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('smilies_listing', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('smilies_listing', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-sm-4">{{ getVar('name', 'lang') }}</div>
                        <div class="col-sm-8">{{ getVar('abbreviation', 'lang') }}</div>
                    </div>
                </div>
                {% for row in smilies %}
                <div class="list-group-item {{ row.class }}">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="{{ row.smilie.image|raw }}" alt="{{ row.smilie.name }}" title="{{ row.smilie.name }}" class="smilie smilie_{{ row.smilie.sid }}" />
                        </div>
                        <div class="col-sm-3">{{ row.smilie.name }}</div>
                        <div class="col-sm-8">{{ row.smilie.find }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}