{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('syndication', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {% if url is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('syndication_generated_url', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                {{ url|raw }}
            </div>
        </div>
        {% endif %}

        <form class="panel panel-primary" method="post" action="{{ bburl }}/misc/syndication">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('syndication', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            {{ getVar('syndication_note', 'lang') }}
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">
                            <label>{{ getVar('syndication_forum', 'lang') }}</label><br />
                            <small>{{ getVar('syndication_forum_desc', 'lang') }}</small>
                        </div>
                        <div class="col-xs-8 col-sm-8">{{ forumselect|raw }}</div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">
                            <label>{{ getVar('syndication_version', 'lang') }}</label><br />
                            <small>{{ getVar('syndication_version_desc', 'lang') }}</small>
                        </div>
                        <div class="col-xs-8 col-sm-8 form-inline">
                            <input type="radio" class="radio" name="version" value="rss2.0" {{ rss2check|raw }} />&nbsp;{{ getVar('syndication_version_rss2', 'lang') }}<br />
                            <input type="radio" class="radio" name="version" value="atom1.0" {{ atom1check|raw }} />&nbsp;{{ getVar('syndication_version_atom1', 'lang') }}
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">
                            <label>{{ getVar('syndication_limit', 'lang') }}</label><br />
                            <small>{{ getVar('syndication_limit_desc', 'lang') }}</small>
                        </div>
                        <div class="col-xs-8 col-sm-8 form-inline">
                            <input type="number" class="form-control" name="limit" value="{{ limit }}" size="3" /> {{ getVar('syndication_threads_time', 'lang') }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="make" value="{{ getVar('syndication_generate', 'lang') }}" />
            </div>
        </form>

    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}