<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('total_posts', 'lang') }} {{ numposts }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-7">
                            <a href="{{ bburl }}/misc/whoposted?tid={{ tid }}&sort=username">{{ getVar('user', 'lang') }}</a>
                        </div>
                        <div class="col-xs-5">
                            <a href="{{ bburl }}/misc/whoposted?tid={{ tid }}&sort=numposts">{{ getVar('num_posts', 'lang') }}</a>
                        </div>
                    </div>
                </div>
                {% for row in whoposted %}
                <div class="list-group-item {{ row.altbg }}">
                    <div class="row">
                        <div class="col-xs-7">
                            {{ row.profile_link|raw }}
                        </div>
                        <div class="col-xs-5">
                            {{ row.posts }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>