{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('edit_poll', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/moderation" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_deletepoll" />
            <input type="hidden" name="tid" value="{{ tid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('delete_poll', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1"><input type="checkbox" class="checkbox" name="delete" value="1" tabindex="9" />{{ getVar('delete_q', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9 form-inline">
                            {{ getVar('delete_note', 'lang') }}<br /><small>{{ getVar('delete_note2', 'lang') }}</small>
                        </div>
                        <div class="col-xs-1 col-sm-1"><input type="submit" class="btn btn-primary btn-xs" name="submit" value="{{ getVar('delete_poll', 'lang') }}" tabindex="10" /></div>
                    </div>
                </div>
            </div>
        </form>

        <form class="panel panel-primary" action="{{ bburl }}/polls/editpoll" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_editpoll" />
            <input type="hidden" name="pid" value="{{ pid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('edit_poll', 'lang') }}</h3>
            </div>
            <div class="list-group">
                {% if getVar('uid', 'user') != 0 %}
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                                <div class="col-xs-10 col-sm-10">{{ getVar('username', 'user') }} <small>[<a href="{{ bburl }}/member/logout?logoutkey={{ getVar('logoutkey', 'user') }}">{{ getVar('change_user', 'lang') }}</a>]</small></div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                                <div class="col-xs-10 col-sm-10"><input type="text" class="form-control" name="username" size="30" value="{{ getVar('username', 'user') }}" /></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('question', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10"><input type="text" class="form-control" name="question" size="40" maxlength="240" value="{{ question|raw }}" /></div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                {{ getVar('num_options', 'lang') }}<br /><small>{{ getVar('max_options', 'lang') }} {{ getVar('maxpolloptions', 'set') }}</small>
                            </div>
                            <div class="col-xs-10 col-sm-10 form-inline">
                                <input type="text" class="form-control" name="numoptions" size="10" value="{{ numoptions }}" />&nbsp;&nbsp;
                                <input type="submit" class="btn btn-primary btn-xs" name="updateoptions" value="{{ getVar('update_options', 'lang') }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('poll_options', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10">
                                <small>{{ getVar('poll_options_note', 'lang') }}</small>
                                <div class="row form-inline">
                                    {% for row in optionbits %}
                                        <div class="col-xs-12 col-sm-12 form-inline">
                                            {{ getVar('option', 'lang') }} {{ row.counter }}:&nbsp;
                                            <input type="text" class="form-control" name="options[{{ row.counter }}]" value="{{ row.option }}" />
                                            {{ getVar('votes', 'lang') }}&nbsp;
                                            <input type="text" class="form-control" name="votes[{{ row.counter }}]" value="{{ row.optionvotes }}" />
                                            <br />
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('options', 'lang') }}</div>
                            <div class="col-xs-10 col-sm-10 form-inline">
                                <small>
                                    <input type="checkbox" class="checkbox" name="postoptions[multiple]" value="1" {{ postoptionschecked.multiple|raw }} />&nbsp;{{ getVar('option_multiple', 'lang') }}<br />
                                    <span id="maxOptions" style="display: none">{{ getVar('option_multiple_maxoptions', 'lang') }} <input type="text" class="textbox" name="maxoptions" value="{{ maxoptions }}" /><br /></span>
                                    <script type="text/javascript">
                                        //<!--
                                        if($("input[name='postoptions[multiple]']").is(":checked")) {
                                            $("#maxOptions").css("display", "");
                                        }

                                        $("input[name='postoptions[multiple]']").click(function() {
                                            if($(this).is(":checked")) {
                                                $("#maxOptions").css("display", "");
                                            } else {
                                                $("#maxOptions").css("display", "none");
                                            }
                                        });
                                        // -->
                                    </script>
                                    <input type="checkbox" class="checkbox" name="postoptions[public]" value="1" {{ postoptionschecked.public|raw }} />&nbsp;{{ getVar('option_public', 'lang') }}<br />
                                    <input type="checkbox" class="checkbox" name="postoptions[closed]" value="1" {{ postoptionschecked.closed|raw }} />&nbsp;{{ getVar('option_closed', 'lang') }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                {{ getVar('poll_timeout', 'lang') }}
                            </div>
                            <div class="col-xs-10 col-sm-10">
                                <input type="text" class="form-control" name="timeout" value="{{ timeout }}" /> {{ getVar('days_after', 'lang') }} {{ polldate }}
                                <br /><small>{{ getVar('timeout_note', 'lang') }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('update_poll', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}