{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('post_new_poll', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/polls/newpoll" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_newpoll" />
            <input type="hidden" name="tid" value="{{ tid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('post_new_poll', 'lang') }}</h3>
            </div>
            <div class="list-group">
                {% if getVar('uid', 'user') != 0 %}
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            {{ getVar('username', 'user') }} <small>[<a href="{{ bburl }}/member/logout?logoutkey={{ getVar('logoutkey', 'user') }}">{{ getVar('change_user', 'lang') }}</a>]</small>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <input type="text" class="form-control" name="username" size="30" value="{{ getVar('username', 'user') }}" />
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('question', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <input type="text" class="form-control" name="question" size="40" maxlength="240" value="{{ question }}" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">
                            {{ getVar('num_options', 'lang') }}<br />
                            <small>{{ getVar('max_options', 'lang') }} {{ getVar('maxpolloptions', 'set') }}</small>
                        </div>
                        <div class="col-xs-10 col-sm-10 form-inline">
                            <input type="text" class="form-control" name="polloptions" size="10" value="{{ polloptions }}" />&nbsp;
                            <input type="submit" class="btn btn-default btn-xs" name="updateoptions" value="{{ getVar('update_options', 'lang') }}" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('poll_options', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <small>{{ getVar('poll_options_note', 'lang') }}</small>
                            <div class="row">
                                {% for row in optionbits %}
                                <div class="col-xs-12 col-sm-12 form-inline">
                                    {{ getVar('option', 'lang') }} {{ row.i }}:&nbsp;
                                    <input type="text" class="form-control" name="options[{{ row.i }}]" value="{{ row.option }}" size="25" />
                                    <br />
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('options', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10 form-inline">
                            <small>
                                <label><input type="checkbox" class="checkbox" name="postoptions[multiple]" value="1" {{ postoptionschecked.multiple|raw }} />&nbsp;{{ getVar('option_multiple', 'lang') }}</label><br />
                                <span id="maxOptions" style="display: none">{{ getVar('option_multiple_maxoptions', 'lang') }} <input type="text" class="textbox" name="maxoptions" value="0" /><br /></span>
                                <script type="text/javascript">
                                //<!--
                                if($("input[name='postoptions[multiple]']").is(":checked")) {
                                    $("#maxOptions").css("display", "");
                                }

                                $("input[name='postoptions[multiple]']").click(function() {
                                    if($(this).is(":checked")) {
                                        $("#maxOptions").css("display", "");
                                    } else {
                                        $("#maxOptions").css("display", "none");
                                    }
                                });
                                // -->
                                </script>
                                <label><input type="checkbox" class="checkbox" name="postoptions[public]" value="1" {{ postoptionschecked.public|raw }} />&nbsp;{{ getVar('option_public', 'lang') }}</label>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('poll_timeout', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <input type="text" class="form-inline" name="timeout" value="{{ timeout }}" /> {{ getVar('days', 'lang') }}
                            <br /><small>{{ getVar('timeout_note', 'lang') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('post_new_poll', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}