{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('poll_results', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ question|raw }}</h3>
            </div>
            <div class="list-group">
                {% for row in polloptions %}
                <div class="list-group-item {{ row.optionbg }}">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 text-nowrap">{{ row.option }}{{ row.votestar }}</div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                                     aria-valuenow="{{ row.percent }}" aria-valuemin="0" aria-valuemax="100"
                                     style="width:{{ row.percent }}%">
                                    {{ row.percent }}%
                                </div>
                            </div>
                            {{ row.userlist|raw }}
                        </div>
                        <div class="col-xs-1 col-sm-1">{{ row.votes }}</div>
                        <div class="col-xs-1 col-sm-1">{{ row.percent }}%</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-10 col-sm-10 text-right">{{ getVar('poll_total', 'lang') }}</div>
                    <div class="col-xs-1 col-sm-1 text-nowrap">{{ numvotes }} {{ getVar('poll_votes', 'lang') }}</div>
                    <div class="col-xs-1 col-sm-1">{{ totpercent }}</div>
                </div>
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}