{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('subscribe_to_thread', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/usercp/addsubscription" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_addsubscription" />
            <input type="hidden" name="tid" value="{{ tid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('subscribe_to_thread', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            {{ getVar('notification_method', 'lang') }}
                        </div>
                        <div class="col-sm-9">
                            <input type="radio" name="notification" id="notification_none" value="0" {{ notification.none|raw }} />
                            <label for="notification_none">{{ getVar('no_notification', 'lang') }}</label><br /><small>{{ getVar('no_notification_desc', 'lang') }}</small><br />

                            <input type="radio" name="notification" id="notification_email" value="1" {{ notification.email|raw }} />
                            <label for="notification_email">{{ getVar('email_notification', 'lang') }}</label><br /><small>{{ getVar('email_notification_desc', 'lang') }}</small><br />

                            <input type="radio" name="notification" id="notification_pm" value="2" {{ notification.pm|raw }} />
                            <label for="notification_pm">{{ getVar('pm_notification', 'lang') }}</label><br /><small>{{ getVar('pm_notification_desc', 'lang') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('do_subscribe', 'lang') }}" tabindex="3" accesskey="s" />
            </div>

        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}