{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('attachments_manager', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/usercp/attachments" method="post" name="attachmentsmanager">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_attachments" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('attachments_manager', 'lang') }} {{ usagenote|raw }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <input type="checkbox" name="allbox" class="checkall" style="position: absolute; right: 15px; z-index: 1" />
                        <div class="col-xs-11 col-sm-6">{{ getVar('attachments_attachment', 'lang') }}</div>
                        <div class="hidden-xs col-sm-3 text-nowrap">{{ getVar('attachments_post', 'lang') }}</div>
                        <div class="hidden-xs col-sm-3 text-nowrap">{{ getVar('date_uploaded', 'lang') }}</div>
                    </div>
                </div>
                {% if attachments is not empty %}
                    {% for row in attachments %}
                        <div class="list-group-item {{ row.altbg }}">
                            <input style="position: absolute; right: 15px; z-index: 1" type="checkbox" class="checkbox" name="attachments[{{ row.aid }}]" value="{{ row.aid }}" />
                            <div class="row">
                                <div class="col-xs-11 col-sm-6">
                                    <div class="media">
                                        <div class="media-left">
                                            {{ row.icon|raw }}
                                        </div>
                                        <div class="media-body">
                                            <a href="{{ bburl }}/attachment?aid={{ row.aid }}" target="_blank">{{ row.filename }}</a><br />
                                            <small>{{ row.sizedownloads }}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-xs col-sm-3 text-nowrap">
                                    <a href="{{ row.postlink|raw }}#pid{{ row.pid }}">{{ row.subject|raw }}</a><br />
                                    <small>{{ getVar('attachment_thread', 'lang') }} <a href="{{ row.threadlink|raw }}">{{ row.threadsubject|raw }}</a></small>
                                </div>
                                <div class="hidden-xs col-sm-3 text-nowrap">{{ row.attachdate }}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="list-group-item">{{ getVar('no_attachments', 'lang') }}</div>
                {% endif %}
            </div>
            <div class="panel-footer text-right">
                <input type="submit" class="btn btn-danger btn-xs" value="{{ getVar('delete_attachments', 'lang') }}" />
            </div>

            <br />
            {{ multipage|raw }}
        </form>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('attachments_stats', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-11 col-sm-3">{{ getVar('attachstats_attachs', 'lang') }}</div>
                        <div class="hidden-xs col-sm-9">{{ totalattachments }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-11 col-sm-3">{{ getVar('attachstats_spaceused', 'lang') }}</div>
                        <div class="hidden-xs col-sm-9">{{ friendlyusage }} ({{ percent }})</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-11 col-sm-3">{{ getVar('attachstats_quota', 'lang') }}</div>
                        <div class="hidden-xs col-sm-9">{{ attachquota }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-11 col-sm-3">{{ getVar('attachstats_totaldl', 'lang') }}</div>
                        <div class="hidden-xs col-sm-9">{{ totaldownloads }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-11 col-sm-3">{{ getVar('attachstats_bandwidth', 'lang') }}</div>
                        <div class="hidden-xs col-sm-9">{{ bandwidth }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}