{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('change_avatar', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" enctype="multipart/form-data" action="{{ bburl }}/usercp/avatar" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_avatar" />

            {{ errors|raw }}

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('change_avatar', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        {{ getVar('avatar_note', 'lang') }}
                        <br /><strong>{{ avatarmsg|raw }}</strong>
                    </div>
                    <div class="media-right">
                        <div class="img-circle" style="width: 120px; height: 120px; margin: 0 auto; background: url('{{ useravatar.image }}') no-repeat center center; background-size: cover" title="{{ getVar('avatar_mine', 'lang') }}"></div>
                    </div>
                </div>
            </div>
            <div class="panel-body form-horizontal">
                <h4>{{ getVar('custom_avatar', 'lang') }}</h4>
                {% if getVar('canuploadavatars', 'group') == 1 %}
                <div class="form-group form-inline">
                    <label class="col-sm-2 control-label">{{ getVar('avatar_upload', 'lang') }}</label>
                    <div class="col-sm-10">
                        <input type="file" name="avatarupload" size="25" class="fileupload" />
                        <span class="help-block">{{ getVar('avatar_upload_note', 'lang') }}</span>
                        {% set resizing = getVar('avatarresizing', 'set') %}
                        {% if resizing == 'auto' %}
                        <span class="help-block">{{ getVar('avatar_auto_resize_note', 'lang') }}</span>
                        {% elseif resizing == 'user' %}
                        <span class="help-block">
                            <input type="checkbox" name="auto_resize" value="1" checked="checked" id="auto_resize" />
                            <label for="auto_resize">{{ getVar('avatar_auto_resize_option', 'lang') }}</label>
                        </span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                <div class="form-group form-inline">
                    <label class="col-sm-2 control-label">{{ getVar('avatar_url', 'lang') }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="avatarurl" size="45" value="{{ avatarurl|raw }}" />
                        <span class="help-block">{{ getVar('avatar_url_note', 'lang') }}</span>
                        <span class="help-block">{{ getVar('avatar_url_gravatar', 'lang') }}</span>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('change_avatar', 'lang') }}" />
                {% if getVar('avatar', 'user') is not empty %}
                <input type="submit" class="btn btn-primary" name="remove" value="{{ getVar('remove_avatar', 'lang') }}" />
                {% endif %}
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}