{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('drafts', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/usercp/drafts" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_drafts" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('drafts_count', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <input style="position: absolute; right: 15px; z-index: 1" type="checkbox" name="allbox" class="checkall" />
                    <div class="row">
                        <div class="col-xs-11 col-sm-7">{{ getVar('draft_title', 'lang') }}</div>
                        <div class="hidden-xs col-sm-2 text-nowrap">{{ getVar('draft_saved', 'lang') }}</div>
                        <div class="hidden-xs col-sm-3 text-nowrap">{{ getVar('draft_options', 'lang') }}</div>
                    </div>
                </div>
                {% if drafts is not empty %}
                    {% for row in drafts %}
                    <div class="list-group-item {{ row.trow }}">
                        <input style="position: absolute; right: 15px; z-index: 1" type="checkbox" class="checkbox" name="deletedraft[{{ row.id }}]" value="{{ row.type }}" />
                        <div class="row">
                            <div class="col-xs-11 col-sm-7"><strong>{{ row.subject }}</strong><br /><small>{{ row.detail|raw }}</small></div>
                            <div class="hidden-xs col-sm-2 text-nowrap">{{ row.savedate }}</div>
                            <div class="hidden-xs col-sm-3 text-nowrap"><a href="{{ row.editurl|raw }}">{{ getVar('edit_draft', 'lang') }}</a></div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">{{ getVar('no_drafts', 'lang') }}</div>
                {% endif %}
            </div>
            <div class="panel-footer text-right">
                <input type="submit" class="btn btn-danger btn-xs" name="draftman" value="{{ getVar('delete_drafts', 'lang') }}" {{ disable_delete_drafts|raw }} />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}