{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('edit_lists', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript" src="{{ asset_url }}/jscripts/usercp.js?ver=1804"></script>
        <script type="text/javascript">
            lang.remove_buddy = '{{ getVar('confirm_remove_buddy', 'lang') }}';
            lang.remove_ignored = '{{ getVar('confirm_remove_ignored', 'lang') }}';
            lang.adding_buddy = '{{ getVar('adding_buddy', 'lang') }}';
            lang.adding_ignored = '{{ getVar('adding_ignored', 'lang') }}';
            lang.buddylist_error = '{{ getVar('buddylist_error', 'lang') }}';
        </script>

        <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
        <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/usercp/editlists" method="post" id="buddy" onsubmit="return UserCP.addBuddy('buddy');">
            <input type="hidden" name="action" value="do_editlists" />
            <input type="hidden" name="manage" value="buddy" />
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('edit_buddy_list', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                <h4>{{ getVar('add_buddies', 'lang') }}</h4>
                <small>{{ getVar('add_buddies_desc', 'lang') }}</small><br />
                <label>{{ getVar('username_or_usernames', 'lang') }}</label>
                <div class="form-group form-inline">
                    <input type="text" name="add_username" id="buddy_add_username" style="width: 70%;" class="textbox" /> <input type="submit" value="{{ getVar('add_to_buddies', 'lang') }}" id="buddy_submit" class="btn btn-primary" />
                </div>
                <script type="text/javascript">
                    <!--
                    if(use_xmlhttprequest == "1")
                    {
                        MyBB.select2();
                        $("#buddy_add_username").select2({
                            placeholder: "{{ getVar('search_user', 'lang') }}",
                            minimumInputLength: 2,
                            maximumSelectionSize: 5,
                            multiple: true,
                            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                url: "{{ bburl }}/xmlhttp?action=get_users",
                                dataType: 'json',
                                data: function (term, page) {
                                    return {
                                        query: term, // search term
                                    };
                                },
                                results: function (data, page) { // parse the results into the format expected by Select2.
                                    // since we are using custom formatting functions we do not need to alter remote JSON data
                                    return {results: data};
                                }
                            },
                            initSelection: function(element, callback) {
                                var query = $(element).val();
                                if (query !== "") {
                                    var newqueries = [];
                                    exp_queries = query.split(",");
                                    $.each(exp_queries, function(index, value ){
                                        if(value.replace(/\s/g, '') != "")
                                        {
                                            var newquery = {
                                                id: value.replace(/,\s?/g, ", "),
                                                text: value.replace(/,\s?/g, ", ")
                                            };
                                            newqueries.push(newquery);
                                        }
                                    });
                                    callback(newqueries);
                                }
                            },
                        });
                    }
                    // -->
                </script>
                <h4>{{ getVar('current_buddies', 'lang') }}</h4>
                <ul id="buddy_list" class="list-inline">
                    {% if buddy_list is not empty %}
                        {% for row in buddy_list %}
                            <li class="float_left" id="buddy_{{ row.uid }}" style="width: 33%; list-style: none; margin-bottom: 4px;">
                                <a href="{{ bburl }}/usercp/do_editlists?my_post_key={{ getVar('post_code', 'var') }}&manage=buddy&delete={{ row.uid }}"
                                   onclick="return UserCP.removeBuddy('buddy', {{ row.uid }});" title="{{ getVar('remove_from_list', 'lang') }}">
                                    <img src="{{ getVar('imgdir', 'theme') }}/buddy_delete.png" title="{{ getVar('remove_from_list', 'lang') }}"
                                         alt="{{ getVar('remove_from_list', 'lang') }}" style="vertical-align: middle;" /></a>
                                <img src="{{ getVar('imgdir', 'theme') }}/buddy_{{ row.status }}.png" title="{{ getVar('status', 'lang') }}" alt="" style="vertical-align: middle;" />
                                {{ row.profile_link|raw }}
                            </li>
                        {% endfor %}
                    {% else %}
                    <li><small>{{ getVar('buddy_list_empty', 'lang') }}</small></li>
                    {% endif %}
                </ul>
            </div>
        </form>
        <br />

        <form class="panel panel-primary" action="{{ bburl }}/usercp/editlists" method="post" id="ignored" onsubmit="return UserCP.addBuddy('ignored');">
            <input type="hidden" name="action" value="do_editlists" />
            <input type="hidden" name="manage" value="ignored" />
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('edit_ignore_list', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                <h4>{{ getVar('add_ignored_users', 'lang') }}</h4>
                <small>{{ getVar('add_ignored_users_desc', 'lang') }}</small><br />
                <label>{{ getVar('username_or_usernames', 'lang') }}</label>
                <div class="form-group form-inline">
                    <input type="text" name="add_username" id="ignored_add_username" style="width: 70%;" class="textbox" /> <input type="submit" value="{{ getVar('ignore_users', 'lang') }}" id="ignored_submit" class="btn btn-primary" />
                </div>
                <script type="text/javascript">
                    <!--
                    if(use_xmlhttprequest == "1")
                    {
                        MyBB.select2();
                        $("#ignored_add_username").select2({
                            placeholder: "{{ getVar('search_user', 'lang') }}",
                            minimumInputLength: 2,
                            maximumSelectionSize: 5,
                            multiple: true,
                            ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                url: "{{ bburl }}/xmlhttp?action=get_users",
                                dataType: 'json',
                                data: function (term, page) {
                                    return {
                                        query: term, // search term
                                    };
                                },
                                results: function (data, page) { // parse the results into the format expected by Select2.
                                    // since we are using custom formatting functions we do not need to alter remote JSON data
                                    return {results: data};
                                }
                            },
                            initSelection: function(element, callback) {
                                var query = $(element).val();
                                if (query !== "") {
                                    var newqueries = [];
                                    exp_queries = query.split(",");
                                    $.each(exp_queries, function(index, value ){
                                        if(value.replace(/\s/g, '') != "")
                                        {
                                            var newquery = {
                                                id: value.replace(/,\s?/g, ", "),
                                                text: value.replace(/,\s?/g, ", ")
                                            };
                                            newqueries.push(newquery);
                                        }
                                    });
                                    callback(newqueries);
                                }
                            },
                        });
                    }
                    // -->
                </script>

                <h4>{{ getVar('current_ignored_users', 'lang') }}</h4>
                <ul id="ignore_list" class="list-inline">
                    {% if ignore_list is not empty %}
                        {% for row in ignore_list %}
                            <li class="float_left" id="ignored_{{ row.uid }}" style="width: 33%; list-style: none; margin-bottom: 4px;">
                                <a href="{{ bburl }}/usercp/do_editlists?my_post_key={{ getVar('post_code', 'var') }}&manage=ignored&delete={{ row.uid }}" onclick="return UserCP.removeBuddy('ignored', {{ row.uid }});" title="{{ getVar('remove_from_list', 'lang') }}">
                                    <img src="{{ getVar('imgdir', 'theme') }}/buddy_delete.png" title="{{ getVar('remove_from_list', 'lang') }}" alt="{{ getVar('remove_from_list', 'lang') }}" style="vertical-align: middle;" /></a>
                                <img src="{{ getVar('imgdir', 'theme') }}/buddy_{{ row.status }}.png" title="{{ getVar('status', 'lang') }}" alt="" style="vertical-align: middle;" />
                                {{ row.profile_link|raw }}
                            </li>
                        {% endfor %}
                    {% else %}
                    <li><small>{{ getVar('ignore_list_empty', 'lang') }}</small></li>
                    {% endif %}
                </ul>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('buddyrequests_received', 'lang') }}</h3>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4">{{ getVar('from', 'lang') }}</div>
                                <div class="col-xs-4">{{ getVar('date', 'lang') }}</div>
                                <div class="col-xs-4">{{ getVar('options', 'lang') }}</div>
                            </div>
                        </div>
                        {% if received_rows is not empty %}
                            {% for row in received_rows %}
                            <div class="list-group-item">
                                <div class="row {{ row.bgcolor }}">
                                    <div class="col-xs-4">{{ row.username|raw }}</div>
                                    <div class="col-xs-4">{{ row.date }}</div>
                                    <div class="col-xs-4"><a href="{{ bburl }}/usercp/acceptrequest?id={{ row.id }}&my_post_key={{ getVar('post_code', 'var') }}">{{ getVar('accept', 'lang') }}</a> - <a href="{{ getVar('bburl', 'set') }}/usercp/declinerequest?id={{ row.id }}&my_post_key={{ getVar('post_code', 'var') }}">{{ getVar('decline', 'lang') }}</a></div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="list-group-item">{{ getVar('no_requests', 'lang') }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('buddyrequests_sent', 'lang') }}</h3>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4">{{ getVar('to', 'lang') }}</div>
                                <div class="col-xs-4">{{ getVar('date', 'lang') }}</div>
                                <div class="col-xs-4">{{ getVar('options', 'lang') }}</div>
                            </div>
                        </div>
                        {% if sent_rows is not empty %}
                            {% for row in sent_rows %}
                            <div class="list-group-item">
                                <div class="row {{ row.bgcolor }}">
                                    <div class="col-xs-4">{{ row.username|raw }}</div>
                                    <div class="col-xs-4">{{ row.date }}</div>
                                    <div class="col-xs-4"><a href="{{ bburl }}/usercp/cancelrequest?id={{ row.id }}&my_post_key={{ getVar('post_code', 'var') }}">{{ getVar('cancel', 'lang') }}</a></div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="list-group-item">{{ getVar('no_requests', 'lang') }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}