{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('edit_sig', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">

        {{ error|raw }}

        {% if getVar('showSignature', 'var') == true %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {% if template == 'preview' %}
                        {{ getVar('sig_preview', 'lang') }}
                    {% else %}
                        {{ getVar('current_sig', 'lang') }}
                    {% endif %}
                </h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    {{ sigpreview|raw }}
                </li>
            </ul>
        </div>
        <br />
        {% endif %}

        <form class="panel panel-primary" action="{{ bburl }}/usercp/editsig" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_editsig" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('edit_sig', 'lang') }}</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">
                            <small>{{ getVar('edit_sig_note', 'lang') }}</small>
                            {% if getVar('smilieinserter', 'var') == true %}
                                {% include '@forum/Misc/clickablesmilies.html.twig' %}
                            {% endif %}
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <textarea rows="15" cols="70" id="signature" name="signature">{{ sig|raw }}</textarea>
                            {% if getVar('codebuttons', 'var') == true %}
                                {% include '@forum/Misc/codebuttons.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2"><small>{{ getVar('edit_sig_note2', 'lang') }}</small></div>
                        <div class="col-xs-10 col-sm-10">
                            <small class="form-inline">
                                <label><input type="radio" class="radio" name="updateposts" value="enable" />&nbsp;{{ getVar('enable_sig_posts', 'lang') }}</label><br />
                                <label><input type="radio" class="radio" name="updateposts" value="disable" />&nbsp;{{ getVar('disable_sig_posts', 'lang') }}</label><br />
                                <label><input type="radio" class="radio" name="updateposts" value="0" checked="checked" />&nbsp;{{ getVar('leave_sig_settings', 'lang') }}</label>
                            </small>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-footer text-center">
                <input class="btn btn-primary" type="submit" name="submit" value="{{ getVar('update_sig', 'lang') }}" />
                <input class="btn btn-primary" type="submit" name="preview" value="{{ getVar('preview', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}