{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('edit_sig', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><em>{{ getVar('edit_sig_error_title', 'lang') }}</em></h3>
            </div>
            <div class="panel-body panel-danger">
                <ul>
                    <li>{{ getVar('edit_sig_no_permission', 'lang') }}</li>
                </ul>
                <br />
                {{ signature|raw }}
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}