{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('forum_subscriptions', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('forum_subscriptions', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">{{ getVar('forum', 'lang') }}</div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ getVar('posts', 'lang') }}</div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ getVar('threads', 'lang') }}</div>
                        <div class="hidden-xs col-sm-2 text-nowrap">{{ getVar('lastpost', 'lang') }}</div>
                    </div>
                </div>

                {% if forums is not empty %}
                    {% for row in forums %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <div class="media">
                                    <div class="media-left">
                                        <span class="forum_status forum_{{ row.lightbulb.folder }}" title="{{ row.lightbulb.altonoff }}"></span>
                                    </div>
                                    <div class="media-body">
                                        <strong><a href="{{ row.forum_url|raw }}">{{ row.forumname|raw }}</a></strong><br />
                                        <small>
                                            <a href="{{ bburl }}/usercp/removesubscription?type=forum&fid={{ row.fid }}&my_post_key={{ getVar('post_code', 'var') }}"> {{ getVar('unsubscribe', 'lang') }}</a> |
                                            <a href="{{ getVar('bburl', 'set') }}/newthread?fid={{ row.fid }}">{{ getVar('new_thread', 'lang') }}</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ row.posts }}</div>
                            <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ row.threads }}</div>
                            <div class="hidden-xs col-sm-2 text-nowrap">{{ row.lastpost|raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">{{ getVar('no_forum_subscriptions', 'lang') }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}