{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('user_cp', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('account_summary', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <div class="img-circle" style="width: 120px; height: 120px; margin: 0 auto; background: url({{ useravatar.image }}) no-repeat center center; background-size: cover" alt="{{ useravatar.username }}" title="{{ useravatar.username }}"></div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ username|raw }}</h4>
                        <strong>{{ getVar('postnum', 'lang') }}</strong>
                        <a href="{{ bburl }}/search?action=finduser&uid={{ getVar('uid', 'user') }}">{{ getVar('posts', 'user') }}</a> {{ getVar('posts_day', 'lang') }}<br />
                        {% if reputation_link %}
                        <strong>{{ getVar('reputation', 'lang') }}</strong> {{ reputation_link|raw }} [<a href="{{ bburl }}/reputation?uid={{ getVar('uid', 'user') }}">{{ getVar('details', 'lang') }}</a>]<br />
                        {% endif %}
                        <strong>{{ getVar('email', 'lang') }}</strong> {{ getVar('email', 'user') }}<br />
                        <strong>{{ getVar('registration_date', 'lang') }}</strong> {{ regdate }}<br />
                        <strong>{{ getVar('primary_usergroup', 'lang') }}</strong> {{ usergroup }}<br />
                        {% if referral_link %}
                        <strong>{{ getVar('members_referred', 'lang') }}</strong> {{ getVar('referrals', 'user') }}<br />
                        {{ referral_link|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if subscriptionsArray is not empty %}
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="{{ bburl }}/usercp/subscriptions">
                        {{ getVar('view_all_subscriptions', 'lang') }}
                    </a>
                </div>
                <h3 class="panel-title">{{ getVar('new_thread_subscriptions', 'lang') }}</h3>
            </div>
            <div class="list-group-item list-group-item-info">
                <div class="row">
                    <div class="col-xs-11 col-sm-7">{{ getVar('thread', 'lang') }} / {{ getVar('author', 'lang') }}</div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ getVar('replies', 'lang') }}</div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ getVar('views', 'lang') }}</div>
                    <div class="hidden-xs col-sm-3 text-nowrap">{{ getVar('lastpost', 'lang') }}</div>
                </div>
            </div>
            {% for row in subscriptionsArray %}
            <div class="list-group-item {{ row.bgcolor }}">
                <div class="row">
                    <div class="col-xs-11 col-sm-7">
                        <div class="media">
                            <div class="media-left" style="padding-right: 1em;">
                                <span class="thread_status {{ row.folder }}" title="{{ row.folder_label }}">&nbsp;</span>
                            </div>
                            <div class="media-body">
                                <span class="forumdisplay_regular">{{ row.icon|raw }}</span>
                                <span>
                                    {{ row.gotounread|raw }}{{ row.displayprefix }}<a href="{{ row.threadlink }}" class="{{ row.new_class }}">{{ row.subject }}</a><br />
                                </span>
                                <div class="small">{{ row.author|raw }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap"><a href="javascript:MyBB.whoPosted({{ row.tid }});">{{ row.replies }}</a></div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ row.views }}</div>
                    <div class="hidden-xs col-sm-3 text-nowrap">
                        <span class="small">{{ row.lastpostdate }}
                            <br /><a href="{{ row.lastpostlink }}">{{ getVar('lastpost', 'lang') }}</a>: {{ row.lastposterlink|raw }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if latest_threads is not empty %}
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="{{ bburl }}/search?action=finduserthreads&uid={{ getVar('uid', 'user') }}">
                        {{ getVar('find_all_threads', 'lang') }}
                    </a>
                </div>
                <h3 class="panel-title">{{ getVar('latest_threads', 'lang') }}</h3>
            </div>
            <div class="list-group-item list-group-item-info">
                <div class="row">
                    <div class="col-xs-11 col-sm-7">{{ getVar('thread', 'lang') }} / {{ getVar('author', 'lang') }}</div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ getVar('replies', 'lang') }}</div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ getVar('views', 'lang') }}</div>
                    <div class="hidden-xs col-sm-3 text-nowrap">{{ getVar('lastpost', 'lang') }}</div>
                </div>
            </div>
            {% for row in latest_threads %}
            <div class="list-group-item {{ row.bgcolor }}">
                <div class="row">
                    <div class="col-xs-11 col-sm-7">
                        <div class="media">
                            <div class="media-left" style="padding-right: 1em;">
                                <span class="thread_status {{ row.folder }}" title="{{ row.folder_label }}">&nbsp;</span>
                            </div>
                            <div class="media-body">
                                <span class="forumdisplay_regular">{{ row.icon|raw }}</span>
                                <span>
                                {{ row.gotounread|raw }}{{ row.displayprefix }}<a href="{{ row.threadlink }}" class="{{ row.new_class }}">{{ row.subject }}</a><br />
                            </span>
                                <div class="small">{{ row.author|raw }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap"><a href="javascript:MyBB.whoPosted({{ row.tid }});">{{ row.replies }}</a></div>
                    <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ row.views }}</div>
                    <div class="hidden-xs col-sm-3 text-nowrap">
                    <span class="small">{{ row.lastpostdate }}
                        <br /><a href="{{ row.lastpostlink|raw }}">{{ getVar('lastpost', 'lang') }}</a>: {{ row.lastposterlink|raw }}
                    </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if latest_warnings is not empty %}
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">
                    {{ getVar('current_warning_level', 'lang') }}
                </div>
                <h3 class="panel-title">{{ getVar('latest_warnings', 'lang') }}</h3>
            </div>
            <div class="list-group-item list-group-item-info">
                <div class="row">
                    <div class="col-xs-11 col-sm-6">{{ getVar('warning', 'lang') }}</div>
                    <div class="hidden-xs col-sm-2 text-nowrap">{{ getVar('date_issued', 'lang') }}</div>
                    <div class="hidden-xs col-sm-2 text-nowrap">{{ getVar('expiry_date', 'lang') }}</div>
                    <div class="hidden-xs col-sm-2 text-nowrap">{{ getVar('issued_by', 'lang') }}</div>
                </div>
            </div>
            {% for row in latest_warnings %}
            <div class="list-group-item {{ row.alt_bg }}">
                <div class="row">
                    <div class="col-xs-11 col-sm-6">{{ row.warning_type }} {{ row.points }}{{ row.post_link|raw }}</div>
                    <div class="hidden-xs col-sm-2 text-nowrap">{{ row.date_issued }}</div>
                    <div class="hidden-xs col-sm-2 text-nowrap">{{ row.expires }}</div>
                    <div class="hidden-xs col-sm-2 text-nowrap">{{ row.issuedby|raw }}</div>
                </div>
            </div>
            {% endfor %}
            </tbody>
        </div>
        {% endif %}
    </div>

    <div class="container">
        <br />
        <form class="panel panel-default" action="{{ bburl }}/usercp/notepad" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_notepad" />
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('personal_notepad', 'lang') }}</h3>
            </div>
            <div class="panel-body">
                <textarea name="notepad" cols="1" rows="10" class="form-control">{{ getVar('notepad', 'user')|raw }}</textarea>
            </div>
            <br />
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-primary" name="submit" value="1">{{ getVar('update_notepad', 'lang') }}</button>
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}