{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('edit_options', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/usercp/options" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_options" />

            {{ errors|raw }}

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('edit_options', 'lang') }}</h3>
            </div>

            <div class="panel-body form-horizontal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6"><!-- col 1 -->
                        <legend>{{ getVar('login_cookies_privacy', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <div class="col-sm-offset-3 col-sm-9 checkbox">
                                <label for="invisible">
                                    <input type="checkbox" class="checkbox" name="invisible" id="invisible" value="1" {{ opt.invisiblecheck|raw }} />
                                    {{ getVar('invisible_mode', 'lang') }}
                                </label>
                            </div>
                        </div>


                        <legend>{{ getVar('messaging_notification', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <div class="col-sm-offset-3 col-sm-9 checkbox">
                                <label for="allownotices">
                                    <input type="checkbox" class="checkbox" name="allownotices" id="allownotices" value="1" {{ opt.allownoticescheck|raw }} />
                                    {{ getVar('allow_notices', 'lang') }}
                                </label>
                                <label for="hideemail">
                                    <input type="checkbox" class="checkbox" name="hideemail" id="hideemail" value="1" {{ opt.hideemailcheck|raw }} />
                                    {{ getVar('allow_emails', 'lang') }}
                                </label>
                                <label for="receivepms">
                                    <input type="checkbox" class="checkbox" name="receivepms" id="receivepms" value="1" {{ opt.receivepmscheck|raw }} />
                                    {{ getVar('receive_pms', 'lang') }}
                                </label>
                                {% if getVar('allowbuddyonly', 'set') == 1 %}
                                <label for="receivefrombuddy">
                                    <input type="checkbox" class="checkbox" name="receivefrombuddy" id="receivefrombuddy" value="1" {{ opt.receivefrombuddycheck|raw }} />
                                    {{ getVar('receive_from_buddy', 'lang') }}
                                </label>
                                {% endif %}
                                <label for="pmnotice">
                                    <input type="checkbox" class="checkbox" name="pmnotice" id="pmnotice" value="1"{{ opt.pmnoticecheck|raw }} />
                                    {{ getVar('pm_notice', 'lang') }}
                                </label>
                                <label for="pmnotify">
                                    <input type="checkbox" class="checkbox" name="pmnotify" id="pmnotify" value="1" {{ opt.pmnotifycheck|raw }} />
                                    {{ getVar('pm_notify', 'lang') }}
                                </label>
                                <label for="buddyrequestspm">
                                    <input type="checkbox" class="checkbox" name="buddyrequestspm" id="buddyrequestspm" value="1" {{ opt.buddyrequestspmcheck|raw }} />
                                    {{ getVar('buddyrequests_pm', 'lang') }}
                                </label>
                                <label for="buddyrequestsauto">
                                    <input type="checkbox" class="checkbox" name="buddyrequestsauto" id="buddyrequestsauto" value="1" {{ opt.buddyrequestsautocheck|raw }} />
                                    {{ getVar('buddyrequests_auto', 'lang') }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('subscription_method', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="subscriptionmethod" id="subscriptionmethod">
                                    <option value="0" {{ opt.no_auto_subscribe_selected|raw }}>{{ getVar('no_auto_subscribe', 'lang') }}</option>
                                    <option value="1" {{ opt.no_subscribe_selected|raw }}>{{ getVar('no_subscribe', 'lang') }}</option>
                                    <option value="2" {{ opt.instant_email_subscribe_selected|raw }}>{{ getVar('instant_email_subscribe', 'lang') }}</option>
                                    <option value="3" {{ opt.instant_pm_subscribe_selected|raw }}>{{ getVar('instant_pm_subscribe', 'lang') }}</option>
                                </select>
                            </div>
                        </div>

                        <legend>{{ getVar('date_time_options', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('date_format', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="dateformat">
                                    <option value="0">{{ getVar('use_default', 'lang') }}</option>
                                    {% for row in date_format_options %}
                                        <option value="{{ row.key }}"{{ row.selected|raw }}>{{ row.dateformat|raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('time_format', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="timeformat">
                                    <option value="0">{{ getVar('use_default', 'lang') }}</option>
                                    {% for row in time_format_options %}
                                        <option value="{{ row.key }}"{{ row.selected|raw }}>{{ row.timeformat|raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('time_offset_desc', 'lang') }}</label>
                            <div class="col-sm-9">
                                {{ tzselect|raw }}
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('dst_correction', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="dstcorrection">
                                    <option value="2" {{ opt.dst_auto_selected|raw }}>{{ getVar('dst_correction_auto', 'lang') }}</option>
                                    <option value="1" {{ opt.dst_enabled_selected|raw }}>{{ getVar('dst_correction_enabled', 'lang') }}</option>
                                    <option value="0" {{ opt.dst_disabled_selected|raw }}>{{ getVar('dst_correction_disabled', 'lang') }}</option>
                                </select>
                            </div>
                        </div>

                    </div><!-- /.col 1 -->

                    <div class="col-xs-12 col-sm-6"><!-- col 2 -->
                        <legend>{{ getVar('forum_display_options', 'lang') }}</legend>
                        {% if tppselect is not empty %}
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('tpp', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="tpp">
                                    <option value="">{{ getVar('use_default', 'lang') }}</option>
                                    {% for row in tppselect %}
                                        <option value="{{ row.val }}"{{ row.selected|raw }}>{{ row.tpp_option|raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('thread_view', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="daysprune">
                                    <option value="">{{ getVar('use_default', 'lang') }}</option>
                                    <option value="1" {{ daysprunesel.1 }}>{{ getVar('thread_view_lastday', 'lang') }}</option>
                                    <option value="5" {{ daysprunesel.5 }}>{{ getVar('thread_view_5days', 'lang') }}</option>
                                    <option value="10" {{ daysprunesel.10 }}>{{ getVar('thread_view_10days', 'lang') }}</option>
                                    <option value="20" {{ daysprunesel.20 }}>{{ getVar('thread_view_20days', 'lang') }}</option>
                                    <option value="50" {{ daysprunesel.50 }}>{{ getVar('thread_view_50days', 'lang') }}</option>
                                    <option value="75" {{ daysprunesel.75 }}>{{ getVar('thread_view_75days', 'lang') }}</option>
                                    <option value="100" {{ daysprunesel.100 }}>{{ getVar('thread_view_100days', 'lang') }}</option>
                                    <option value="365" {{ daysprunesel.365 }}>{{ getVar('thread_view_year', 'lang') }}</option>
                                    <option value="9999" {{ daysprunesel.9999 }}>{{ getVar('thread_view_all', 'lang') }}</option>
                                </select>
                            </div>
                        </div>

                        <legend>{{ getVar('thread_view_options', 'lang') }}</legend>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label for="classicpostbit">
                                        <input type="checkbox" class="checkbox" name="classicpostbit" id="classicpostbit" value="1" {{ opt.classicpostbitcheck|raw }} />
                                        {{ getVar('show_classic_postbit', 'lang') }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="showimages">
                                        <input type="checkbox" class="checkbox" name="showimages" id="showimages" value="1" {{ opt.showimagescheck|raw }} />
                                        {{ getVar('show_images', 'lang') }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="showvideos">
                                        <input type="checkbox" class="checkbox" name="showvideos" id="showvideos" value="1" {{ opt.showvideoscheck|raw }} />
                                        {{ getVar('show_videos', 'lang') }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="showsigs">
                                        <input type="checkbox" class="checkbox" name="showsigs" id="showsigs" value="1" {{ opt.showsigscheck|raw }} />
                                        {{ getVar('show_sigs', 'lang') }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="showavatars">
                                        <input type="checkbox" class="checkbox" name="showavatars" id="showavatars" value="1" {{ opt.showavatarscheck|raw }} />
                                        {{ getVar('show_avatars', 'lang') }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="showquickreply">
                                        <input type="checkbox" class="checkbox" name="showquickreply" id="showquickreply" value="1" {{ opt.showquickreplycheck|raw }} />
                                        {{ getVar('show_quick_reply', 'lang') }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% if pppselect is not empty %}
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('ppp', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="ppp">
                                    <option value="">{{ getVar('use_default', 'lang') }}</option>
                                    {% for row in pppselect %}
                                        <option value="{{ row.val }}"{{ row.selected|raw }}>{{ row.ppp_option|raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('thread_mode', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="threadmode">
                                    <option value="">{{ getVar('use_default', 'lang') }}</option>
                                    <option value="linear" {{ threadview.linear|raw }}>{{ getVar('linear', 'lang') }}</option>
                                    <option value="threaded" {{ threadview.threaded|raw }}>{{ getVar('threaded', 'lang') }}</option>
                                </select>
                            </div>
                        </div>

                        <legend>{{ getVar('other_options', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="checkbox">
                                    <label for="showredirect">
                                        <input type="checkbox" class="checkbox" name="showredirect" id="showredirect" value="1" {{ opt.showredirectcheck|raw }} />
                                        {{ getVar('show_redirect', 'lang') }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="showcodebuttons">
                                        <input type="checkbox" class="checkbox" name="showcodebuttons" id="showcodebuttons" value="1" {{ opt.showcodebuttonscheck|raw }} />
                                        {{ getVar('show_codebuttons', 'lang') }}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label for="sourceeditor">
                                        <input type="checkbox" class="checkbox" name="sourceeditor" id="sourceeditor" value="1" {{ opt.sourcemodecheck|raw }} />
                                        {{ getVar('source_editor', 'lang') }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% if stylelist is not empty %}
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('style', 'lang') }}</label>
                            <div class="col-sm-9">
                                {{ stylelist|raw }}
                            </div>
                        </div>
                        {% endif %}
                        {% if board_language is not empty %}
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('board_language', 'lang') }}:</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="language">
                                    <option value="">{{ getVar('use_default', 'lang') }}</option>
                                    <option value="0">-----------</option>
                                    {% for row in board_language %}
                                        <option value="{{ row.name|raw }}"{{ row.sel|raw }}>{{ row.language|raw }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                    </div><!-- /.col 2 -->
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="regsubmit" value="{{ getVar('update_options', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}