{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('change_password', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/usercp/password" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_password" />

            {{ errors|raw }}

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('change_password', 'lang') }}</h3>
            </div>
            <div class="panel-body form-horizontal">
                <h4>{{ getVar('password_confirmation', 'lang') }}</h4>
                <div class="form-group form-inline">
                    <label class="col-sm-2 control-label">{{ getVar('current_password', 'lang') }}</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="oldpassword" size="25" />
                    </div>
                </div>
                <h4>{{ getVar('please_enter_confirm_new_password', 'lang') }}</h4>
                <div class="form-group form-inline">
                    <label class="col-sm-2 control-label">{{ getVar('new_password', 'lang') }}</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" size="25" />
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label class="col-sm-2 control-label">{{ getVar('confirm_password', 'lang') }}</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password2" size="25" />
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('update_password', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}