{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('edit_profile', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/usercp/profile" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_profile" />

            {{ errors|raw }}

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('edit_profile', 'lang') }}</h3>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6"><!-- col 1 -->
                        <legend>{{ getVar('profile_required', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <div class="col-sm-offset-3 col-sm-9">
                                {{ getVar('change_email_notice', 'lang') }}

                                {% for row in requiredfields %}
                                <label class="col-sm-3 control-label">{{ row.name }}</label>
                                <div class="col-sm-9">
                                    <small>{{ row.description }}</small><br />
                                    {{ row.code }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <legend>{{ getVar('profile_optional', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('birthday', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="bday1">
                                    <option value="">&nbsp;</option>
                                    {% for row in bdaydaysel %}
                                        <option value="{{ row.day }}"{{ row.selected|raw }}>{{ row.day }}</option>
                                    {% endfor %}
                                </select>
                                <select class="form-control" name="bday2">
                                    <option value="">&nbsp;</option>
                                    <option value="1" {{ bdaymonthsel.1|raw }}>{{ getVar('month_1', 'lang') }}</option>
                                    <option value="2" {{ bdaymonthsel.2|raw }}>{{ getVar('month_2', 'lang') }}</option>
                                    <option value="3" {{ bdaymonthsel.3|raw }}>{{ getVar('month_3', 'lang') }}</option>
                                    <option value="4" {{ bdaymonthsel.4|raw }}>{{ getVar('month_4', 'lang') }}</option>
                                    <option value="5" {{ bdaymonthsel.5|raw }}>{{ getVar('month_5', 'lang') }}</option>
                                    <option value="6" {{ bdaymonthsel.6|raw }}>{{ getVar('month_6', 'lang') }}</option>
                                    <option value="7" {{ bdaymonthsel.7|raw }}>{{ getVar('month_7', 'lang') }}</option>
                                    <option value="8" {{ bdaymonthsel.8|raw }}>{{ getVar('month_8', 'lang') }}</option>
                                    <option value="9" {{ bdaymonthsel.9|raw }}>{{ getVar('month_9', 'lang') }}</option>
                                    <option value="10" {{ bdaymonthsel.10|raw }}>{{ getVar('month_10', 'lang') }}</option>
                                    <option value="11" {{ bdaymonthsel.11|raw }}>{{ getVar('month_11', 'lang') }}</option>
                                    <option value="12" {{ bdaymonthsel.12|raw }}>{{ getVar('month_12', 'lang') }}</option>
                                </select>
                                <input type="number" class="form-control" size="4" maxlength="4" name="bday3" value="{{ bday.2 }}" />
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('birthdayprivacy', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="birthdayprivacy">
                                    <option value="all"{{ allselected|raw }}>{{ getVar('birthdayprivacyall', 'lang') }}</option>
                                    <option value="none"{{ noneselected|raw }}>{{ getVar('birthdayprivacynone', 'lang') }}</option>
                                    <option value="age"{{ ageselected|raw }}>{{ getVar('birthdayprivacyage', 'lang') }}</option>
                                </select>
                            </div>
                        </div>
                        {% if getVar('canchangewebsite', 'group') == 1 %}
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('website_url', 'lang') }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="website" size="25" maxlength="75" value="{{ getVar('website', 'user') }}" />
                            </div>
                        </div>
                        {% endif %}

                        {% if customfields is not empty %}
                        <legend>{{ getVar('additional_information', 'lang') }}</legend>
                            {% for row in customfields %}
                            <div class="form-group form-inline">
                                <label class="col-sm-3 control-label">{{ row.name }}</label>
                                <div class="col-sm-9">
                                    <small>{{ row.description }}</small><br />
                                    {{ row.code|raw }}
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div><!-- /.col 1 -->

                    <div class="col-xs-12 col-sm-6"><!-- col 2 -->
                        {% if getVar('cancustomtitle', 'group') == 1 %}
                        <legend>{{ getVar('custom_usertitle', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <small class="col-sm-12">{{ getVar('custom_usertitle_note', 'lang') }}</small>
                            <small class="col-sm-12">{{ getVar('default_usertitle', 'lang') }}</small>
                            <small class="col-sm-12"><strong>{{ defaulttitle }}</strong></small>
                            {% if getVar('usertitle', 'user') is not empty %}
                                <small class="col-sm-12">{{ getVar('current_custom_usertitle', 'lang') }}</small>
                                <small class="col-sm-12"><strong>{{ getVar('usertitle', 'user') }}</strong></small>
                            {% endif %}
                            <small class="col-sm-12">{{ getVar('new_custom_usertitle', 'lang') }}</small>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="usertitle" size="25" maxlength="{{ getVar('customtitlemaxlength', 'set') }}" value="{{ newtitle|raw }}" />
                            </div>
                            {% if getVar('usertitle', 'user') is not empty %}
                                {% if getVar('usertitle', 'user') != getVar('usertitle', 'group') %}
                                    <div class="col-sm-12">
                                        <input type="checkbox" name="reverttitle" id="reverttitle" class="form-control" /> {{ getVar('revert_usertitle', 'lang') }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% endif %}

                        {% if getVar('cfieldsshow', 'var') == true %}
                        <legend>{{ getVar('additional_contact_details', 'lang') }}</legend>
                            {% for row in contact_fields %}
                            <div class="form-group form-inline">
                                <label class="col-sm-3 control-label">{{ row.lang_string }}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="{{ row.cfield }}" size="25" value="{{ row.cfvalue }}" />
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}

                        {% if getVar('allowaway', 'set') !=0 %}
                        <legend>{{ getVar('away_information', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('away_status', 'lang') }}</label>
                            <div class="col-sm-9">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default {% if awaycheck.1 is not empty %}active{% endif %}">
                                        <input type="radio" class="radio" name="away" value="1" {{ awaycheck.1 }} /> {{ getVar('im_away', 'lang') }}
                                    </label>
                                    <label class="btn btn-default {% if awaycheck.0 is not empty %}active{% endif %}">
                                        <input type="radio" class="radio" name="away" value="0" {{ awaycheck.0 }} /> {{ getVar('im_here', 'lang') }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('away_reason', 'lang') }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="awayreason" value="{{ awayreason|raw }}" size="25" />
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('return_date', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="awayday">
                                    <option value="">&nbsp;</option>
                                    {% for row in returndatesel %}
                                        <option value="{{ row.day }}" {{ row.selected }}>{{ row.day }}</option>
                                    {% endfor %}
                                </select>
                                <select class="form-control" name="awaymonth">
                                    <option value="">&nbsp;</option>
                                    <option value="1" {{ returndatemonthsel.1 }}>{{ getVar('month_1', 'lang') }}</option>
                                    <option value="2" {{ returndatemonthsel.2 }}>{{ getVar('month_2', 'lang') }}</option>
                                    <option value="3" {{ returndatemonthsel.3 }}>{{ getVar('month_3', 'lang') }}</option>
                                    <option value="4" {{ returndatemonthsel.4 }}>{{ getVar('month_4', 'lang') }}</option>
                                    <option value="5" {{ returndatemonthsel.5 }}>{{ getVar('month_5', 'lang') }}</option>
                                    <option value="6" {{ returndatemonthsel.6 }}>{{ getVar('month_6', 'lang') }}</option>
                                    <option value="7" {{ returndatemonthsel.7 }}>{{ getVar('month_7', 'lang') }}</option>
                                    <option value="8" {{ returndatemonthsel.8 }}>{{ getVar('month_8', 'lang') }}</option>
                                    <option value="9" {{ returndatemonthsel.9 }}>{{ getVar('month_9', 'lang') }}</option>
                                    <option value="10" {{ returndatemonthsel.10 }}>{{ getVar('month_10', 'lang') }}</option>
                                    <option value="11" {{ returndatemonthsel.11 }}>{{ getVar('month_11', 'lang') }}</option>
                                    <option value="12" {{ returndatemonthsel.12 }}>{{ getVar('month_12', 'lang') }}</option>
                                </select>
                                <input type="number" class="form-control" size="4" maxlength="4" name="awayyear" value="{{ returndate.2 }}" />
                            </div>
                        </div>
                        {% endif %}
                    </div><!-- /.col 2 -->
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="regsubmit" value="{{ getVar('update_profile', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}