{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('subscriptions', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/usercp/subscriptions" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_subscriptions" />

            {{ multipage|raw }}

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('subscriptions', 'lang') }} ({{ threadcount }})</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <input name="allbox" title="Select All" type="checkbox" class="checkall" value="1" style="position: absolute; right: 15px; z-index: 1" />
                    <div class="row">
                        <div class="col-xs-11 col-sm-7">{{ getVar('thread', 'lang') }}</div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ getVar('replies', 'lang') }}</div>
                        <div class="hidden-xs col-sm-1 text-center text-nowrap">{{ getVar('views', 'lang') }}</div>
                        <div class="hidden-xs col-sm-3 text-nowrap">{{ getVar('lastpost', 'lang') }}</div>
                    </div>
                </div>
            </div>
            {% if threads is not empty %}
                {% for row in threads %}
                <div class="list-group-item {{ row.bgcolor }}">
                    <div class="row">
                        <input style="position: absolute; right: 15px; z-index: 1;" type="checkbox" class="checkbox" name="check[{{ row.thread.tid }}]" value="{{ row.thread.tid }}" />
                        <div class="col-xs-11 col-sm-7">
                            <div class="media">
                                <div class="media-left" style="padding-right: 0;">
                                    <div class="thread-icons" style="top: 3px">
                                        <span class="thread_status {{ row.folder }}" title="{{ row.folder_label }}">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="media-body">
                                    &nbsp; {{ row.icon|raw }}&nbsp;
                                    {{ row.gotounread|raw }}{{ row.thread.threadprefix }}
                                    <a href="{{ row.thread.threadlink|raw }}" class="{{ row.new_class }}">{{ row.thread.subject }}</a><br />
                                    &nbsp; <small>{{ getVar('notification_method', 'lang') }} {{ row.notification_type }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs col-sm-1 text-center">
                            <a href="javascript:MyBB.whoPosted({{ row.thread.tid }});">{{ row.thread.replies }}</a>
                        </div>
                        <div class="hidden-xs col-sm-1 text-center">{{ row.thread.views }}</div>
                        <div class="hidden-xs col-sm-3">
                            <small>{{ row.lastpostdate }}<br />
                                <a href="{{ row.thread.lastpostlink|raw }}">{{ getVar('lastpost', 'lang') }}</a>: {{ row.lastposterlink|raw }}
                            </small>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- remove options: -->
                <div class="panel-footer">
                    <div class="form-inline pull-right">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">{{ getVar('with_selected', 'lang') }}</span>
                            <select class="form-control" name="do">
                                <option value="delete">{{ getVar('delete_subscriptions', 'lang') }}</option>
                                <option value="no_notification">{{ getVar('update_no_notification', 'lang') }}</option>
                                <option value="email_notification">{{ getVar('update_email_notification', 'lang') }}</option>
                                <option value="pm_notification">{{ getVar('update_pm_notification', 'lang') }}</option>
                            </select>
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-default btn-sm" value="{{ getVar('go', 'lang') }}" />
                            </span>
                        </div>
                    </div>
                    <a class="btn btn-danger btn-sm" href="{{ bburl }}/usercp/removesubscriptions?my_post_key={{ getVar('post_code', 'var') }}">{{ getVar('remove_all_subscriptions', 'lang') }}</a>
                </div>
            {% else %}
            <div class="list-group-item">{{ getVar('no_thread_subscriptions', 'lang') }}</div>
            {% endif %}

            {{ multipage|raw }}
        </form>

        <div class="float_left">
            <div class="float_left">
                <dl class="thread_legend smalltext">
                    <dd><span class="thread_status newfolder" title="{{ getVar('new_posts_thread', 'lang') }}">&nbsp;</span> {{ getVar('new_posts_thread', 'lang') }}</dd>
                    <dd><span class="thread_status newhotfolder" title="{{ getVar('new_hot_thread', 'lang') }}">&nbsp;</span> {{ getVar('new_hot_thread', 'lang') }}</dd>
                    <dd><span class="thread_status hotfolder" title="{{ getVar('hot_thread', 'lang') }}">&nbsp;</span> {{ getVar('hot_thread', 'lang') }}</dd>
                </dl>
            </div>

            <div class="float_left">
                <dl class="thread_legend smalltext">
                    <dd><span class="thread_status folder" title="{{ getVar('no_new_thread', 'lang') }}">&nbsp;</span> {{ getVar('no_new_thread', 'lang') }}</dd>
                    <dd><span class="thread_status dot_folder" title="{{ getVar('posts_by_you', 'lang') }}">&nbsp;</span> {{ getVar('posts_by_you', 'lang') }}</dd>
                    <dd><span class="thread_status lockfolder" title="{{ getVar('locked_thread', 'lang') }}">&nbsp;</span> {{ getVar('locked_thread', 'lang') }}</dd>
                </dl>
            </div>
            <br class="clear" />
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}