{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('group_memberships', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/UserCP/usercpNav.html.twig' %}
    <div class="container">
        {% if groupsledlist is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('usergroups_leader', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-4">{{ getVar('usergroups_usergroup', 'lang') }}</div>
                        <div class="col-xs-4">{{ getVar('usergroup_members', 'lang') }}</div>
                        <div class="col-xs-4">{{ getVar('join_requests', 'lang') }}</div>
                    </div>
                </div>
                {% for row in groupsledlist %}
                <div class="list-group-item">
                    <div class="row {{ row.trow }}">
                        <div class="col-xs-4">{{ row.title|raw }}</div>
                        <div class="col-xs-4">{{ row.users|raw }}
                            [<a href="{{ bburl }}/managegroup?gid={{ row.gid }}">{{ getVar('view_members', 'lang') }}</a>]
                        </div>
                        <div class="col-xs-4">{{ row.joinrequests }}
                            {% if row.moderaterequestslink == true %}
                                [<a href="{{ bburl }}/managegroup?action=joinrequests&gid={{ row.gid }}">{{ getVar('view_requests', 'lang') }}</a>]
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br />
        {% endif %}

        {% if joinablegrouplist is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('usergroups_joinable', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-4">{{ getVar('usergroups_usergroup', 'lang') }}</div>
                        <div class="col-xs-4">{{ getVar('join_conditions', 'lang') }}</div>
                        <div class="col-xs-4">{{ getVar('join_group', 'lang') }}</div>
                    </div>
                </div>
                {% for row in joinablegrouplist %}
                <div class="list-group-item">
                    <div class="row {{ row.trow }}">
                        <div class="col-xs-4"><strong>{{ row.title|raw }}</strong>{{ row.description|raw }}</div>
                        <div class="col-xs-4">
                            <small>{{ row.conditions|raw }}</small><br />
                            <small>{{ row.usergroupleaders|raw }}</small>
                        </div>
                        <div class="col-xs-4">{{ row.joinlink|raw }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br />
        {% endif %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('usergroups_memberof', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-4">{{ getVar('usergroups_usergroup', 'lang') }}</div>
                        <div class="col-xs-4">{{ getVar('usertitle', 'lang') }}</div>
                        <div class="col-xs-4">{{ getVar('usergroup_leave', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item {{ trow }}">
                    <div class="row">
                        <div class="col-xs-4"><strong>{{ usergroup.title }}</strong> {{ displaycode|raw }}<br />
                            <small>{{ usergroup.description }}</small>
                        </div>
                        <div class="col-xs-4">{{ usergroup.usertitle }}</div>
                        <div class="col-xs-4"><small>{{ getVar('usergroup_leave_primary', 'lang') }}</small></div>
                    </div>
                </div>
                {% for row in memberoflist %}
                <div class="list-group-item {{ row.trow }}">
                    <div class="row">
                        <div class="col-xs-4"><strong>{{ row.title|raw }}</strong> {{ row.displaycode|raw }}{{ row.description|raw }}</div>
                        <div class="col-xs-4">{{ row.usertitle }}</div>
                        <div class="col-xs-4"><small>{{ row.leavelink|raw }}</small></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}