<div class="container">
    <ul class="nav nav-tabs" title="{{ getVar('ucp_nav_menu', 'lang') }}">
        <li class="" role="presentation">
            <a href="{{ bburl }}/usercp">
                <i class="fa fa-cog fa-spin"></i>
                <span class="hidden-xs">{{ getVar('ucp_nav_home', 'lang') }}</span>
            </a>
        </li>

        <!-- PM -->
        {% if getVar('enablepms', 'set') !=0 %}
        <li class="dropdown" role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-pencil-square-o"></i>
                <span class="hidden-xs">{{ getVar('ucp_nav_messenger', 'lang') }}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if getVar('cansendpms', 'group') == 1 %}
                <li>
                    <a href="{{ bburl }}/private/send">{{ getVar('ucp_nav_compose', 'lang') }}</a>
                </li>
                <li class="divider" role="separator"></li>
                {% endif %}
                {% for row in folderlinks %}
                <li>
                    <a href="{{ bburl }}/private?fid={{ row.folder_id }}">{{ row.folder_name }}</a>
                </li>
                {% endfor %}
                <li class="divider" role="separator"></li>
                {% if getVar('cantrackpms', 'group') == 1 %}
                <li>
                    <a href="{{ bburl }}/private/tracking">{{ getVar('ucp_nav_tracking', 'lang') }}</a>
                </li>
                <li class="divider" role="separator"></li>
                {% endif %}
                <li>
                    <a href="{{ bburl }}/private/folders">{{ getVar('ucp_nav_edit_folders', 'lang') }}</a>
                </li>
            </ul>
        </li>
        {% endif %}
        <!-- /PM -->

        <!-- profile -->
        <li class="dropdown" role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-sliders"></i>
                <span class="hidden-xs">{{ getVar('ucp_nav_profile', 'lang') }}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ bburl }}/usercp/profile">{{ getVar('ucp_nav_edit_profile', 'lang') }}</a>
                </li>
                <li class="divider" role="separator"></li>
                {% if getVar('canchangename', 'group') !=0 %}
                <li>
                    <a href="{{ bburl }}/usercp/changename">{{ getVar('ucp_nav_change_username', 'lang') }}</a>
                </li>
                <li class="divider" role="separator"></li>
                {% endif %}
                <li>
                    <a href="{{ bburl }}/usercp/password">{{ getVar('ucp_nav_change_pass', 'lang') }}</a>
                </li>
                <li>
                    <a href="{{ bburl }}/usercp/email">{{ getVar('ucp_nav_change_email', 'lang') }}</a>
                </li>
                <li>
                    <a href="{{ bburl }}/usercp/avatar">{{ getVar('ucp_nav_change_avatar', 'lang') }}</a>
                </li>
                {% if getVar('showChangeSigOp', 'var') == true %}
                <li class="divider" role="separator"></li>
                <li>
                    <a href="{{ bburl }}/usercp/editsig">{{ getVar('ucp_nav_edit_sig', 'lang') }}</a>
                </li>
                {% endif %}
                <li class="divider" role="separator"></li>
                <li>
                    <a href="{{ bburl }}/usercp/options">{{ getVar('ucp_nav_edit_options', 'lang') }}</a>
                </li>
            </ul>
        </li>
        <!-- /profile -->

        <!-- misc -->
        <li class="dropdown" role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-tasks"></i>
                <span class="hidden-xs">{{ getVar('ucp_nav_misc', 'lang') }}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ bburl }}/usercp/usergroups">{{ getVar('ucp_nav_usergroups', 'lang') }}</a>
                </li>
                <li class="divider" role="separator"></li>
                <li>
                    <a href="{{ bburl }}/usercp/editlists">{{ getVar('ucp_nav_editlists', 'lang') }}</a>
                </li>
                <li class="divider" role="separator"></li>
                {% if getVar('enableattachments', 'set') !=0 %}
                <li>
                    <a href="{{ bburl }}/usercp/attachments">{{ getVar('ucp_nav_attachments', 'lang') }}</a>
                </li>
                <li class="divider" role="separator"></li>
                {% endif %}
                <li>
                    <a href="{{ bburl }}/usercp/drafts">{{ draftcount|raw }}</a>
                </li>
                <li class="divider" role="separator"></li>
                <li>
                    <a href="{{ bburl }}/usercp/subscriptions">{{ getVar('ucp_nav_subscribed_threads', 'lang') }}</a>
                </li>
                <li>
                    <a href="{{ bburl }}/usercp/forumsubscriptions">{{ getVar('ucp_nav_forum_subscriptions', 'lang') }}</a>
                </li>
                <li class="divider" role="separator"></li>
                <li>
                    <a href="{{ profile_link|raw }}">{{ getVar('ucp_nav_view_profile', 'lang') }}</a>
                </li>
            </ul>
        </li>
        <!-- /misc -->
    </ul>
</div>