                </div>
            </div>
            <br style="clear: both;" />
            <br style="clear: both;" />
        </div>
        <div id="footer">
            <p class="generation">{{ generation|raw }}</p>
            <p class="powered">Powered By <a href="http://www.runcmf.ru/" target="_blank">RunBB</a>, &copy; 2016-{{ copy_year }} <a href=\"http://www.runcmf.ru/" target="_blank">RunCMF Group</a>.</p>
        </div>
        {{ explain|raw }}
    </div>
</body>
</html>