<!DOCTYPE html>
<title>{{ title }}</title>
<meta name="author" content="RunCMF Group" />
<meta name="copyright" content="Copyright {{ copy_year }} RunCMF Group." />
<link rel="stylesheet" href="{{ asset_url }}/admin/styles/{{ style }}/main.css?ver=1804" type="text/css" />
<link rel="stylesheet" href="{{ asset_url }}/admin/styles/{{ style }}/modal.css" type="text/css" />
<link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/css/bootstrap-theme.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/css/font-awesome.css">
{% if active_module is not empty %}
<link rel="stylesheet" href="{{ asset_url }}/admin/styles/{{ style }}/{{ active_module }}.css" type="text/css" />
{% endif %}
<!--<script type="text/javascript" src="{{ base_url() }}/assets/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/assets/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="{{ base_url() }}/assets/js/jquery.plugins.js"></script>
<script type="text/javascript" src="{{ asset_url }}/jscripts/general.js?ver=1807"></script>
<script type="text/javascript" src="{{ asset_url }}/admin/jscripts/admincp.js"></script>
<script type="text/javascript" src="{{ asset_url }}/admin/jscripts/tabs.js"></script>
<link rel="stylesheet" href="{{ asset_url }}/admin/jscripts/jqueryui/css/redmond/jquery-ui.min.css" />
<link rel="stylesheet" href="{{ asset_url }}/admin/jscripts/jqueryui/css/redmond/jquery-ui.structure.min.css" />
<link rel="stylesheet" href="{{ asset_url }}/admin/jscripts/jqueryui/css/redmond/jquery-ui.theme.min.css" />
<script src="{{ asset_url }}/admin/jscripts/jqueryui/js/jquery-ui.min.js?ver=1804"></script>
<!-- Stop JS elements showing while page is loading (JS supported browsers only) -->
<style type="text/css">.popup_button { display: none; } </style>
<script type="text/javascript">
//<![CDATA[
    document.write('<style type=\"text/css\">.popup_button { display: inline; } .popup_menu { display: none; }<\/style>');
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var loading_text = '{{ getVar('loading_text', 'lang') }}';
var cookieDomain = '{{ getVar('cookiedomain', 'set') }}';
var cookiePath = '{{ getVar('cookiepath', 'set') }}';
var cookiePrefix = '{{ getVar('cookieprefix', 'set') }}';
var imagepath = '{{ getVar('imgdir', 'theme') }}';

lang.unknown_error = "{{ getVar('unknown_error', 'lang') }}";
lang.saved = "{{ getVar('saved', 'lang') }}";
//]]>
</script>
{{ extra_header }}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <img src="{{ base_url() }}/assets/img/logo.png" align="left" width="64" height="50" alt="RunCMF" title="RunCMF"/>
        <a class="navbar-nav" href="#">&nbsp;</a>
        <a class="navbar-brand" href="{{ bburl }}/admin">RunBB Admin</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    {{ top_menu|raw }}
    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-map-signs fa-lg"></i> <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{ getVar('logged_in_as', 'lang') }} :</li>
            <li><a href="{{ bburl }}/admin/users?action=edit&uid={{ getVar('uid', 'user') }}" class="username"><i class="fa fa-user"></i> &nbsp; {{ getVar('username', 'user') }}</a></li>
            <li class="divider"></li>
            <li><a href="{{ bburl }}" target="_blank" class="forum"><i class="fa fa-comments"></i> &nbsp; {{ getVar('view_board', 'lang') }}</a></li>
            <li class="divider"></li>
            <li><a href="{{ bburl }}/logout?logoutkey={{ getVar('post_code', 'var') }}" class="logout"><i class="fa fa-sign-out"></i> &nbsp; {{ getVar('logout', 'lang') }}</a></li>
        </ul>
    </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>

<div id="container">
    <div id="logo"><h1><span class="invisible">{{ getVar('mybb_admin_cp', 'lang') }}</span></h1></div>
        <div id="page">
            <div id="left_menu">
                {{ submenu|raw }}
                {{ sidebar|raw }}
            </div>
            <div id="content">
                <div class="breadcrumb">
                    <div class="dropdown pull-left">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Sidebar<span class="caret"></span></button>
                        <ul id="left_menu" class="dropdown-menu">
                            {{ submenu|raw }}
                            {{ sidebar|raw }}
                        </ul>
                    </div>
                    &nbsp;
                    {{ breadcrumb|raw }}
                </div>
                <div id="inner">
                    {% for row in flash_message %}
                        <div id="flash_message" class="{{ row.type }}">{{ row.message|raw }}</div>
                    {% endfor %}

                    {% for message in err_message %}
                        <div class="error">{{ message|raw }}</div>
                    {% endfor %}
