{% extends 'Admin/AdminLayout.html.twig' %}

{% block meta %}
<meta name="author" content="RunCMF Group" />
    <meta name="copyright" content="Copyright {{ copy_year }} RunCMF Group." />
{% endblock meta %}

{% block adminheadbefore %}
<link rel="stylesheet" href="{{ asset_url }}/admin/styles/{{ style }}/main.css?ver=1804" type="text/css" />
    <!--<link rel="stylesheet" href="{{ asset_url }}/admin/styles/{{ style }}/modal.css" type="text/css" />-->
    {% if active_module is not empty %}
<link rel="stylesheet" href="{{ asset_url }}/admin/styles/{{ style }}/{{ active_module }}.css" type="text/css" />
    {% endif %}
<link rel="stylesheet" href="{{ asset_url }}/admin/jscripts/jqueryui/css/redmond/jquery-ui.min.css" />
    <link rel="stylesheet" href="{{ asset_url }}/admin/jscripts/jqueryui/css/redmond/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="{{ asset_url }}/admin/jscripts/jqueryui/css/redmond/jquery-ui.theme.min.css" />
    <!-- Stop JS elements showing while page is loading (JS supported browsers only) -->
    <style type="text/css">.popup_button { display: none; } </style>
{% endblock adminheadbefore %}


{% block adminheadafter %}
    <script src="{{ asset_url }}/admin/jscripts/jqueryui/js/jquery-ui.min.js?ver=1804"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/js/jquery.plugins.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/assets/jscripts/general.js?ver=1807"></script>
    <script type="text/javascript" src="{{ asset_url }}/admin/jscripts/admincp.js"></script>
    <script type="text/javascript" src="{{ asset_url }}/admin/jscripts/tabs.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        document.write('<style type=\"text/css\">.popup_button { display: inline; } .popup_menu { display: none; }<\/style>');
        //]]>
    </script>

    <script type="text/javascript">
        //<![CDATA[
        var loading_text = '{{ getVar('loading_text', 'lang') }}';
        var cookieDomain = '{{ getVar('cookiedomain', 'set') }}';
        var cookiePath = '{{ getVar('cookiepath', 'set') }}';
        var cookiePrefix = '{{ getVar('cookieprefix', 'set') }}';
        var imagepath = '{{ getVar('imgdir', 'theme') }}';

        lang.unknown_error = "{{ getVar('unknown_error', 'lang') }}";
        lang.saved = "{{ getVar('saved', 'lang') }}";
        //]]>
    </script>
    {{ extra_header|raw }}
{% endblock adminheadafter %}

{% block admincontent %}
        <div id="page">
            <div id="content">
                <div class="breadcrumb">
                    <div class="dropdown pull-left">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Module Menu<span class="caret"></span></button>
                        <ul id="left_menu" class="dropdown-menu">
                            {{ submenu|raw }}
                            {{ sidebar|raw }}
                        </ul>
                    </div>
                    &nbsp;
                    {{ breadcrumb|raw }}
                </div>
                <div id="inner">
                    {% for row in flash_message %}
                    <div id="flash_message" class="{{ row.type }}">{{ row.message|raw }}</div>
                    {% endfor %}

                    {% for message in err_message %}
                    <div class="error">{{ message|raw }}</div>
                    {% endfor %}

                    {% block pagecontent %}{% endblock pagecontent %}

                </div>
            </div>
            <br style="clear: both;" />
            <br style="clear: both;" />
        </div>
        <div id="footer">
            <p class="generation">{{ generation|raw }}</p>
            <p class="powered">Powered By <a href="http://www.runcmf.ru/" target="_blank">RunBB</a>, &copy; 2016-{{ copy_year }} <a href="http://www.runcmf.ru/" target="_blank">RunCMF Group</a>.</p>
        </div>
        {{ explain|raw }}

{% endblock admincontent %}
