        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('buddyrequests_sent', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('to', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('date', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('options', 'lang') }}</div>
                    </div>
                </div>
            </div>
            {{ sent_rows|raw }}
        </div>
