            <div class="list-group-item {{ bgcolor }}">
                <div class="row">
                    <div class="col-xs-4 col-sm-4">{{ username|raw }}</div>
                    <div class="col-xs-4 col-sm-4">{{ date }}</div>
                    <div class="col-xs-4 col-sm-4">
                        <a href="{{ url|raw }}/usercp/cancelrequest?id={{ id }}&my_post_key={{ post_code }}">{{ lang_cancel }}</a>
                    </div>
                </div>
            </div>
