{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('all_reports', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('all_reports', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('report_info', 'lang') }}</div>
                        <div class="col-xs-3 col-sm-3">{{ getVar('report_type', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('reporter', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('report_count', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('report_time', 'lang') }}</div>
                    </div>
                </div>
                {% if allreports is not empty %}
                    {% for row in allreports %}
                    <div class="list-group-item {{ row.trow }}">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3">{{ row.report_data.content|raw }}</div>
                            <div class="col-xs-3 col-sm-3">{{ row.report_data.comment }}</div>
                            <div class="col-xs-2 col-sm-2"><a href="{{ row.report.reporterlink|raw }}" target="_blank">{{ row.report.username|raw }}</a></div>
                            <div class="col-xs-2 col-sm-2">{{ row.report_data.reports }}</div>
                            <div class="col-xs-2 col-sm-2 text-nowrap">{{ row.report_data.time }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    <div class="row text-center">
                        <div class="col-xs-12 col-sm-12">{{ getVar('no_reports', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if multipage is not empty %}
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">{{ multipage|raw }}</div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}