{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('manage_announcement', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">

        {% if getVar('issupermod', 'group') == 1 %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="{{ bburl }}/modcp/new_announcement?fid=-1">{{ getVar('add_global_announcement', 'lang') }}</a>
                </div>
                <h3 class="panel-title">{{ getVar('global_announcements', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8">{{ getVar('announcement', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('controls', 'lang') }}</div>
                    </div>
                </div>
                {% if announcements_global is not empty %}
                    {% for row in announcements_global %}
                    <div class="list-group-item {{ row.trow }}">
                        <div class="row">
                            <div class="col-xs-8 col-sm-8">{{ row.icon|raw }}<a href="{{ bburl }}/modcp/edit_announcement?aid={{ row.aid }}">{{ row.subject }}</a></div>
                            <div class="col-xs-4 col-sm-4">
                                <a class="btn btn-warning btn-xs" href="{{ bburl }}/modcp/edit_announcement?aid={{ row.aid }}">{{ getVar('edit', 'lang') }}</a>
                                <a class="btn btn-danger btn-xs" href="{{ bburl }}/modcp/delete_announcement?aid={{ row.aid }}">{{ getVar('delete', 'lang') }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('no_global_announcements', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('forum_announcements', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8">{{ getVar('announcement', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('controls', 'lang') }}</div>
                    </div>
                </div>
                {% if announcements_forum is not empty %}
                    {% for row in announcements_forum %}
                        {% if row.fid == 0 and row.icon == 0 and row.aid == 0 %}
                        <!-- no announce, forum name only -->
                        <div class="list-group-item {{ row.trow }}">
                            <div class="row">
                                <div class="col-xs-8 col-sm-8"><div style="padding-left: {{ row.padding }}px;"><strong>{{ row.name }}</strong></div></div>
                                <div class="col-xs-4 col-sm-4">&nbsp;</div>
                            </div>
                        </div>
                        {% elseif row.fid > 0 and row.icon == 0 %}
                        <!-- no announce, forum name, add announce -->
                        <div class="list-group-item {{ row.trow }}">
                            <div class="row">
                                <div class="col-xs-8 col-sm-8"><div style="padding-left: {{ row.padding }}px;"><strong>{{ row.name }}</strong></div></div>
                                <div class="col-xs-4 col-sm-4">
                                    <a class="btn btn-default btn-xs" href="{{ bburl }}/modcp/new_announcement?fid={{ row.fid }}">{{ getVar('add_announcement', 'lang') }}</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <!-- announce exist, edit, delete announce -->
                        <div class="list-group-item {{ row.trow }}">
                            <div class="row">
                                <div class="col-xs-8 col-sm-8">
                                    <div style="padding-left: {{ row.padding }}px;">{{ row.icon|raw }}<a href="{{ bburl }}/modcp/edit_announcement?aid={{ row.aid }}">{{ row.subject }}</a></div>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <a class="btn btn-warning btn-xs" href="{{ bburl }}/modcp/edit_announcement?aid={{ row.aid }}">{{ getVar('edit', 'lang') }}</a>
                                    <a class="btn btn-danger btn-xs" href="{{ bburl }}/modcp/delete_announcement?aid={{ row.aid }}">{{ getVar('delete', 'lang') }}</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">{{ getVar('no_forum_announcements', 'lang') }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}