{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('ban_banned', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="pull-right">
                    <a class="btn btn-default btn-xs" href="{{ bburl }}/modcp/banuser">{{ getVar('ban_user', 'lang') }}</a>
                </div>
                <h3 class="panel-title">{{ getVar('ban_banned', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-3 col-sm-3">{{ getVar('reason', 'lang') }}</div>
                        <div class="col-xs-3 col-sm-3">{{ getVar('ban_length', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('ban_bannedby', 'lang') }}</div>
                    </div>
                </div>
                {% if bannedusers is not empty %}
                    {% for row in bannedusers %}
                    <div class="list-group-item {{ row.trow }}">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">
                                {{ row.profile_link|raw }}<br />
                                {% if row.show_edit_link == true %}
                                <a class="btn btn-default btn-xs" href="{{ bburl }}/modcp/banuser?uid={{ row.uid }}">{{ getVar('edit_ban', 'lang') }}</a>
                                <a class="btn btn-default btn-xs" href="{{ bburl }}/modcp/liftban?uid={{ row.uid }}&my_post_key={{ getVar('post_code', 'var') }}">{{ getVar('lift_ban', 'lang') }}</a>
                                {% endif %}
                            </div>
                            <div class="col-xs-3 col-sm-3">{{ row.reason }}</div>
                            <div class="col-xs-3 col-sm-3">{{ row.banlength }}<br /><small>{{ row.timeremaining|raw }}</small></div>
                            <div class="col-xs-2 col-sm-2">{{ row.admin_profile|raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('no_banned', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if multipage is not empty %}
                <div class="panel-footer">
                    {{ multipage|raw }}
                </div>
            {% endif %}
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}