{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('ban_user', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">

        {{ errors|raw }}

        <form class="panel panel-primary" action="{{ bburl }}/modcp/banuser" method="post">
            <input type="hidden" name="action" value="do_banuser" />
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="uid" value="{{ banned.uid }}" />

            <div class="panel-heading">
                {% if banned.uid is not empty %}
                <div class="pull-right"><a href="{{ bburl }}/modcp/liftban?uid={{ banned.uid }}&my_post_key={{ getVar('post_code', 'var') }}">{{ getVar('lift_ban', 'lang') }}</a></div>
                {% endif %}
                <h3 class="panel-title">{{ getVar('ban_user', 'lang') }}</h3>
            </div>
            <div class="list-group">
                {% if banuser_username.nameonly == true %}
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3">{{ getVar('ban_username', 'lang') }}</div>
                            <div class="col-xs-9 col-sm-9">{{ banuser_username.username }}</div>
                        </div>
                    </div>
                {% else %}
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3">{{ getVar('ban_username', 'lang') }}</div>
                            <div class="col-xs-9 col-sm-9">
                                <input type="text" class="textbox" name="username" id="username" value="{{ banuser_username.username }}" size="25" />
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('ban_reason', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <textarea class="form-control" name="banreason" rows="4" maxlength="255">{{ banreason|raw }}</textarea>
                        </div>
                    </div>
                </div>

                {% if bangroup_option is not empty %}
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('ban_movegroup', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <select class="form-control" name="usergroup">
                                {% for row in bangroup_option %}
                                    <option value="{{ row.group.gid }}"{{ row.selected|raw }}>{{ row.group.title|raw }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% else %}
                    <input type="hidden" name="usergroup" value="{{ banned_group }}" />
                {% endif %}

                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('ban_liftafter', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <select class="form-control" name="liftafter">
                                {% for row in liftlist %}
                                    <option value="{{ row.time }}"{{ row.selected|raw }}>{{ row.title }}{{ row.thattime|raw }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="updateban" value="{{ getVar('ban', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}

    <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
    <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    <script type="text/javascript">
        <!--
        if(use_xmlhttprequest == "1")
        {
            MyBB.select2();
            $("#username").select2({
                placeholder: "{{ getVar('search_user', 'lang') }}",
                minimumInputLength: 2,
                multiple: false,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: rootpath + "/xmlhttp?action=get_users",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter remote JSON data
                        return {results: data};
                    }
                },
                initSelection: function(element, callback) {
                    var value = $(element).val();
                    if (value !== "") {
                        callback({
                            id: value,
                            text: value
                        });
                    }
                },
            });
        }
        // -->
    </script>
{% endblock content %}