{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('delete_announcement', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/modcp/delete_announcement" method="post" enctype="multipart/form-data">
            <input type="hidden" name="action" value="do_delete_announcement" />
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="aid" value="{{ aid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ subject }} - {{ getVar('delete_announcement', 'lang') }}</h3>
            </div>
            <div class="panel-body text-center">
                {{ getVar('confirm_delete_announcement', 'lang') }}
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('delete_announcement', 'lang') }}" />
            </div>

        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}