{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('edit_profile', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript">
            <!--
            var mod_posts = '{{ modpost_check }}';
            var susp_posts = '{{ suspost_check }}';
            // -->
        </script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/modcp/editprofile" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_editprofile" />
            <input type="hidden" name="uid" value="{{ uid }}" />

            {{ errors|raw }}

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('edit_profile', 'lang') }}</h3>
            </div>
            <div class="panel-body form-horizontal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6"><!-- col 1 -->
                        <legend>{{ getVar('profile_required', 'lang') }}</legend>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                {{ getVar('current_username', 'lang') }}
                                {{ profile_link|raw }}
                            </div>
                        </div>
                        {% for row in requiredfields %}
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ row.name }}</label>
                            <div class="col-sm-9">
                                <small>{{ row.description }}</small><br />
                                {{ row.code }}
                            </div>
                        </div>
                        {% endfor %}

                        <legend>{{ getVar('profile_optional', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <label class="col-sm-6 control-label">{{ getVar('remove_avatar', 'lang') }}</label>
                            <div class="col-sm-6">
                                <input type="checkbox" class="checkbox" name="remove_avatar" value="1" />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('birthday', 'lang') }}</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="birthday_day">
                                    <option value="">&nbsp;</option>
                                    {% for row in bdaydaysel %}
                                        <option value="{{ row.day }}"{{ row.selected|raw }}>{{ row.day }}</option>
                                    {% endfor %}
                                </select>
                                <select class="form-control" name="birthday_month">
                                    <option value="">&nbsp;</option>
                                    <option value="1" {{ bdaymonthsel.1|raw }}>{{ getVar('month_1', 'lang') }}</option>
                                    <option value="2" {{ bdaymonthsel.2|raw }}>{{ getVar('month_2', 'lang') }}</option>
                                    <option value="3" {{ bdaymonthsel.3|raw }}>{{ getVar('month_3', 'lang') }}</option>
                                    <option value="4" {{ bdaymonthsel.4|raw }}>{{ getVar('month_4', 'lang') }}</option>
                                    <option value="5" {{ bdaymonthsel.5|raw }}>{{ getVar('month_5', 'lang') }}</option>
                                    <option value="6" {{ bdaymonthsel.6|raw }}>{{ getVar('month_6', 'lang') }}</option>
                                    <option value="7" {{ bdaymonthsel.7|raw }}>{{ getVar('month_7', 'lang') }}</option>
                                    <option value="8" {{ bdaymonthsel.8|raw }}>{{ getVar('month_8', 'lang') }}</option>
                                    <option value="9" {{ bdaymonthsel.9|raw }}>{{ getVar('month_9', 'lang') }}</option>
                                    <option value="10" {{ bdaymonthsel.10|raw }}>{{ getVar('month_10', 'lang') }}</option>
                                    <option value="11" {{ bdaymonthsel.11|raw }}>{{ getVar('month_11', 'lang') }}</option>
                                    <option value="12" {{ bdaymonthsel.12|raw }}>{{ getVar('month_12', 'lang') }}</option>
                                </select>
                                <input type="number" class="form-control" size="4" maxlength="4" name="birthday_year" value="{{ getVar('birthday_year', 'input') }}" />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('website_url', 'lang') }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="website" size="25" maxlength="75" value="{{ getVar('website', 'input') }}" />
                            </div>
                        </div>

                        {% if customfields is not empty %}
                            <legend>{{ getVar('additional_information', 'lang') }}</legend>
                            {% for row in customfields %}
                            <div class="form-group form-inline">
                                <label class="col-sm-3 control-label">{{ row.name }}</label>
                                <div class="col-sm-9">
                                    <small>{{ row.description }}</small><br />
                                    {{ row.code|raw }}
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}

                        <legend>{{ getVar('moderation', 'lang') }}</legend>
                        <div class="form-group">
                            <div class="col-sm-12 form-inline">
                                <label><input type="checkbox" name="moderateposting" value="1" {{ modpost_checked|raw }} class="checkbox" onclick="toggleSuspend('modposts');" id="modpost" /> {{ getVar('moderate_posts', 'lang') }}</label>
                            </div>
                            <div class="form-group form-inline" id="modposts_action">
                                <label class="col-sm-4 control-label">{{ getVar('modpost_length', 'lang') }}</label>
                                <div class="col-sm-8">
                                    <input type="number" name="modpost_time" value="{{ getVar('modpost_time', 'input') }}" class="form-control" />
                                    {{ modpost_options|raw }}
                                    {% if moderateposts_info is not empty %}
                                        {{ moderateposts_info|raw }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 form-inline">
                                <label><input type="checkbox" name="suspendposting" value="1" {{ suspost_checked|raw }} class="checkbox" onclick="toggleSuspend('susposts');" id="suspost" /> {{ getVar('suspend_posts', 'lang') }}</label>
                            </div>
                            <div class="form-group form-inline" id="susposts_action">
                                <label class="col-sm-4 control-label">{{ getVar('suspost_length', 'lang') }}</label>
                                <div class="col-sm-8">
                                    <input type="number" name="suspost_time" value="{{ getVar('suspost_time', 'input') }}" class="form-control" />
                                    {{ suspost_options|raw }}
                                    {% if suspendposting_info is not empty %}
                                        {{ suspendposting_info|raw }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col 1 -->

                    <div class="col-xs-12 col-sm-6"><!-- col 2 -->
                        <legend>{{ getVar('custom_usertitle', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <small class="col-sm-12">{{ getVar('custom_usertitle_note', 'lang') }}</small>
                            <small class="col-sm-12">{{ getVar('default_usertitle', 'lang') }}</small>
                            <small class="col-sm-12"><strong>{{ defaulttitle|raw }}</strong></small>
                            <small class="col-sm-12">{{ getVar('current_custom_usertitle', 'lang') }}</small>
                            <small class="col-sm-12"><strong>{{ usertitle|raw }}</strong></small>
                            <small class="col-sm-12">{{ getVar('new_custom_usertitle', 'lang') }}</small>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="usertitle" size="25" maxlength="{{ getVar('customtitlemaxlength', 'set') }}" value="{{ newtitle|raw }}" />
                            </div>
                            <label class="col-sm-6 control-label">{{ getVar('revert_usertitle', 'lang') }}</label>
                            <div class="col-sm-6">
                                <input type="checkbox" name="reverttitle" id="reverttitle" class="checkbox" />
                            </div>
                        </div>

                        <legend>{{ getVar('additional_contact_details', 'lang') }}</legend>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('icq_number', 'lang') }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="icq" size="25" value="{{ getVar('icq', 'input') }}" />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('aim_screenname', 'lang') }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="aim" size="25" value="{{ getVar('aim', 'input') }}" />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('skype_id', 'lang') }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="skype" size="25" value="{{ getVar('skype', 'input') }}" />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('google_id', 'lang') }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="google" size="25" value="{{ getVar('google', 'input') }}" />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label class="col-sm-3 control-label">{{ getVar('yahoo_id', 'lang') }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="yahoo" size="25" value="{{ getVar('yahoo', 'input') }}" />
                            </div>
                        </div>

                        {% if getVar('allowaway', 'set') !=0 %}
                            <legend>{{ getVar('away_information', 'lang') }}</legend>
                            <div class="form-group form-inline">
                                <label class="col-sm-3 control-label">{{ getVar('away_status', 'lang') }}</label>
                                <div class="col-sm-9">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default {% if awaycheck.1 is not empty %}active{% endif %}">
                                            <input type="radio" class="radio" name="away" value="1" {{ awaycheck.1 }} /> {{ getVar('im_away', 'lang') }}
                                        </label>
                                        <label class="btn btn-default {% if awaycheck.0 is not empty %}active{% endif %}">
                                            <input type="radio" class="radio" name="away" value="0" {{ awaycheck.0 }} /> {{ getVar('im_here', 'lang') }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-inline">
                                <label class="col-sm-3 control-label">{{ getVar('away_reason', 'lang') }}</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="awayreason" value="{{ awayreason|raw }}" size="25" />
                                </div>
                            </div>

                            <div class="form-group form-inline">
                                <label class="col-sm-3 control-label">{{ getVar('return_date', 'lang') }}</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="awayday">
                                        <option value="">&nbsp;</option>
                                        {% for row in returndatesel %}
                                            <option value="{{ row.day }}" {{ row.selected }}>{{ row.day }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="form-control" name="awaymonth">
                                        <option value="">&nbsp;</option>
                                        <option value="1" {{ returndatemonthsel.1|raw }}>{{ getVar('month_1', 'lang') }}</option>
                                        <option value="2" {{ returndatemonthsel.2|raw }}>{{ getVar('month_2', 'lang') }}</option>
                                        <option value="3" {{ returndatemonthsel.3|raw }}>{{ getVar('month_3', 'lang') }}</option>
                                        <option value="4" {{ returndatemonthsel.4|raw }}>{{ getVar('month_4', 'lang') }}</option>
                                        <option value="5" {{ returndatemonthsel.5|raw }}>{{ getVar('month_5', 'lang') }}</option>
                                        <option value="6" {{ returndatemonthsel.6|raw }}>{{ getVar('month_6', 'lang') }}</option>
                                        <option value="7" {{ returndatemonthsel.7|raw }}>{{ getVar('month_7', 'lang') }}</option>
                                        <option value="8" {{ returndatemonthsel.8|raw }}>{{ getVar('month_8', 'lang') }}</option>
                                        <option value="9" {{ returndatemonthsel.9|raw }}>{{ getVar('month_9', 'lang') }}</option>
                                        <option value="10" {{ returndatemonthsel.10|raw }}>{{ getVar('month_10', 'lang') }}</option>
                                        <option value="11" {{ returndatemonthsel.11|raw }}>{{ getVar('month_11', 'lang') }}</option>
                                        <option value="12" {{ returndatemonthsel.12|raw }}>{{ getVar('month_12', 'lang') }}</option>
                                    </select>
                                    <input type="number" class="form-control" size="4" maxlength="4" name="awayyear" value="{{ returndate.2 }}" />
                                </div>
                            </div>
                        {% endif %}
                    </div><!-- /.col 2 -->

                    <div class="col-xs-12 col-sm-12"><!-- col 3 -->
                        <legend>{{ getVar('signature', 'lang') }}</legend>
                        <textarea rows="10 cols="70" id="signature" name="signature">{{ signature|raw }}</textarea>
                        {% if getVar('codebuttons', 'var') == true %}
                            {% include '@forum/Misc/codebuttons.html.twig' %}
                        {% endif %}
                    </div><!-- /.col 3 -->

                    <div class="col-xs-12 col-sm-12"><!-- col 4 -->
                        <script type="text/javascript">
                            <!--
                            var sig_checked = "{{ checked }}";

                            function toggleAction()
                            {
                                if($("#suspend_action").is(":visible") == true)
                                {
                                    $("#suspend_action").hide();
                                }
                                else
                                {
                                    $("#suspend_action").show();
                                }
                            }
                            // -->
                        </script>
                        <div class="form-group">
                            <div class="col-sm-12 form-inline">
                                <label><input type="checkbox" name="suspendsignature" value="1" class="checkbox" {{ checked_item|raw }} onclick="toggleAction();" /> {{ getVar('suspend_signature', 'lang') }}</label>
                            </div>
                            <div class="form-group form-inline" id="suspend_action">
                                <label class="col-sm-3 control-label">{{ getVar('suspend_length', 'lang') }}</label>
                                <div class="col-sm-9">
                                    <input type="number" name="action_time" value="{{ getVar('action_time', 'input') }}" class="form-control" />
                                    {{ action_options|raw }}
                                    {% if suspendsignature_info is not empty %}
                                        {{ suspendsignature_info|raw }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            <!--
                            if(sig_checked == 0)
                            {
                                $("#suspend_action").hide();
                            }
                            // -->
                        </script>
                    </div><!-- /.col 4 -->

                    <div class="col-xs-12 col-sm-12"><!-- col 5 -->
                        <legend>{{ getVar('mod_notes', 'lang') }}</legend>
                        <textarea class="form-control" name="usernotes" id="usernotes" rows="8" cols="70">{{ usernotes|raw }}</textarea>
                    </div><!-- /.col 5 -->
                    <div class="form-group form-inline">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('update_profile', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
    <script type="text/javascript">
        <!--
        if(mod_posts == 0)
        {
            $("#modposts_action").hide();
        }

        if(susp_posts == 0)
        {
            $("#susposts_action").hide();
        }

        function toggleSuspend(action)
        {
            if(action == "modposts")
            {
                $("#susposts_action").hide();
                $("#suspost").attr("checked", false);

                if($("#modpost").prop("checked") == false)
                {
                    $("#modpost").attr("checked", false);
                    $("#modposts_action").hide();
                }
                else
                {
                    $("#modpost").attr("checked", true);
                    $("#modposts_action").show();
                }
            }

            if(action == "susposts")
            {
                $("#modposts_action").hide();
                $("#modpost").attr("checked", false);

                if($("#suspost").prop("checked") == false)
                {
                    $("#suspost").attr("checked", false);
                    $("#susposts_action").hide();
                }
                else
                {
                    $("#suspost").attr("checked", true);
                    $("#susposts_action").show();
                }
            }
        }
        // -->
    </script>
{% endblock content %}