{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('find_users', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <form action="{{ bburl }}/modcp/finduser" method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('users', 'lang') }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                            <div class="col-xs-2 col-sm-2">{{ getVar('usergroup', 'lang') }}</div>
                            <div class="col-xs-3 col-sm-3">{{ getVar('regdate', 'lang') }}</div>
                            <div class="col-xs-3 col-sm-3">{{ getVar('lastvisit', 'lang') }}</div>
                            <div class="col-xs-2 col-sm-2">{{ getVar('postnum', 'lang') }}</div>
                        </div>
                    </div>
                    {% if users is not empty %}
                        {% for row in users %}
                        <div class="list-group-item {{ row.alt_row }}">
                            <div class="row">
                                <div class="col-xs-2 col-sm-2"><a href="{{ bburl }}/modcp/editprofile?uid={{ row.uid }}">{{ row.username|raw }}</a></div>
                                <div class="col-xs-2 col-sm-2">{{ row.usergroup|raw }}</div>
                                <div class="col-xs-3 col-sm-3">{{ row.regdate }}</div>
                                <div class="col-xs-3 col-sm-3">{{ row.lastdate }}</div>
                                <div class="col-xs-2 col-sm-2">{{ row.postnum }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">{{ getVar('no_user_results', 'lang') }}</div>
                        </div>
                    </div>
                    {% endif %}

                    {% if multipage is not empty %}
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">{{ multipage|raw }}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('find_users', 'lang') }}</h3>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('username_contains', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" name="username" id="username" value="{{ getVar('username', 'input') }}" class="textbox" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('sort_by', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9 form-inline">
                            <select class="form-control" name="sortby">
                                <option value="username"{{ sortbysel.username|raw }}>{{ getVar('username', 'lang') }}</option>
                                <option value="regdate"{{ sortbysel.regdate|raw }}>{{ getVar('regdate', 'lang') }}</option>
                                <option value="lastvisit"{{ sortbysel.lastvisit|raw }}>{{ getVar('lastvisit', 'lang') }}</option>
                                <option value="postnum"{{ sortbysel.postnum|raw }}>{{ getVar('postnum', 'lang') }}</option>
                            </select>
                            {{ getVar('in', 'lang') }}
                            <select class="form-control" name="order">
                                <option value="asc"{{ ordersel.asc|raw }}>{{ getVar('asc', 'lang') }}</option>
                                <option value="desc"{{ ordersel.desc|raw }}>{{ getVar('desc', 'lang') }}</option>
                            </select>
                            {{ getVar('order', 'lang') }}
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12"><input type="submit" class="btn btn-primary" value="{{ getVar('find_users', 'lang') }}" /></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}

    <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807" />
    <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    <script type="text/javascript">
        <!--
        if(use_xmlhttprequest == "1")
        {
            MyBB.select2();
            $("#username").select2({
                placeholder: "{{ getVar('find_users', 'lang') }}",
                minimumInputLength: 2,
                multiple: false,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: rootpath + "/xmlhttp?action=get_users",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter remote JSON data
                        return {results: data};
                    }
                },
                initSelection: function(element, callback) {
                    var value = $(element).val();
                    if (value !== "") {
                        callback({
                            id: value,
                            text: value
                        });
                    }
                }
            });
        }
        // -->
    </script>
{% endblock content %}