{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('modcp', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">

        {% if getVar('canmanagemodqueue', 'group') == 1 %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('awaiting_moderation', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('type', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('number_awaiting', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('latest', 'lang') }}</div>
                    </div>
                </div>
                {% if getVar('issupermod', 'group') == 1 %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('threads', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ unapproved_threads }}</div>
                        <div class="col-xs-4 col-sm-4">
                            {% if thread is not empty %}
                            <small>
                                <a href="{{ thread.link|raw }}" title="{{ thread.fullsubject }}"><strong>{{ thread.subject }}</strong></a>
                                <br />{{ thread.date }}<br />{{ getVar('by', 'lang') }} {{ thread.profilelink|raw }}
                            </small>
                            {% else %}
                            {{ getVar('lastpost_never', 'lang') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if getVar('issupermod', 'group') == 1 %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('posts', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ unapproved_posts }}</div>
                        <div class="col-xs-4 col-sm-4">
                            {% if post is not empty %}
                                <small>
                                    <a href="{{ post.link|raw }}#pid{{ post.pid }}" title="{{ post.fullsubject }}"><strong>{{ post.subject }}</strong></a>
                                    <br />{{ post.date }}<br />{{ getVar('by', 'lang') }} {{ post.profilelink|raw }}
                                </small>
                            {% else %}
                                {{ getVar('lastpost_never', 'lang') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if getVar('enableattachments', 'set') == 1 and getVar('issupermod', 'group') == 1 %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('attachments', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ unapproved_attachments }}</div>
                        <div class="col-xs-4 col-sm-4">
                            {% if attachment is not empty %}
                                <small>
                                    <a href="{{ attachment.link|raw }}#pid{{ attachment.pid }}"><strong>{{ attachment.filename }}</strong></a>
                                    <br />{{ attachment.date }}<br />{{ getVar('by', 'lang') }} {{ attachment.profilelink|raw }}
                                </small>
                            {% else %}
                                {{ getVar('lastpost_never', 'lang') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}


            </div>
        </div>
        {% endif %}

        {% if getVar('showLatestModActions', 'var') == true %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('latest_5_modactions', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('date', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('action', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('information', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('ip', 'lang') }}</div>
                    </div>
                </div>
                {% if modlogresults is not empty %}
                    {% for row in modlogresults %}
                    <div class="list-group-item {{ row.trow }}">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ row.profilelink|raw }}</div>
                            <div class="col-xs-2 col-sm-2">{{ row.log_date }}</div>
                            <div class="col-xs-4 col-sm-4">{{ row.action|raw }}</div>
                            <div class="col-xs-2 col-sm-2">{{ row.information|raw }}</div>
                            <div class="col-xs-2 col-sm-2">{{ row.ipaddress }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('no_logs', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('bans_ending_soon', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('reason', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('ban_length', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('ban_bannedby', 'lang') }}</div>
                    </div>
                </div>
                {% if bannedusers is not empty %}
                    {% for row in bannedusers %}
                    <div class="list-group-item {{ row.trow }}">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ row.profile_link|raw }}{{ row.edit_link|raw }}</div>
                            <div class="col-xs-2 col-sm-2">{{ row.reason }}</div>
                            <div class="col-xs-4 col-sm-4">{{ row.banlength }}<br /><small>{{ row.timeremaining|raw }}</small></div>
                            <div class="col-xs-2 col-sm-2">{{ row.admin_profile|raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('no_bans_ending', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <form class="panel panel-primary" action="{{ bburl }}/modcp/modnotes" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_modnotes" />
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('moderator_notes', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('notes_public_all', 'lang') }}</div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <textarea name="modnotes" class="form-control" rows="5">{{ modnotes|raw }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="notessubmit" value="{{ getVar('save_notes', 'lang') }}" />
            </div>
        </form>

    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}