<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('ipaddress_misc_info', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('ipaddress_host_name', 'lang') }}</div>
                        <div class="col-xs-8 col-sm-8">{{ ipaddress_host_name|raw }}</div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('ipaddress_location', 'lang') }}</div>
                        <div class="col-xs-8 col-sm-8">{{ ipaddress_location|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>