{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('ipsearch', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <form action="{{ bburl }}/modcp/ipsearch" method="post">

            {% if getVar('ipaddress', 'input') %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {% if ipaddress is not empty %}
                        <div class="pull-right">(<a href="{{ bburl }}/modcp/iplookup?ipaddress={{ ipaddress }}" onclick="MyBB.popupWindow('/modcp/iplookup?ipaddress={{ ipaddress }}&modal=1'); return false;">{{ getVar('info_on_ip', 'lang') }}</a>)</div>
                    {% endif %}
                    <h3 class="panel-title">{{ getVar('ipsearch_results', 'lang') }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">{{ getVar('ipaddress', 'lang') }}</div>
                            <div class="col-xs-8 col-sm-8">{{ getVar('result', 'lang') }}</div>
                        </div>
                    </div>
                    {% if results is not empty %}
                        {% for row in results %}
                            <div class="list-group-item {{ row.trow }}">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4">{{ row.ip }}</div>
                                    <div class="col-xs-8 col-sm-8">{{ row.subject|raw }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">{{ getVar('error_no_results', 'lang') }}</div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if multipage is not empty %}
                <div class="panel-footer">
                    {{ multipage|raw }}
                </div>
                {% endif %}
            </div>
            {% endif %}

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('ipaddress_search', 'lang') }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item trow1">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">{{ getVar('ip_address', 'lang') }}</div>
                            <div class="col-xs-8 col-sm-8"><input type="text" class="form-control" name="ipaddress" value="{{ ipaddressvalue }}" size="30" /></div>
                        </div>
                    </div>
                    <div class="list-group-item trow2">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">{{ getVar('options', 'lang') }}</div>
                            <div class="col-xs-8 col-sm-8 form-inline">
                                <label><input type="checkbox" class="checkbox" name="search_users" value="1" {{ usersearchselect|raw }} />{{ getVar('search_users', 'lang') }}</label><br />
                                <label><input type="checkbox" class="checkbox" name="search_posts" value="1" {{ postsearchselect|raw }} />{{ getVar('search_posts', 'lang') }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <input type="submit" class="btn btn-primary" value="{{ getVar('find', 'lang') }}" />
                </div>
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}