<div class="container">
    <ul class="nav nav-tabs" title="{{ getVar('nav_menu', 'lang') }}">
        <li class="" role="presentation">
            <a href="{{ bburl }}/modcp">
                <i class="fa fa-cog fa-spin"></i>
                <span class="hidden-xs">{{ getVar('mcp_nav_home', 'lang') }}</span>
            </a>
        </li>

        <li class="dropdown" role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-comments"></i>
                <span class="hidden-xs">{{ getVar('mcp_nav_forums', 'lang') }}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% if getVar('showAnnouncements', 'var') == true %}
                <li>
                    <a href="{{ bburl }}/modcp/announcements" class="modcp_nav_item modcp_nav_announcements">{{ getVar('mcp_nav_announcements', 'lang') }}</a>
                </li>
            {% endif %}

            {% if getVar('showModQueue', 'var') == true %}
                <li>
                    <a href="{{ bburl }}/modcp/modqueue" class="modcp_nav_item modcp_nav_modqueue">{{ getVar('mcp_nav_modqueue', 'lang') }}</a>
                </li>
            {% endif %}

            {% if getVar('showReportCenter', 'var') == true %}
                <li>
                    <a href="{{ bburl }}/modcp/reports" class="modcp_nav_item modcp_nav_reports">{{ getVar('mcp_nav_report_center', 'lang') }}</a>
                </li>
            {% endif %}

            {% if getVar('showModLogs', 'var') == true %}
                <li>
                    <a href="{{ bburl }}/modcp/modlogs" class="modcp_nav_item modcp_nav_modlogs">{{ getVar('mcp_nav_modlogs', 'lang') }}</a>
                </li>
            {% endif %}
            </ul>
        </li>

        <li class="dropdown" role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users"></i>
                <span class="hidden-xs">{{ getVar('mcp_nav_users', 'lang') }}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% if getVar('caneditprofiles', 'group') == 1 %}
                <li>
                    <a href="{{ bburl }}/modcp/finduser" class="modcp_nav_item modcp_nav_editprofile">{{ getVar('mcp_nav_editprofile', 'lang') }}</a>
                </li>
            {% endif %}

            {% if getVar('canbanusers', 'group') == 1 %}
                <li>
                    <a href="{{ bburl }}/modcp/banning" class="modcp_nav_item modcp_nav_banning">{{ getVar('mcp_nav_banning', 'lang') }}</a>
                </li>
            {% endif %}

            {% if getVar('canviewwarnlogs', 'group') == 1 %}
                <li>
                    <a href="{{ bburl }}/modcp/warninglogs" class="modcp_nav_item modcp_nav_warninglogs">{{ getVar('mcp_nav_warninglogs', 'lang') }}</a>
                </li>
            {% endif %}

            {% if getVar('canuseipsearch', 'group') == 1 %}
                <li>
                    <a href="{{ bburl }}/modcp/ipsearch" class="modcp_nav_item modcp_nav_ipsearch">{{ getVar('mcp_nav_ipsearch', 'lang') }}</a>
                </li>
            {% endif %}
            </ul>
        </li>
    </ul>
</div>