{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('modlogs', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <form action="{{ bburl }}/modcp/modlogs" method="post">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('modlogs', 'lang') }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3">{{ getVar('date', 'lang') }} / {{ getVar('username', 'lang') }}</div>
                            <div class="col-xs-3 col-sm-3">{{ getVar('action', 'lang') }}</div>
                            <div class="col-xs-4 col-sm-4">{{ getVar('information', 'lang') }}</div>
                            <div class="col-xs-2 col-sm-2">{{ getVar('ip', 'lang') }}</div>
                        </div>
                    </div>
                    {% if results is not empty %}
                        {% for row in results %}
                        <div class="list-group-item {{ row.trow }}">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3">{{ row.log_date }} / {{ row.logitem.profilelink|raw }}</div>
                                <div class="col-xs-3 col-sm-3">{{ row.logitem.action|raw }}</div>
                                <div class="col-xs-4 col-sm-4">{{ row.information|raw }}</div>
                                <div class="col-xs-2 col-sm-2">{{ row.logitem.ipaddress|raw }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">{{ getVar('error_no_results', 'lang') }}</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if multipage is not empty %}
                <div class="panel-footer">
                    {{ multipage|raw }}
                </div>
                {% endif %}
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ getVar('filter_modlogs', 'lang') }}</h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3">
                                {{ getVar('forum', 'lang') }}
                            </div>
                            <div class="col-xs-9 col-sm-9">
                                {{ forum_select|raw }}
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3">
                                {{ getVar('from_moderator', 'lang') }}
                            </div>
                            <div class="col-xs-9 col-sm-9">
                                <select class="form-control" name="uid">
                                    <option value="">{{ getVar('all_moderators', 'lang') }}</option>
                                    <option value="">----------</option>
                                    {{ user_options|raw }}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3">
                                {{ getVar('sort_by', 'lang') }}
                            </div>
                            <div class="col-xs-9 col-sm-9 form-inline">
                                <select class="form-control" name="sortby">
                                    <option value="dateline"{{ sortbysel.dateline|raw }}>{{ getVar('date', 'lang') }}</option>
                                    <option value="username"{{ sortbysel.username|raw }}>{{ getVar('username', 'lang') }}</option>
                                    <option value="forum"{{ sortbysel.forum|raw }}>{{ getVar('forum_name', 'lang') }}</option>
                                    <option value="thread"{{ sortbysel.thread|raw }}>{{ getVar('thread_subject', 'lang') }}</option>
                                </select>
                                {{ getVar('in', 'lang') }}
                                <select class="form-control" name="order">
                                    <option value="asc"{{ ordersel.asc|raw }}>{{ getVar('asc', 'lang') }}</option>
                                    <option value="desc"{{ ordersel.desc|raw }}>{{ getVar('desc', 'lang') }}</option>
                                </select>
                                {{ getVar('order', 'lang') }}
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3">
                                {{ getVar('per_page', 'lang') }}
                            </div>
                            <div class="col-xs-9 col-sm-9">
                                <input type="number" name="perpage" value="{{ perpage }}" size="4" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <input type="submit" class="btn btn-primary" value="{{ getVar('filter_logs', 'lang') }}" />
                </div>
            </div>

        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}