{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('mod_queue', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('mod_queue', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row text-center">{{ getVar('mod_queue_empty', 'lang') }}</div>
                </div>
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}