{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('add_announcement', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">

        {{ errors|raw }}

        {% if postbit is not empty %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('post_preview', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    {{ postbit|raw }}
                </div>
            </div>
        </div>
        {% endif %}

        <form class="panel panel-primary" action="{{ bburl }}/modcp/new_announcement" method="post" enctype="multipart/form-data">
            <input type="hidden" name="action" value="do_new_announcement" />
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="fid" value="{{ announcement_fid }}" />


            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('add_announcement', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('title', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <input type="text" class="form-control" name="title" value="{{ title|raw }}" />
                        </div>
                    </div>
                </div>

                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('start_date', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10 form-inline">
                            <select class="form-control" name="starttime_day">
                                {{ startdateday|raw }}
                            </select>
                            <select class="form-control" name="starttime_month">
                                <option value="01" {{ startmonthsel.1|raw }}>{{ getVar('january', 'lang') }}</option>
                                <option value="02" {{ startmonthsel.2|raw }}>{{ getVar('february', 'lang') }}</option>
                                <option value="03" {{ startmonthsel.3|raw }}>{{ getVar('march', 'lang') }}</option>
                                <option value="04" {{ startmonthsel.4|raw }}>{{ getVar('april', 'lang') }}</option>
                                <option value="05" {{ startmonthsel.5|raw }}>{{ getVar('may', 'lang') }}</option>
                                <option value="06" {{ startmonthsel.6|raw }}>{{ getVar('june', 'lang') }}</option>
                                <option value="07" {{ startmonthsel.7|raw }}>{{ getVar('july', 'lang') }}</option>
                                <option value="08" {{ startmonthsel.8|raw }}>{{ getVar('august', 'lang') }}</option>
                                <option value="09" {{ startmonthsel.9|raw }}>{{ getVar('september', 'lang') }}</option>
                                <option value="10" {{ startmonthsel.10|raw }}>{{ getVar('october', 'lang') }}</option>
                                <option value="11" {{ startmonthsel.11|raw }}>{{ getVar('november', 'lang') }}</option>
                                <option value="12" {{ startmonthsel.12|raw }}>{{ getVar('december', 'lang') }}</option>
                            </select>

                            <input type="number" name="starttime_year" value="{{ startdateyear }}" size="4" maxlength="4" class="form-control" />
                            {{ getVar('time', 'lang') }} <input type="text" name="starttime_time" value="{{ starttime_time }}" size="10" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('end_date', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10 form-inline">
                            <input class="form-control" type="radio" name="endtime_type" value="1"{{ end_type_sel.finite|raw }} />
                            <select class="form-control" name="endtime_day"> &nbsp;
                                {{ enddateday|raw }}
                            </select>
                            <select class="form-control" name="endtime_month">
                                <option value="01" {{ endmonthsel.1|raw }}>{{ getVar('january', 'lang') }}</option>
                                <option value="02" {{ endmonthsel.2|raw }}>{{ getVar('february', 'lang') }}</option>
                                <option value="03" {{ endmonthsel.3|raw }}>{{ getVar('march', 'lang') }}</option>
                                <option value="04" {{ endmonthsel.4|raw }}>{{ getVar('april', 'lang') }}</option>
                                <option value="05" {{ endmonthsel.5|raw }}>{{ getVar('may', 'lang') }}</option>
                                <option value="06" {{ endmonthsel.6|raw }}>{{ getVar('june', 'lang') }}</option>
                                <option value="07" {{ endmonthsel.7|raw }}>{{ getVar('july', 'lang') }}</option>
                                <option value="08" {{ endmonthsel.8|raw }}>{{ getVar('august', 'lang') }}</option>
                                <option value="09" {{ endmonthsel.9|raw }}>{{ getVar('september', 'lang') }}</option>
                                <option value="10" {{ endmonthsel.10|raw }}>{{ getVar('october', 'lang') }}</option>
                                <option value="11" {{ endmonthsel.11|raw }}>{{ getVar('november', 'lang') }}</option>
                                <option value="12" {{ endmonthsel.12|raw }}>{{ getVar('december', 'lang') }}</option>
                            </select>
                            <input type="number" name="endtime_year" value="{{ enddateyear }}" size="4" maxlength="4" class="form-control" />
                            {{ getVar('time', 'lang') }} <input type="text" name="endtime_time" value="{{ endtime_time }}" size="10" class="form-control" />
                            <br /><input class="form-control" type="radio" name="endtime_type" value="2"{{ end_type_sel.infinite|raw }} /> {{ getVar('never', 'lang') }}
                        </div>
                    </div>
                </div>

                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">
                            {{ getVar('announcement', 'lang') }}<br />
                            {% if getVar('smilieinserter', 'var') == true %}
                                {% include '@forum/Misc/clickablesmilies.html.twig' %}
                            {% endif %}
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <textarea id="message" name="message" rows="15" class="form-control">{{ message|raw }}</textarea>
                            {% if getVar('codebuttons', 'var') == true %}
                                {% include '@forum/Misc/codebuttons.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('allow_html', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <label><input type="radio" name="allowhtml" value="1"{{ html_sel.yes|raw }} />&nbsp;{{ getVar('yes', 'lang') }}</label> &nbsp;&nbsp;
                            <label><input type="radio" name="allowhtml" value="0"{{ html_sel.no|raw }} />&nbsp;{{ getVar('no', 'lang') }}</label>
                        </div>
                    </div>
                </div>

                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('allow_mycode', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <label><input type="radio" name="allowmycode" value="1"{{ mycode_sel.yes|raw }} />&nbsp;{{ getVar('yes', 'lang') }}</label> &nbsp;&nbsp;
                            <label><input type="radio" name="allowmycode" value="0"{{ mycode_sel.no|raw }} />&nbsp;{{ getVar('no', 'lang') }}</label>
                        </div>
                    </div>
                </div>

                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('allow_smilies', 'lang') }}</div>
                        <div class="col-xs-10 col-sm-10">
                            <label><input type="radio" name="allowsmilies" value="1"{{ smilies_sel.yes|raw }} />&nbsp;{{ getVar('yes', 'lang') }}</label> &nbsp;&nbsp;
                            <label><input type="radio" name="allowsmilies" value="0"{{ smilies_sel.no|raw }} />&nbsp;{{ getVar('no', 'lang') }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="Add Announcement" value="{{ getVar('add_announcement', 'lang') }}" />&nbsp;&nbsp;
                <input type="submit" class="btn btn-primary" name="preview" value="{{ getVar('preview', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
    <script type="text/javascript">
        $(".author_avatar img").on("error", function () {
            $(this).unbind("error").closest('.author_avatar').remove();
        });
    </script>
{% endblock content %}