{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('report_center', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/modcp/reports" method="post">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="page" value="{{ page }}" />
            <input type="hidden" name="action" value="do_reports" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('report_center', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <input type="checkbox" name="allbox" onclick="selectReportedPosts();" style="position: absolute; right: 15px; z-index: 1" />
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">{{ getVar('report_info', 'lang') }}</div>
                        <div class="col-xs-4 col-sm-4">{{ getVar('report_type', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('report_count', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('report_lastpost', 'lang') }}</div>
                    </div>
                </div>
                {% if reports is not empty %}
                    {% for row in reports %}
                    <div class="list-group-item {{ row.trow }}">
                        <input type="checkbox" class="checkbox" name="reports[]" id="reports_{{ row.rid }}" value="{{ row.rid }}" style="position: absolute; right: 15px; z-index: 1" />
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">{{ row.content|raw }}</div>
                            <div class="col-xs-4 col-sm-4">{{ row.comment }}</div>
                            <div class="col-xs-2 col-sm-2">{{ row.reports }}</div>
                            <div class="col-xs-2 col-sm-2">{{ row.lastreporter|raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('no_reports', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="reportsubmit" value="{{ getVar('mark_read', 'lang') }}" /> &nbsp;
                <a class="btn btn-primary" href="{{ bburl }}/modcp/allreports">{{ getVar('view_all_reports', 'lang') }}</a>
            </div>
        </form>

        {{ multipage|raw }}

    </div>

    {% include '@forum/footer.html.twig' %}
    <script type="text/javascript">
        <!--
        var checked = false;
        function selectReportedPosts()
        {
            if(checked == false)
            {
                checked = true;
                $('input:checkbox').attr('checked','checked');
            }
            else
            {
                checked = false;
                $('input:checkbox').removeAttr('checked');
            }
        }
        // -->
    </script>
{% endblock content %}