{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('warning_logs', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    {% include '@forum/ModCP/modcpNav.html.twig' %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('warning_logs', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">{{ getVar('warned_user', 'lang') }}</div>
                        <div class="col-xs-3 col-sm-3">{{ getVar('issued_by', 'lang') }} / {{ getVar('warning', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('date_issued', 'lang') }}</div>
                        <div class="col-xs-3 col-sm-3">{{ getVar('expires', 'lang') }}</div>
                        <div class="col-xs-2 col-sm-2">{{ getVar('details', 'lang') }}</div>
                    </div>
                </div>
                {% if warning_list is not empty %}
                    {% for row in warning_list %}
                    <div class="list-group-item {{ row.trow }}">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">{{ row.username_link|raw }}</div>
                            <div class="col-xs-3 col-sm-3">{{ row.mod_username_link|raw }} / {{ row.title|raw }} ({{ row.points }})</div>
                            <div class="col-xs-2 col-sm-2">{{ row.issued_date|raw }}</div>
                            <div class="col-xs-3 col-sm-3">{{ row.expire_date }}{{ row.revoked_text|raw }}</div>
                            <div class="col-xs-2 col-sm-2"><a href="{{ bburl }}/warnings/view?wid={{ row.wid }}">{{ getVar('view', 'lang') }}</a></div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('no_warning_logs', 'lang') }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if multipage is not empty %}
            <div class="panel-footer">
                {{ multipage|raw }}
            </div>
            {% endif %}
        </div>


        <form class="panel panel-primary" action="{{ bburl }}/modcp/warninglogs" method="get">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('filter_warning_logs', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('filter_warned_user', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" name="filter[username]" id="username" value="{{ username }}" class="textbox" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('filter_issued_by', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" name="filter[mod_username]" value="{{ mod_username }}" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('filter_reason', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" name="filter[reason]" value="{{ reason }}" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('sort_by', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9 form-inline">
                            <select class="form-control" name="filter[sortby]">
                                <option value="username"{{ sortbysel.username|raw }}>{{ getVar('username', 'lang') }}</option>
                                <option value="issuedby"{{ sortbysel.issuedby|raw }}>{{ getVar('issued_by', 'lang') }}</option>
                                <option value="dateline"{{ sortbysel.dateline|raw }}>{{ getVar('issued_date', 'lang') }}</option>
                                <option value="expires"{{ sortbysel.expires|raw }}>{{ getVar('expiry_date', 'lang') }}</option>
                            </select>
                            {{ getVar('in', 'lang') }}
                            <select class="form-control" name="filter[order]">
                                <option value="asc"{{ ordersel.asc|raw }}>{{ getVar('asc', 'lang') }}</option>
                                <option value="desc"{{ ordersel.desc|raw }}>{{ getVar('desc', 'lang') }}</option>
                            </select>
                            {{ getVar('order', 'lang') }}
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('per_page', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="number" name="filter[per_page]" value="{{ per_page }}" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('filter_warning_logs', 'lang') }}" />
            </div>
        </form>

    </div>

    {% include '@forum/footer.html.twig' %}

    <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
    <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
    <script type="text/javascript">
        <!--
        if(use_xmlhttprequest == "1")
        {
            MyBB.select2();
            $("#username").select2({
                placeholder: "{{ getVar('search_user', 'lang') }}",
                minimumInputLength: 2,
                multiple: false,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: rootpath + "/xmlhttp?action=get_users",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            query: term, // search term
                        };
                    },
                    results: function (data, page) { // parse the results into the format expected by Select2.
                        // since we are using custom formatting functions we do not need to alter remote JSON data
                        return {results: data};
                    }
                },
                initSelection: function(element, callback) {
                    var value = $(element).val();
                    if (value !== "") {
                        callback({
                            id: value,
                            text: value
                        });
                    }
                },
            });
        }
        // -->
    </script>
{% endblock content %}