<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;" class="modal_{{ uid }}_{{ getVar('pid', 'input') }}">

        <form action="{{ bburl }}/reputation/add" method="post" class="panel panel-primary reputation_{{ uid }}_{{ getVar('pid', 'input') }}" onsubmit="javascript: return MyBB.submitReputation({{ uid }}, {{ getVar('pid', 'input') }});">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_add" />
            <input type="hidden" name="uid" value="{{ uid }}" />
            <input type="hidden" name="pid" value="{{ getVar('pid', 'input') }}" />
            <input type="hidden" name="rid" value="{{ getVar('rid', 'var') }}" />
            <input type="hidden" name="nomodal" value="1" />
            <div class="panel-heading">
                <h3 class="panel-title"><strong>{{ vote_title }}</strong><br />{{ post_rep_info }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <select class="form-control" name="reputation" id="reputation">
                                {{ positive_power|raw }}
                                {{ neutral_power|raw }}
                                {{ negative_power|raw }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <small>{{ getVar('user_comments', 'lang') }}</small>
                            <input type="text" class="form-control" name="comments" maxlength="250" value="{{ comments }}" />
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <input type="submit" class="btn btn-primary" value="{{ vote_button }}" />
                    {% if getVar('', 'var') == true %}
                        <input type="button" class="btn btn-primary" name="delete" value="{{ getVar('delete_vote', 'lang') }}" onclick="javascript: return MyBB.submitReputation({{ uid }}, {{ getVar('pid', 'input') }}, 1);" />
                    {% endif %}
                </div>
            </div>
        </form>

    </div>
</div>