{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('reputation_report', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript">
            <!--
            var delete_reputation_confirm = "{{ getVar('delete_reputation_confirm', 'lang') }}";
            // -->
        </script>
        <script type="text/javascript" src="{{ asset_url }}/jscripts/report.js?ver=1804"></script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {{ add_reputation|raw }}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('reputation_report', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            {{ getVar('summary', 'lang') }}
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-5 col-sm-5">
                            <span class="largetext"><strong>{{ username|raw }}</strong></span><br />
                            <small>
                                ({{ usertitle }})<br />
                                {{ getVar('total_reputation', 'lang') }}: <span class="repbox {{ total_class }}">{{ rep_total }}</span><br />
                                {{ getVar('reputation_members', 'lang') }} <strong>{{ rep_members }}</strong><br />
                                {{ getVar('reputation_posts', 'lang') }} <strong>{{ rep_posts }}</strong>
                            </small>
                        </div>
                        <div class="col-xs-7 col-sm-7 text-center">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3"> </div>
                                <div class="col-xs-3 col-sm-3 reputation_positive">{{ getVar('positive_count', 'lang') }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_neutral">{{ getVar('neutral_count', 'lang') }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_negative">{{ getVar('negative_count', 'lang') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 text-left"><small>{{ getVar('last_week', 'lang') }}</small></div>
                                <div class="col-xs-3 col-sm-3 reputation_positive">{{ f_positive_week }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_neutral">{{ f_neutral_week }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_negative">{{ f_negative_week }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 text-left"><small>{{ getVar('last_month', 'lang') }}</small></div>
                                <div class="col-xs-3 col-sm-3 reputation_positive">{{ f_positive_month }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_neutral">{{ f_neutral_month }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_negative">{{ f_negative_month }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 text-left"><small>{{ getVar('last_6months', 'lang') }}</small></div>
                                <div class="col-xs-3 col-sm-3 reputation_positive">{{ f_positive_6months }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_neutral">{{ f_neutral_6months }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_negative">{{ f_negative_6months }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 text-left"><small>{{ getVar('all_time', 'lang') }}</small></div>
                                <div class="col-xs-3 col-sm-3 reputation_positive">{{ f_positive_count }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_neutral">{{ f_neutral_count }}</div>
                                <div class="col-xs-3 col-sm-3 reputation_negative">{{ f_negative_count }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('comments', 'lang') }}</h3>
            </div>
            <div class="list-group">
                {% if reputation_votes is not empty %}
                    {% for row in reputation_votes %}
                        <div class="list-group-item {{ row.status_class }}" id="rid{{ roe.reputation_vote.rid }}">
                            <div class="row">
                                <div class="pull-right">
                                    <div class="row">
                                {% if row.report_link == true %}
                                        <div class="col-xs-4 postbit_buttons">
                                            <a href="javascript:Report.reportReputation({{ row.reputation_vote.rid }});" class="postbit_report"><span>{{ getVar('report_vote', 'lang') }}</span></a>
                                        </div>
                                {% endif %}
                                {% if row.delete_link == true %}
                                        <div class="col-xs-4 postbit_buttons">
                                            <a href="{{ bburl }}/reputation/delete?uid={{ row.reputation_vote.rated_uid }}&rid={{ row.reputation_vote.rid }}&my_post_key={{ getVar('post_code', 'var') }}" onclick="MyBB.deleteReputation({{ row.reputation_vote.rated_uid }}, {{ row.reputation_vote.rid }}); return false;" class="postbit_qdelete"><span>{{ getVar('delete_vote', 'lang') }}</span></a>
                                        </div>
                                {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    {{ row.reputation_vote.username|raw }} <small>{{ row.reputation_vote.user_reputation|raw }} - {{ row.last_updated }}<br />{{ row.postrep_given|raw }}</small>
                                    <br />
                                    <strong class="{{ row.vote_type_class }}">{{ row.vote_type }} {{ row.vote_reputation }}:</strong> {{ row.reputation_vote.comments }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 text-center">{{ getVar('no_reputation_votes', 'lang') }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="panel-footer form-inline text-right">
                <form action="{{ bburl }}/reputation" method="get">
                    <input type="hidden" name="uid" value="{{ uid }}" />
                    <select class="form-control" name="show">
                        <option value="all" {{ show_selected.all|raw }}>{{ getVar('show_all', 'lang') }}</option>
                        <option value="positive" {{ show_selected.positive|raw }}>{{ getVar('show_positive', 'lang') }}</option>
                        <option value="neutral" {{ show_selected.neutral|raw }}>{{ getVar('show_neutral', 'lang') }}</option>
                        <option value="negative" {{ show_selected.negative|raw }}>{{ getVar('show_negative', 'lang') }}</option>
                    </select>
                    <select class="form-control" name="sort">
                        <option value="dateline" {{ sort_selected.last_updated|raw }}>{{ getVar('sort_updated', 'lang') }}</option>
                        <option value="username" {{ sort_selected.username|raw }}>{{ getVar('sort_username', 'lang') }}</option>
                    </select>
                    <input type="submit" class="btn btn-primary" value="{{ getVar('go', 'lang') }}" />
                </form>
            </div>
        </div>

        {{ multipage|raw }}
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}