{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('agreement', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <br />
        <form class="panel panel-primary" action="{{ bburl }}/register" method="post">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('bbname', 'set') }} - {{ getVar('agreement', 'lang') }}</h3>
            </div>

            <div class="list-group">
                {% if getVar('showCoppaAgreement', 'var') == true %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <strong>{{ getVar('coppa_compliance', 'lang') }}</strong>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <p>{{ getVar('coppa_agreement_1', 'lang') }}</p>
                            <p>{{ getVar('coppa_agreement_2', 'lang') }}</p>
                            <p>{{ getVar('coppa_agreement_3', 'lang') }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <p>{{ getVar('agreement_1', 'lang') }}</p>
                            <p>{{ getVar('agreement_2', 'lang') }}</p>
                            <p>{{ getVar('agreement_3', 'lang') }}</p>
                            <p>{{ getVar('agreement_4', 'lang') }}</p>
                            <p><strong>{{ getVar('agreement_5', 'lang') }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="hidden" name="step" value="agreement" />
                <input type="hidden" name="action" value="register" />
                <input type="submit" class="btn btn-primary" name="agree" value="{{ getVar('i_agree', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}