{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('coppa_compliance', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <br />
        <form action="{{ bburl }}/register" method="post">
            <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder">
                <tr>
                    <td class="thead"><strong>{{ getVar('bbname', 'set') }} - {{ getVar('coppa_compliance', 'lang') }}</strong></td>
                </tr>
                <tr>
                    <td class="trow1">
                        {{ getVar('coppa_desc', 'lang') }}
                        <div style="width: 400px; margin: auto; margin-bottom: 15px;">
                            <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder">
                                <tr>
                                    <td colspan="1" class="thead"><strong>{{ getVar('date_of_birth', 'lang') }}</strong></td>
                                </tr>
                                <tr>
                                    <td class="trow1">
                                        <table cellpadding="4" border="0" align="center">
                                            <tr>
                                                <td class="smalltext"><label for="day">{{ getVar('day', 'lang') }}:</label></td>
                                                <td class="smalltext"><label for="month">{{ getVar('month', 'lang') }}:</label></td>
                                                <td class="smalltext"><label for="year">{{ getVar('year', 'lang') }}:</label></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select name="bday1" id="day">
                                                        <option value="">&nbsp;</option>
                                                        {{ bdaysel|raw }}
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="bday2" id="month">
                                                        <option value="">&nbsp;</option>
                                                        <option value="1" {{ bdaymonthsel.1 }}>{{ getVar('month_1', 'lang') }}</option>
                                                        <option value="2" {{ bdaymonthsel.2 }}>{{ getVar('month_2', 'lang') }}</option>
                                                        <option value="3" {{ bdaymonthsel.3 }}>{{ getVar('month_3', 'lang') }}</option>
                                                        <option value="4" {{ bdaymonthsel.4 }}>{{ getVar('month_4', 'lang') }}</option>
                                                        <option value="5" {{ bdaymonthsel.5 }}>{{ getVar('month_5', 'lang') }}</option>
                                                        <option value="6" {{ bdaymonthsel.6 }}>{{ getVar('month_6', 'lang') }}</option>
                                                        <option value="7" {{ bdaymonthsel.7 }}>{{ getVar('month_7', 'lang') }}</option>
                                                        <option value="8" {{ bdaymonthsel.8 }}>{{ getVar('month_8', 'lang') }}</option>
                                                        <option value="9" {{ bdaymonthsel.9 }}>{{ getVar('month_9', 'lang') }}</option>
                                                        <option value="10" {{ bdaymonthsel.10 }}>{{ getVar('month_10', 'lang') }}</option>
                                                        <option value="11" {{ bdaymonthsel.11 }}>{{ getVar('month_11', 'lang') }}</option>
                                                        <option value="12" {{ bdaymonthsel.12 }}>{{ getVar('month_12', 'lang') }}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" class="textbox" size="4" maxlength="4" name="bday3" id="year" value="{{ getVar('bday3', 'input') }}" />
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="smalltext" style="text-align: center;">{{ getVar('hide_dob', 'lang') }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <div align="center">
                <input type="hidden" name="action" value="register" />
                <input type="submit" class="button" name="agree" value="{{ getVar('continue_registration', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}