<html>
<head>
    <title>{{ getVar('bbname', 'set') }} - {{ getVar('coppa_compliance', 'lang') }}</title>
    <style type="text/css">
        body { font-family: Verdana, Arial, sans-serif; font-size: 13px; }
        .largetext, h1 { font-family: Verdana, Arial, sans-serif; font-size: medium; font-weight: bold; margin: 0; }
        .grey { color: #ccc; }
        dl { margin-left: 40px; }
        dt { width: 150px; float: left; clear: left; font-weight: bold; }
        dd { margin-bottom: 20px; margin-left: 150px; }
        dd.single { margin-left: 0; }
        input.textbox { border: 0; border-bottom: 1px solid #000; font-size: 16px; width: 350px; }
        input.date { width: 80px; }
    </style>
</head>
<body>
<div class="largetext float_right" style="text-align: center; padding-bottom: 10px;">
    {{ getVar('bbname', 'set') }}<br /><span class="grey">{{ getVar('coppa_registration', 'lang') }}</span>
</div>
<div style="padding-bottom: 10px;">
    <a href="{{ bburl }}"><img src="{{ getVar('logo', 'theme') }}" alt="{{ getVar('bbname', 'set') }}" border="0" /></a>
</div>
<br class="clear" />

<p>{{ getVar('coppa_form_instructions', 'lang') }}</p>

<dl>
    <dt>{{ getVar('fax_number', 'lang') }}</dt>
    <dd>{{ getVar('faxno', 'set') }}</dd>

    <dt>{{ getVar('mailing_address', 'lang') }}</dt>
    <dd>{{ getVar('mailingaddress', 'set') }}</dd>
</dl>

<h1 class="clear" />{{ getVar('account_information', 'lang') }}</h1>
<dl>
    <dt><label for="username">{{ getVar('username', 'lang') }}</label></dt>
    <dd><input type="text" class="textbox" id="username" /></dd>

    <dt><label for="email">{{ getVar('email', 'lang') }}</label></dt>
    <dd><input type="text" class="textbox" id="email" /></dd>
</dl>
<h1 class="clear" />{{ getVar('parent_details', 'lang') }}</h1>
<dl>
    <dt><label for="name">{{ getVar('full_name', 'lang') }}</label></dt>
    <dd><input type="text" class="textbox" id="name" /></dd>

    <dt><label for="relation">{{ getVar('relation', 'lang') }}</label></dt>
    <dd><input type="text" class="textbox" id="relation" /></dd>

    <dt><label for="phone">{{ getVar('phone_no', 'lang') }}</label></dt>
    <dd><input type="text" class="textbox" id="phone" /></dd>

    <dt><label for="parent_email">{{ getVar('email', 'lang') }}</label></dt>
    <dd><input type="text" class="textbox" id="parent_email" /></dd>

    <dd class="single">{{ getVar('coppa_parent_agreement', 'lang') }}</dd>

    <dt><label for="signature">{{ getVar('signature', 'lang') }}</label></dt>
    <dd>
        <input type="text" class="textbox" id="signature" /> {{ getVar('date', 'lang') }}:
        <input type="text" class="textbox date" id="date" />
    </dd>
</dl>
</body>
</html>