{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('email_user', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        {{ errors|raw }}
        <form class="panel panel-primary" action="{{ bburl }}/emailuser" method="post" name="input">
            <input type="hidden" name="my_post_key" value="{{ getVar('post_code', 'var') }}" />
            <input type="hidden" name="action" value="do_emailuser" />
            <input type="hidden" name="uid" value="{{ uid }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('email_user', 'lang') }}</h3>
            </div>
            <div class="list-group">
                {% if getVar('uid', 'user') == 0 %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            {{ getVar('your_name', 'lang') }}<br />
                            <small>{{ getVar('name_note', 'lang') }}</small>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" class="form-control" name="fromname" value="{{ fromname }}" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            {{ getVar('your_email', 'lang') }}<br />
                            <small>{{ getVar('email_note', 'lang') }}</small>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" class="form-control" name="fromemail"  value="{{ fromemail }}" />
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('email_subject', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" class="form-control" name="subject" value="{{ subject }}" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('email_message', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9"><textarea class="form-control" rows="5" name="message">{{ message }}</textarea></div>
                    </div>
                </div>
                {% if captcha %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ captcha|raw }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('send_email', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}