{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('login', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <br />
        {{ inline_errors|raw }}

        {% if getVar('uid', 'user') > 0 %}
        <fieldset class="align_right smalltext">{{ getVar('already_logged_in', 'lang') }}</fieldset>
        <br />
        {% endif %}

        <form class="panel panel-primary" action="{{ bburl }}/login" method="post">
            <input type="hidden" name="action" value="do_login" />
            <input type="hidden" name="url" value="{{ redirect_url|raw }}" />

            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('login', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">{{ getVar('username', 'lang') }}</div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="text" class="textbox" name="username" size="25" style="width: 200px;" value="{{ username|raw }}" />
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow2">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3">
                            <strong>{{ getVar('password', 'lang') }}</strong>
                            <br />
                            <small>{{ getVar('pw_note', 'lang') }}</small>
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <input type="password" class="textbox" name="password" size="25" style="width: 200px;" value="{{ password|raw }}" />
                            (<a href="lostpw">{{ getVar('lostpw_note', 'lang') }}</a>)
                        </div>
                    </div>
                </div>
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <label title="{{ getVar('remember_me_desc', 'lang') }}">
                                <input type="checkbox" class="checkbox" name="remember" checked="checked" value="yes" /> {{ getVar('remember_me', 'lang') }}
                            </label>
                        </div>
                    </div>
                </div>
                {% if captcha is not empty %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ captcha|raw }}</div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" name="submit" value="{{ getVar('login', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}