{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('lost_pw', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form class="panel panel-primary" action="{{ bburl }}/lostpw" method="post">
            <input type="hidden" name="action" value="do_lostpw" />
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('lost_pw_form', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2">
                            {{ getVar('email_address', 'lang') }}
                        </div>
                        <div class="col-xs-10 col-sm-10">
                            <input type="text" class="form-control" name="email" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <input type="submit" class="btn btn-primary" value="{{ getVar('request_user_pass', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}