{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('profile', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript" src="{{ asset_url }}/jscripts/report.js?ver=1804"></script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <fieldset>
            <div class="row">

                <div class="col-xs-12 col-sm-8">
                    <span class="largetext"><strong>{{ formattedname|raw }}</strong></span><br />
                    <span class="smalltext">
                        ({{ usertitle|raw }})<br />
                        {% if groupimage %}
                        <img src="{{ groupimage }}" alt="{{ usertitle|raw }}" title="{{ usertitle|raw }}" /><br />
                        {% endif %}
                        {% if userstars %}
                            {% for i in 1..userstars %}
                            <img src="{{ starimage }}" border="0" alt="*" />
                            {% endfor %}
                        {% endif %}
                        <br />
                        <br />
                        <strong>{{ getVar('registration_date', 'lang') }}</strong> {{ memregdate }}<br />
                        <strong>{{ getVar('date_of_birth', 'lang') }}</strong> {{ membday }} {{ membdayage }}<br />
                        <strong>{{ getVar('local_time', 'lang') }}</strong> {{ localtime }}<br />
                        <strong>{{ getVar('postbit_status', 'lang') }}</strong>
                        {% if online_status %}
                        <a href="{{ bburl }}/online"><span class="online" style="font-weight: bold;">{{ getVar('postbit_status_online', 'lang') }}</span></a> ({{ online_status.location|raw }} @ {{ online_status.location_time }})
                        {% else %}
                        <span class="offline" style="font-weight: bold;">{{ getVar('postbit_status_offline', 'lang') }}</span>
                        {% endif %}
                    </span>
                </div>
                <div class="col-xs-12 col-sm-4">
                    {% if useravatar %}
                    <div class="img-circle" style="width:140px; height:140px; margin:0 auto; background:url({{ useravatar.image }}) no-repeat center center; background-size:cover;"></div>
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <br />
        {% if awaybit %}
        <fieldset>
            <legend><strong>{{ getVar('away_note', 'lang') }}</strong></legend>
            <em>{{ getVar('away_reason', 'lang') }} {{ awaybit.awayreason }}</em><br />
            <span class="smalltext">{{ getVar('away_since', 'lang') }} {{ awaybit.awaydate }} &mdash; {{ getVar('away_returns', 'lang') }} {{ awaybit.returndate }}</span>
        </fieldset>
        <br />
        {% endif %}

        {% if bannedbit %}
        <fieldset>
            <legend><strong>{{ getVar('ban_note', 'lang') }}</strong></legend>
            <em>{{ getVar('banned_warning2', 'lang') }}: {{ bannedbit.reason }}</em><br />
            <span class="smalltext"><strong>{{ getVar('ban_by', 'lang') }}:</strong> {{ bannedbit.adminuser }} &mdash; <strong>{{ getVar('ban_length', 'lang') }}:</strong> {{ bannedbit.banlength }} <span class="smalltext">{{ bannedbit.timeremaining }}</span></span>
        </fieldset>
        <br />
        {% endif %}

        <fieldset class="text-center">
            {% if buddy_options %}
            <a href="{{ buddy_options.url|raw }}" class="button small_button {{ buddy_options.class }}"><span>{{ buddy_options.lang }}</span></a>
            {% endif %}

            {% if ignore_options %}
            <a href="{{ ignore_options.url|raw }}" class="button small_button {{ ignore_options.class }}"><span>{{ ignore_options.lang }}</span></a>
            {% endif %}

            {% if report_options %}
            <a href="{{ report_options.url|raw }}" class="button small_button {{ report_options.class }}"><span>{{ report_options.lang }}</span></a>
            {% endif %}
        </fieldset>
        <br />

    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('users_forum_info', 'lang') }}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>{{ getVar('joined', 'lang') }}</dt>
                            <dd>{{ memregdate }}</dd>
                            <dt>{{ getVar('lastvisit', 'lang') }}</dt>
                            <dd>{{ memlastvisitdate }}</dd>
                            <dt>{{ getVar('total_posts', 'lang') }}</dt>
                            <dd>{{ memprofile.postnum }} ({{ getVar('ppd_percent_total', 'lang') }})
                                {% if getVar('cansearch', 'group') == 1 %}
                                <br /><span class="smalltext">(<a href="{{ bburl }}/search?action=finduser&uid={{ uid }}">{{ getVar('find_posts', 'lang') }}</a>)</span>
                                {% endif %}
                            </dd>
                            <dt>{{ getVar('total_threads', 'lang') }}</dt>
                            <dd>{{ memprofile.threadnum }} ({{ getVar('tpd_percent_total', 'lang') }})
                                {% if getVar('cansearch', 'group') == 1 %}
                                <br /><span class="smalltext">(<a href="{{ bburl }}/search?action=finduserthreads&uid={{ uid }}">{{ getVar('find_threads', 'lang') }}</a>)</span>
                                {% endif %}
                            </dd>
                            <dt>{{ getVar('timeonline', 'lang') }}</dt>
                            <dd>{{ timeonline }}</dd>
                            {% if getVar('usereferrals', 'set') == 1 %}
                            <dt>{{ getVar('members_referred', 'lang') }}</dt>
                            <dd>{{ memprofile.referrals }}</dd>
                            {% endif %}

                            {% if getVar('showReputation', 'var') == true %}
                            <dt>{{ getVar('reputation', 'lang') }}</dt>
                            <dd>{{ memprofile.reputation|raw }} [<a href="{{ bburl }}/reputation?uid={{ memprofile.uid }}">{{ getVar('reputation_details', 'lang') }}</a>]
                                {% if getVar('showVoteLink', 'var') == true %}
                                    [<a href="javascript:MyBB.reputation({{ memprofile.uid }});">{{ getVar('reputation_vote', 'lang') }}</a>]
                                {% endif %}
                            </dd>
                            {% endif %}

                            {% if getVar('showWarningLevel', 'var') == true %}
                            <dt>{{ getVar('warning_level', 'lang') }}</dt>
                            <dd><a href="{{ bburl }}/{{ warning_link }}">{{ warning_level|raw }}</a>
                                {% if getVar('showWarnUser', 'var') == true %}
                                    [<a href="{{ bburl }}/warnings/warn?uid={{ memprofile.uid }}">{{ getVar('warn', 'lang') }}</a>]
                                {% endif %}
                            </dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
                {% if getVar('showContactDetails', 'var') == true %}
                <br />
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('users_contact_details', 'lang') }}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            {% if memprofile.website is not empty %}
                            <dt>{{ getVar('homepage', 'lang') }}</dt>
                            <dd><a href="{{ memprofile.website }}" target="_blank">{{ memprofile.website }}</a></dd>
                            {% endif %}

                            {% set mailbg = getVar('alt_trow', 'func') %}
                            <dt>{{ getVar('email', 'lang') }}</dt>
                            <dd><a href="{{ bburl }}/emailuser?uid={{ memprofile.uid }}">{{ getVar('send_user_email', 'lang') }}</a></dd>
                            {% set pmbg = getVar('alt_trow', 'func') %}

                            <dt>{{ getVar('pm', 'lang') }}</dt>
                            <dd><a href="{{ bburl }}/private/send?uid={{ memprofile.uid }}">{{ getVar('send_pm', 'lang') }}</a></dd>

                            {% if memprofile.icq is not empty %}
                            <dt>{{ getVar('icq_number', 'lang') }}</dt>
                            <dd>{{ memprofile.icq }}</dd>
                            {% endif %}

                            {% if memprofile.aim is not empty %}
                            <dt>{{ getVar('aim_screenname', 'lang') }}</dt>
                            <dd><a href="javascript:;" onclick="MyBB.popupWindow('/misc/imcenter?imtype=aim&amp;uid={{ uid }}&amp;modal=1'); return false;">{{ memprofile.aim }}</</dd>
                            {% endif %}

                            {% if memprofile.yahoo is not empty %}
                            <dt>{{ getVar('yahoo_id', 'lang') }}</dt>
                            <dd><a href="javascript:;" onclick="MyBB.popupWindow('/misc/imcenter?imtype=yahoo&amp;uid={{ uid }}&amp;modal=1'); return false;">{{ memprofile.yahoo }}</a></dd>
                            {% endif %}

                            {% if memprofile.skype is not empty %}
                            <dt>{{ getVar('skype_id', 'lang') }}</dt>
                            <dd><a href="javascript:;" onclick="MyBB.popupWindow('/misc/imcenter?imtype=skype&amp;uid={{ uid }}&amp;modal=1'); return false;">{{ memprofile.skype }}</a></dd>
                            {% endif %}

                            {% if memprofile.google is not empty %}
                            <dt>{{ getVar('google_id', 'lang') }}</dt>
                            <dd>{{ memprofile.google }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6">
                {% if customfields is not empty %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('users_additional_info', 'lang') }}</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            {% for row in customfields %}
                            <dt>{{ row.fieldname }}:</dt>
                            <dd>{{ row.fieldval|raw }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
                <br />
                {% endif %}

                {% if getVar('showSignature', 'var') == true %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('users_signature', 'lang') }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ memprofile.signature|raw }}
                    </div>
                </div>
                <br />
                {% endif %}

                {% if getVar('showModOptions', 'var') == true %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('mod_options', 'lang') }}</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {% if getVar('caneditprofiles', 'group') == 1 %}
                            <li><a href="{{ bburl }}/modcp/editprofile?uid={{ uid }}">{{ getVar('edit_in_mcp', 'lang') }}</a></li>
                            {% endif %}

                            {% if getVar('showBanUser', 'var') == true %}
                            <li><a href="{{ bburl }}/modcp/banuser?uid={{ uid }}">{{ getVar('ban_in_mcp', 'lang') }}</a></li>
                            {% endif %}

                            {% if getVar('can_purge_spammer', 'var') == true %}
                            <li><a href="{{ bburl }}/moderation/purgespammer?uid={{ uid }}">{{ getVar('purgespammer', 'lang') }}</a></li>
                            {% endif %}
                        </ul>
                        {{ memprofile.usernotes|raw }}<br />
                        {% if getVar('caneditprofiles', 'group') == 1 %}
                        <a href="{{ bburl }}/modcp/editprofile?uid={{ uid }}#usernotes">{{ getVar('edit_usernotes', 'lang') }}</a>
                        {% endif %}
                    </div>
                </div>
                <br />
                {% endif %}

                {% if getVar('cancp', 'group') == 1 and getVar('hide_admin_links', 'config') != 1 %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ getVar('admin_options', 'lang') }}</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="{{ bburl }}/admin/users?action=edit&uid={{ uid }}">{{ getVar('admin_edit_in_acp', 'lang') }}</a></li>
                            <li><a href="{{ bburl }}/admin/users/banning?uid={{ uid }}">{{ getVar('admin_ban_in_acp', 'lang') }}</a></li>
                        </ul>
                    </div>
                </div>
                <br />
                {% endif %}
            </div>
        </div>
    </div>

    {% include '@forum/footer.html.twig' %}

{% endblock content %}