{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('registration', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
        <script type="text/javascript" src="{{ asset_url }}/jscripts/validate/jquery.validate.min.js?ver=1804"></script>
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form action="{{ bburl }}/register" method="post" id="registration_form">
            <input type="text" style="visibility: hidden;" value="" name="regcheck1" />
            <input type="text" style="visibility: hidden;" value="true" name="regcheck2" />
            {{ regerrors|raw }}
            <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder">
                <tr>
                    <td class="thead" colspan="2"><strong>{{ getVar('registration', 'lang') }}</strong></td>
                </tr>
                <tr>
                    <td width="50%" class="trow1" valign="top">
                        <fieldset class="trow2">
                            <legend><strong>{{ getVar('account_details', 'lang') }}</strong></legend>
                            <table cellspacing="0" cellpadding="{{ getVar('tablespace', 'theme') }}" width="100%">
                                <tr>
                                    <td colspan="2"><span class="smalltext"><label for="username">{{ getVar('username', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input type="text" class="textbox" name="username" id="username" style="width: 100%" value="{{ regvars.username }}" /></td>
                                </tr>
                                {% if getVar('regtype', 'set') != 'randompass' %}
                                <tr>
                                    <td width="50%" valign="top"><span class="smalltext">{{ getVar('password', 'lang') }}</span></td>
                                    <td width="50%" valign="top"><span class="smalltext">{{ getVar('confirm_password', 'lang') }}</span></td>
                                </tr>
                                <tr>
                                    <td width="50%" valign="top"><input type="password" class="textbox" name="password" id="password" style="width: 100%" /></td>
                                    <td width="50%" valign="top"><input type="password" class="textbox" name="password2" id="password2" style="width: 100%" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="display: none;" id="password_status">&nbsp;</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td width="50%" valign="top"><span class="smalltext"><label for="email">{{ getVar('email', 'lang') }}</label></span></td>
                                    <td width="50%" valign="top"><span class="smalltext"><label for="email2">{{ getVar('confirm_email', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td width="50%" valign="top"><input type="text" class="textbox" name="email" id="email" style="width: 100%" maxlength="50" value="{{ regvars.email }}" /></td>
                                    <td width="50%" valign="top"><input type="text" class="textbox" name="email2" id="email2" style="width: 100%" maxlength="50" value="{{ regvars.email2 }}" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="display: none;" id="email_status">&nbsp;</td>
                                </tr>
                                {% if getVar('hiddencaptchaimage', 'set') %}
                                <tr style="display: none;">
                                    <td colspan="2" id="{{ getVar('hiddencaptchaimagefield', 'set') }}_status">{{ getVar('leave_this_field_empty', 'lang') }} <input type="text" class="textbox" name="{{ getVar('hiddencaptchaimagefield', 'set') }}" id="{{ getVar('hiddencaptchaimagefield', 'set') }}" style="width: 100%" maxlength="50" value="" /></td>
                                </tr>
                                {% endif %}
                            </table>
                        </fieldset>
                        <br />
                        {{ requiredfields|raw }}

                        {{ customfields|raw }}

                        {% if getVar('usereferrals', 'set') == 1 and getVar('uid', 'user') == 0 %}
                        <br />
                        <fieldset class="trow2">
                            <legend><strong>{{ getVar('referrer', 'lang') }}</strong></legend>
                            <table cellspacing="0" cellpadding="{{ getVar('tablespace', 'theme') }}">
                                <tr>
                                    <td><span class="smalltext"><label for="referrer">{{ getVar('referrer_desc', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="textbox" name="referrername" id="referrer" value="{{ referrername|raw }}" style="width: 100%;" />
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <link rel="stylesheet" href="{{ asset_url }}/jscripts/select2/select2.css?ver=1807">
                        <script type="text/javascript" src="{{ asset_url }}/jscripts/select2/select2.min.js?ver=1806"></script>
                        <script type="text/javascript">
                            <!--
                            if(use_xmlhttprequest == "1")
                            {
                                MyBB.select2();
                                $("#referrer").select2({
                                    placeholder: "{{ getVar('search_user', 'lang') }}",
                                    minimumInputLength: 2,
                                    multiple: false,
                                    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                                        url: "{{ bburl }}/xmlhttp?action=get_users",
                                        dataType: 'json',
                                        data: function (term, page) {
                                            return {
                                                query: term, // search term
                                            };
                                        },
                                        results: function (data, page) { // parse the results into the format expected by Select2.
                                            // since we are using custom formatting functions we do not need to alter remote JSON data
                                            return {results: data};
                                        }
                                    },
                                    initSelection: function(element, callback) {
                                        var value = $(element).val();
                                        if (value !== "") {
                                            callback({
                                                id: value,
                                                text: value
                                            });
                                        }
                                    },
                                });
                            }
                            // -->
                        </script>
                        {% endif %}

                        {% if regimage %}
                        <br />
                        <fieldset class="trow2">
                            <script type="text/javascript">
                                <!--
                                lang.captcha_fetch_failure = "{{ getVar('captcha_fetch_failure', 'lang') }}";
                                // -->
                            </script>
                            <script type="text/javascript" src="{{ asset_url }}/jscripts/captcha.js?ver=1804"></script>
                            <legend><strong>{{ getVar('image_verification', 'lang') }}</strong></legend>
                            <table cellspacing="0" cellpadding="{{ getVar('tablespace', 'theme') }}">
                                <tr>
                                    <td><span class="smalltext">{{ getVar('verification_note', 'lang') }}</span></td>
                                    <td rowspan="2" align="center"><img src="{{ bburl }}/captcha?action=regimage&imagehash={{ regimage.imagehash }}" alt="{{ getVar('image_verification', 'lang') }}" title="{{ getVar('image_verification', 'lang') }}" id="captcha_img" />
                                        <br />
                                        <span style="color: red;" class="smalltext">{{ getVar('verification_subnote', 'lang') }}</span>
                                        <script type="text/javascript">
                                            <!--
                                            if(use_xmlhttprequest == "1")
                                            {
                                                document.write('<br \/><br \/><input type="button" class="button" tabindex="10000" name="refresh" value="{{ getVar('refresh', 'lang') }}" onclick="return captcha.refresh();" \/>');
                                            }
                                            // -->
                                        </script>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="textbox" name="imagestring" value="" id="imagestring" style="width: 100%;" />
                                        <input type="hidden" name="imagehash" value="{{ regimage.imagehash }}" id="imagehash" />
                                    </td>
                                </tr>
                                <tr>
                                    <td id="imagestring_status"  style="display: none;" colspan="2">&nbsp;</td>
                                </tr>
                            </table>
                        </fieldset>
                        {% endif %}

                        {% if getVar('showQuestionBox', 'var') == true %}
                        <br />
                        <fieldset class="trow2">
                            <script type="text/javascript">
                                <!--
                                lang.question_fetch_failure = "{{ getVar('question_fetch_failure', 'lang') }}";
                                // -->
                            </script>
                            <script type="text/javascript" src="{{ asset_url }}/jscripts/question.js?ver=1804"></script>
                            <legend><strong>{{ getVar('security_question', 'lang') }}</strong></legend>
                            <table cellspacing="0" cellpadding="{{ getVar('tablespace', 'theme') }}">
                                <tr>
                                    <td colspan="2"><span class="smalltext">{{ getVar('question_note', 'lang') }}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <br />
                                        <span class="smalltext" id="question" style="font-weight:bold;">{{ question|raw }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60%">
                                        <input type="text" class="textbox" name="answer" value="" id="answer" style="width: 70%;" />
                                        <input type="hidden" name="question_id" value="{{ sid }}" id="question_id" />
                                    </td>
                                    <td width="40%">
                                        <script type="text/javascript">
                                            {% if refresh == true %}
                                            <!--
                                            if(use_xmlhttprequest == "1")
                                            {
                                                document.write('<input type="button" class="button" tabindex="10000" name="refresh" value="{{ getVar('refresh', 'lang') }}" onclick="return question.refresh();" \/>');
                                            }
                                            // -->
                                            {% endif %}
                                        </script>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="answer_status"  style="display: none;" colspan="2">&nbsp;</td>
                                </tr>
                            </table>
                        </fieldset>
                        {% endif %}
                    </td>
                    <td width="50%" class="trow1" valign="top">
                        <fieldset class="trow2">
                            <legend><strong>{{ getVar('account_prefs', 'lang') }}</strong></legend>
                            <table cellspacing="0" cellpadding="{{ getVar('tablespace', 'theme') }}" width="100%">
                                <tr>
                                    <td valign="top" width="1"><input type="checkbox" class="checkbox" name="allownotices" id="allownotices" value="1" {{ regvars.allownoticescheck|raw }} /></td>
                                    <td valign="top"><span class="smalltext"><label for="allownotices">{{ getVar('allow_notices', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td valign="top" width="1"><input type="checkbox" class="checkbox" name="hideemail" id="hideemail" value="1" {{ regvars.hideemailcheck|raw }} /></td>
                                    <td valign="top"><span class="smalltext"><label for="hideemail">{{ getVar('hide_email', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td valign="top" width="1"><input type="checkbox" class="checkbox" name="receivepms" id="receivepms" value="1" {{ regvars.receivepmscheck|raw }} /></td>
                                    <td valign="top"><span class="smalltext"><label for="receivepms">{{ getVar('receive_pms', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td valign="top" width="1"><input type="checkbox" class="checkbox" name="pmnotice" id="pmnotice" value="1" {{ regvars.pmnoticecheck|raw }} /></td>
                                    <td valign="top"><span class="smalltext"><label for="pmnotice">{{ getVar('pm_notice', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td valign="top" width="1"><input type="checkbox" class="checkbox" name="pmnotify" id="pmnotify" value="1" {{ regvars.pmnotifycheck|raw }} /></td>
                                    <td valign="top"><span class="smalltext"><label for="pmnotify">{{ getVar('email_notify_newpm', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td valign="top" width="1"><input type="checkbox" class="checkbox" name="invisible" id="invisible" value="1" {{ regvars.invisiblecheck|raw }} /></td>
                                    <td valign="top"><span class="smalltext"><label for="invisible">{{ getVar('invisible_mode', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><span class="smalltext"><label for="subscriptionmethod">{{ getVar('subscription_method', 'lang') }}</label></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <select name="subscriptionmethod" id="subscriptionmethod">
                                            <option value="0" {{ regvars.no_auto_subscribe_selected|raw }}>{{ getVar('no_auto_subscribe', 'lang') }}</option>
                                            <option value="1" {{ regvars.no_subscribe_selected|raw }}>{{ getVar('no_subscribe', 'lang') }}</option>
                                            <option value="2" {{ regvars.instant_email_subscribe_selected|raw }}>{{ getVar('instant_email_subscribe', 'lang') }}</option>
                                            <option value="3" {{ regvars.instant_pm_subscribe_selected|raw }}>{{ getVar('instant_pm_subscribe', 'lang') }}</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <br />
                        <fieldset class="trow2">
                            <legend><strong><label for="timezone">{{ getVar('time_offset', 'lang') }}</label></strong></legend>
                            <table cellspacing="0" cellpadding="{{ getVar('tablespace', 'theme') }}" width="100%">
                                <tr>
                                    <td><span class="smalltext">{{ getVar('time_offset_desc', 'lang') }}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ tzselect|raw }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="smalltext">{{ getVar('dst_correction', 'lang') }}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="dstcorrection">
                                            <option value="2" {{ regvars.dst_auto_selected|raw }}>{{ getVar('dst_correction_auto', 'lang') }}</option>
                                            <option value="1" {{ regvars.dst_enabled_selected|raw }}>{{ getVar('dst_correction_enabled', 'lang') }}</option>
                                            <option value="0" {{ regvars.dst_disabled_selected|raw }}>{{ getVar('dst_correction_disabled', 'lang') }}</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        {% if boardlanguage|length > 1 %}
                        <br />
                        <fieldset class="trow2">
                            <legend><strong><label for="language">{{ getVar('lang_select', 'lang') }}</label></strong></legend>
                            <table cellspacing="0" cellpadding="{{ getVar('tablespace', 'theme') }}" width="100%">
                                <tr>
                                    <td colspan="2"><span class="smalltext">{{ getVar('lang_select_desc', 'lang') }}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <select name="language" id="language">
                                            <option value="">{{ getVar('lang_select_default', 'lang') }}</option>
                                            <option value="">-----------</option>
                                            {% for row in boardlanguage %}
                                            <option value="{{ row.name|raw }}"{{ row.sel|raw }}>{{ row.language|raw }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <br />
            <div align="center">
                <input type="hidden" name="regtime" value="{{ time }}" />
                <input type="hidden" name="step" value="registration" />
                <input type="hidden" name="action" value="do_register" />
                <input type="submit" class="button" name="regsubmit" value="{{ getVar('submit_registration', 'lang') }}" />
            </div>
        </form>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#registration_form").validate({
                    rules: {
                        username: {
                            required: true,
                            minlength: {{ getVar('minnamelength', 'set') }},
                            maxlength: {{ getVar('maxnamelength', 'set') }},
                            remote: {
                                url: "{{ bburl }}/xmlhttp?action=username_availability",
                                type: "post",
                                dataType: "json",
                                data:
                                {
                                    my_post_key: my_post_key
                                },
                            },
                        },
                        email: {
                            required: true,
                            email: true,
                        },
                        email2: {
                            required: true,
                            email: true,
                            equalTo: "#email"
                        },
                    },
                    messages: {
                        username: {
                            minlength: "{{ getVar('js_validator_username_length', 'lang') }}",
                            maxlength: "{{ getVar('js_validator_username_length', 'lang') }}",
                        },
                        email: "{{ getVar('js_validator_invalid_email', 'lang') }}",
                        email2: "{{ getVar('js_validator_email_match', 'lang') }}",
                    },
                    errorPlacement: function(error, element) {
                        if(element.is(':checkbox') || element.is(':radio'))
                            error.insertAfter($('input[name="' + element.attr('name') + '"]').last().next('span'));
                        else
                            error.insertAfter(element);
                    }
                });

                {{ validator_extra|raw }}
            });
        </script>
    </div>

    {% include '@forum/footer.html.twig' %}

{% endblock content %}