{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('reset_password', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <br />
        <form action="{{ bburl }}/resetpw" method="post">
            <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder">
                <tr>
                    <td class="thead" colspan="2"><strong>{{ getVar('reset_password', 'lang') }}</strong></td>
                </tr>
                <tr>
                    <td class="trow1" width="30%"><strong>{{ lang_username }}</strong></td>
                    <td class="trow1"><input type="text" class="textbox" name="username" value="{{ username }}" /></td>
                </tr>
                <tr>
                    <td class="trow1" width="30%"><strong>{{ getVar('activation_code', 'lang') }}</strong></td>
                    <td class="trow1"><input type="text" class="textbox" name="code" value="{{ code }}" /></td>
                </tr>
            </table>
            <br />
            <div align="center">
                <input type="hidden" name="action" value="resetpassword" />
                <input type="submit" class="button" name="regsubmit" value="{{ getVar('send_password', 'lang') }}" />
            </div>
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}