{% extends 'Layout.html.twig' %}

    {% block title %}
        {{ getVar('bbname', 'set') }} - {{ getVar('resend_activation', 'lang') }}
    {% endblock title %}

    {% block head %}
        {% include '@forum/headerinclude.html.twig' %}
    {% endblock head %}

{% block content %}
    {% include '@forum/header.html.twig' %}

    <div class="container">
        <form action="{{ bburl }}/resendactivation" method="post">
            <table border="0" cellspacing="{{ getVar('borderwidth', 'theme') }}" cellpadding="{{ getVar('tablespace', 'theme') }}" class="tborder">
                <tr>
                    <td class="thead" colspan="2"><strong>{{ getVar('resend_activation', 'lang') }}</strong></td>
                </tr>
                <tr>
                    <td class="trow1" width="40%"><strong>{{ getVar('email_address', 'lang') }}</strong></td>
                    <td class="trow1" width="60%"><input type="text" class="textbox" name="email" /></td>
                </tr>
            </table>
            <br />
            <div align="center"><input type="submit" class="button" value="{{ getVar('request_activation', 'lang') }}" /></div>
            <input type="hidden" name="action" value="do_resendactivation" />
        </form>
    </div>

    {% include '@forum/footer.html.twig' %}
{% endblock content %}