<div class="modal">
    <div style="overflow-y: auto; max-height: 400px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ getVar('view_notes_for', 'lang') }}</h3>
            </div>
            <div class="list-group">
                <div class="list-group-item trow1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">{{ getVar('usernotes', 'user') }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>